<section class="manager-theme courses-manager">
  <div class="container-fluid">
    <div class="icons col-sm-2">
        <a href="" ng-click="courses.initNewCourse()"><i class="fa fa-file"></i><span>New</span></a>
        <a href="" ng-click="courses.duplicate()"><i class="fa fa-files-o"></i><span>Duplicate</span></a>
        <a href="" ng-click="courses.delete()"><i class="fa fa-trash"></i><span>Delete</span></a>
        <a href="" ng-click="courses.archive()"><i class="fa fa-archive"></i><span>Archive</span></a>
    </div>
    <div class="col-sm-10 courses">
      <h3 class="page-title">Courses</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="courses.allSelected" ng-click="courses.toggleAll()" />
          <span ng-show="courses.allSelected" >All Selected</span>
          <span ng-hide="courses.allSelected" >Select All</span>
        </label>
      </div>    

      <input type="text" class="form-control" placeholder="Search" ng-model="courses.filter.name" ng-keypress="courses.filterByKeyword($event)">
      
      <table ng-table="courses.coursesTable" class="table table-hover">
        <tr ng-repeat="course in courses.courses">
          <td data-title="'Id'" sortable="'id'">{{course.id}}</td>
          <td data-title="'Title'" sortable="'title'" class="colored-text" ng-click="courses.update(course.id)">{{course.title}}</td>
          <td data-title="'Note'" sortable="'note'">{{course.note}}</td>
          <td data-title="'Selection'"><input type="checkbox" ng-model="course.checked" ng-click="courses.cbChecked()"></td>
        </tr>
      </table>

    </div>
  </div>
</div>