<div class="modal upload-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 ng-show="courses.method==='save'">Add new course</h3>
        <h3 ng-show="courses.method==='update'">Update course</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="add-new-form">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" class="form-control" ng-model="courses.newCourse.title" required>
          </div>
          
          <div class="form-group">
            <label for="note">Note:</label>
            <textarea class="form-control" rows="5" id="note" ng-model="courses.newCourse.note"></textarea>
          </div>
          <!-- <div class="form-group">
            <label for="note">Archived:</label>
            <input type="checkbox" class="form-control" ng-model="courses.newCourse.archived">
          </div> -->
          <div class="form-group">
            <button ng-disabled="!courses.newCourse.title" class="btn btn-success" ng-click="courses.addNew()">Submit</button>
          </div>
       </form>
      </div>
    </div>
  </div>
</div>