<div class="panel">
  <div class="panel-heading">
    <p class="title" idi-locale="dashboard.programmes.naming"></p>
  </div>
  <div class="panel-body">
    <div class="panel-group" >
      <table class="table" ng-repeat="programme in programmes">
      <tbody>
        <tr ng-repeat="level in programme.programme.courses">
          <td>
            <a href ui-sref="app.admin.courses.level({id: level.id})">
              {{:: level.title }}
            </a>
          </td>
          <td ng-if="false">
            {{:: level.start_date }}
          </td>
        </tr>
        </a>
      </tbody>
    </div>
  </div>
</div>
