<div class="widget-heading">
  <p class="title">{{ :: date|date:"d" }}</p>
  <span class="subtitle">{{ :: date|date:"EEEE" }}</span>
</div>
<div class="widget-body"><span>{{ :: date|date:"MMMM yyyy" }}</span></div>
<div ng-if="events.length > 1" class="idi-dashboard__events" uib-carousel active="0" interval="0" no-transition="true">
  <div uib-slide ng-repeat="event in events track by $index" index="$index">
    <p ng-click="clicked($index)"><i class="fa fa-calendar"></i> {{ event.title }}</p>
  </div>
</div>
<div ng-if="events.length==1" class="idi-dashboard__events">
  <p ng-click="clicked(0)"><i class="fa fa-calendar"></i> {{ events[0].title }}</p>
</div>
<div ng-if="events.length==0" class="idi-dashboard__events--empty">
  <p idi-locale="dashboard.today.empty"></p>
</div>