<div class="modal image-modal" tabindex="-1" role="dialog">
  <div>
    <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
    <iframe src="https://player.vimeo.com/video/176320334?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>