<div class="modal image-modal" tabindex="-1" role="dialog">
  <div>
    <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
    <iframe class="iframe__fullwidth_video" width="960" height="540" src="https://player.vimeo.com/video/165560904" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>