<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edit item</h4>
      </div>
      <div class="modal-body" ng-if="type === 'work_experience'">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">From</label>
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                  <input type="text" class="form-control" placeholder="Date" ng-model="node.date_from" date-format="dd/MM/yyyy" bs-datepicker>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">To</label>
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                  <input type="text" class="form-control" placeholder="Date" data-min-date="{{node.date_from}}" date-format="dd/MM/yyyy" ng-model="node.date_to" bs-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Full or Part Time</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <select class="form-control" ng-model="node.time">
                <option value="Full Time">Full Time</option>
                <option selected="" value="Part Time">Part Time</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Post Held</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.post">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Organization Name, Address</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <textarea type="text" class="form-control" placeholder="" ng-model="node.name"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Brief Description of Duties</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <textarea type="text" class="form-control" placeholder="" ng-model="node.duties"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label"></label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 multiselect row">
              <div class="panel panel-default">
                <div class="panel-heading">Record of Activities and Responsibilities undertaken</div>
                <div class="panel-body checkbox-list">
                  <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="item in modalWorkActivities">
                      <label class="btn-check">
                        <input type="checkbox" value="{{item.value}}"
                               ng-model="item.selected"
                               ng-checked="item.selected"
                               ng-change="(item.value == 'other') ? (item.selected) ? $parent.modalWorkFieldEnabled = true : $parent.modalWorkFieldEnabled = false : $parent.modalWorkFieldEnabled = $parent.modalWorkFieldEnabled">
                        <span>{{item.name}}</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="modalWorkFieldEnabled">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-6 control-label">Other</label>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-6">
            <textarea type="text" class="form-control" placeholder=""
                      ng-model="node.other"
                      ng-disabled="user.state"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body" ng-if="type === 'other_experience'">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">From</label>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                  <input type="text" class="form-control" placeholder="Date" date-format="dd/MM/yyyy" ng-model="node.date_from" bs-datepicker>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">To</label>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                  <input type="text" class="form-control" placeholder="Date" data-min-date="{{node.date_from}}" date-format="dd/MM/yyyy" ng-model="node.date_to"  bs-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Role</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.role">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Organization Name, Address</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <textarea type="text" class="form-control" placeholder="" ng-model="node.name"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Brief Description of Duties</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <textarea type="text" class="form-control" placeholder="" ng-model="node.duties"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label"></label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 multiselect row">
              <div class="panel panel-default">
                <div class="panel-heading">Record of Activities and Responsibilities undertaken</div>
                <div class="panel-body checkbox-list">
                  <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="item in modalOtherActivities">
                      <label class="btn-check">
                        <input type="checkbox" value="{{item.value}}"
                               ng-model="item.selected"
                               ng-checked="item.selected"
                               ng-change="(item.value == 'other') ? (item.selected) ? $parent.modalOtherFieldEnabled = true : $parent.modalOtherFieldEnabled = false : $parent.modalOtherFieldEnabled = $parent.modalOtherFieldEnabled">
                        <span>{{item.name}}</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="modalOtherFieldEnabled">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-6 control-label">Other</label>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-6">
            <textarea type="text" class="form-control" placeholder=""
                      ng-model="node.other"
                      ng-disabled="user.state"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body" ng-if="type === 'education_prev_current'">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">From</label>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                  <input type="text" class="form-control" placeholder="Date" data-max-date="{{node.date_to}}"
                         ng-model="node.date_from"
                         date-format="dd/MM/yyyy"
                         bs-datepicker>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">To</label>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                  <input type="text" class="form-control" placeholder="Date" data-min-date="{{node.date_from}}"
                         ng-model="node.date_to"
                         date-format="dd/MM/yyyy"
                         bs-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Name and Address Of Institution</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Study Mode - PT/FT/SW/DL<sup>*</sup></label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.study_mode">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body" ng-if="type === 'academic_qualifications'">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Exam Date</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="Datepicker"
                     ng-model="node.date"
                     date-format="dd/MM/yyyy"
                     bs-datepicker>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Awarding Body</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.awarding">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Subject</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.subject">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Qualification</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.qualification">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body" ng-if="type === 'highest_level_academic' || type === 'highest_level_math' || type === 'highest_level_engish'">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Exam Date</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="Datepicker"
                     ng-model="node.date"
                     date-format="dd/MM/yyyy"
                     bs-datepicker>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Awarding Body</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.awarding">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Subject</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.subject">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Qualification</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.qualification">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Results Achieved</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.results">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body" ng-if="type === 'english_certificate'">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Date Taken</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="Datepicker"
                     ng-model="node.date"
                     date-format="dd/MM/yyyy"
                     bs-datepicker>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Level</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.level">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Where Studied</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.studied_at">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">University/ College/Awarding Body</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.awarding">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Results</label>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.results">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body" ng-if="type === 'portfolio_link'">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input type="text" class="form-control" placeholder="" ng-model="node.link">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body" ng-if="type === 'certificate_training'">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Certificate</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-6">
              <input type="text" class="form-control" placeholder="" ng-model="node.certificate" ng-disabled="user.state">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Awarding Body</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-6">
              <input type="text" class="form-control" placeholder="" ng-model="node.awarding_body" ng-disabled="user.state">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Level</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-6">
              <input type="text" class="form-control" placeholder="" ng-model="node.level" ng-disabled="user.state">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-6 control-label">Date</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-6">
              <input type="text" class="form-control"
                     placeholder=""
                     ng-model="node.date"
                     date-format="dd/MM/yyyy"
                     bs-datepicker
                     ng-disabled="user.state">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="submit" class="btn btn-success" ng-click="$hide(); saveActivities(type, node); submit($event)">Save</button>
      </div>
    </form>
  </div>
</div>