<div class="modal modal-help" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Personal Statement</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
			<p>We would also like you to write a Personal Statement.</p>
			<p>Your Personal Statement should be between 250-500 words in length and should answer the following three questions:</p>
			<ol>
        	    <li>Why have you chosen to apply to the University of Aberdeen to study this subject? </li>
        	    <li>Which personal qualities do you possess that will help you to successfully complete this programme of study?</li>
        	    <li>How will studying this programme help you to achieve your aspirations?  </li>
        	</ol>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="$hide();">Ok</button>
      </div>
    </div>
  </div>
</div>