<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-submit="submitTask() && $hide()" name="admissionTask">
        <div class="modal-header">
          <button type="button" class="close"
                  ng-click="$hide()">&times;</button>
          <h4 class="modal-title">Add task</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group" ng-class="{'has-error': admissionTask.$submitted && !task.assignedTo}">
                <label class="control-label"><span>Assigned To</span></label>
                <select class="form-control" name="assignedTo" required ng-model="task.assignedTo">
                  <option ng-repeat="user in usersForTask" value="{{ ::user.sf_id }}">{{ ::user.name }}</option>
                </select>
                <span class="help-block" ng-if="admissionTask.$submitted && !task.assignedTo">this field is required</b>
              </div>
              <div class="form-group">
                <label class="control-label"><span>Subject</span></label>
                <input type="text" name="subject" ng-model="task.subject" class="form-control"/>
                <span class="help-block" ng-if="admissionTask.$submitted && !task.subject">this field is required</b>
              </div>
              <div class="form-group">
                <label class="control-label"><span>Comments</span></label>
                <textarea name="comments" ng-model="task.comments" class="form-control"></textarea>
                <span class="help-block" ng-if="admissionTask.$submitted && !task.comments">this field is required</b>
              </div>
              <div class="form-group">
                <label class="control-label"><span>Due Date</span></label>
                <input type="text" name="dueDate" ng-model="task.dueDate" bs-datepicker date-format="d/M/y" class="form-control"/>
                <span class="help-block" ng-if="admissionTask.$submitted && !task.dueDate">this field is required</b>
              </div>
              <div class="form-group">
                <label class="control-label"><span>Reminder Date</span></label>
                <div class="row">
                  <div class=" col-lg-8 col-md-8 col-sm-12">
                    <input type="text" name="reminderDate" ng-model="task.reminderDate" bs-datepicker data-min-date="'today'" date-format="d/M/y" class="form-control"/>
                  </div>
                  <div class=" col-lg-4 col-md-4 col-sm-12">
                    <input type="text" name="reminderTime" ng-disabled="!task.reminderDate" ng-model="task.reminderDate" bs-timepicker time-format="h:mm a" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left"
                  ng-click="$hide();">Cancel</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>