<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edit item</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">Name of Institution*</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-required="true" ng-model="node.name"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">From</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="Date" data-max-date="{{node.date_to}}"
                     ng-model="node.date_from"
                     date-format="dd/MM/yyyy"
                     bs-datepicker
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">To</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="Date" data-min-date="{{node.date_from}}"
                     ng-model="node.date_to"
                     date-format="dd/MM/yyyy"
                     bs-datepicker
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">Qualification Level and Title</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-required="false" ng-model="node.level"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">Did you study this course in the
              UK?</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.study"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">Have you complete this course?</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <input type="text" class="form-control" placeholder="" ng-model="node.complete"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="submit" class="btn btn-success" ng-click="$hide(); submit($event)">Save</button>
      </div>
    </form>
  </div>
</div>