<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                ng-click="$hide()">&times;</button>
        <h4 class="modal-title">{{(viewNote) ? 'View' : note.isNew ? 'Add' : 'Edit'}} note</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea name="note" class="form-control" placeholder="Enter your note"
                    ng-model="note.text"
                    ng-disabled="viewNote"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left"
                ng-click="$hide();">Cancel</button>
        <button type="button" class="btn btn-success"
                ng-if="note.isNew"
                ng-click="$hide(); createNote($event)">Save</button>
        <button type="button" class="btn btn-success"
                ng-if="!note.isNew"
                ng-click="$hide(); updateNote($event)">Update</button>
      </div>
    </div>
  </div>
</div>