<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="danger">WARNING!</h4>
      </div>
      <div class="modal-body">
        <p>Please ensure that in submitting this work you have followed the plagiarism guidelines.</p>
        <p>Plagiarism is an offence and has serious consequences.</p>
        <p>Further information can be found in your Student Handbook.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left"
                ng-click="$hide();">Cancel</button>
        <button type="button" class="btn btn-success"
                ng-click="$hide();openModalSubmit()">Accept</button>
      </div>
    </div>
  </div>
</div>