<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to submit your assessment? This will submit your uploaded work and self evaluation for this assessment.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left"
                ng-click="$hide();">Cancel</button>
        <button type="button" class="btn btn-success"
                ng-click="$hide();onSubmitted()">submit</button>
      </div>
    </div>
  </div>
</div>