<div class="modal file-message-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
        <h4 class="modal-title" ng-bind="file.file_data.title"></h4>
      </div>
      <div class="modal-body">
        <div class="image-holder">
          <a title="{{ file.file_data.title }}"
             ng-if="!file.file_data.isImage">
            <ui-file-thumbnail item="file.file_data"></ui-file-thumbnail>
            <h4>{{ file.file_data.title }}</h4>
          </a>
          <a ng-if="file.file_data.isImage">
            <img ng-src="{{file.file_data.url}}" title="file.file_data.title"/>
          </a>
        </div>
        <div class="row">
          <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a ng-href="{{file.file_data.url}}" download class="btn btn-flat btn-info">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>