<div class="modal image-modal" tabindex="-1" role="dialog">
  <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 center-block">
      <div class="cropArea" style="background: #E4E4E4;overflow: hidden;width:500px;height:350px;">
        <img-crop image="profileUploader.profileimage.queue[0].image" result-image="profileUploader.profileimage.queue[0].croppedImage" area-type="square"></img-crop>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 center-block">
      <img ng-src="{{profileUploader.profileimage.queue[0].croppedImage}}" class="img-thumbnail img-responsive" style="width:100%"/>
      <button class="btn btn-primary btn-lg btn-block" ng-click="profileUploader.profileimage.queue[0].upload();$hide()" style="margin-top:15px">Crop & Upload image</button>
    </div>
  </div>
</div>