<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Files Viewer</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default" ng-repeat="(key, file) in files">
          <div class="panel-heading">{{ key }}</div>
          <div class="panel-body no-padding">            
            <table class="table table-hover table-applicants applicant-files">
              <thead>
                <tr>
                  <th>File Id</th>
                  <th>Title</th>
                  <th>Date Uploaded</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody data-name="{{ key }}">
                <tr ng-repeat="item in file" data-id="{{ item.id }}" data-file-id="{{ item.file.id }}">
                  <td>{{ item.file.id }}</td>
                  <td>{{ item.file.title }}</td>
                  <td>{{ item.file.uploaded | date: 'dd/MM/yyyy' }}</td>
                  <td><a ng-href="{{ item.file.url }}" download><i class="fa fa-download"></i></a>&nbsp;<a ng-if="!isImage(item.file.ext)" ng-href="{{ item.file.url }}" target="_blank"><i class="fa fa-eye"></i></a><a ng-if="isImage(item.file.ext)" href title="{{ item.file.title }}" ng-click="displayImage(item)"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr ng-if="file.length == 0" data-id="-1"><td colspan="4">&nbsp;</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>