<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Attachments</h4>
      </div>
      <div class="modal-body">
        <table ng-if="files.length > 0" class="table table-hover table-applicants">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date Uploaded</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in files">
              <td>{{ item.title }}</td>
              <td>{{ item.uploaded | date: 'dd/MM/yyyy' }}</td>
              <td><a ng-href="{{ item.url }}" download><i class="fa fa-download"></i></a></td>
            </tr>
          </tbody>
        </table>
        <div ng-if="files.length == 0">You do not have permission to access the files yet.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>