<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <form class="modal-content" ng-submit="$hide()">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edit user</h4>
      </div>
      <div class="modal-body">
        <section class="container-fluid">
          <div class="publisher widget widget-lg">
            <div class="widget-heading" style="background-image:url('{{profile.image}}')"></div>
            <div class="widget-body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center title">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230px" height="230px" viewBox="0 0 230 230">
                    <defs>
                      <mask id="mask1" x="0" y="0" width="200" height="200">
                        <path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
                      </mask>
                    </defs>
                    <g>
                      <image x="0" y="10" width="230" height="230" xlink:href="{{profile.image}}" style="mask:url(#mask1);" />
                      <path fill="#fff" d="M116.128,19.572c5.27,2.409,22.242,15.56,49.901,43.779c23.378,23.852,38.753,42.554,42.787,49.235
										c-3.956,6.25-18.6,23.593-43.896,48.868c-25.187,25.167-42.496,39.793-48.803,43.823c-6.436-3.999-24.206-18.657-49.001-43.113
										c-27.674-27.295-41.03-44.065-43.919-49.563c2.983-5.978,17.438-24.394,42.817-49.953C92.23,36.246,110.426,22.07,116.128,19.572
										 M116.166,10.333c-14.834,0-102.333,89-102.333,102.333C13.833,126,105.667,215,116.167,215S218.5,123.333,218.5,112.666
										C218.5,102,131,10.333,116.166,10.333L116.166,10.333z" stroke-width="2" stroke="#fff" />
                    </g>
                  </svg>
                  <h4 class="text-info">{{profile.first_name}} {{profile.last_name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="container-fluid">
          <article class="panel panel-default panel-profile">
            <header class="panel-heading profile-heading">
              Profile info
              <i class="fa fa-info-circle pull-right"
                 ng-click="openHelp()"></i>
            </header>
            <section class="panel-body" ng-if="profile">
              <div ng-include="'/partials/profiles/profile.html'"></div>
            </section>
          </article>
        </section>
        <!--<section class="container-fluid">-->
          <!--<div class="panel-group profile-menu-collapse hidden-md hidden-lg hidden-xlg" ui-collapse>-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading">-->
                <!--<h4 class="panel-title">-->
                  <!--<a data-toggle="collapse" href="#collapseOne">Profile<span class="pull-right fa fa-bars"></span></a>-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div id="collapseOne" class="panel-collapse collapse">-->
                <!--<div class="panel-body no-padding">-->
                  <!--<ul class="nav nav-tabs" role="tablist" ui-tabs>-->
                    <!--<li ng-show="checkRights('profiles.other.personal')" class="active"><a href="#tab1" role="tab" data-toggle="tab">Personal</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.history')"><a href="#tab2" role="tab" data-toggle="tab">Academic History</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.experience')"><a href="#tab3" role="tab" data-toggle="tab">Employment & Experience</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.creative')"><a href="#tab4" role="tab" data-toggle="tab">Creative work</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.summary')" ><a href="#tab5" role="tab" data-toggle="tab">Summary Sheet</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.decision')" ><a href="#tab6" role="tab" data-toggle="tab">Decision Sheet</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.uploaded')" ><a href="#tab7" role="tab" data-toggle="tab">Uploaded Files</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.uhform')" ><a href="#tab8" role="tab" data-toggle="tab">UH form</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.notes_history')" ><a href="#tab9" role="tab" data-toggle="tab">Notes and History</a></li>-->
                    <!--<li ng-show="checkRights('profiles.other.managers')" ><a href="#tab10" role="tab" data-toggle="tab">Managers</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<ul class="nav nav-tabs profile-tabs hidden-xs hidden-sm" role="tablist" ui-tabs>-->
            <!--<li ng-show="checkRights('profiles.other.personal')" class="active"><a href="#tab1" role="tab" data-toggle="tab">Personal</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.history')"><a href="#tab2" role="tab" data-toggle="tab">Academic History</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.experience')"><a href="#tab3" role="tab" data-toggle="tab">Employment & Experience</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.creative')"><a href="#tab4" role="tab" data-toggle="tab">Creative work</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.summary')" ><a href="#tab5" role="tab" data-toggle="tab">Summary Sheet</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.decision')" ><a href="#tab6" role="tab" data-toggle="tab">Decision Sheet</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.uploaded')" ><a href="#tab7" role="tab" data-toggle="tab">Uploaded Files</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.uhform')" ><a href="#tab8" role="tab" data-toggle="tab">UH form</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.notes_history')" ><a href="#tab9" role="tab" data-toggle="tab">Notes and History</a></li>-->
            <!--<li ng-show="checkRights('profiles.other.managers')" ><a href="#tab10" role="tab" data-toggle="tab">Managers</a></li>-->
          <!--</ul>-->
          <!--<div class="panel panel-default profile-tab-content">-->
            <!--<div class="panel-body tab-content" ng-controller="AdmissionsStudentCtrl">-->
              <!--<div id="tab1" class="tab-pane active">-->
                <!--<div ng-show="checkRights('profiles.other.personal')" ng-include="'/partials/profiles/profile.html'"></div>-->
              <!--</div>-->
              <!--<div id="tab2" class="tab-pane">-->
                <!--<div ng-show="checkRights('profiles.other.history')" ng-include="'/partials/admissions/wizard/history.html'"></div>-->
              <!--</div>-->
              <!--<div id="tab3" class="tab-pane" >-->
                <!--<div ng-show="checkRights('profiles.other.experience')" ng-include="'/partials/admissions/wizard/experience.html'"></div>-->
              <!--</div>-->
              <!--<div id="tab4" class="tab-pane">-->
                <!--<div ng-show="checkRights('profiles.other.creative')" ng-include="'/partials/admissions/wizard/creative.html'"></div>-->
              <!--</div>-->
              <!--<div id="tab5" class="tab-pane">-->
                <!--<div ng-show="checkRights('profiles.other.summary')" ng-include="'/partials/admissions/summary.html'"></div>-->
              <!--</div>-->
              <!--<div id="tab6" class="tab-pane">-->
                <!--<div ng-show="checkRights('profiles.other.decision')" ng-include="'/partials/admissions/decision.html'"></div>-->
              <!--</div>-->
              <!--<div id="tab7" class="tab-pane uploaded-tabcontent">-->
                <!--<div ng-show="checkRights('profiles.other.uploaded')" ng-include="'/partials/admissions/uploaded.html'"></div>-->
              <!--</div>-->
              <!--<div id="tab8" class="tab-pane">-->
                <!--<div ng-show="checkRights('profiles.other.uhform')" ng-include=""></div>-->
              <!--</div>-->
              <!--<div id="tab9" class="tab-pane">-->
                <!--<div ng-show="checkRights('profiles.other.notes_history')" ng-include="'/partials/profiles/notes_history.html'"></div>-->
              <!--</div>-->
              <!--<div id="tab10" class="tab-pane">-->
                <!--<div ng-show="checkRights('profiles.other.managers')" ng-include="'/partials/profiles/managers.html'"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</section>-->
      </div>
    </form>
  </div>
</div>