<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <form class="modal-content" ng-submit="updateEvent();$hide()">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edit Event</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Event title" ng-model="event.title" required>
        </div>

        <div class="form-group">
          <textarea class="form-control" placeholder="Event description" ng-model="event.description"></textarea>
        </div>

        <div class="row">
          <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">Start event:</label>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group ">
            <input class="form-control" placeholder="Start date" ng-model="event.start" data-max-date="{{event.end}}"
                   date-format="dd/MM/yyyy" bs-datepicker="" type="text">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-show="!event.fullday">
            <input class="form-control"
                   placeholder="Start time"
                   size="8"
                   ng-model="event.start"
                   time-format="HH:mm a"
                   minute-step="15"
                   arrow-behavior="picker"
                   bs-timepicker=""
                   type="text">
          </div>
        </div>

        <div class="row" ng-show="!event.fullday">
          <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">End event:</label>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group ">
            <input class="form-control" placeholder="End date" ng-model="event.end" data-min-date="{{event.start}}"
                   date-format="dd/MM/yyyy" bs-datepicker="" type="text">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
            <input class="form-control"
                   placeholder="End time"
                   size="8"
                   ng-model="event.end"
                   time-format="HH:mm a"
                   minute-step="15"
                   arrow-behavior="picker"
                   bs-timepicker=""
                   type="text">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">Full day event:</label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <label class="btn-round slide-default">
              <input type="checkbox"
                     ng-model="event.fullday"
                     ng-checked="event.fullday">
              <span></span>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-danger pull-left" ng-click="$hide(); remove(event.uuid)">Delete</button>
        <button type="submit" class="btn btn-success">Update</button>
      </div>
    </form>
  </div>
</div>