<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <form class="modal-content" ng-submit="updateUser($event)">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edit user</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" ng-model="user.name" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="E-mail" ng-model="user.email" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password" autocomplete="off">
        </div>
        <div class="form-group" ng-if="currentPermissions.indexOf('auth.userGroups.edit') > -1 || currentPermissions.indexOf('admin') > -1">
          <h4>Groups</h4>
          <div class="form-group panel panel-default">
            <div class="panel-heading">Groups</div>
            <div class="panel-body checkbox-list">
              <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="group in user.allGroups">
                  <label class="btn-check">
                    <input type="checkbox" value="{{group.name}}"
                           ng-model="group.selected">
                    <span>{{group.name}}</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="currentPermissions.indexOf('auth.userPermissions.edit') > -1 || currentPermissions.indexOf('admin') > -1">
          <h4>Permissions</h4>
          <div class="btn-group">
            <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
              {{currentServiceName || 'Choose permissions'}}
              <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
              <li ng-repeat="service in services"
                  ng-class="(service.name === currentServiceName) ? 'active' : ''"
                  ng-click="changeService($event)">
                <a href="">{{service.name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group panel panel-default"
             ng-repeat="service in user.allServices"
             ng-show="service.name === currentServiceName">
          <div class="panel-heading">{{service.name}}</div>
          <div class="panel-body checkbox-list">
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="permission in service.permissions">
                <label class="btn-check">
                  <input type="checkbox" value="{{permission.permission}}"
                         ng-model="permission.selected">
                  <span>{{permission.name}}</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>