<div class="modal file-message-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
        <h4 class="modal-title" ng-bind="file.file_data.title"></h4>
      </div>
      <div class="modal-body">
        <div class="image-holder">
          <a title="{{ file.file_data.title }}"
             ng-if="!file.file_data.isImage">
            <ui-file-thumbnail item="file.file_data"></ui-file-thumbnail>
            <h4>{{ file.file_data.title }}</h4>
          </a>
          <a ng-if="file.file_data.isImage">
            <img ng-src="{{file.file_data.url}}" title="file.file_data.title"/>
          </a>
          <button class="btn btn-info ng-scope"
                  ng-if="checkPermission('courses.content-example-file.save')"
                  ng-click="openExampleModal($event)">Add as Example</button>
        </div>
        <div class="row">
          <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="input-group form-group share__wrapper">
              <div class="input-group-addon share__text clickable"
                   ng-class="{'share__text--loading': urlIsLoading}">
                <span class="share__text__loading">Loading...</span>
                <span class="share__text__share"
                      ng-click="loadUrl($event, file.file_data.id)"
                      ng-show="!urls[file.file_data.id]">Share</span>
                <span class="share__text__copy"
                      ng-show="urls[file.file_data.id]"
                      ngclipboard data-clipboard-target="#copy">Copy</span>
              </div>
              <input type="text" id="copy" class="form-control share__input" placeholder="" value="" ng-model="urls[file.file_data.id]">
            </div>
          </div>
          <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a ng-href="{{file.file_data.url}}" download class="btn btn-flat btn-info">Download</a>
            <div class="btn-group move__button"
                 ng-if="checkRights('studypath.student')">
              <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Move file to <span class="caret"></span>
              </button> -->
              <ul role="menu" class="dropdown-menu">
                <li ng-repeat="activity in activities">
                  <a href
                     ng-if="activity.id != file.content_id"
                     ng-click="moveToAnotherActivity($event)">{{activity.title}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <form name="tagMessageToFileForm" class="form-horizontal"
                ng-submit="tagAttachment(tagMessageToFileForm)"
                ng-class="{'form-processing': tagMessageToFileForm.$submitted}">
            <div class="panel-body">
              <div class="wysiwyg-editor-new form-group" data-trigger="hover" data-placement="top" data-title="This field is required" bs-tooltip>
                <ng-quill-editor
                    ng-model="reply.message"
                    toolbar="true"
                    link-tooltip="true"
                    image-tooltip="true"
                    toolbar-entries="font size bold list bullet italic underline strike align color background link image"
                    editor-required="true"
                    required=""
                    error-class="input-error"></ng-quill-editor>
              </div>
            </div>
            <div class="panel-footer">
              <div class="pull-right">
                <button type="submit" class="btn btn-danger btn-flat"
                        ng-class="{ 'disabled' : tagMessageToFileForm.$invalid || tagMessageToFileForm.$submitted }">Tag Message</button>
              </div>
              <button type="button" class="btn btn-default"
                      ng-click="cancel($event)"
                      ng-class="{ 'disabled' : tagMessageToFileForm.$submitted }">Cancel</button>
            </div>
          </form>
        </div>
        <div class="message-table clearfix">
          <div class="no-padding clearfix">
            <ul class="no-padding">
              <idi-message ng-repeat="message in messages track by message.id" message="message" on-message-deleted="onMessageDeleted(message)"></idi-message>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>