<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="saveForumForm" class="form-horizontal forum-form" ng-class="{'form-processing': saveForumForm.$submitted}" ng-submit="saveForum(saveForumForm)">
        <div class="modal-header">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title">New Forum</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter title" ng-model="forum.title" autocomplete="off" ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" placeholder="Enter description" ng-model="forum.description" ng-required="true"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Published</label>
            <div class="col-sm-10">
              <label class="btn-round slide-primary">
                <input type="checkbox" ng-model="forum.state">
                <span></span>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
          <button type="submit" class="btn btn-alt" ng-disabled="saveForumForm.$submitted">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>