<div class="modal modal-help" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Help Page</h4>
      </div>
      <div class="modal-body">
        <div class="panel-group">
          <div class="panel panel-default" ng-repeat="answer in answers">
            <div class="panel-heading help-panel" ng-click="answer.isCollapsed = !answer.isCollapsed">
              <h4 class="panel-title">
                <a>{{answer.title}}</a>
              </h4>
            </div>
            <div ng-show="answer.isCollapsed" class="panel-collapse collapse in">
              <div class="panel-body">
                {{answer.text}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="$hide();">Ok</button>
      </div>
    </div>
  </div>
</div>