<div class="modal image-modal" tabindex="-1" role="dialog">
  <div>
    <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
    <img class="img-modal" ng-src="{{ imageItem.file.url }}" alt="{{ imageItem.file.title }}">
  </div>
</div>