<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Create folder</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Folder name" ng-model="folderName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="$hide(); createFolder($event)">Save</button>
      </div>
    </div>
  </div>
</div>