<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">{{node.note ? 'Edit' : 'Add'}} note to {{node.type == 'folder' ? 'folder' : 'file'}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea name="note" class="form-control" placeholder="Enter your note" ng-model="node.note"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="$hide(); saveNote($event)">Save</button>
      </div>
    </div>
  </div>
</div>