<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="saveNotesForm" class="form-horizontal forum-form" ng-class="{'form-processing': saveNotesForm.$submitted}" ng-submit="saveNotes(saveNotesForm, true)">
        <div class="modal-header">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title">New Academic Note</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Action</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="note.action" ng-required="true">
                <option value="">Select Action</option>
                <option value="General">General</option>
                <option value="Email">Email</option>
                <option value="Phone Call">Phone Call</option>
                <option value="Retake">Retake</option>
                <option value="Deferral">Deferral</option>
                <option value="Rests">Rests</option>
                <option value="Study Concern">Study Concern</option>
                <option value="Complaint">Complaint</option>
                <option value="Technical">Technical</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Comments</label>
            <div class="col-sm-10">
              <textarea type="text" name="noteComment" class="form-control" placeholder="Enter comment..." ng-model="note.comment" ng-required="true"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
          <button type="button" class="btn btn-alt" ng-disabled="saveNotesForm.$submitted" ng-click="saveNotes(saveNotesForm, false)">Save and New</button>
          <button type="submit" class="btn btn-success" ng-disabled="saveNotesForm.$submitted">Save and Close</button>
        </div>
      </form>
    </div>
  </div>
</div>