<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
    <div class="row" ng-if="currentAssessmentExample">
      <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 learning_sections">
        <div class="panel panel-default ng-scope">
          <div class="panel-heading">Assessment Example</div>
          <div class="panel-body assessment-example-panel">
            <h5 class="assessment-example-title">{{currentAssessmentExample.title}} (Grade {{currentAssessmentExample.grade}})</h5>
            <div class="additional-menu clearfix">
              <h5 class="btn btn-link"
                  ng-click="currentView = 'files'">{{currentAssessmentExampleCategory}}</h5>
              <ul class="list-unstyled">
                <li>
                  <span class="btn btn-link" ng-click="currentView = 'feedback'">Tutor Feedback</span>
                </li>
                <li>
                  <span class="btn btn-link" ng-click="currentView = 'evaluation'">Student Self Evaluation</span>
                </li>
              </ul>
            </div>
            <div ng-show="currentView == 'files'">
              <ul class="list-unstyled row" ng-if="filteredCurrentAssessmentExampleFiles.length > 0">
                <li class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    ng-repeat="item in filteredCurrentAssessmentExampleFiles track by $index"
                    ng-if="item.file_data.ext" >
                  <div class="thumbnail thumbnail--file">
                    <a href title="{{ item.file_data.title }}"
                       ng-click="displayImage(item.file_data)"
                       ng-if="!item.file_data.isImage" >
                      <ui-file-thumbnail item="item.file_data"></ui-file-thumbnail>
                    </a>
                    <a href title="{{ item.file_data.title }}"
                       ng-click="displayImage(item.file_data)"
                       ng-if="item.file_data.isImage" >
                      <ui-file-thumbnail item="item.file_data"></ui-file-thumbnail>
                    </a>
                    <div class="caption">
                      <h3 class="file-name" >{{ item.file_data.name }}</h3>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="currentView == 'feedback'">
              {{currentAssessmentExample.tutor_feedback}}
            </div>
            <div ng-show="currentView == 'evaluation'">
              {{currentAssessmentExample.self_evaluation}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>