<div class="modal modal-help terms-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" ng-click="$hide()">&times;</button>
		<h4 class="modal-title">Terms and Conditions</h4>
	  </div>
	  <div class="modal-body">
			<b>Students of The Interactive Design Institute are required to accept the terms and conditions set out below as
				a condition of enrolment</b>
			<h6>Terms and Conditions updated 29th May 2015.</h6>

			<h3><b>Section 1:</b></h3>
			<h5>Conditions of enrolment</h5>
			<p>We offer to enrol you in line with the conditions set out below. The contract for your enrolment comes into
				force when you commence your course.</p>

			<h3><b> Section 2:</b></h3>
			<p>The Interactive Design Institute website and Learning Management System (LMS)</p>
			<ul class="list-unstyled">
				<li>2.1 All parts of the website, both public and learning areas, and all content within the LMS, including
					course content, forum postings, tutor feedback, comments, assessments and images, are the intellectual
					property of the Interactive Design Institute. No part of the website or LMS may be posted or in any way
					mirrored on the World Wide Web or any other part of the Internet without the prior written consent of the
					Interactive Design Institute. No attempt should be made to copy or distribute either images, logos or other
					content in any way; other than by enrolled students, who may print single copies of course materials for their
					personal use only. The reproduction of images, logos or content, or use of the name IDI is not allowed without
					prior permission being granted by the Interactive Design Institute. Please note that information contained in
					the IDI websites are for Information only. All rights reserved.
				</li>
				<li>2.2 The Interactive Design Institute reserves the right to amend the content of the website and LMS on a
					regular basis in order to ensure that it is current and as relevant as possible.
				</li>
				<li>2.3 It is strongly recommended that students protect their own computer system with appropriate anti-virus
					software. The Interactive Design Institute will take all appropriate precautions but cannot be held
					responsible for any virus transferred via email or otherwise.
				</li>
				<li>2.4 The Interactive Design Institute website contains links to other websites. However, the Interactive
					Design Institute does not accept any responsibility for the quality or accuracy of information contained on
					any of these websites.
				</li>
			</ul>

			 <h3><b>Section 3:</b></h3>
			<h5>Our obligations to you</h5>
			<ul class="list-unstyled">
				<li>3.1 We will provide you with access to course materials as described in the course description. We will
					provide you with tutorial support via the IDI Learning Management System (LMS). We will undertake to ensure
					you receive feedback from tutors regularly, and whenever possible within 24 hours of feedback being requested
					from Mondays to Fridays.
				</li>
				<li>3.2 We will not be liable for any failure to perform any or all of our obligations where that failure is due
					to the actions of someone else or to any cause beyond our reasonable control. This includes the failure
					of the LMS.
				</li>
			</ul>

			 <h3><b>Section 4:</b></h3>
			<h5>Course fees</h5>
			<ul class="list-unstyled">
				<li>4.1 You are enrolling on the course or courses as detailed on your Offer of Place. If you enquired over the telephone or online, the course or courses you are enrolling on are shown in the letter or e-mail confirming your Offer of Place.</li>
				<li>
					4.2 You agree to pay the course fees as detailed at the time of your application on the IDI website. Payment must be made before enrolment (unless applying for a tuition fee loan, see 4.7).
					<b>The course fees cover all parts of the course, including tuition and assessment fees, but not retake fees (see 4.4). Please note: For Degree level courses, the course fee shown will be for one level of the Degree level award only, and not for the full award. *</b>
				</li>
				<li>4.3 <b>The course fee does not include any set books or additional resources such as practical materials and equipment or specialist software). You will be provided with access to a list of required resources prior to enrolment. </b></li>
				<li>4.4 <b>If you fail a course or module and have to retake a module, you will be charged a retake fee. You will not be able to retake the module until the retake fee is paid (or a payment plan by instalment is agreed and an initial payment is made).</b></li>
				<li>4.5 All fees are quoted in UK pounds sterling. Students should make their calculations based on the current exchange rate for their own currency.</li>
				<li>4.6 The Interactive Design Institute reserve the right to review their fees at any time, but students can be assured that the fee they are quoted at the time they apply will not change until they have completed the course. Students continuing to another level of a Higher Education course will continue to pay the fee as quoted at the commencement of their studies. However, if they rest from their studies, or in any other way alter their agreed timetable of study, they will be liable to pay the course fee as it applies at the time when they enrol for subsequent levels.</li>
				<li>
					4.7
					<b>Some Degree level courses were previously approved for tuition fee loans from the Student Loans Company (SLF). Please note, if you are funding your studies by means of a tuition fee loan, if you withdraw or are withdrawn, from your course after the two week cooling off period but before completing a level of study you will remain liable for payment of your course fees for one level of study, or any balance of payment outstanding for that level of study, irrespective of you continuing to receive a student loan. The Interactive Design Institute reserves the right to restrict access to course materials and tuition, and ultimately to cancel enrolment, in the event of failure by the student to progress their loan applications in a timely manner once enrolled on a programme. IDI courses are not currently designated for tuition fee loans.</b>
				</li>
				<li>
					4.8 From time to time some students may apply for a period of rest from their studies.
					<b>Please note: if you are granted a period of rest from your studies, you will still be liable for payment
						of the course fee, or in the case of Degree level courses, the remaining fee for one level of study, or any
						balance of payment outstanding, even if you are not currently studying.</b>
				</li>
			</ul>
			<b>*If you are applying through an international representative, additional charges may apply.</b>
			 <h3><b>Section 5:</b></h3>
			<h5>Payment by instalment</h5>
			<ul class="list-unstyled">
				<li>
					5.1 For some courses, there may be an option to pay the course fee and/or retake fees by instalments.
					An additional charge will be made for payment by instalments.
					<p>
						<b>Please note: For Higher Education (HE) courses, students paying by instalment are liable for payment of
							the balance of the fee for one level of study, in full, plus any retake fees or instalments due,
							irrespective of the progress of their studies. If you cancel your registration or are withdrawn from a
							course after the two week cooling off period (see sections 6 and 7) you will still remain liable for
							payment of the balance of fees for one level of study, plus any retake fees or instalment payments due, if
							you do not qualify for a refund (see section 8)</b>
						<br>
						<b>For the Art and Design Foundation course, students paying by instalment are liable for payment of the
							balance of the course fee in full, irrespective of the progress of their studies. If you cancel your
							registration or are withdrawn from a course after the two week cooling off period (see sections 6 and 7)
							you will still remain liable for payment of the balance of the course fee, if you do not qualify for a
							refund (see section 8)</b>
					</p>
				</li>
				<li>5.2 The Interactive Design Institute reserves the right to reclaim the balance on any course fees not paid by the agreed date.</li>
				<li>5.3 The Interactive Design Institute reserves the right to restrict access to course materials and tuition, and ultimately to cancel enrolment, in the event of failure by the student to make instalment payments by the due date.</li>
				<li>
					5.4 No payment plan can extend beyond the end date of the course a student is enrolled on.
					<b>If your mode of study (see Section 6) changes your payment plan may be adjusted to comply with this requirement.</b>
				</li>
				<li>5.5 Where payment by instalment is not available, payment must be made in full. The Interactive Design institute reserves the right to change, or withdraw instalment options at any time, but students can be assured that the instalment plan they are quoted at the time they register will not change until they have completed the course.</li>
				<li>5.6 The Interactive Design Institute will consider requests to extend the period of payment, or to vary payment dates or amounts, but reserves the right to decide on such requests on a case by case basis.</li>
			</ul>

			  <h3><b>Section 6:</b></h3>
			<h5>Cancelling your enrolment or changing your course or mode of study after the two week cooling off period.</h5>
			<ul class="list-unstyled">
				<li>6.1 You must inform us (see 6.3 below) that you wish to cancel or transfer to another course or to another mode of study (for example from part time to full time). The Interactive Design Institute will consider requests to transfer to another course provided such a request is received within 14 days from the course start date, but cannot guarantee that such requests will be accommodated. If you change to a course which has a higher fee, you must pay any difference in fees between courses. If at any time we recommend you change to a course which has a lower fee, you will be given a refund.</li>
				<li>
					6.2 The Interactive Design Institute will not consider subsequent requests from the same student, nor will they consider requests received after 14 days from enrolment.
					<b>Requests to transfer to a different mode of study can be made during the first 4 weeks of study, or between levels, and will be facilitated wherever possible. However, we cannot guarantee that such requests will be accommodated.</b>
				</li>
				<li>6.3 If you wish to cancel your registration, you must inform your Course Coordinator by letter, e-mail or telephone. It is not enough to tell your tutor; you must inform your Course Coordinator. Your cancellation will take effect on the date we receive your letter or telephone call.</li>
			</ul>
			<b>Please note: While requests can be by letter, e-mail or telephone, we strongly advise that any such request is
				made by letter, and that you obtain proof of postage. We will acknowledge receipt of your request if received by
				e-mail, but we cannot be held responsible for non-receipt of electronic communication (for example through
				assignment of e-mails to a junk mail folder)</b>

			  <h3><b>Section 7:</b></h3>
			<h5>Withdrawal from a course</h5>
			<ul class="list-unstyled">
				<li>7.1 We may withdraw you from a course if you fail to meet assignment or assessment deadlines without the prior agreement of your tutor(s). We will inform you if we think that you are in danger of being withdrawn, and you will be given opportunities for remediation.</li>
				<li>7.2 We may also withdraw you if you fail to comply with the terms and conditions set out in this agreement.</li>
				<li>
					7.3
					<b>If you are withdrawn from a course, you will still be liable for payment of the course fee unless you
						qualify for a refund (see section 8)</b>
				</li>
			</ul>

			 <h3><b>Section 8:</b></h3>
			<h5>Refunds and cancellation of instalment payments</h5>
			<ul class="list-unstyled">
				<li>
					<b>8.1 The Interactive Design Institute will provide a full refund of any course fees paid (and will cancel any
					further instalment payments due) if you cancel your registration within 14 days of the start date of the
					course. No refunds will be given after 14 days from the course start date.</b>
				</li>
				<li>
					<b>8.2 If it is necessary to cancel your registration after 14 days from the course start date as a result of: •
						anything we have or have not done which may be classed as maladministration by us, and which significantly
						affects your academic progress; we may refund all or part of the course fee, or cancel all or some of any
						further instalment payments of the course fee still outstanding. Please refer to Section 19: Complaints
						Policy. (Please note this does not extend to circumstances which are due to the actions of others or are
						beyond our reasonable control. This includes failure of the LMS)</b>
				</li>
				<li>
					8.3 If you wish to cancel your registration after 14 days of the start of the course and apply for a refund or cancellation of instalment payments, you (or your representative in the case of your incapacity or death) must do so by letter, outlining your reasons for the request and including copies of any supporting evidence.
				</li>
			</ul>
			<p>
				You should write to: <br>
				The Directors<br>
				 Interactive Design Institute <br>
				Stuart House <br>
				EH21 7PB<br>
			</p>
			<p>
				Please note that the Interactive Design Institute reserves the right to decide on all requests for refunds received after 14 days strictly on a case by case basis.
			</p>
			 <h3><b>Section 9:</b></h3>
			<h5>What we may do if you fail to pay your course fee or instalment payments</h5>
			<ul class="list-unstyled">
				<li>
					<b>
						If you fail to pay your course fee, or any instalment payment or payments due on your course fee, or if you
						are in debt to us or our agent, we may end your enrolment, restrict access to course materials and tuition,
						withhold your work from assessment, withhold your course results, awards and certifications, or bring legal
						action against you (or all of these things).
					</b>
				</li>
				<li>
					<b>
						9.2 If we continue to provide services to students who are in debt to us or our agent, we may still take the
						actions described above at a later date.
					</b>
				</li>
			</ul>
			 
			<h3><b>Section 10:</b></h3>
			<h5>Discounts, including scholarships, partial scholarships</h5>
			<ul class="list-unstyled">
				<li>
					10.1 From time to time we may offer discounts, scholarships or partial scholarships on course fees (e.g. for early payment). Such discounts apply only at the time they are advertised, and may not be subsequently available to new or continuing students. 10.2 From time to time the Interactive Design Institute will offer gifts or gift vouchers to students enrolling on courses. Such offers are strictly time bound and will be restricted to those enrolling within a specific time period. They may also be restricted to specific courses or groups of courses.
				</li>
				<li>
					10.3 To be eligible you must apply and be accepted onto one of these courses. We will dispatch your gift to you 14 days after you have started the course. If you cancel your enrolment or change your course to one which is not included in the offer within 14 days of enrolment then you will no longer be eligible to receive the gift.
				</li>
				<li>
					10.4 Gift offers and vouchers only apply to students who enrol through IDI. Gift offers and vouchers are not transferable. No cash alternatives are available.
				</li>
			</ul>

			<h3><b>Section 11:</b></h3>
			<h5>Our right to end this agreement</h5>
			<ul class="list-unstyled">
				<li>
					11.1 We may end this agreement at any time if: <br>
					a) We find that you have given us information which is untrue or misleading. <br>
					b) You fail to meet any academic or administrative requirements as required by your course tutors or administrators <br>
					c) You fail to pay your course fee or are otherwise in debt to us or our agent d) You break any of the conditions set out in this document.<br>
				</li>
			</ul>

			 
			<h3><b>Section 12:</b></h3>
			<h5>Application and enrolment</h5>
			<ul class="list-unstyled">
				<li>12.1 The Interactive Design Institute undertakes to provide you with information about the general content of courses, the learning hours involved, and recommendations regarding any previous experience required. We will provide you with an offer of place, either in writing, or by e-mail, together with a personal ID number. This offer of place confirms that we are prepared to enrol you on the course.</li>
				<li>12.2 By accepting the offer of place you are confirming that you have received sufficient information and are satisfied that the course is suitable for you.</li>
				<li>12.3 The Interactive Design Institute will enrol students upon receipt and clearance of the appropriate payment, and will issue a confirmation-mail. Once enrolment has been confirmed, a student account will be established, and learning materials assigned to that account. Students will be able to commence their course at the start date as stated in their offer of place.</li>
				<li>12.4 The Interactive Design Institute does not knowingly accept applications from those under 16 years of age. By accepting these terms and conditions, you undertake to declare that you are aged 16 years or over. Those under 16 years of age who wish to apply for a course are asked to refer the application through a parent or legal guardian, or to contact us for advice.</li>
			</ul>

			<h3><b>Section 13:</b></h3>
			<h5>Studying with the Interactive Design Institute</h5>
			<ul class="list-unstyled">
				<li>13.1 Students can apply and be enrolled on a course at any time. Students may be enrolled prior to the courses start date, but will commence their studies on the course start date.</li>
				<li>13.2 The Interactive Design Institute delivers tuition within a secure Learning Management System (LMS). Access to the LMS can only be obtained with a unique password and log in. Access to the course materials is not available until the course start date.</li>
				<li>13.3 The period of time for completion of any course will be made clear at enrolment. Students will continue to have access to course materials, tuition and guidance while they remain enrolled.</li>
				<li>13.4 You must adhere to the course timetable and complete the course within the specified period. Other than by prior agreement with us, the period for completion of the course will not be extended.</li>
				<li>
					13.5
					<b>For student enrolled on Higher Education (HE) programmes, entry to subsequent levels of the programme is dependent on there being a minimum cohort of student progressing to that level. We make no guarantee that progression will be available on a specific start date, or within a specific time period.</b>
				</li>
				<li>13.6 All images submitted for tutor comment, assessment and portfolio submission will be securely stored. By accepting these terms and conditions you agree that the Interactive Design Institute may reproduce images of your work, attributed by name to you, on its public website or for use in other promotional material.</li>
				<li>13.7 You must undertake to conduct all aspects of your studies in a polite and courteous manner, and likewise to accept the directed tuition of staff. You must not submit material, images or written content which might reasonably be deemed to be impolite, offensive or abusive. We reserve the right to cancel enrolment without refund of fees at any time in the event of failure to comply with this undertaking.</li>
				<li>13.8 You guarantee that any material or images submitted is your own work, unless otherwise stated, and does not infringe the copyright of any third persons (see Section 15)</li>
				<li>13.9 You must agree to use the LMS only for lawful purposes and in a way that does not infringe the rights of, restrict or inhibit anyone else's use and enjoyment of the LMS. Prohibited behaviour includes harassing or causing distress or inconvenience to any person, transmitting obscene or offensive content or disrupting the normal flow of dialogue within the LMS. You may not impersonate another person.</li>
				<li>13.10 Students enrolled with the Interactive Design Institute are issued with an internet log in and secure password in order to access the LMS. You must not disclose this password to any third party.</li>
				<li>13.11 To facilitate your learning, the content you contribute (including images of your practical work) will be visible online to relevant IDI staff and other authorised persons involved in your course (such as external examiners or guest lecturers).</li>
				<li>13.12 Your name will be visible to other students on your course, and other students will be able to contact you within the LMS (but not via your personal e-mail, unless you choose to disclose that to them). However the content you post in your personal discussion board will not be visible to other students.</li>
				<li>13.13 Any information you choose to post in online forums will be visible to other students, relevant IDI staff and other authorised persons involved in your course.</li>
				<li>13.14 You are advised not to contribute information of a sensitive or personal nature, unless you expressly consent to its disclosure as noted above.</li>
				<li>13.15 By accepting these terms and conditions, you expressly consent to the personal information noted above being processed as explained. Please note: IDI courses are designed to be interactive and it is a requirement that students participate in online activities (such as group discussions in online forums)</li>
			</ul>

			<h3><b>Section 14:</b></h3>
			<h5>Equality of Opportunity</h5>
			<ul class="list-unstyled">
				<li>14.1 The Interactive Design Institute seeks to ensure that all students are treated equally. No student will
					receive less favourable treatment due to race, ethnic origin, gender, sexual orientation, marital status,
					disability, age, responsibility for dependents or because of political or religious belief.
				</li>
				<li>14.2 The Interactive Design Institute welcomes applications from all social and ethnic backgrounds. It aims
					to provide the best possible advice to enable students to choose the most suitable course at the most
					appropriate level of study.
				</li>
			</ul>
			 
			<h3><b>Section 15:</b></h3>
			<h5>General</h5>
			<ul class="list-unstyled">
				<li>15.1 All of the information on the Interactive Design Institute website, and within course materials, is believed to be true and accurate and is given in good faith.</li>
				<li>15.2 The Interactive Design Institute cannot be held responsible for any injuries sustained or accidents which may occur to any individual during any of the suggested activities on the courses offered.</li>
				<li>15.3 It is your responsibility to ensure that any work or material submitted to the Interactive Design Institute does not infringe the copyright of any third persons, and in the event that it does, you agree to indemnify the Interactive Design Institute with regard to any action against it. It is also your responsibility to ensure that any material or information submitted to the Interactive Design Institute is, to the best of your belief, true and accurate.</li>
				<li>15.4 Students are responsible for the security of passwords and log in details; the Interactive Design Institute cannot be held responsible for any loss or damage sustained as result of unauthorised access to secure content.</li>
				<li>15.5 The Interactive Design Institute cannot be held responsible for the content of any websites accessed through links from their website or LMS.</li>
				<li>15.6 Failure by the Interactive Design Institute to enforce a right does not result in a waiver of such a right.</li>
				<li>15.7 If any of these terms and conditions is held to be invalid or unenforceable by any court having authority to determine such issues, the remaining terms of this agreement will not be affected.</li>
				<li>15.8 You may not assign or transfer your rights under this agreement</li>
			</ul>

			<h3><b>Section 16:</b></h3>
			<h5>Governing law</h5>
			<ul class="list-unstyled">
				<li>16.1 These terms and conditions shall be governed by and construed in accordance with Scots law and the parties hereby submit to the non-exclusive jurisdiction of the Scottish courts.</li>
				<li>16.2 The Interactive Design Institute make no warranty or guarantee that the website or information available over it complies with laws other than Scots law.</li>
			</ul>

			<h3><b>Section 17:</b></h3>
			<h5>Entire agreement</h5>
			<p>
				<b>17.1 Your offer of place, and the terms and conditions which form part of it, is the entire agreement between us and you. If any of our employees or agents have agreed anything verbally or in writing at any time, this agreement will always take priority.</b>
			</p>

			<h3><b>Section 18:</b></h3>
			<h5>Rules and regulations</h5>
			<p>
				18.1 Our Student Handbook sets out the conditions which apply to all enrolled students. You will be provided with access to the Students Handbook at the start of the course and are required to read it.
			</p>
			Please note: Students enrolling on University of Hertfordshire courses are required to adhere to the University Regulations, and are bound by their terms. By accepting these terms and conditions, you also agree to accept the terms of the University of Hertfordshire Regulations.
			 
			<h3><b>Section 19:</b></h3>
			<h5>Complaints Policy</h5>
			<p>
				19.1 You can find The Interactive Design Institutes Complaints Procedure in detail at
				<a href="http://www.idesigni.co.uk/complaints-policy">http://www.idesigni.co.uk/complaints-policy</a>
			</p>

			<h3><b>Section 20:</b></h3>
			<h5>Contacting the Interactive Design institute</h5>
			<p>
				20.1 You can contact the Interactive Design Institute by writing to the following address:<br>
				The Interactive Design Institute  <br>
				Stuart House <br>
				Eskmills <br>
				Musselburgh EH21 7PB<br>
			</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-info pull-left" ng-click="$hide(); declineProgrammeTerms()">Decline</button>
		<button type="button" class="btn btn-info pull-right" ng-click="acceptProgrammeTerms()">Accept</button>
	  </div>
	</div>
  </div>
</div>