<div class="modal image-modal" tabindex="-1" role="dialog">
  <div>
    <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
    <img class="img-modal" ng-src="{{ imageItem.file_data.url }}" alt="{{ imageItem.file_data.title }}">
    <h4 ng-bind="imageItem.body"></h4>
  </div>
</div>