<div class="modal add-programme-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <form name="addProgrammeForm" ng-submit="addProgramme(addProgrammeForm)" ng-class="{'form-processing': addProgrammeForm.$submitted}" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add Student to Programme</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <select class="form-control"
                      ng-model="addProgramme.semester"
                      ng-change="semesterSelected()"
                      ng-options="o.name for o in semesterList track by o.id">
                <option value="">- Select Semester -</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group" ng-show="showProgrammes">
              <select name="programme" 
                      class="form-control" 
                      ng-model="addProgramme.programme"
                      ng-change="programmeSelected()"
                      ng-options="item as item.title for item in programmeList track by item.id">
                <option value="" selected>- Select Programme -</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group" ng-show="showCourseTypes">
              <select class="form-control"
                      ng-model="addProgramme.study_mode"
                      ng-change="courseTypeSelected()"
                      ng-options="item.name for item in courseTypes track by item.id">
                <option value="">- Select Course Type -</option>
              </select>
            </div>
          </div>
          <!--<div class="col-xs-12 col-md-3">-->
            <!--<div class="form-group">-->
              <!--<select class="form-control"-->
                      <!--ng-model="addProgramme.course_type"-->
                      <!--ng-options="">-->
                <!--<option value="">- Select Course Type -</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-xs-12 col-md-3">-->
            <!--<div class="form-group">-->
              <!--<select class="form-control"-->
                      <!--ng-model="addProgramme.startLevel"-->
                      <!--ng-options="o.title for o in addProgramme.programme.courses track by o.id">-->
                <!--<option value="">- Select Start Level -</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()" ng-disabled="addProgrammeForm.$submitted">Cancel</button>
        <button type="submit" class="btn btn-success" ng-disabled="addProgrammeForm.$submitted || !canSave">Save</button>
      </div>
    </form>
  </div>
</div>