<div class="modal send-error-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add as example</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <a ng-if="!item.file_data.isImage" href title="{{ item.file_data.title }}" ng-click="displayImage(item.file_data)">
            <ui-file-thumbnail item="item.file_data"></ui-file-thumbnail>
          </a>
          <a ng-if="item.file_data.isImage" href title="{{ item.file_data.title }}" ng-click="displayImage(item.file_data)">
            <ui-file-thumbnail item="item.file_data"></ui-file-thumbnail>
          </a>
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control" placeholder="Example text" ng-model="exampleText"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="$hide(); createExample($event)">Send</button>
      </div>
    </div>
  </div>
</div>