<div class="modal send-error-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Registration Form</h4>
      </div>
      <div class="modal-body">
        <h4>Contact Information</h4>
        <div class="form-group">
          <input ng-model="uh.prev_surname" class="form-control" placeholder="Previous Surname">
        </div>
        <h4>Emergency Contact</h4>
        <div class="form-group">
          <input ng-model="uh.emergency_contact_name" class="form-control" placeholder="Emergency Contact Full Name">
        </div>
        <div class="form-group">
          <input ng-model="uh.emergency_contact_phone" class="form-control" placeholder="Emergency Contact Telephone">
        </div>
        <div class="form-group">
          <input ng-model="uh.emergency_contact_address" class="form-control" placeholder="Emergency Contact Address">
        </div>
        <div class="form-group">
          <input ng-model="uh.emergency_contact_relationship" class="form-control" placeholder="Emergency Contact Relationship to you">
        </div>
        <h4>Additional Information</h4>
        <div class="form-group">
          <input ng-model="uh.parents_higher_institute" class="form-control" placeholder="Have your parents ever attended a higher education institute">
        </div>
        <h4>Fees and Finance</h4>
        <div class="form-group">
          <input ng-model="uh.nationality" class="form-control" placeholder="Nationality (If Dual Please Give Both)">
        </div>
        <h4>Declaration of Criminal Conviction</h4>
        <div class="form-group">
          <input ng-model="uh.criminal_conviction" class="form-control" placeholder="Declaration of Criminal Conviction">
        </div>
        <h4>Referee 1</h4>
        <div class="form-group">
          <input ng-model="uh.ref_1_name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_1_address" class="form-control" placeholder="Address">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_1_city" class="form-control" placeholder="City/Town">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_1_postcode" class="form-control" placeholder="Postcode">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_1_phone" class="form-control" placeholder="Telephone">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_1_email" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_1_know" class="form-control" placeholder="Capacity in which applicant is know to the referee">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_1_how_long" class="form-control" placeholder="For how long">
        </div>
        <h4>Referee 2</h4>
        <div class="form-group">
          <input ng-model="uh.ref_2_name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_2_address" class="form-control" placeholder="Address">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_2_city" class="form-control" placeholder="City/Town">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_2_postcode" class="form-control" placeholder="Postcode">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_2_phone" class="form-control" placeholder="Telephone">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_2_email" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_2_know" class="form-control" placeholder="Capacity in which applicant is know to the referee">
        </div>
        <div class="form-group">
          <input ng-model="uh.ref_2_how_long" class="form-control" placeholder="For how long">
        </div>
        <h4>Declaration</h4>
        <div class="form-group">
          <input ng-model="uh.declaration_full_name" class="form-control" placeholder="Full Name">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Date"
                 ng-model="uh.declaration_date"
                 date-format="dd/MM/yyyy"
                 bs-datepicker>
        </div>
        <h4>Equal Opportunities</h4>
        <div class="form-group">
          <input ng-model="uh.ethnicity" class="form-control" placeholder="Ethnicity">
        </div>
        <div class="form-group">
          <input ng-model="uh.ethnicity_other" class="form-control" placeholder='Please Give Details If "Other"'>
        </div>
        <h4>Additional Information</h4>
        <div class="form-group">
          <input ng-model="uh.sexual_orientation" class="form-control" placeholder="What is your sexual orientation?">
        </div>
        <div class="form-group">
          <input ng-model="uh.same_gender" class="form-control" placeholder="Are you the same gender as at birth?">
        </div>
        <div class="form-group">
          <input ng-model="uh.religion" class="form-control" placeholder="What is your religion or belief?">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="updateStudioProfile()">Send</button>
      </div>
    </div>
  </div>
</div>