<div class="modal file-message-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()"><img src="/assets/img/closebox.png" alt="x"></button>
        <h4 class="modal-title">Supported file types:</h4>
      </div>
      <div class="modal-body">
        <h5>
          bmp, csv, epg, ico, odg, ods, odp, ppt, pptx, txt, psd, xcf, xls, xlsx, jpg, jpeg, png, gif, doc, pdf, raw, docx, swf, zip, mov, mp4, wmv, pde, ai, ink, pub, eps, tiff, tif, flv, m4v, mkv, f4v, ppsx, indd, avi, vwx, idml, mp3, rtf, rar, key
        </h5>
      </div>
    </div>
  </div>
</div>