<div class="modal send-error-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Please give us information about the error</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h4>Module: {{ moduleTitle }}</h4>
          <h4>Section: {{ sectionTitle }}</h4>
          <h4 ng-if="currentContent">Content: {{ contentTitle }}</h4>
        </div>
        <div class="form-group">
          <input ng-model="errorTitle" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control" placeholder="Enter message" ng-model="errorBody"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="$hide(); reportError(errorTitle, errorBody)">Send</button>
      </div>
    </div>
  </div>
</div>