<div class="modal modal-help" tabindex="-1" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" ng-click="$hide()">&times;</button>
		<h4 class="modal-title">Terms and Conditions</h4>
	  </div>
	  <div class="modal-body">
		<div class="form-group">
		  <textarea disabled="disabled" class="form-control">{{terms}}</textarea>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-info pull-left" ng-click="$hide(); declineTerms()">Decline</button>
		<button type="button" class="btn btn-info pull-right" ng-click="acceptTerms()">Accept</button>
	  </div>
	</div>
  </div>
</div>