<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="saveTopicForm" class="form-horizontal forum-form" ng-class="{'form-processing': saveTopicForm.$submitted}" ng-submit="saveTopic(saveTopicForm)">
        <div class="modal-header">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 ng-if="!topic.id" class="modal-title">New Topic</h4>
          <h4 ng-if="topic.id" class="modal-title">Edit Topic</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter subject" ng-model="topic.subject" autocomplete="off" ng-required="true">
            </div>
          </div>
          <div class="form-group" ng-if="forums">
            <label class="col-sm-2 control-label">In forum</label>
            <div class="col-sm-10">
              
              <ui-select ng-model="topic.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
                <ui-select-match placeholder="Select or search a forum in the list...">{{ $select.selected.title }} </ui-select-match>
                <ui-select-choices repeat="forum in forums | filter:$select.search">
                  <div ng-bind-html="forum.title | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            
            </div>
          </div>
          <div class="form-group" ng-if="!topic.id">
            <label class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" placeholder="Enter message" ng-model="topic.message" ng-required="true"></textarea>
            </div>
          </div>
          <div ng-if="checkRights('forums.editTopicState')" class="form-group">
            <label class="col-sm-2 control-label">Semester</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="topic.semester" ng-disabled="true">
            </div>
          </div>
          <!-- topic state -->
          <div ng-if="::checkRights('forums.editTopicState')">
            <div class="form-group">
              <label class="col-sm-2 control-label">Type</label>
              <div class="col-sm-3">
                <label class="btn-radio">
                  <input type="radio" name="topic-type" ng-model="topic.type" value="normal">
                  <span>Normal</span>
                </label>
              </div>
              <div class="col-sm-3">
                <label class="btn-radio">
                  <input type="radio" name="topic-type" ng-model="topic.type" value="sticky">
                  <span>Sticky</span>
                </label>
              </div>
              <div class="col-sm-3">
                <label class="btn-radio">
                  <input type="radio" name="topic-type" ng-model="topic.type" value="learn_path">
                  <span>Learning Path</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Locked</label>
              <div class="col-sm-10">
                <label class="btn-round slide-primary">
                  <input type="checkbox" ng-model="topic.locked">
                  <span></span>
                </label>
              </div>
            </div>
          </div>
          <div ng-if="topicUploader.queue.length > 0">
            <hr>
            <h5><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments {{ topicUploader.queue.length }}</h5>
            <ul class="list-unstyled row vertical-margin mail-attachments post-attachments">
              <li ng-repeat-start="item in topicUploader.queue" ng-class="{ 'text-danger' : item.isError }">
                <div class="row">
                  <div class="col-xs-5"><p class="bolder file-name">{{ item.file.name }}</p></div>
                  <div class="col-xs-5">
                    <div class="progress" ng-if="!item.isUploaded">
                      <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                        <span class="sr-only">{{ item.progress }}% Complete</span>
                      </div>
                    </div>
                    <p ng-if="item.isError">{{ item.msg }}</p>
                  </div>
                  <div class="col-xs-1">
                    <a href title="Remove" ng-click="removeFileId(item);item.cancel();" ng-if="item.isUploading"><span class="fa fa-remove"></span></a>
                    <a href title="Remove" ng-click="removeFileId(item);item.remove();" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a>
                  </div>
                </div>
              </li>
              <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
          <button ng-if="topic.id" type="button" class="btn btn-alt" ng-disabled="saveTopicForm.$submitted" ng-click="deleteTopic()" ng-confirm-click="Are you sure you want to delete this topic?">Delete</button>
          <label for="file" type="button"
                 class="btn btn-primary btn-upload icon-standalone"
                 ng-if="!topic.id">
            <i class="fa fa-upload"></i> <span>Attach Files</span>
            <input id="file" type="file" nv-file-select uploader="topicUploader" multiple />
          </label>
          <button type="submit" class="btn btn-success" ng-disabled="saveTopicForm.$submitted">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>