input[type="range"] {
  -webkit-appearance: none;


}
[slider], slider {
  width: 100%;
  height: 10px;
  position: relative;
  margin: 20px 0;

  .bar {
    background: @brand-success;
    height: inherit;
    border-radius: 200px;
  }
  .pointer {
    background: @brand-info;
    width: 20px;
    height: 20px;
    border-radius: 200px;
    top: -5px;
    cursor: move;
  }
  .bubble {
    top: 16px;
    // background: @blocked;
    // color: @info;
    border-radius: 20px;
    padding: 0px 8px;
    font-size: 10px;
    line-height: 18px;
  }
}