// placeholder for tags

ul.input-tags {
  width: 100%;
  border: 1px solid @input-border;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 2px;
  display: inline-block;
  border-radius: @border-radius-base;
  &:after {
    content: '';
    display: block;
    clear:both;
  }

  > li {
    float: left;
    background-color: @brand-primary;
    color: #fff;
    border-radius: 3px;
    padding: 0 25px 0 10px;
    margin: 2px;
    font-size: @font-size-h6;

    a.close {
      color: #fff;
      opacity: 0.6;
      margin-right: -25px;
      margin-left: 5px;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      height: inherit;
      display: inline-block;
      width: 25px;
      text-align: center;
      border-top-right-radius: @border-radius-base;
      border-bottom-right-radius: @border-radius-base;
      background-color: darken(@brand-primary, 10%);

      transition: all .1s ease-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  > li:not(:last-child) {
    line-height: 26px;

  }
  > li:last-child {
    padding: 0;
    background: none;
    input {
      border:none;
      margin:0;
      width: 100%;
      padding: 0;
      font-size: @font-size-base;
      color: @text-color;
      line-height: 26px;
      &:focus {
        box-shadow: none;
      }
    }
  }
}