// wywsiwyg editor

.ta-root {
  .wysiwyg {
    background: #fff;
    border: 1px solid @input-border;
    border-radius: 0 0 @border-radius-base @border-radius-base;
    padding: 5px;
    width: 100%;
    color: @text-color;
    font-size: 14px;
    height: 400px;
    overflow: auto;
    .ta-toolbar .btn-group .btn {
      font-size: 14px;
    }
  }
  .ta-toolbar {
    background: @input-border;
    border-bottom: none;
    border-radius: @border-radius-base @border-radius-base 0 0;

    .btn {
      background: transparent;
      border: none;
      width: 34px;
      height: 34px;
      font-size: 12px;
      &:hover {
        background: transparent;
      }
    }
  }
  &.full {
    position: fixed;
    top:0; left:0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    .ta-toolbar {
      padding: 10px;
      .btn-group {
        margin-bottom: 0;
      }
    }
    .wysiwyg {
      overflow: auto;
      height: inherit;
      border-top:1px solid @input-border;
      border-radius: 0;
    }
  }
}
// for editor 
body.freeze {
  overflow: hidden;
}
