.dashboard-todo {
  /* Todo Styles */
  
  /* Todo Header */
  &__header-title {
    margin:0;
    font-weight:bold;
  }

  /* Todo Body */
  &__body {
    width: 100%;
  }

  /* Todo Add-Task */
  &__add-task {
    width:100%;
    border-bottom:1px solid #ccc;
    position:relative;
    padding:10px;
    input[type="text"] {
      display:inline-block;
      background:none;
      border:none;
      width:100%;
      padding-right:33px;
    }
    input[type="text"]::placeholder {
      color: #ccc
    }
  }
  &__submit {
    position:absolute;
    right:10px;
    top:10px;
    display:inline-block;
    background:none;
    border:none;
    font-size:1.25em;
    font-weight:bold;
    color:#ccc;
  }
  &__submit:hover {
    cursor: pointer;
    color: @main-color;
  }

  /* Todo Task-List */
  &__task-list {
    width:100%;
    padding:10px 0;
    list-style:none;
    height:172px;
    overflow:auto;
    margin:0;
    > li {
      float:left;
      padding:5px 0;
      line-height:1.5em;
      width:100%;
    }
    > li:hover {
      background:#eee;
    }
  }
  &__leftControl {
    float:left;
    display: inline-block;
    width:18px;
    height:19px;
    padding-top:3px;
    margin:0 0 0 10px;
    position:relative;
    > .fa-square-o, .fa-check-square-o { position:absolute; left:0; top:3px; }
    > .fa-square-o:hover, .fa-check-square-o:hover { cursor: pointer; }
  }
  &__task {
    float:left;
    display: inline-block;
    width:~"calc(100% - 80px)";
    > input {
      padding:0 0 0 5px;
      border:none;
      background:none;
      width:100%;
      font-style: italic;
      box-shadow: inset 0 0 4px #dddddd;
    }
    > input:focus {
      box-shadow: inset 0 0 4px @main-color;
    }
  }
  &__task--completed {
    text-decoration:line-through;
  }
  &__rightControl {
    float:right;
    display:inline-block;
    width:37px;
    height:19px;
    margin:0 10px 0 0;
    position:relative;
    > .fa-pencil { position:absolute; left:0; top:3px; }
    > .fa-trash-o { position:absolute; right:0; top:3px; }
    > .fa-trash-o:hover, 
    > .fa-pencil:hover,
    > .fa-times:hover, 
    > .fa-check:hover, { cursor: pointer; }
  }

  &__empty-task-list {
    height:200px;
    p {
      margin:0 10px;
      line-height:200px;
      color:#bbb;
      text-align:center;
    }
  }

  /* Todo Footer */
  &__footer {

  }
}