// Loading Page

.page {
	background-image: url() !important;
	background-color: @main-color;
}

.loading {
  .slice1,
  .slice2 {
    background-color: @main-color;
    background-image: url() !important;
  }
  
  .logo .center img {
    width: 250px;
    height: auto;
  }
  
  &:before {
    background-color: @main-color;
  }
}