// IDI styles

body ,
h1, h2, h3, h4, h5, h6, 
span, ul, ol, p, s
.h1, .h2, .h3, .h4, .h5, .h6, 
.ui-notification > .message,
.ui-notification > h3 {
  font-family: @main-font;
}

a {
  color: @main-color;

  &:hover {
    color: @main-color-dark;
  }
}

.page.login {
  background-color: @main-color;
  position: absolute;
}

// overwrite btn-success
.btn-success,
.btn-info {
  .button-variant(#fff; @main-color; @main-color);
  box-shadow: inset 0 -2px 0 darken(@main-color, 10%);
  border: none;

  &.btn-flat {
    box-shadow: none;
  }

  &.dropdown-toggle {
    margin-left: 0 !important;
    border-left: 1px solid darken(@main-color, 10%);
  }
  
  &.icon-standalone i {
    background-color: darken(@main-color, 10%);
  }
}

.btn-primary {
  background-color: @main-color; 
  border-color: @main-color;
  box-shadow: inset 0 -2px 0 darken(@main-color, 10%);
}

.btn-primary.icon-standalone i {
  background-color: @main-color; 
  box-shadow: inset 0 -2px 0 darken(@main-color, 10%);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: @main-color-dark;
}


// Hamburger Menu
.navbar-default .navbar-toggle .icon-bar {
  background-color: @main-color;
}

// Page Heading
#page-heading .page-title {
  color: @main-color;
}

// Has Success TextBox
.has-success .form-control {
  border-color: #c9d7e0;
}

.has-success .form-control:focus,
.form-control:focus {
  border-color: @main-color;
  box-shadow: 0 0 4px 1px rgba(48, 127, 226, 0.6);
}

// Scrollbar
.ngscroll-scrollbar-container .ngscroll-scrollbar {
  background-color: @main-color-dark !important;
}

// round progress bar
.round-progress-wrapper svg path {
  stroke: @main-color !important;
}

// checkboxes
.btn-check {
  input[type="checkbox"] + span:after {
    border: 0 solid @main-color;
  }
  &:hover input[type="checkbox"]:not(:disabled) + span:before {
    box-shadow: 0 0 6px 0 @main-color;
    border-color: @main-color;
  }
}

// checkbox slide
.slide-default input[type="checkbox"]:checked + span:before {
  background-color: @main-color;
}

// Wizard
.form-wizard {
  .bar,
  .tabs li.active a:after,
  .tabs li.active button:after,
  &.admission-wizard .tabs li.active,
  &.studio-wizard .tabs li.active,
  &.admission-wizard .tabs li.active button + div > span,
  &.studio-wizard .tabs li.active button + div > span {
    background-color: @main-color;
  }
}

@media (min-width: 768px) {
  .form-wizard.studio-wizard .tabs li.active,
  .form-wizard.admission-wizard .tabs li.active {
    background-color: #ffffff;
  }
}

// dropdown menu
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  border-left-color: @main-color;
}

// Notification Buttons
.navbar {
  .navbar-link-primary {
    > [class^="icon-"],
    > [class*="icon-"] {
      background-color: @alt-color;
      
      &:before {
        color: darken(@alt-color, 10%);
      }
    }
    
    > small {
      background-color: darken(@alt-color, 10%);
    }
  }
  
  .navbar-link-success {
    > [class^="icon-"],
    > [class*="icon-"] {
      background-color: @main-color;
      
      &:before {
        color: darken(@main-color, 10%);
      }
    }
    
    > small {
      background-color: darken(@main-color, 10%);
    }
  }
  
  .navbar-link-info {
    > [class^="icon-"],
    > [class*="icon-"] {
      background-color: @main-color-light;
      
      &:before {
        color: darken(@main-color-light, 10%);
      }
    }
    
    > small {
      background-color: darken(@main-color-light, 10%);
    }
  }
}

// Success Notification
.ui-notification.success {
  background-color: @main-color;
}

// Social Icons
.social-icons > ul > li:hover > a {
  color: @main-color-dark;
}

nav[role="navigation"] .uk-timezone {
  color: @main-color;
}

// profile tabs
.profile-menu-collapse .nav-tabs > li.active, 
.profile-menu-collapse .nav-tabs > li.active > a, 
.profile-menu-collapse .nav-tabs > li.active > a:hover, 
.profile-menu-collapse .nav-tabs > li.active > a:focus {
  background-color: @main-color;
}

.nav-tabs.profile-tabs > li.active, 
.nav-tabs.profile-tabs > li.active > a, 
.nav-tabs.profile-tabs > li.active > a:hover, 
.nav-tabs.profile-tabs > li.active > a:focus,
.nav-tabs.profile-tabs > li > a:hover, 
.nav-tabs.profile-tabs > li > a:focus,
.breadcrumb > .active {
  color: @main-color;
}

.pagination {
  > .active > a,
  > li > a:hover {
    background-color: @main-color;
    border-color: lighten(@main-color, 10%);
  }
}

.pagination {
  > .active > a:hover {
    background-color: @main-color-dark;
  }
}

// mail
#mailbox .mail-list li:hover,
#mailbox .mail-list li.active {
  border-left-color: @main-color;
}

.mail-list li.unread {
  background-color: @main-color;

  &:hover {
    background-color: @main-color-dark;
  }
}

// panel
.panel-success > .panel-heading {
  background-color: @main-color;
}

blockquote {
  border-left: 5px solid #6294DC;
  background-color: #EDEAF8;
}

.learning_path__icon__wrapper {
  .learning_path__icon {
    span.icon-bar {
      background-color: @main-color;
    }
  }
  h5 {
    color: @main-color;
  }
}

.studio .badge {
  background-color: @main-color;
  color: #fff !important;
}

.studio-sections__icon__wrapper {
  .studio-sections__icon {
    span.icon-bar {
      background-color: @main-color;
    }
  }
  h5 {
    color: @main-color;
  }
}

.admissions_welcome {
  &__title {
    color: @main-color;
  }
  &__heading {
    color: @main-color;
  }
}

//srs

.srs_list {

  &__buttons {
    &__slide {
      input[type="checkbox"]:checked + span:before {
        background-color: @main-color;
      }
    }
  }
  .list-group-item.active {
    background-color: @main-color;
    border-color: darken(@main-color, 10%);
  }
}

