// Main Variables
@main-color:                rgb(1, 182, 237);
@alt-color:                 rgb(250, 175, 67);
@main-color-text:           white;
@alt-color-text:            black;

// Secondary Variables
@main-color-light:          rgb(192, 192, 226);
@main-color-dark:           rgb(28,67,146);
@icon-outline:              @main-color;
@icon-outline-hover:        @main-color-text;
@icon-outline-hover-bg:     @main-color; 

// Font Variables
@font-face {
  font-family: OpenSans; 
  src: url(/assets/font/SourceSansPro-Regular.ttf); 
 }

@main-font: OpenSans;