<div class="media-manager-body row">
  <nav>
    <ol class="breadcrumb">
      <li class="active">{{activeNode.name}}</li>
      <!--<li><a href="#">Library</a></li>-->
      <!--<li>Data</li>-->
    </ol>
  </nav>
  <section class="media-manager-active-node">
    <div ng-show="activeNode.type == 'folder'">
      <div class="pull-right media-manager-files">
        <label for="file" class="btn btn-success btn-upload icon-standalone" ng-if="fileUploaderLoaded">
          <i class="fa fa-upload"></i>
          <span>Upload file</span>
          <input type="file" id="file" nv-file-select uploader="uploader" multiple
                 accept=".bmp,.csv,.epg,.ico,.odg,.ods,.odp,.ppt,.pptx,.txt,.psd,.xcf,.xls,.xlsx,.jpg,.jpeg,.png,.gif,.doc,.pdf,.raw,.docx,.swf,.zip,.mp3,.mov,.mp4,.wmv,.pde,.ai,.ink,.pub,.eps,.tiff,.tif,.flv">
        </label>
        <button type="button" class="btn btn-flat btn-info" data-placement="center" bs-modal="modal" data-template="partials/modals/media.manager.folder.modal.html">
          <i class="icon-circle-plus"></i> Create Folder
        </button>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Size</th>
          <th>Changed</th>
          <th>Note</th>
          <th><input type="checkbox" ng-model="allChecked" ng-click="checkAllInput($event)" /></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="node in activeNode.nodes track by $index">
          <td class="media-manager--name">
            <i ng-class="node.type == 'folder' ? (collapsed ? 'icon-folder' : 'icon-folder2') : 'icon-sheet'" data-nodrag></i>
            <span ng-hide="node.edit"> {{node.name}}</span>
            <input type="text" ng-show="node.edit" ng-model="node.name" ng-blur="onBlur($event)">
            <i class="icon-edit pull-right edit-name"></i></td>
          <td>{{node.type}}</td>
          <td>{{node.size | bytes}}</td>
          <td>{{node.lastModifiedDate | date: 'short'}}</td>
          <td>
            <a ng-show="!node.note" class="media-manager-add">Add</a>
            <div ng-show="node.note">
              <a bs-tooltip="{ title: node.note }"
                 data-placement="top" class="media-manager-add">Note</a>
              <i class="icon-x"></i>
            </div>
          </td>
          <td><input type="checkbox" ng-model="node.checked"/></td>
        </tr>
        </tbody>
      </table>
      <footer class="panel-footer" ng-hide="!copied && (activeNode.nodes && activeNode.nodes.length == 0)">
        <div class="pull-right">
          <button type="button" class="btn btn-default btn-flat"
                  ng-show="copied"
                  ng-click="pasteSelected()">Paste</button>
          <button type="button" class="btn btn-default btn-flat"
                  ng-show="activeNode.nodes && activeNode.nodes.length > 0"
                  ng-click="copySelected()">Copy</button>
          <button type="button" class="btn btn-default btn-flat"
                  ng-show="activeNode.nodes && activeNode.nodes.length > 0"
                  ng-click="cutSelected()">Cut</button>
          <button type="button" class="btn btn-default btn-flat"
                  ng-show="activeNode.nodes && activeNode.nodes.length > 0"
                  ng-click="deleteSelected()">Delete</button>
        </div>
      </footer>
    </div>
    <div ng-show="activeNode.type != 'folder'">
      <span>
        {{activeNode.name}} {{activeNode.type}}
      </span>
    </div>
  </section>
</div>
<aside class="file-tree">
  <div ui-tree data-drag-enabled="false">
    <ol ui-tree-nodes ng-model="files">
      <li ng-repeat="node in files"
          ui-tree-node
          ng-include="'/partials/tpl/uitree.media.manager.html'"></li>
    </ol>
  </div>
</aside>

<script type="text/ng-template" id="breadcrumb-part">
  <li class="active">{{files[0].name}}</li>
  <li class="active">{{files[0].name}}</li>
</script>