<div class="item media-manager-item" ng-click="toggle(this)">

  <a href ui-tree-handle ng-if="false">
    <i class="fa fa-unsorted text-muted"></i>
  </a>
  <i ng-class="node.type === 'folder' ? (collapsed ? 'icon-folder' : 'icon-folder2') : 'icon-sheet'" data-nodrag></i>
  <span>{{node.name}}</span>

</div>
<ol ui-tree-nodes ng-model="node.nodes" ng-if="node.nodes" ng-hide="collapsed">
  <li ng-repeat="node in node.nodes track by $index" ui-tree-node ng-include="'/partials/tpl/uitree.media.manager.html'"></li>
</ol>