<form name="form" novalidate ng-submit="onSubmit()">
  <fieldset ng-disabled="frozen">
  <div class="idi-payments__cardForm">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h5>Card Details</h5>
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" name="name" class="form-control" required placeholder="Full name" ng-model="billing.name"
          ng-class="{'error': form.name.$invalid && form.$submitted}">
        </div>
        <div class="form-group">
          <label>Card Number</label>
          <input type="text" name="number" class="form-control" required placeholder="Card number" stripe-card-number ng-model="card.number"
          ng-class="{'error': form.number.$invalid && form.$submitted}">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Expiry Date</label>
              <div class="row idi-payments__expiry-boxes">
                <div class="col-xs-6">
                  <select class="form-control" name="expiryMonth" ng-model="card.expiryMonth" ng-options="m for m in [1,2,3,4,5,6,7,8,9,10,11,12]" stripe-card-expire stripe-card-year="card.expiryYear"
                  ng-class="{'error': form.expiryMonth.$invalid && form.$submitted}" ng-model-options="{allowInvalid: true}"></select>
                </div>
                <div class="col-xs-6">
                  <select class="form-control" name="expiryYear" ng-model="card.expiryYear" ng-options="y for y in yearRange" stripe-card-expire stripe-card-month="card.expiryMonth"
                  ng-class="{'error': form.expiryYear.$invalid && form.$submitted}" ng-model-options="{allowInvalid: true}"></select>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 idi-payments__cardSecurity">
              <label>Security Code (CVC/CVC2)</label>
              <input type="text" name="cvc" class="form-control" required ng-model="card.cvc" stripe-card-cvc
              ng-class="{'error': form.cvc.$invalid && form.$submitted}" ng-minlength="3" ng-maxlength="3">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h5>Billing Details</h5>
        <div class="form-group">
          <label>Address Line 1</label>
          <input type="text" name="address1" class="form-control" required placeholder="Address Line 1" ng-model="billing.address1"
          ng-class="{error: form.address1.$invalid && form.$submitted}">
        </div>
        <div class="form-group">
          <label>Address Line 2</label>
          <input type="text" name="address2" class="form-control" placeholder="Address Line 2" ng-model="billing.address2"
          ng-class="{error: form.address2.$invalid && form.$submitted}">
        </div>
        <div class="form-group">
          <label>City</label>
          <input type="text" name="city" class="form-control" required placeholder="City" ng-model="billing.city"
          ng-class="{error: form.city.$invalid && form.$submitted}">
        </div>
        <div class="form-group">
          <label>Country</label>
          <select class="form-control" required name="country" ng-model="billing.country" ng-init="billing.country = 'United Kingdom'"
          ng-class="{error: form.country.$invalid && form.$submitted}">
            <option value="{{ country }}" ng-repeat="country in countries track by $index">{{ country }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Postcode</label>
          <input type="text" name="postcode" class="form-control" required placeholder="Post Code" ng-model="billing.postcode"
          ng-class="{error: form.postcode.$invalid && form.$submitted}">
        </div>
      </div>
    </div>
    </fieldset>
    <div class="row idi-payments__cardControls">
      <button type="button" class="btn pull-left" ng-click="prevStep()">{{ cancelText }}</button>
      <input type="submit" class="btn pull-right" ng-disabled="addingCard && !newCustomer" value="{{ submitText }}" />
    </div>
  </div>
</form>