<li class="idi-message clearfix" ng-class="{'idi-message--deleted': message.deleted=='1'}">
  <!-- Message Header -->
  <div class="row idi-message__header" ng-class="{'idi-message__header--deleted': message.deleted=='1'}">
    <!-- Profile Image -->
    <div class="idi-message__profile-image pull-left" ng-if="message.user.profile_image">
      <div style="background: url({{ message.user.profile_image.url }}) no-repeat center center; background-size: cover;"></div>
    </div>
    <!-- Title & Info -->
    <div class="idi-message__title pull-left" ng-class="{'idi-message__title--deleted': message.deleted=='1'}">
      <div><h3>{{ ::message.user.first_name + ' ' + message.user.last_name }}</h3></div>
      <div class="idi-message__title--attachment" ng-if="message.hasAttachments">
        <span class="fa fa-paperclip fa-fw fa-lg"></span>
      </div>
      <div class="idi-message__title--date">{{ ::createdDate | date:'dd/MM/yyyy h:mm a' }}</div>
    </div>
    <!-- Message Controls -->
    <div class="pull-right idi-message__controls" ng-if="isEditable && message.deleted=='0'">
      <a ng-if="currentPermissions.indexOf('messages.messageOwn.delete') > -1" href title="Delete message" ng-click="deleteMessage()" ng-confirm-click="Are you sure you want to delete this message?">
        <span class="idi-message__controls--delete icon-trash text-muted"></span>
      </a>
      <a ng-if="currentPermissions.indexOf('messages.messageOwn.edit') > -1" href title="Edit message" ng-click="message.isEdit = !message.isEdit">
        <span class="idi-message__controls--edit icon-edit text-muted"></span>
      </a>
    </div>
  </div>
  <div ng-show="!message.isEdit">
    <!-- Message text -->
    <div class="row">
      <div class="idi-message__text" ng-bind-html="message.text"></div>
    </div>
    <!-- Tagged Message -->
    <div class="row" ng-if="!message.isUploadNotification && message.attached_to_file_id">
      <div class="idi-message__tagged">
        <div ng-if="message.attached_to_file_id">
          <a ng-if="!message.attached_to_file_data.isImage" ng-click="onAttachmentClick({file: message.attached_to_file_data})" href title="{{ message.attached_to_file_data.title }}">
            <ui-file-thumbnail class="idi-message__tagged--thumbnail-not-image" item="message.attached_to_file_data"></ui-file-thumbnail>
          </a>
          <a ng-if="message.attached_to_file_data.isImage" ng-click="onAttachmentClick({file: message.attached_to_file_data})" href title="{{ message.attached_to_file_data.title }}">
            <ui-file-thumbnail class="idi-message__tagged--thumbnail" item="message.attached_to_file_data"></ui-file-thumbnail>
          </a>
          <span class="idi-message__tagged--filename" ng-click="">Tagged a message to file: {{ ::message.attached_to_file_data.title}} in Activity {{message.activityName}}</span>
        </div>
      </div>
    </div>

    <!-- Message Attachments -->
    <div class="row" ng-if="message.MessageAttachments.length">
      <h6 ng-if="message.MessageAttachments.length == 1">1 Attachmnent</h6>
      <h6 ng-if="message.MessageAttachments.length != 1 ">{{message.MessageAttachments.length}} Attachments</h6>
      <ul class="idi-message__attachments">
        <li ng-repeat="attachment in message.MessageAttachments">
          <!-- is not image -->
          <a ng-if="!attachment.file.isImage" href
            ng-href="{{ attachment.file.url }}"
            ng-click="onAttachmentClick({file: attachment.file})"
            target="_blank">
            <ui-file-thumbnail item="attachment.file" class="idi-message__attachments--thumbnail-not-image"></ui-file-thumbnail>
            <span class="idi-message__attachments--filename">{{ ::attachment.file.name }}</span>
          </a>

          <!-- is image -->
          <a ng-if="attachment.file.isImage" href
            title="{{ attachment.file.url }}"
            ng-click="onAttachmentClick({file: attachment.file})">
            <ui-file-thumbnail item="attachment.file" class="idi-message__attachments--thumbnail"></ui-file-thumbnail>
            <span class="idi-message__attachments--filename">{{ ::attachment.file.name }}</span>
          </a>

          <a title="Delete Attachment" class="idi-message__attachments--delete" href
            ng-if="message.deleted==0"
            ng-click="removeAttachment(attachment)"
            ng-confirm-click="Are you sure you want to delete this attachment?">
              <span class="idi-message__controls--delete icon-trash text-muted"></span>
          </a>
        </li>
      </ul>
    </div>


  </div>
  <!-- Edit Message -->
  <div class="idi-message__edit" ng-show="message.isEdit">
    <edit-reply-form ng-if="isEditable" message="message" files="message.MessageAttachments"></edit-reply-form>
  </div>
</li>