<div class="carousel-inner" ng-transclude></div>
<a role="button" href class="left carousel-control" ng-click="prev()" ng-class="{ disabled: isPrevDisabled() }" ng-show="slides.length > 1">
  <i class="prev-control fa fa-chevron-left" aria-hidden="true"></i>
  <span class="sr-only">previous</span>
</a>
<a role="button" href class="right carousel-control" ng-click="next()" ng-class="{ disabled: isNextDisabled() }" ng-show="slides.length > 1">
  <i class="next-control fa fa-chevron-right" aria-hidden="true"></i>
  <span class="sr-only">next</span>
</a>
<ol class="carousel-indicators" ng-show="slides.length > 1">
  <li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
    <span class="sr-only">slide {{ $index + 1 }} of {{ slides.length }}<span ng-if="isActive(slide)">, currently active</span></span>
  </li>
</ol>