// Login page

.page.login {
  .container {
    margin: 25px auto;
  }
  
  h1 img {
    width: 100%;
    max-width: 176px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .panel-heading h3 {
    text-align: left;
    padding-left: 4px;
    color: @main-color;
  }
}