// Sidebar Styles

aside[role="navigation"],
aside[role="navigation"] nav.side-bar,
aside[role="navigation"] .brand {
  background-color: @main-color;
}

aside[role="navigation"] .brand .large {
  padding: 25px 0;
  max-width: 40%;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 57%;
  }
}

aside[role="navigation"] nav.side-bar { 
  .badge {
    background-color: @alt-color;
  }
  
  ul.nav-menu {
    > li {      
      > a {
        &:before {
          color: #fff;
        }
      }
      
      ul {
        background-color: #fff;
        box-shadow: none;        
        
        > li:not(.title) {
          > a, div.scope-title {
            color: #555;
            
            &.active,
            &:hover {
              color: @main-color;
            }
          }
        }
      }
    }
    
    > li:hover,
    > li.active {
      > a {
        background-color: @main-color-dark;
        border-left: 2px solid @main-color-light;
        
        &:before {
          color: @main-color-light;
        }
      }
    }
  }
}

// Toggle Sidebar
body.contract aside[role="navigation"] nav.side-bar ul.nav-menu {
  > li {
    > a:before {
      color: #fff;
    }
    
    > a:hover:before {
      color: @main-color-light;
    }
    
    > a + ul > li.title {
      background-color: @main-color-dark;
    }
    
    &:hover > ul {
      border-right: 1px solid @main-color-dark;
      border-bottom: 1px solid @main-color-dark;
    }
  }
}

.icon-cloud-upload--blue {
  color: @main-color;
}