// Main Variables
@main-color:                #307fe2;
@alt-color:                 #ff8200;
@main-color-text:           white;
@alt-color-text:            black;

// Secondary Variables
@main-color-light:          #a7c6ed;
@main-color-dark:           #001e60;
@icon-outline:              @main-color;
@icon-outline-hover:        @main-color-text;
@icon-outline-hover-bg:     @main-color;