@payments-green: #C5E3BF;

.idi-payments {
  &__card {
    padding:10px;
    background-color: @payments-green;
    border:1px solid #ccc;
    border-radius:5px;
    position: relative;
  }
  
  &__card:hover {
    border:1px solid darken(@payments-green, 30%);
  }
  
  &__cardLogo {
    float: left;
    width: 64px;
    height: 40px;
    &--visa { background:url(/assets/img/cards/visa.png); }
    &--mastercard { background:url(/assets/img/cards/mastercard.png); }
    &--maestro { background:url(/assets/img/cards/maestro.png); }
    &--amex { background:url(/assets/img/cards/americanexpress.png); }
  }
  
  &__cardInfo {
    float:left;
    p:nth-child(2) {
      font-weight:bold;
    }
  }
  
  &__cardExpiry {
    float:right;
    p {
      padding:0;
    }
  }
}