.idi-payments {
  &__summaryTable {
    width:100%;
    text-align: center;
    border:1px solid #ddd;
    th {
      background: @main-color;
      text-align: center;
      font-size:1.375em;
      color: white;
      font-weight: normal;
    }
    tbody {
      tr:nth-child(1) td b:hover {
        cursor:pointer;
      }
      tr.installment:nth-child(even) { background: lighten(@main-color, 40%); }
      tr.installment:nth-child(odd) { background: lighten(@main-color, 45%); }
      td {
        padding:5px 0;
      }
    }
  }
  &__summaryTableTotal {
    font-weight: bold;
    border-top:2px solid @main-color;
  }
}