<div class="modal upload-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Transaction Id: {{transactions.transaction.id}}</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="add-new-form">
          <div class="form-group">
            <label for="title">Student:</label>
            <input type="text" name="title" class="form-control" value="{{transactions.transaction.profile.first_name}} {{transactions.transaction.profile.last_name}}" disabled>
          </div>

          <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" name="amount" class="form-control" ng-model="transactions.transaction.amount" disabled>
          </div>

          <div class="form-group">
            <label for="date">Date:</label>
            <input type="text" name="date" class="form-control" value="{{transactions.transaction.date}}" disabled>
          </div>

          <div class="form-group">
            <label for="enabled">Status:</label>
            <select class="form-control" name="enabled" ng-model="transactions.transaction.status" required="">
              <option value="SUCCESS" ng-selected="transactions.transaction.status == 'SUCCESS'">SUCCESS</option>
              <option value="FAILED" ng-selected="transactions.transaction.status == 'FAILED'">FAILED</option>
              <option value="PENDING" ng-selected="transactions.transaction.status == 'PENDING'">PENDING</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="note">Note:</label>
            <textarea class="form-control" rows="5" id="note" ng-model="transactions.transaction.note"></textarea>
          </div>

          <div class="form-group">
            <button ng-click="transactions.addNew()">Submit</button>
          </div>
       </form>
      </div>
    </div>
  </div>
</div>