<section class="manager-theme courses-manager">
  <div class="container-fluid">
    <div class="icons col-sm-2">
        <a href="" ng-click="transactions.export()"><i class="fa fa-file"></i><span>Export</span></a>
    </div>
    <div class="col-sm-10 courses">
      <h3 class="page-title">Transactions</h3>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="transactions.allSelected" ng-click="transactions.toggleAll()" />
          <span ng-show="transactions.allSelected" >All Selected</span>
          <span ng-hide="transactions.allSelected" >Select All</span>
        </label>
      </div>

      <input type="text" class="form-control" placeholder="Search" ng-model="transactions.filter.name" ng-keypress="transactions.filterByKeyword($event)">
      
      <table ng-table="transactions.transactionsTable" class="table table-hover">
        <tr ng-repeat="transaction in (transactions.filteredItems = ($data))">
          <td data-title="'Id'" sortable="'id'">{{transaction.id}}</td>
          <td data-title="'Name'" class="colored-text" ng-click="transactions.update(transaction.id)">{{transaction.profile.first_name}} {{transaction.profile.last_name}}</td>
          <td data-title="'Amount'" sortable="'amount'">{{transaction.currency.symbol}}{{transaction.amount}}</td>
          <td data-title="'Status'" sortable="'status'" ng-class="{ 'text-success': transaction.status === 'SUCCESS', 'text-danger': transaction.status === 'FAILED', 'text-warning': transaction.status === 'PENDING' }">
            <a href="" ng-click="transactions.retakePayment(transaction)" ng-show="transaction.status === 'FAILED'"><strong>{{transaction.status}}</strong><br /><i ng-show="transaction.status === 'FAILED'" class="fa fa-credit-card" aria-hidden="true"></i></a>
            <span ng-hide="transaction.status === 'FAILED'"><strong>{{transaction.status}}</strong><br /><i ng-show="transaction.status === 'FAILED'" class="fa fa-credit-card" aria-hidden="true"></i></span>
          </td>
          <td data-title="'Transaction'" sortable="'note'">{{transaction.transaction_code}}<br/><smal>{{transaction.note}}</smal></td>
          <td data-title="'Date'" sortable="'date'">{{transaction.date}}</td>
          <td><input type="checkbox" ng-model="transaction.checked" ng-click="transactions.cbChecked()"></td>
        </tr>
      </table>

    </div>
  </div>
</div>