<div id="page-heading">
  <h3 class="page-title">Users</h3>
</div>
<section>
  <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <article class="panel panel-default">
      <section class="panel-body">
        <div class="row" role="form">
          <div class="col-xs-12 col-sm-5 col-md-4 form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="filter.name" ng-keypress="filterByKeyword($event)">
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8 form-group btn-option-right">
            <button class="btn btn-info" ng-click="addUser($event)">Add User</button>            
            <button ng-if="!isBlockView" class="btn btn-info" ng-click="viewBlockedUsers(true)">View blocked users</button>            
            <button ng-if="isBlockView" class="btn btn-info" ng-click="viewBlockedUsers(false)">View active users</button>            
          </div>
        </div>
        <table ng-table="usersTable" class="table table-hover">
          <tr ng-repeat="user in $data">
            <td data-title="'Id'" sortable="'id'">{{ user.id }}</td>
            <td data-title="'Name'" sortable="'name'">{{ user.name }}</td>
            <td data-title="'Username'" sortable="'username'">{{ user.username }}</td>
            <td data-title="'Groups'">
              <ol ng-hide="user.editing == true">
                <li ng-repeat="group in user.groups">{{group.name}}</li>
              </ol>
            </td>
            <td data-title="'Permissions'">
              {{user.permissions.length}}
            </td>
            <td data-title="'Options'">
              <div class="btn-group">
                <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu">
                  <li role="presentation" class="dropdown-header">Actions</li>
                  <li ng-if="checkRights('profiles.user.editPermission')"><a href ng-click="editUserPermissions($event)">Edit Permissions</a></li>
                  <li><a href ui-sref="app.admin.profile.edit({ id: user.id })">Edit User Profile</a></li>
                  <li ng-if="false" ng-show="currentPermissions.indexOf('auth.user.delete') > -1 || currentPermissions.indexOf('admin') > -1"><a href ng-click="deleteUser($event)">Delete User</a></li>
                  <li ng-if="checkRights('profiles.user.editPermission') && user.deleted == '0'"><a href ng-click="blockUsers($event)">Block</a></li>
                  <li ng-if="checkRights('profiles.user.editPermission') && user.deleted == '1'"><a href ng-click="blockUsers($event)">Unblock</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </table>
      </section>
    </article>
  </div>

</section>