<section class="manager-theme plans-manager">
  <div class="container-fluid">
    <div class="icons col-sm-2">
        <a href="" ng-click="discounts.initNewDiscount()"><i class="fa fa-file"></i><span>New</span></a>
        <a href="" ng-click="discounts.delete()"><i class="fa fa-trash"></i><span>Delete</span></a>
        <a href="" ng-click="discounts.archive()"><i class="fa fa-archive"></i><span>Archive</span></a>
    </div>
    <div class="col-sm-10 courses">
      <h3 class="page-title">Discounts</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="discounts.allSelected" ng-click="discounts.toggleAll()" />
          <span ng-show="discounts.allSelected" >All Selected</span>
          <span ng-hide="discounts.allSelected" >Select All</span>
        </label>
      </div>    

      <input type="text" class="form-control" placeholder="Search" ng-model="discounts.filter.name" ng-keypress="discounts.filterByKeyword($event)">
      
      <table ng-table="discounts.discountsTable" class="table table-hover">
        <tr ng-repeat="discount in discounts.discounts">
          <td data-title="'#'">{{$index}}</td>
          <td data-title="'Code'" sortable="'code'" class="colored-text"><span ng-click="discounts.update(discount.code)">{{discount.code}}</span></td>
          <td data-title="'Discount'" sortable="'amount'">{{discount.amount}}</td>
          <td data-title="'Valid until'" sortable="'valid_until'">{{discount.valid_until}}</td>
          <td data-title="'Note'" sortable="'note'">{{discount.note}}</td>
          <td data-title="'Status'" sortable="'enabled'"><span ng-show="discount.enabled">Active</span><span ng-hide="discount.enabled">Disabled</span></td>
          <td data-title="'Plans'">{{discount.plans.length | number}}</td>
          <td><input type="checkbox" ng-model="discount.checked" ng-click="discounts.cbChecked()"></td>
        </tr>
      </table>

    </div>
  </div>
</div>