<div class="modal upload-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 ng-show="discounts.method==='save'">Add new discount</h3>
        <h3 ng-show="discounts.method==='update'">Update discount</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="add-new-form">
          <div class="form-group">
            <label for="code">Discount Code:</label>
            <input type="text" name="code" class="form-control" ng-model="discounts.newDiscount.code" required>
          </div>
          
          <div class="form-group">
            <label for="discount_type">Discount Type:</label>
            <select class="form-control" name="discount_type" ng-model="discounts.newDiscount.type" required="">
              <option value="value">Fixed Value</option>
              <option value="percent">Percent</option>
            </select>
          </div>

          <div class="form-group">
            <label for="discount">Discount:</label>
            <input type="number" name="discount_amount" class="form-control" ng-model="discounts.newDiscount.amount">
          </div>

          
          <div class="form-group">
            <label for="valid_until">Valid Until:</label>
            <input type="text" class="form-control" placeholder="Valid Until" ng-model="discounts.newDiscount.valid_until" bs-datepicker="" data-max-date="" data-date-format="d/M/y" ng-change="discounts.formatDate()">
          </div>

          <div class="form-group">
            <label for="note">Note:</label>
            <textarea class="form-control" rows="5" id="note" ng-model="discounts.newDiscount.note"></textarea>
          </div>

          <div class="form-group">
            <label for="note">For all plans:</label>
            <input type="checkbox" name="for_all_plans" class="form-control" ng-model="discounts.newDiscount.for_all_plans">
          </div>

          <div class="form-group">
            <label for="plans">Plans:</label>
            <ui-select multiple ng-disabled="discounts.newDiscount.for_all_plans" ng-model="discounts.selectedPlans" theme="bootstrap" close-on-select="false" title="Choose a plan">
              <ui-select-match placeholder="Select a plan...">{{$item.title}}</ui-select-match>
              <ui-select-choices repeat="plan.id as plan in discounts.plans | filter:$select.search">
                {{plan.title}}
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" name="status" ng-model="discounts.newDiscount.enabled" required="">
              <option value="true" ng-selected="discounts.newDiscount.enabled == true">Enabled</option>
              <option value="false" ng-selected="discounts.newDiscount.enabled == false">Disabled</option>
            </select>
          </div>

          <div class="form-group">
            <button ng-disabled="!discounts.newDiscount.code && discounts.newDiscount.type && discounts.newDiscount.amount && discounts.newDiscount.enabled" class="btn btn-success" ng-click="discounts.addNew()">Submit</button>
          </div>
       </form>
      </div>
    </div>
  </div>
</div>