<section ui-form-wizard viewing-mode="true" index="manager.index" class="module manager">
  <div class="form-group">
    <div class="module__header">
      <div class="module__title">
        <h3 class="clickable">Manager</h3>
      </div>
      <div class="form-wizard studio-wizard">
        <ul class="tabs">
          <li><a class="module__nav-link" ng-click="manager.index = 0" ui-sref=".customers">Customers</a></li>
          <li><a class="module__nav-link" ng-click="manager.index = 1" ui-sref=".transactions">Transactions</a></li>
          <li><a class="module__nav-link" ng-click="manager.index = 2" ui-sref=".plans">Plans</a></li>
          <li><a class="module__nav-link" ng-click="manager.index = 3" ui-sref=".courses">Courses</a></li>
          <li><a class="module__nav-link" ng-click="manager.index = 4" ui-sref=".currencies">Currencies</a></li>
          <li><a class="module__nav-link" ng-click="manager.index = 5" ui-sref=".discounts">Discounts</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div ui-view=""></div>
</section>