<div class="modal upload-modal plans-modal customers-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 950px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Edit</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="formNewCard">
          <div class="container-fluid">
          <div class="col-sm-6">           

            <div class="form-group">
              <label for="name">Name on the card:</label>
              <input type="text" class="form-control" name="name" ng-model="customers.newCard.name">
            </div>

            <div class="form-group">
              <label for="card_number">Card number:</label>
              <input type="text" class="form-control" name="card_number" ng-model="customers.newCard.number" stripe-card-number required="" />
              <span class="text-danger" ng-show="formNewCard.card_number.$error.stripeCardNumber">Number isn't correct</span>
            </div>

            <div class="form-group">
              <label for="security_code">Security code:</label>
              <input type="number" class="form-control" name="security_code" ng-model="customers.newCard.cvc" stripe-card-cvc required="">
              <span class="text-danger" ng-show="formNewCard.security_code.$dirty && formNewCard.security_code.$error.stripeCardCvc">CVC isn't correct</span>
            </div>

            <div class="form-group">
              <label for="expiry_month">Expiry month:</label>
              <input type="number" min="1" max="12" class="form-control" name="expiry_month" ng-model="customers.newCard.exp_month" stripe-card-expire stripe-card-year="customers.newCard.exp_year" ng-class="{'error': formNewCard.expiry_month.$invalid && formNewCard.expiry_month.$dirty}" ng-model-options="{allowInvalid: true}" required="">
            </div>

            <div class="form-group">
              <label for="expiry_year">Expiry year:</label>
              <input type="number" min="2016" max="9016" class="form-control" name="expiry_year" ng-model="customers.newCard.exp_year" stripe-card-expire stripe-card-month="customers.newCard.exp_month" ng-class="{'error': formNewCard.expiry_year.$invalid && formNewCard.expiry_month.$dirty}" ng-model-options="{allowInvalid: true}" required="">
            </div>

            <div class="form-group">
              <input class="btn btn-warning btn-lg" type="submit" name="submit" value="Save" ng-disabled="formNewCard.$invalid || formNewCard.$pristine || customers.loading" ng-click="customers.addNewCard()">
            </div>

          </div>

          <div class="col-sm-6">
            
            <div class="form-group">
              <label for="address_line_1">Address line 1:</label>
              <input type="text" class="form-control" name="address_line_1" ng-model="customers.newCard.address_line1">
            </div>

            <div class="form-group">
              <label for="address_line_2">Address line 2:</label>
              <input type="text" class="form-control" name="address_line_2" ng-model="customers.newCard.address_line2">
            </div>

            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" class="form-control" name="city" ng-model="customers.newCard.address_city">
            </div>

            <div class="form-group">
              <label for="state">State:</label>
              <input type="text" class="form-control" name="state" ng-model="customers.newCard.address_state">
            </div>

            <div class="form-group">
              <label for="post_code">Post Code (Zip):</label>
              <input type="text" class="form-control" name="post_code" ng-model="customers.newCard.address_zip" required="">
            </div>

            <div class="form-group">
              <label for="country">Country:</label>
              <input type="text" class="form-control" name="country" ng-model="customers.newCard.address_country">
            </div>
            
          </div>
        </div>

       </form>
      </div>
    </div>
  </div>
</div>