<div class="modal upload-modal plans-modal customers-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 950px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Edit</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="new-plan-form">
          <div class="container-fluid">
          <div class="col-sm-6">

            <div class="form-group">
              <label for="enabled">Status:</label>
              <select class="form-control" name="enabled" ng-model="customers.customer.frozen" required="">
                <option value="false" ng-selected="customers.customer.frozen == false">Active</option>
                <option value="true" ng-selected="customers.customer.frozen == true">Disabled</option>
              </select>
            </div>

            <div class="form-group">
              <label for="note">Note:</label>
              <textarea class="form-control" rows="5" name="note" ng-model="customers.customer.note"></textarea>
            </div>

            <div class="form-group">
              <div ng-repeat="card in customers.cards" class="card-container">
                <idi-payment-card card="card" ng-class="{'default': customers.defaultCard==card.id}"></idi-payment-card>
                <div class="card-actions">
                  <a href="" class="card-action-link" ng-click="customers.showAddNewCardModal()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a href="" ng-hide="customers.defaultCard==card.id" class="card-action-link" ng-click="customers.makeCardDefault(card, customers.customer.user_id)"><i class="fa fa-star" aria-hidden="true"></i></a>
                  <a href="" ng-hide="customers.defaultCard==card.id" class="card-action-link" ng-click="customers.removeCard(card, customers.customer.user_id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <div class="form-group clearfix">
              <a href="" ng-show="customers.customer.user_id" ng-click="customers.showAddNewCardModal(customers.customer.user_id)" class="btn btn-primary btn-md pull-right">Add new Card</a>
            </div>

            <div class="form-group clearfix">
              <input class="btn btn-warning btn-lg" type="submit" name="submit" value="Save" ng-disabled="!customers.totalAmount" ng-click="customers.addNew()">
            </div>

          </div>

          <div class="col-sm-6">
            
            <div class="form-group clearfix">
              <div class="col-sm-6 padding-right">
                <div class="form-group">
                  <span class="installments-total">Customer Installments <strong>( {{customers.customer.installments.length | number}} )</strong></span>
                  <span class="installments-amount">Total amount <strong>{{customers.totalAmount | number:2}}</strong></span>
                </div>
              </div>
              
              <div class="col-sm-6 padding-center">
                <div class="form-group">
                  <button class="btn btn-primary btn-lg pull-right" ng-click="customers.addInstallment();">Add Installment</button>
                </div>
              </div>
            </div>

            <div class="form-group installments">
              <div ng-repeat="installment in customers.customer.installments">  
                <div class="col-sm-12 title"><span ng-hide="$first">Installment {{$index+1}}</span><span ng-show="$first">Deposit/First payment</span></div>
                <div class="row installments-container">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="number" min="1" name="installment_amount" class="form-control" ng-model="installment.amount" ng-change="customers.calculateTotal()" to-integer ng-disabled="installment.transaction" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Installment Date" ng-model="installment.date" bs-datepicker="" data-max-date="" data-date-format="d/M/y" to-date ng-disabled="installment.transaction" required="">
                    </div>
                  </div>

                  <div ng-show="installment.transaction != null" class="col-sm-12">
                    <div class="transaction-detail"><span>Transaction <span class="transaction-code">{{installment.transaction.transaction_code}}</span> - <span class="transaction-status" ng-class="{ 'text-success': installment.transaction.status === 'SUCCESS', 'text-danger': installment.transaction.status === 'FAILED', 'text-warning': installment.transaction.status === 'PENDING' }">{{installment.transaction.status}}</span> - <span class="transaction-date">{{installment.transaction.date}}</span></span></div>
                  </div>

                  <div class="installment-actions">
                    <a href="" ng-show="installment.id && installment.transaction.status !== 'SUCCESS'" class="card-action-link" ng-click="customers.chargeInstallment(installment)"><i class="fa fa-credit-card" aria-hidden="true"></i></a>
                    <a href="" ng-hide="installment.transaction.status === 'SUCCESS'" class="card-action-link" ng-click="customers.removeInstallment(installment)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

       </form>
      </div>
    </div>
  </div>
</div>