<section class="manager-theme plans-manager">
  <div class="container-fluid">
    <div class="icons col-sm-2">
        <a href="" ng-click="customers.initNewCustomer()"><i class="fa fa-file"></i><span>New</span></a>
        <a href="" ng-click="customers.newPayment()"><i class="fa fa-phone"></i><span>One off payment</span></a>
        <a href="" ng-click="customers.archive()"><i class="fa fa-archive"></i><span>Archive</span></a>
        <a href="" ng-click="customers.export()"><i class="fa fa-file-o"></i><span>Export</span></a>
    </div>
    <div class="col-sm-10 courses">
      <h3 class="page-title">Customers</h3>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="customers.allSelected" ng-click="customers.toggleAll()" />
          <span ng-show="customers.allSelected" >All Selected</span>
          <span ng-hide="customers.allSelected" >Select All</span>
        </label>
      </div>    

      <input type="text" class="form-control" placeholder="Search" ng-model="customers.filter.name" ng-keypress="customers.filterByKeyword($event)">
      
      <table ng-table="customers.customersTable" class="table table-hover">
        <tr ng-repeat="customer in (transactions.filteredItems = ($data))">
          <td data-title="'Id'" sortable="'id'">{{customer.id}}</td>
          <td class="colored-text" data-title="'Title'" sortable="'title'"><span ng-click="customers.update(customer.id)">{{customer.title}}</span></td>
          <td data-title="'Installments'">{{customer.installments.length | number}}</td>
          <td data-title="'Study Status'"></td>
          <td data-title="'Created At'" sortable="'created_at'">{{customer.created_at}}</td>
          <td data-title="'Note'" sortable="'note'">{{customer.note}}</td>
          <td data-title="'Status'" sortable="'frozen'"><span ng-show="customer.frozen">Disabled</span><span ng-hide="customer.frozen">Active</span></td>
          <td data-title="''"><input type="checkbox" ng-model="customer.checked" ng-click="customers.cbChecked()"></td>
        </tr>
      </table>
      

    </div>
  </div>
</div>