<div class="modal upload-modal plans-modal customers-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 950px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>One off payment</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="formPayment">
          <div class="container-fluid">
          <div class="col-sm-6">
            
            <div class="form-group">
              <label for="plans">Select Student:</label>
              <ui-select ng-model="customers.payment.user_id" on-select="customers.getCutomerCards(customers.payment.user_id)" theme="bootstrap" title="Select student" required>
                <ui-select-match placeholder="Select student in the list or search his name/username/email...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices refresh="customers.loadUsers($select.search)" refresh-delay="1000" repeat="user.id as user in customers.users | filter:$select.search">
                  <div ng-bind-html="user.name | highlight: $select.search"></div>
                  <small>
                    email: {{user.email}}
                    username: <span ng-bind-html="''+user.username | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="form-group">
              <label for="note">Note:</label>
              <textarea class="form-control" rows="5" name="note" ng-model="customers.payment.note"></textarea>
            </div>

            <div class="form-group">
              <div ng-repeat="card in customers.cards" class="card-container">
                <idi-payment-card card="card" ng-class="{'default': customers.defaultCard==card.id}"></idi-payment-card>
                <div class="card-actions">
                  <a href="" class="card-action-link" ng-click="customers.showAddNewCardModal()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a href="" ng-hide="customers.defaultCard==card.id" class="card-action-link" ng-click="customers.makeCardDefault(card, customers.payment.user_id)"><i class="fa fa-star" aria-hidden="true"></i></a>
                  <a href="" ng-hide="customers.defaultCard==card.id" class="card-action-link" ng-click="customers.removeCard(card, customers.payment.user_id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <div class="form-group clearfix">
              <a href="" ng-show="customers.payment.user_id" ng-click="customers.showAddNewCardModal(customers.payment.user_id)" class="btn btn-primary btn-md pull-right">Add new Card</a>
            </div>

            <div class="form-group clearfix">
              <input class="btn btn-warning btn-lg" type="submit" name="submit" value="Save" ng-disabled="" ng-disabled="formPayment.$invalid || formPayment.$pristine || customers.loading" ng-click="customers.submitPayment()">
            </div>

          </div>

          <div class="col-sm-6">
            
            <div class="form-group">
              <label for="currency_code">Currency code:</label>
              <select class="form-control" name="course" ng-model="customers.payment.currency" required  ng-options="c.code as c.name for c in customers.currencies" required="">
              </select>
            </div>

            <div class="form-group">
              <label for="amount">Amount:</label>
              <input type="number" min="0" name="amount" class="form-control" ng-model="customers.payment.installment.amount" required>
            </div>

            
          </div>
        </div>

       </form>
      </div>
    </div>
  </div>
</div>