<div class="modal upload-modal plans-modal customers-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 950px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Assign student to a plan</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="formPlan">
          <div class="container-fluid">
          <div class="col-sm-6">

            <div class="form-group">
              <label for="plans">Select Student:</label>
              <ui-select ng-model="customers.plan.user_id" on-select="customers.getCutomerCards(customers.plan.user_id)" theme="bootstrap" title="Select student" required>
                <ui-select-match placeholder="Select student in the list or search his name/username/email...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices refresh="customers.loadUsers($select.search)" refresh-delay="1000" repeat="user.id as user in customers.users | filter:$select.search">
                  <div ng-bind-html="user.name | highlight: $select.search"></div>
                  <small>
                    email: {{user.email}}
                    username: <span ng-bind-html="''+user.username | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="form-group">
              <label for="plans">Select Course:</label>
              <ui-select ng-model="customers.plan.course_id" on-select="customers.loadPlans(customers.plan.course_id)" theme="bootstrap" title="Select Course" required>
                <ui-select-match placeholder="Select course">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices refresh="customers.loadCourses($select.search)" refresh-delay="1000" repeat="course.id as course in customers.courses | filter:$select.search">
                  <div ng-bind-html="course.title | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="form-group">
              <label for="plans">Select Currency:</label>
              <ui-select ng-model="customers.plan.currency_code" ng-disabled="!customers.plan.course_id" on-select="customers.sortPlans(customers.plan.currency_code)" theme="bootstrap" title="Select currency" required>
                <ui-select-match placeholder="Select currency">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="currency in customers.sortedCurrencies | filter:$select.search">
                  <div ng-bind-html="currency | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="form-group">
              <label for="plans">Select Plan:</label>
              <ui-select ng-model="customers.plan.plan_id" ng-disabled="!customers.plan.currency_code" on-select="customers.loadInstallment()" theme="bootstrap" title="Select plan" required>
                <ui-select-match placeholder="Select plan">{{$select.selected.title}} {{$select.selected.currency.code}}</ui-select-match>
                <ui-select-choices repeat="plan.id as plan in customers.sortedPlans | filter:$select.search">
                  <div ng-bind-html="plan.title | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="form-group">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">Settings</legend>
                <div class="control-group">
                  <label for="start_date">Payment Date:</label>
                  <input type="text" class="form-control" placeholder="Payment Date" ng-change="customers.loadInstallment()" ng-model="customers.plan.start_date" bs-datepicker="" data-max-date="" data-date-format="d/M/y">
                </div>

                <div class="control-group">
                  <label for="start_date">Discount Code:</label>
                  <input type="text" class="form-control" placeholder="Discount Code" ng-model="customers.plan.code" ng-model-options='{ debounce: 1000 }' ng-change='customers.loadInstallment()'>
                </div>
              </fieldset>
            </div>

            <div class="form-group">
              <label for="note">Note:</label>
              <textarea class="form-control" rows="5" name="note" ng-model="customers.plan.note"></textarea>
            </div>

            <div class="form-group">
              <div ng-repeat="card in customers.cards" class="card-container">
                <idi-payment-card card="card" ng-class="{'default': customers.defaultCard==card.id}"></idi-payment-card>
                <div class="card-actions">
                  <a href="" class="card-action-link" ng-click="customers.showAddNewCardModal()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a href="" ng-hide="customers.defaultCard==card.id" class="card-action-link" ng-click="customers.makeCardDefault(card, customers.plan.user_id)"><i class="fa fa-star" aria-hidden="true"></i></a>
                  <a href="" ng-hide="customers.defaultCard==card.id" class="card-action-link" ng-click="customers.removeCard(card, customers.plan.user_id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <div class="form-group clearfix">
              <a href="" ng-show="customers.plan.user_id" ng-click="customers.showAddNewCardModal(customers.plan.user_id)" class="btn btn-primary btn-md pull-right">Add new Card</a>
            </div>

            <div class="form-group clearfix">
              <button type="button" class="btn btn-warning btn-lg" ng-disabled="formPlan.$invalid || formPlan.$pristine || formPlan.loading" ng-click="customers.addNew()">Save</button>
            </div>

          </div>

          <div class="col-sm-6">
            
            <div class="form-group">
              <div class="padding-right">
                <div class="form-group">
                  <span class="installments-total">Customer Installments <strong>( {{customers.installments.installments.length | number}} )</strong></span>
                  <div class="form-group">
                    <input type="checkbox" name="initial_payment" ng-model="customers.plan.get_first_installment"><span> Take Initial Payment</span>
                  </div>
                  <span class="installments-amount">Total amount: <strong>{{customers.totalAmount | number:2}}</strong></span>
                  <span class="installments-amount">Admin fee applied: <strong>{{customers.installments.admin_fee | number:2}}</strong></span>
                  <span ng-show="customers.installments.discount" class="installments-amount">Dscount: Discount <strong>{{customers.installments.discount.code}}</strong> of <strong>{{customers.installments.discount.amount}}</strong> is applied</span>
                </div>
              </div>
            </div>

            <div class="form-group installments">
              <div ng-repeat="installment in customers.installments.installments">  
                <div class="col-sm-12 title"><span ng-hide="$first">Installment {{$index+1}}</span><span ng-show="$first">Deposit/First payment</span></div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="number" name="installment_amount" class="form-control" ng-model="installment.amount" to-integer disabled="">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Installment Date" ng-model="installment.date" bs-datepicker="" data-max-date="" data-date-format="d/M/y" to-date required="" disabled="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

       </form>
      </div>
    </div>
  </div>
</div>