<div id="page-heading">
  <h3 class="page-title" idi-locale="notifications.naming"></h3>
</div>
<section class="container-fluid idi-notifications">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 idi-notifications__filter">
        <h4>Filter Notification List</h4>
        <div class="form-group search">
          <input type="text" name="searchText" class="form-control" ng-model="formData.searchText" placeholder="Search for notification">
          <button ng-click="notifications.updateSearch()">Search</button>
        </div>
        <div class="form-group">
          <label class="btn-radio" ng-repeat="radio in notifications.radioData">
            <input name="filter" type="radio" ng-model="formData.radioFilter" value="{{radio|lowercase}}"><span>{{radio}} Notifications</span>
          </label>
        </div>
        <h4>Notification Timeline</h4>
        <div class="form-group settings">
          <p>Select the notification types you would like to appear in your notification timeline.</p>
          <label class="btn-check" ng-repeat="check in notifications.checkData">
            <input type="checkbox" ng-checked="{{check.checked}}" ng-disabled="'{{check.value}}'=='Alert'" name="{{check.value | lowercase}}">
            <span>{{check.value}} Notifications</span>
          </label>
          <button>Save</button>
        </div>
      </div>
      <div class="col-xlg-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 idi-notifications__list">
        <h4>Your Notifications</h4>
        <notifications-widget widget="false" events="notifications.notifications" type-filter="formData.radioFilter" search-filter="formData.searchText"></notifications-widget>
      </div>
    </div>
  </div>
</section>