<table class="idi-payments__summaryTable">
  <thead>
    <tr><th>Payments Schedule Summary</th></tr>
  </thead>
  <tbody>
    <tr><td><b ng-click="hideInstallments=!hideInstallments">
      {{ plan.installments.length }} Instalments 
      <i class="fa" ng-class="{'fa-chevron-up':hideInstallments, 'fa-chevron-down':!hideInstallments}" aria-hidden="true"></i>
    </b></td></tr>
    <tr ng-repeat="i in plan.installments" class="installment" ng-hide="hideInstallments">
      <td>
        {{ i.amount | customCurrency:plan.currency.symbol:plan.currency.position }} on {{ i.date | moment:'DD/MM/YYYY' }}
      </td>
    </tr>
    <tr>
      <td><b>Admin Fee:</b>
            {{ plan.admin_fee | customCurrency:plan.currency.symbol:plan.currency.position }}
      </td>
    </tr>
    <tr ng-if="plan.earlyDiscount">
      <td><b>Early Discount:</b> {{ plan.discount.amount }}%</td>
    </tr>
    <tr ng-if="plan.codeDiscount">
      <td ng-if="plan.discount.type=='percent'"><b>Discount Code:</b> {{plan.discount.amount}}%</td>
      <td ng-if="plan.discount.type=='value'">
        <b>Discount Code:</b> {{ plan.discount.amount | customCurrency:plan.currency.symbol:plan.currency.position }}
      </td>
    </tr>
    <tr class="idi-payments__summaryTableTotal">
      <td>
        Total: {{ plan.total | customCurrency:plan.currency.symbol:plan.currency.position }}
      </td>
    </tr>
  </tbody>
</table>