<div class="container-fluid bio-card">
  <a href="" class="bio-card__close-btn" ng-show="keepDisplay"></a>
  <div class="row">
    <div class="col-xs-12 bio-card__cover-image" style="background-image:url({{profile.cover_image.url}})">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 bio-card__left-box">
      <div class="bio-card__profile-pic-container">
        <div class="bio-card__profile-pic" style="background-image:url({{profile.profile_image.url}})"></div>
      </div>
      <h5 class="bio-card__name">{{ ::profile.first_name}} {{ ::profile.last_name}}</h5>
    </div>

    <div class="col-sm-8 bio-card__right-box">
      <p ng-if="profile.public_about" class="bio-card__about-me">{{::profile.public_about}}</p>
      <a ui-sref="app.admin.profile.public({ id: profile.id })" class="bio-card__link">View Profile</a>
    </div>
  </div>
</div>