<div id="page-heading">
  <h3 class="page-title">Pages Manager</h3>
</div>
<section class="container-fluid pages-manager" ng-controller="PgsmCtrl as vm">
  <article class="panel panel-default">
    <section class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
            <button type="button" class="btn btn-default" ng-click="vm.addNewParent()" style="margin-bottom:5px"><span class="fa fa-plus"></span> Add</button>
              <section>
                  <ul class="tree">
                      <node-tree children="vm.pages"></node-tree>
                  </ul>
              </section>
            </div>
          </div>
        </div>
    </section>
  </article>
</section>

