<div class="idi-notificationsWidget" ng-class="{'widget widget-lg': widget}">
  <div class="body" ng-class="{'full': !widget}">
    <ul class="events">
      <li ng-repeat="event in events | filter: tFilter | filter: sFilter">
        <div class="time text-center event-{{event.type}}">
          {{ ::getPrettyTime(event.date) }}
        </div>
        <div class="logo text-center">
          <i ng-if="event.type=='message'" class="fa fa-comments-o fa-2x"></i>
          <i ng-if="event.type=='forum'" class="fa fa-comment-o fa-2x"></i>
          <i ng-if="event.type=='calendar'" class="fa fa-calendar fa-2x"></i>
          <i ng-if="event.type=='alert'" class="fa fa-bell-o fa-2x"></i>
          <i ng-if="event.type=='upload'" class="fa fa-upload fa-2x"></i>
        </div>
        <div class="content" ng-if="event.type=='message'">
          <p class="title bolder text-blocked" "><span idi-bio-card="{{event.message.id}}">{{event.message.name}}</span> messaged you</p>
          <span class="subtitle">
            {{ event.message.content }}
          </span>
        </div>
        <div class="content" ng-if="event.type=='forum'">
          <p class="title bolder text-blocked">New reply in <a href="{{event.topic.url}}">{{event.topic.name}}</a></p>
        </div>
        <div class="content" ng-if="event.type=='calendar'">
          <p class="title bolder text-blocked">Event - {{event.calendar.title}}</p>
          <span class="subtitle">
            {{event.calendar.start}} - {{event.calendar.end}}
          </span>
        </div>
        <div class="content" ng-if="event.type=='alert'">
          <p class="title bolder text-blocked">{{event.content}}</p>
        </div>
        <div class="content" ng-if="event.type=='upload'">
          <p class="title bolder text-blocked">New file uploaded</p>
          <span class="subtitle"><a href="{{event.upload.url}}">{{event.upload.title}}</a></span>
        </div>
      </li>
    </ul>
  </div>
  <div ng-if="widget" class="footer">
    <a class="view-all" ui-sref="app.admin.notifications.view">View all notifications</a>
  </div>
</div>