<div id="page-heading">
  <h3 class="page-title">Admissions</h3>
</div>

<script type="text/ng-template" id="student">
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title">Add event</h4>
        </div>
        <div class="modal-body">
          <div ui-view="student"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
          <button type="button" class="btn btn-success" ng-click="$hide()">Save</button>
        </div>
      </div>
    </div>
  </div>
</script>
<section class="container-fluid">
  <article class="panel panel-default">
    <header class="panel-heading">
      List of Applicants
    </header>
    <section class="panel-body">
      <div class="applicant-filter-list">
        <button type="button" class="btn"
                ng-click="filterList('all')"
                ng-class="{ 'btn-primary': list == 'all', 'btn-default': list != 'all' }">All</button>
        <button type="button" class="btn"
                ng-click="filterList('assigned')"
                ng-class="{ 'btn-primary': list == 'assigned', 'btn-default': list != 'assigned' }" >Assigned to me</button>
        <button type="button" class="btn"
                ng-click="filterList('not-assigned')"
                ng-class="{ 'btn-primary': list == 'not-assigned', 'btn-default': list != 'not-assigned' }">Not assigned to me</button>
        <button type="button" class="btn"
                ng-click="filterList('completed')"
                ng-class="list == 'completed' ? 'btn-primary' : 'btn-default'">Completed</button>
      </div>
      <section class="panel-body table-option">
        <div class="row filters-wrapper">
          <div class="col-md-4 form-horizontal">
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Name</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 has-feedback">
                <input type="search" class="form-control" placeholder="Name" value="" ng-model="filter.name"
                       ng-keypress="($event.keyCode == 13) && onEnter($event)" />
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.name" ng-click="filter.name = ''"></span>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Id</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 has-feedback">
                <input type="search" class="form-control" placeholder="Id" value="" ng-model="filter.id"
                       ng-keypress="($event.keyCode == 13) && onEnter($event)" >
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.id" ng-click="filter.id = ''"></span>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Advisor</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <select class="select form-control"
                        ng-model="filter.advisor">
                  <option value="-1" selected>Select advisor</option>
                  <option ng-repeat="advisor in advisors" value="{{ advisor.id }}">{{ advisor.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 form-horizontal">
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Temperature</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <select class="select form-control"
                        ng-model="filter.temperature">
                  <option value="-1">Select temperature</option>
                  <option value="hot">Hot</option>
                  <option value="cold">Cold</option>
                  <option value="neutral">Neutral</option>
                </select>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Created from</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 has-feedback">
                <input type="text" class="form-control" placeholder="Date From"
                       ng-model="filter.dateFrom" bs-datepicker data-max-date="{{filter.dateTo}}" data-date-format="d/M/y" ng-keypress="filterByKeyword($event)">
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.dateFrom" ng-click="filter.dateFrom = null"></span>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Created to</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 has-feedback">
                <input type="text" class="form-control" placeholder="Date To"
                       ng-model="filter.dateTo" bs-datepicker data-min-date="{{filter.dateFrom}}" data-date-format="d/M/y" ng-keypress="filterByKeyword($event)">
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.dateTo" ng-click="filter.dateTo = null"></span>
              </div>
            </div>

          </div>
          <div class="col-md-4 form-horizontal">
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Preferred programme</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <select class="select form-control"
                        ng-model="filter.programme">
                  <option value="-1">Select programme</option>
                  <option ng-repeat="programme in preferredProgrammeOptions" value="{{programme}}">{{ programme }}</option>
                </select>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Opportunity Stage</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <select class="select form-control"
                        ng-model="filter.opportunity_stage">
                  <option value="-1">Select opportunity stage</option>
                  <option ng-repeat="stage in opportunityStageOptions" value="{{ stage }}">{{ stage }}</option>
                </select>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">APL Applicant</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <select class="select form-control"
                        ng-model="filter.apl">
                  <option value="-1">None</option>
                  <option value="0">False</option>
                  <option value="1">True</option>
                </select>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
                <label class="btn-check">
                  <input type="checkbox" ng-model="filter.unseen">
                  <span>Unseen uploaded work</span>
                </label>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
                <label class="btn-check">
                  <input type="checkbox" ng-model="filter.submitted">
                  <span>Submitted</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="pull-left">
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Change Opportunity Stage <span class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
                <li ng-repeat="option in ::opportunityStageOptions">
                  <a href="" ng-click="bulkAction('opportunity_stage', option)">
                    {{::option}}
                  </a>
                </li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
                <li>
                  <a href="" ng-click="bulkAction('delete')">
                    <i class="icon-trash"></i> Delete
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="" ng-click="bulkAction('fire')">
                    <i class="icon-sun"></i> Set hot
                  </a>
                </li>
                <li>
                  <a href="" ng-click="bulkAction('wind')">
                    <i class="icon-moon2"></i> Set cold
                  </a>
                </li>
                <li>
                  <a href="" ng-click="bulkAction('cloud')">
                    <i class="icon-cloud"></i> Set neutral
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="" ng-click="bulkAction('completed=1')">
                    <i class="icon-check"></i> Completed
                  </a>
                </li>
                <li>
                  <a href="" ng-click="bulkAction('completed=0')">
                    <i class="icon-substract"></i> Not Completed
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ng-href="{{::reportButton}}">
                    <i class="icon-input-top"></i> Submitted applicants report
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-success" ng-click="applicants.reload()">
                <span class="icon icon-search"></span> Search
              </button>
            </div>
            <div class="btn-group">
             <button type="button" class="btn btn-info" ng-click="clearFilters()">
                <span class="icon icon-circle-times"></span> Clear All Filters
              </button>
            </div>

          </div>
        </div>
      </section>
      <table ng-table="applicants" class="table table-hover table-applicants ng-table-responsive">
        <tr ng-repeat="item in $data | filter:searchText">
          <td data-title="">
            <i class="fa fa-info-circle"
              data-trigger="hover"
              data-placement="right"
              data-html="true"
              bs-tooltip="item.tooltip"></i>
          </td>
          <td data-title="'Picture'" >
            <idi-common-profile-image cover-url="{{applicantsImages[item.id].profile_image.url}}" cover-width="50px" cover-height="50px" ng-if="applicantsImages[item.id].profile_image.ext!='css'"></idi-common-profile-image>
            <idi-common-profile-image cover-width="50px" cover-height="50px" profile="applicantsImages[item.id]" ng-if="applicantsImages[item.id].profile_image.ext=='css'"></idi-common-profile-image>
          </td>
          <td data-title="'Alerts'" sortable="'unseen'">
            <div class="clearfix table_alerts">
              <label class="pull-left clickable">
                <i class="icon-letter"></i> {{item.sentMessageCtr || 0}}
              </label>
              <label class="pull-right clickable" ng-click="displayFiles($event)">
                <i class="icon-cloud-upload" ng-class="item.unseen > 0 ? 'icon-cloud-upload--blue' : ''"></i> {{item.total_files || 0}}
              </label>
            </div>
          </td>
          <td data-title="'First Name'" sortable="'first_name'">{{ item.first_name }}</td>
          <td data-title="'Last Name'" sortable="'last_name'">{{ item.last_name }}</td>
          <td data-title="'Profile'" sortable="'completness'">
            <div class="progress-wrapper"
                 ng-if="item.state !== '1'">
              <div class="progress-text">{{ item.completness | number:0 }}%</div>
              <div
                round-progress
                max="100"
                current="item.completness"
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="60"
                stroke="20"
                semi="false"
                rounded="false"
                clockwise="true"
                responsive="true"
                duration="800"
                animation="easeInOutQuart"></div>
            </div>
            <div ng-if="item.state === '1'">
              Submitted
            </div>
          </td>
          <td data-title="'Date Created'" sortable="'created'">{{item.createdDuration}}</td>
          <td data-title="'Last Login'" sortable="'last_login'">
            <label class="login-duration">{{item.lastLoginDuration}}</label>
            <i class="pull-right"
               ng-class="(item.temperature === 'cold' || item.temperature === 'wind') ?  'icon-moon2' : (item.temperature === 'hot' || item.temperature === 'fire') ?  'icon-sun' : 'icon-' + item.temperature"></i>
          </td>
          <td data-title="'Opportunity Stage'" sortable="'opportunity_stage'">{{item.opportunity_stage}}</td>
          <td data-title="'Preferred Programme'" sortable="'programme'">{{item.programme}}</td>
          <td data-title="'Options'">
            <div class="btn-group">
              <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
                <li role="presentation" class="dropdown-header">Actions</li>
                <li><a href="" data-placement="center" ng-click="previewApplicant(item)">Preview</a></li>
                <li><a href="" data-placement="center" ui-sref="app.admin.mail.new({scope: admissionAdvisorScope.id, to: item})">Message</a></li>
                <li><a href="" data-placement="center" ng-click="addTask(item)">Create Task</a></li>
                <li><a href="" ng-click="deleteApplicant(item)">Delete</a></li>
                <li><a href="" ng-click="displayFiles($event)">View Files</a></li>
                <li><a href="" ui-sref="app.admin.profile.edit({ id: item.id })">View Profile</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Notes</li>
                <li><a href="" ng-click="editNote($event)">Edit Note</a></li>
                <li><a href="" ng-click="editNote($event, 'view')">View Note</a></li>
                <li><a href="" ng-click="deleteNote($event)">Delete Note</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Sheets</li>
                <li><a ui-sref="app.admin.admissions.uploaded({id: item.id})">Uploaded files sheet</a></li>
               <!--ADMI-89 <li><a ui-sref="app.admin.admissions.summary({id: item.id})">Summary sheet</a></li>-->
                <li><a ui-sref="app.admin.profile.edit({id: item.id, type: 'decision'})">Decision sheet</a></li>
              </ul>
            </div>
          </td>
          <td data-title="'#'">
            <label class="btn-check applicant-checkbox">
              <input type="checkbox" ng-model="item.checked">
              <span></span>
            </label>
          </td>
        </tr>
      </table>
    </section>
    <section class="panel-body additional_info" ng-if="totalApplicants">
      <span class="total_applicants">Total Filtered Applicants: {{ totalApplicants }}</span>
    </section>
  </article>
</section>