<div ng-if="checkRights('admissions.decision')">
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">Submit Confirmation</div>
          <div class="col-xs-6 submit-confirmation-box">
            <div class="pull-right">
              <label class="btn-round slide-default">
                <input type="checkbox" ng-model="admissionData.state" ng-checked="admissionData.state" ng-change="changeSubmitConfirmation()">
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="form-horizontal">
    <div class="choose-decision clearfix">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
          {{currentDecisionIndex || 'New'}}
          <span class="caret"></span>
        </button>
        <ul role="menu" class="dropdown-menu">
          <li ng-repeat="decision in decisions"
              ng-class="(decision.id == currentDecision.id) ? 'active' : ''"
              ng-click="changeDecision($event)"><a href="">{{$index+1}}</a></li>
          <li ng-class="(!currentDecision.id) ? 'active' : ''">
            <a href="" ng-click="createDecision($event)">New</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Applicant Name</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <input type="text" class="form-control" placeholder="Applicant name" value="" ng-model="applicant_name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Advisor Name</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <!--<input type="text" class="form-control" placeholder="Advisor name" value=""-->
               <!--ng-model="advisor_name"-->
               <!--ng-disabled="!hasAdvisor">-->
        <select class="select form-control"
                ng-model="currentAdvisor"
                ng-options="advisor as advisor.name for advisor in advisors">
          <option value="" selected>Select advisor</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Programme</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 programme-select">
        <select class="form-control"
                ng-model="currentDecision.programme">
          <option value="" selected>---Please select---</option>
          <option value="MBA" selected>MBA</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Study Mode</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <select class="form-control"
                ng-model="currentDecision.study_mode">
          <option value="" selected>---Please select---</option>
          <option value="part_time">Part Time</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Start Date</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <select class="form-control"
                ng-model="currentDecision.start_date">
          <option value="" selected>---Please select---</option>
          <option value="January 2017">January 2017</option>
          <option value="July 2017">July 2017</option>
        </select>
      </div>
    </div>

    <!--ADMI-88 <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Start Level</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <select class="form-control"
                ng-model="currentDecision.start_level">
          <option value="" selected>---Please select---</option>
          <option value="3">Level 3</option>
          <option value="4">Level 4</option>
          <option value="5">Level 5</option>
          <option value="6">Level 6</option>
          <option value="7">Level 7</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">UCAS Points</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <input type="text" class="form-control" placeholder="UCAS Points" value="" ng-model="currentDecision.ucas_points">
      </div>
    </div>-->

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">APCL - Professional Experience</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <select class="form-control"
                ng-model="currentDecision.apcl">
          <option value="" selected>---Please select---</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 decision-notes">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-8 col-xs-12 col-sm-offset-4 col-md-offset-0">
            <textarea type="text" class="form-control" placeholder="Notes" ng-model="currentDecision.apcl_notes"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">APEL - Undergraduate Degree</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <select class="form-control"
                ng-model="currentDecision.apel">
          <option value="" selected>---Please select---</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 decision-notes">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-8 col-xs-12 col-sm-offset-4 col-md-offset-0">
            <textarea type="text" class="form-control" placeholder="Notes" ng-model="currentDecision.apel_notes"></textarea>
          </div>
        </div>
      </div>
    </div>

    <!--ADMI-88 <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Portfolio</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <select class="form-control"
                ng-model="currentDecision.portfolio">
          <option value="" selected>---Please select---</option>
          <option value="excelent">Outsanding/Excellent</option>
          <option value="good">Very Good/Good</option>
          <option value="satisfactory">Satisfactory</option>
          <option value="unsatisfactory">Unsatisfactory</option>
          <option value="no_portfolio">No Portfolio</option>
        </select>
      </div>
    </div>-->

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Personal Statement</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <select class="form-control"
                ng-model="currentDecision.personal_statement">
          <option value="" selected>---Please select---</option>
          <option value="strong">Strong</option>
          <option value="satisfactory">Satisfactory</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Meets English Language Entry Requirements</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <label class="btn-round slide-default">
          <input type="checkbox"
                 ng-model="currentDecision.meets_english"
                 ng-checked="currentDecision.meets_english">
          <span></span>
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Conditional Offer Sent</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <label class="btn-round slide-default">
          <input type="checkbox"
                 ng-model="currentDecision.offer_sent"
                 ng-checked="currentDecision.offer_sent">
          <span></span>
        </label>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 decision-notes">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-8 col-xs-12 col-sm-offset-4 col-md-offset-0">
            <textarea type="text" class="form-control" placeholder="Notes" ng-model="currentDecision.offer_notes"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Conditions Met</label>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <select class="form-control"
                ng-model="currentDecision.conditions_met">
          <option value="" selected>---Please select---</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
          <option value="partly">Partly</option>
        </select>
      </div>
    </div>
    <hr/>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">Note</label>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <textarea type="text" class="form-control resize-vertical" placeholder="" ng-model="decisionNote.body"></textarea>
        <div class="notes-btn">
          <button type="submit" class="btn btn-danger btn-flat ng-click-active"
                  ng-if="decisionNote.body"
                  ng-click="deleteNote()">Delete</button>
          <button type="submit" class="btn btn-info btn-flat ng-click-active"
                  ng-click="saveNote()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <section class="panel-footer">
    <div class="form-group">
      <button type="submit" class="btn btn-danger btn-flat pull-left ng-click-active"
              ng-if="checkRights('admissions.decision.delete')"
              ng-click="deleteDecision()">Delete</button>
      <button type="submit" class="btn btn-info btn-flat pull-right ng-click-active" ng-click="saveDecision($event)">Save</button>
    </div>
  </section>
</div>