<div id="page-heading">
  <h3 class="page-title">Decision page</h3>
</div>

<section class="container-fluid">
  <article class="panel panel-default panel-profile">
    <header class="panel-heading profile-heading">
      Decision Sheet
    </header>
    <section class="panel-body" ui-view="decision"></section>
  </article>
</section>
