<div id="page-heading">
  <h3 class="page-title">Admission Supporting Documents</h3>
</div>

<section class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">File Uploader</div>
    <div class="panel-body">
      <label for="file" class="btn btn-success btn-upload icon-standalone">
        <i class="fa fa-upload"></i>
        <span>Upload File</span>
        <input id="file" type="file" nv-file-select uploader="uploader">
      </label>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <ul class="list-unstyled row vertical-margin mail-attachments" ng-if="uploader.queue.length > 0">
            <li ng-repeat-start="item in uploader.queue" ng-class="{ 'text-danger' : item.isError }">
              <div class="row">
                <div class="col-xs-6"><p class="bolder file-name">{{ item.file.name }}</p></div>
                <div class="col-xs-5">
                  <div class="progress" ng-if="!item.isUploaded">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar"
                         aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100"
                         ng-style="{ 'width': item.progress + '%' }">
                      <span class="sr-only">{{ item.progress }}% Complete</span>
                    </div>
                  </div>
                  <p ng-if="item.isError">{{ item.msg }}</p>
                </div>
                <div class="col-xs-1">
                  <a href title="Remove" ng-click="item.cancel();" ng-if="item.isUploading"><span
                      class="fa fa-remove"></span></a>
                  <a href title="Remove" ng-click="item.remove();" ng-if="!item.isUploading"><span
                      class="fa fa-remove"></span></a>
                </div>
              </div>
            </li>
            <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">File List</div>
    <div class="panel-body">
      <section class="panel-body table-option">
        <div class="row">
          <div class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
            </div>
            <!--<div class="btn-group pull-right">
              <button class="btn btn-success btn-upload icon-standalone">
                <i class="fa fa-upload"></i>
                <span>Add File</span>
                <input type="file" nv-file-select uploader="uploader">
              </button>
            </div>-->
          </div>
        </div>
      </section>
      <table class="table table-hover table-applicants ng-table-responsive"
             ng-table="filesTable">
        <tr ng-repeat="item in $data | filter:searchText">
          <td></td>
          <td data-title="'ID'">{{ item.id }}</td>
          <td data-title="'Title'">{{ item.file.title }}</td>
          <td data-title="'Date Uploaded'">{{ item.file.uploaded | date: 'dd/MM/yyyy' }}</td>
          <td data-title="'Options'">
            <div class="btn-group">
              <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span
                  class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
                <li><a href ng-href="{{ item.file.url }}" download>Download</a></li>
                <li><a href ng-click="deleteFile(item.id)"
                       ng-confirm-click="Are you sure you want to delete this file?">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
      <!--<table class="table table-hover table-applicants"-->
             <!--ng-sortable>-->
        <!--<thead>-->
          <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>Title</th>-->
            <!--<th>Date Uploaded</th>-->
            <!--<th>Options</th>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="item in documents | filter:searchText">-->
          <!--<td></td>-->
          <!--<td>{{ item.id }}</td>-->
          <!--<td>{{ item.file.title }}</td>-->
          <!--<td>{{ item.file.uploaded | date: 'dd/MM/yyyy' }}</td>-->
          <!--<td>-->
            <!--<div class="btn-group">-->
              <!--<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span-->
                  <!--class="caret"></span></button>-->
              <!--<ul role="menu" class="dropdown-menu">-->
                <!--<li><a href ng-href="{{ item.file.url }}" download>Download</a></li>-->
                <!--<li><a href ng-click="deleteFile(item.id)"-->
                       <!--ng-confirm-click="Are you sure you want to delete this file?">Delete</a></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
      <div ng-if="files.length == 0">No files yet.</div>
    </div>
  </div>
</section>