<div id="page-heading" class="help-heading">

  <h3 class="page-title" idi-locale="admissions.naming"></h3>
  <span class="pull-right open-help-button" ng-click="openHelp()">
    <i class="fa fa-info-circle"></i>
    <span class="icon-text">FAQs</span>
  </span>
</div>
<section ui-form-wizard viewing-mode="true">
  <div class="form-group">
    <div class="form-wizard admission-wizard">
      <ul class="tabs">
        <li><button data-step="1" ng-click="submit($event)">Welcome</button><div><span>1</span></div></li>
        <li><button data-step="2" ng-click="submit($event)">Personal</button><div><span>2</span></div></li>
        <li><button data-step="3" ng-click="submit($event)">Academic</button><div><span>3</span></div></li>
        <li><button data-step="4" ng-click="submit($event)">Employment</button><div><span>4</span></div></li>
        <!--<li><button data-step="5" ng-click="submit($event)">Creative work</button><div><span>5</span></div></li>-->
        <li><button data-step="6" ng-click="submit($event)">Review and Submit</button><div><span>6</span></div></li>
      </ul>
    </div>
  </div>
  <div class="wizard_pane wizard_pane--admissions active admissions_welcome" ui-view="welcome"></div>
  <div class="wizard_pane wizard_pane--admissions" ui-view="personal"></div>
  <div class="wizard_pane wizard_pane--admissions" ui-view="history"></div>
  <div class="wizard_pane wizard_pane--admissions" ui-view="experience"></div>
  <!--<div class="wizard_pane wizard_pane--admissions" ui-view="creative"></div>-->
  <div  class="wizard_pane wizard_pane--admissions" ui-view="review"></div>
</section>