<div ng-if="checkRights('admissions.summary')">
  <section class="container-fluid" ng-if="summary.education_prev_current.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Previous and Current Education
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Name and Address of Institution</th>
                <th>Study Mode</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in summary.education_prev_current track by $index">
                <td>{{node.date_from | date:'mediumDate'}}</td>
                <td>{{node.date_to | date:'mediumDate'}}</td>
                <td>
                  <span>
                    {{node.name}}
                  </span>
                </td>
                <td>
                  <span>
                    {{node.study_mode}}
                  </span>
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="">Edit</a></li>
                      <li><a href="">Delete</a></li>
                      <li><a href="">Preview</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.academic_qualifications.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Academic Qualifications Pending
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Exam Date</th>
                <th>Awarding Body</th>
                <th>Subject</th>
                <th>Qualification</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in summary.academic_qualifications track by $index">
                <td>{{node.date | date:'mediumDate'}}</td>
                <td>
                  <span>
                    {{node.awarding}}
                  </span>
                </td>
                <td>
                  <span>
                    {{node.subject}}
                  </span>
                </td>
                <td>
                  <span>
                    {{node.qualification}}
                  </span>
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="">Edit</a></li>
                      <li><a href="">Delete</a></li>
                      <li><a href="">Preview</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.highest_level_academic.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Academic Qualifications Highest Exams Achieved
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Exam Date</th>
                <th>Awarding Body</th>
                <th>Subject</th>
                <th>Qualification</th>
                <th>Results Achieved</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in summary.highest_level_academic track by $index">
                <td>{{node.date | date:'mediumDate'}}</td>
                <td>
                    <span>
                      {{node.awarding}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.subject}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.qualification}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.results}}
                    </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.highest_level_maths.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Academic Qualifications Highest Exams Achieved
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Exam Date</th>
                <th>Awarding Body</th>
                <th>Subject</th>
                <th>Qualification</th>
                <th>Results Achieved</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in summary.highest_level_maths track by $index">
                <td>{{node.date | date:'mediumDate'}}</td>
                <td>
                    <span>
                      {{node.awarding}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.subject}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.qualification}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.results}}
                    </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.highest_level_english.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Academic Qualifications Highest Exams Achieved
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Exam Date</th>
                <th>Awarding Body</th>
                <th>Subject</th>
                <th>Qualification</th>
                <th>Results Achieved</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in summary.highest_level_english track by $index">
                <td>{{node.date | date:'mediumDate'}}</td>
                <td>
                    <span>
                      {{node.awarding}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.subject}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.qualification}}
                    </span>
                </td>
                <td>
                    <span>
                      {{node.results}}
                    </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.english_certificate.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        English Tests Taken
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Date Taken</th>
                <th>Level</th>
                <th>Where Studied</th>
                <th>University/ College/Awarding Body</th>
                <th>Results</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in summary.english_certificate track by $index">
                <td>{{node.date | date:'mediumDate'}}</td>
                <td>
                <span>
                  {{node.level}}
                </span>
                </td>
                <td>
                <span>
                  {{node.studiedAt}}
                </span>
                </td>
                <td>
                <span>
                  {{node.awarding}}
                </span>
                </td>
                <td>
                <span>
                  {{node.results}}
                </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.portfolio_link.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Online portfolio links
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Link to online portfolio</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in summary.portfolio_link track by $index">
              <td>{{node.link}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.prev_studied_idi_uh === 'false' || summary.prev_studied_idi_uh === 'true'">
    <div class="panel panel-default">
      <div class="panel-heading">
        Have You Previously Studied With IDI or the University of Hertfordshire?
      </div>
      <div class="panel-body">
        <div class="form-group">
          <select class="form-control" ng-model="summary.prev_studied_idi_uh" disabled>
            <option selected value="false">No</option>
            <option value="true">Yes</option>
          </select>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.work_experience.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Work Experience
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div ng-if="user.work_experience.length" class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Organisation Name and Address</th>
                <th>Brief description of duties</th>
                <th>Record of Activities/Responsibilities undertaken</th>
                <th>Role</th>
                <th>Post</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in user.work_experience track by $index">
                <td>{{node.date_from | date:'mediumDate'}}</td>
                <td>{{node.date_to | date:'mediumDate'}}</td>
                <td>
                <span>
                  {{node.name}}
                </span>
                </td>
                <td>
                <span>
                  {{node.duties}}
                </span>
                </td>
                <td>
                  <ol>
                    <li ng-repeat="item in node.activities">
                      {{ item.name }} <span ng-if="item.value == 'other'">({{node.other}})</span>
                    </li>
                  </ol>
                </td>
                <td>
                  <span>{{node.post}}</span>
                </td>
                <td>
                  <span class="label label-default">{{node.time}}</span>
                </td>
              </tr>
              </tbody>
            </table>
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.other_experience.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Record of Other Experience
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div ng-if="user.other_experience.length" class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Organisation Name and Address</th>
                <th>Brief description of duties</th>
                <th>Record of Activities/Responsibilities undertaken</th>
                <th>Role</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in user.other_experience track by $index">
                <td>{{node.date_from | date:'mediumDate'}}</td>
                <td>{{node.date_to | date:'mediumDate'}}</td>
                <td>
                <span>
                  {{node.name}}
                </span>
                </td>
                <td>
                <span>
                  {{node.duties}}
                </span>
                </td>
                <td>
                  <ol>
                    <li ng-repeat="item in node.activities">
                      {{ item.name }} <span ng-if="item.value == 'other'">({{node.other}})</span>
                    </li>
                  </ol>
                </td>
                <td>
                  <span class="label label-default">{{node.role}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.responsibilities.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Record of Activities/Responsibilities undertaken
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <ul class="list-unstyled">
              <li ng-repeat="(responsibility, value) in summary.responsibilities"
                  ng-if="value == true"
                  ng-bind="responsibility"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="summary.certificate_training.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        Record of Certification/Training
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Certificate</th>
                <th>Awarding Body</th>
                <th>Level</th>
                <th>Date</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in summary.certificate_training track by $index">
                <td><span>{{node.certificate}}</span></td>
                <td><span>{{node.awarding_body}}</span></td>
                <td><span>{{node.level}}</span></td>
                <td><span>{{node.date | date:'mediumDate'}}</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">Submit Confirmation</div>
          <div class="col-xs-6 submit-confirmation-box">
            <div class="pull-right">
              <label class="btn-round slide-default">
                <input type="checkbox" ng-model="admissionData.state" ng-checked="admissionData.state" ng-change="changeSubmitConfirmation()">
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group row">
          <label class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">Note</label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <textarea type="text" class="form-control resize-vertical" placeholder="" ng-model="summaryNote.body"></textarea>
            <div class="notes-btn">
              <button type="submit" class="btn btn-danger btn-flat ng-click-active"
                      ng-if="summaryNote"
                      ng-click="deleteNote()">Delete</button>
              <button type="submit" class="btn btn-info btn-flat ng-click-active"
                      ng-click="saveNote()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>