<section ng-show="checkRights('profiles.uploaded')">
  <div class="panel panel-default" ng-repeat="(key, file) in files" ng-if="categoryNames[key] != 'Creative work'">
    <div class="panel-heading">{{ categoryNames[key] }}</div>
    <div class="panel-body">
      <div ng-if="file.length == 0">No files yet.</div>
      <div ng-if="file.length > 0" class="row">
        <div ng-repeat="item in file" ng-if="item.file.ext" class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="thumbnail thumbnail--file">
            <a ng-if="!item.file.isImage" href ng-href="{{ item.file.url }}" title="{{ item.file.title }}" target="_blank">
              <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
            </a>
            <a ng-if="item.file.isImage" href title="{{ item.file.title }}" ng-click="displayImage(item)">
              <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
            </a>
            <div class="caption">
              <h4>{{ item.file.title }}</h4>
              <p>Date Uploaded: {{ item.file.uploaded | date: 'dd/MM/yyyy' }}</p>
              <a ng-href="{{ item.file.url }}" class="btn btn-primary icon-standalone" download>
                <i class="fa fa-download"></i>
                <span>Download</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>