.idi-message {
  /* Generic message styles */
  margin-top: 20px;
  list-style:none;
  border:1px solid #ccc;

   &__header {
    background-color: lighten(@main-color, 35%);
    padding:15px;
    &--deleted {
      background-color: rgba(255,0,0,0.1);
    }
  }

  /* Deleted message styles */
  &--deleted {
    background:rgba(255,0,0,0.1);
    color:#aaa;
    text-decoration:line-through;
  }

  .row {
    margin: 0;
  }

  /* Profile Image */
  &__profile-image > img,
  &__profile-image > div {
    max-width: 45px;
    margin: 0 10px 0 0;
    border-radius: 3px;
  }
  
  &__profile-image > div {
    height: 45px;
    width: 45px;
  }

  /* Title & Info*/
  &__title {
    h3 {
      margin-bottom:10px;
    }
    &--deleted {
      text-decoration:line-through;
    }
    &--attachment,
    &--date {
      display:inline;
    }
    &--attachment {
      padding-right:5px;
    }
  }

  /* Message Controls */
  &__controls {
    display: inline;
    &--edit,
    &--delete {
      padding-left:5px;
      color:@main-color;
      font-size:1.5em;
    }
    &--edit:hover,
    &--delete:hover {
      color:#000;
      cursor: pointer;
    }
  }

  /* Message text */
  &__text {
    padding:15px;
  }

  /* Tagged message */
  &__tagged {
    list-style:none;
    padding:15px 15px 0 15px;
    border-top:1px solid rgba(0, 0, 0, 0.15);
    font-style:italic;
    color:#bbb;
    &--thumbnail,
    &--thumbnail-not-image {
      display: inline-block;
      max-width: 50px;
    }
    &--thumbnail-not-image {
      font-size:36px;
    }
    &--filename {
      display: inline-block;
      height: 50px;
      vertical-align:middle;
      padding-left:5px;
    }
  }

  /* Attachments */
  h6 {
    padding:15px 15px 0 15px;
    display:block;
    border-top:1px solid rgba(0, 0, 0, 0.05);
    font-weight: bold;
  }
  &__attachments {
    list-style:none;
    padding:5px 15px 15px 15px;
    li {
      margin-top:5px;
      padding:5px;
      border:1px solid rgba(0,0,0,0.15);
    }
    li:nth-child(1) {
      margin-top:0;
    }
    &--thumbnail,
    &--thumbnail-not-image {
      display: inline-block;
      max-width: 50px;
    }
    &--thumbnail-not-image {
      font-size:36px;
    }
    &--filename {
      display: inline-block;
      line-height: 50px;
      vertical-align:bottom;
      padding-left:5px;
    }
    &--delete {
      float: right;
      display: inline;
      line-height:50px;
    }
  }

  .reply-form {
    background:white;
    margin: 10px 0 0 0;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.5);
    .col-lg-8, .col-lg-8 {
      width: 100%;
    }
  }

}

.idi-message:hover { border: 1px solid @main-color; }
.idi-message--deleted:hover { border: 1px solid red; }

.thumbnail--small{
  max-width: 110px;
}