<aside class="chat">
  <div class="chat-content">
    <div class="chat-wrapper" mb-scrollbar="scrollbarConfigInner">

      <button class="btn btn-link close" ui-chat-toggle><span class="fa fa-times fa-lg text-info"></span></button>

      <svg x="0px" y="0px" viewBox="0 0 250 180">
        <defs>
          <mask id="mask_bg" x="0" y="0" with="250px" height="160px">
            <path fill="#fff" d="M0,0 L250,0 L 250,140 C 165 130 55 130 0 140 Z"/>
          </mask>
          <mask id="mask_avatar" x="0" y="0" width="250" height="250" maskUnits="userSpaceOnUse">
            <path fill="#FFFFFF" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
          </mask>
          <filter id="blur">
            <feGaussianBlur stdDeviation="2"/>
          </filter>
        </defs>
        <g style="filter:url(#blur);mask:url(#mask_bg);">
          <image x="0" y="-40px" width="250px" height="250px" xlink:href="{{profile.image}}" />
        </g>
        <g transform="translate(50,30)">
          <image x="0"  y="0" transform="scale(0.7)" style="fill:#F4F2FB;mask:url(#mask_avatar)" width="230" height="230" xlink:href="{{profile.image}}" />
        </g>
      </svg>

      <h4 class="chat-owner text-center">{{profile.first_name}} {{profile.last_name}}</h4>
      <small class="chat-owner-status text-center"></small>

      <!--<div class="form-group search">
        <input type="text" placeholder="Search...">
        <span class="icon-search icon-lg"></span>
      </div>-->

      <ul class="user-list">
        <li ng-repeat="scope in messageScopes" ng-if="scope.expanded" ng-class="{ 'group-name' : !scope.expanded }">
          <span ng-if="!scope.expanded">{{ scope.name }}</span>
          <a ng-if="scope.expanded" href="" ng-click="enter($event, scope)">
            <div class="name">
              <p>{{ scope.name }} <span ng-if="scope.unreadCtr > 0" class="badge badge-danger">{{ scope.unreadCtr }}</span></p>
            </div>
          </a>
        </li>
        <!--<li class="group-name">Favourite</li>
        <li>
          <a href="" ng-click="enter($event)">
            <div class="avatar">
              <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 230 230">
                <clipPath id="clip1">
                  <path fill="#FFFFFF" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
                </clipPath>
                <image x="0"  y="0" style="" width="230" height="230" xlink:href="/assets/img/avatar/avatar200.png" clip-path="url(#clip1)" />
              </svg>
              <span class="badge badge-danger">2</span>
            </div>
            <div class="name">
              <p>John Smith</p>
              <small>User online</small>
            </div>
            <div class="status active"><span></span></div>
          </a>
        </li>-->
      </ul>
    </div>

    <div class="conversation">
      <div class="conversation-wrapper" mb-scrollbar="scrollbarConfigInner" ng-if="conversation.length > 0">

        <button class="btn btn-link close" ui-chat-toggle><span class="fa fa-times fa-lg text-info"></span></button>
        <button class="btn btn-link back" ng-click="back($event)"><span class="fa fa-reply fa-lg text-info"></span></button>

        <svg x="0px" y="0px" viewBox="0 0 250 180">
          <defs>
            <mask id="mask_bg" x="0" y="0" with="250px" height="160px">
              <path fill="#fff" d="M0,0 L250,0 L 250,140 C 165 130 55 130 0 140 Z"/>
            </mask>
            <mask id="mask_avatar" x="0" y="0" width="250" height="250" maskUnits="userSpaceOnUse">
              <path fill="#FFFFFF" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
            </mask>
            <filter id="blur">
              <feGaussianBlur stdDeviation="2"/>
            </filter>
          </defs>
          <g style="filter:url(#blur);mask:url(#mask_bg);">
            <image x="0" y="-40px" width="250px" height="250px" xlink:href="{{profile.image}}" />
          </g>
          <g transform="translate(50,30)">
            <image x="0"  y="0" transform="scale(0.7)" style="fill:#F4F2FB;mask:url(#mask_avatar)" width="230" height="230" xlink:href="{{profile.image}}" />
          </g>
        </svg>

        <h4 class="chat-owner text-center">{{profile.first_name}} {{profile.last_name}}</h4>
        <small class="chat-owner-status text-center">{{ messageScope.name }}</small>

        <ul class="conversation-list" ng-if="conversation.length > 0">
          <li ng-repeat="message in conversation" ng-class="{'recipient' : message.user_id != profileId, 'owner' : message.user_id == profileId}">
            <div ng-if="message.user_id == profileId" class="message">
              <div ng-bind-html="message.text"></div>
              <a ng-if="message.hasAttachments && !message.displayAttachments" href="" ng-click="displayAttachedFiles(message)"><span class="icon-clip2"></span></a>
              <div ng-if="message.displayAttachments" class="message-attachments">
                <div ng-repeat="file in message.files">
                  <p class="bolder file-name">{{ file.title }} <a ng-href="{{ file.url }}" download><i class="fa fa-download"></i></a></p>
                </div>
              </div>
            </div>
            <div class="avatar">
              <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 230 230">
                <clipPath id="clip1">
                  <path fill="#FFFFFF" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
                </clipPath>
                <image ng-if="users[message.user_id].profileImage" x="0"  y="0" style="" width="230" height="230" xlink:href="{{users[message.user_id].profileImage}}" clip-path="url(#clip1)" title="{{ users[message.user_id].name }}"/>
              </svg>
              <span class="time" ng-if="message.user_id != profileId">{{ users[message.user_id].name }}</span>              
              <span class="time">{{ message.date | date: 'dd/MM/yyyy hh:mm a' }}</span>              
            </div>
            <div ng-if="message.user_id != profileId" class="message">
              <div ng-bind-html="message.text"></div>
              <a ng-if="message.hasAttachments && !message.displayAttachments" href="" ng-click="displayAttachedFiles(message)"><span class="icon-clip2"></span></a>
              <div ng-if="message.displayAttachments" class="message-attachments">
                <div ng-repeat="file in message.files">
                  <p class="bolder file-name">{{ file.title }} <a ng-href="{{ file.url }}" download><i class="fa fa-download"></i></a></p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="message-input" ng-if="uploader">
        <input type="text" placeholder="Enter message ..." ng-model="message.text" ng-keypress="sendMessage($event)" ng-disabled="sendingMessage">
        <label for="attachFile"><span class="fa fa-paperclip fa-rotate-270 fa-fw fa-lg"></span></label>
        <input id="attachFile" name="attachFile" type="file" class="hidden" nv-file-select uploader="uploader" multiple/>
        <ul class="list-unstyled row vertical-margin mail-attachments" ng-if="uploader.queue.length > 0">
          <li ng-repeat-start="item in uploader.queue" ng-class="{ 'text-danger' : item.isError }">
            <div class="row">
              <div class="col-xs-6"><p class="bolder file-name">{{ item.file.name }}</p></div>
              <div class="col-xs-4">
                <div class="progress" ng-if="!item.isUploaded">
                  <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                    <span class="sr-only">{{ item.progress }}% Complete</span>
                  </div>
                </div>
                <p ng-if="item.isError">{{ item.msg }}</p>
              </div>
              <div class="col-xs-1">
                <a href title="Remove" ng-click="removeFileId(item);item.cancel();" ng-if="item.isUploading"><span class="fa fa-remove"></span></a>
                <a href title="Remove" ng-click="removeFileId(item);item.remove();" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a>
              </div>
            </div>
          </li>
          <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
        </ul>
      </div>
    </div>
  </div>
</aside>