<aside role="navigation" ui-view="sidebar" class="sidebar"></aside>
<div class="wrapper" ui-view="home">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" id="heading">
    <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle" side-menu>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-right padding-right-null">
      <div class="uk-timezone">
        <div class="time">{{ ukTimeMoment }} </div>
        <div class="date">{{ ukDate }}</div>
      </div>
      <ul class="nav navbar-nav">
        <li class="navbar-link-default">
          <button type="button" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
          </button>
          <ul class="dropdown-menu notifications" role="menu">
            <notifications-widget widget="true" events="notifications"></notifications-widget>
          </ul>
        </li>
        <li class="navbar-link-default">
          <button type="button" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <small ng-if="totalUnreadCtr!=0">{{ totalUnreadCtr }}</small>
          </button>
          <ul class="dropdown-menu messages" role="menu">
            <li class="heading text-center">
              Messages<span class="badge badge-primary" ng-if="totalUnreadCtr!=0"> {{ totalUnreadCtr }}</span>
            </li>
            <li ng-repeat="mes in fiveMessages" class="has-icon">
              <a>
                <img src="{{mes.pic}}">
                <span class="title">{{ mes.msg }}</span>
                <span class="time">{{ mes.duration }} ago</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="navbar-link-default">
          <button type="button" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user-o dropdown-caret"></i>
          </button>
          <ul class="dropdown-menu user" role="menu">
            <li ng-if="!fullName" class="heading text-center">{{ fullName }}</li>
            <li ng-if="!fullName && user.name" class="heading text-center">{{ user.name }}</li>
            <li><a href ui-sref="app.admin.profile.public" data-initial="{{firstInitial}}">My profile</a></li>
            <li class="logout">
              <a href ng-click="logout()">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <main role="main" ui-view="content"></main>
</div>

<!--<ui-chat ng-if="messageScopes" message-scopes="messageScopes"></ui-chat>-->