<nav class="side-bar" ui-side-menu mb-scrollbar="scrollbarConfig">
  <a class="brand" href title="University Of Aberdeen"
     ng-href="{{ ::getHomeLink() }}">
    <img src="/media/logo.png" alt="University Of Aberdeen" class="large">
    <img src="/media/logo-small.png" alt="University Of Aberdeen" class="small">
  </a>
<!--  <div ng-if="false" class="social-icons">
    <ul>
      <li>
        <a href="http://www.facebook.com/pages/Interactive-Design-Institute/159375902704?ref=ts" target="_blank"><i
            class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="http://twitter.com/#!/idesigni" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="http://www.idesigni.co.uk/blog" target="_blank"><i class="fa fa-wordpress"></i></a>
      </li>
      <li>
        <a href="http://pinterest.com/idi1" target="_blank"><i class="fa fa-pinterest"></i></a>
      </li>
    </ul>
  </div>-->
  <ul class="nav-menu">
    <li data-state="close" permission permission-except="'admissions.role.applicant'">
      <a href ui-sref="app.admin.dashboard" ui-sref-active="active" genie-wish="Home / Dashboard">
        <i class="fa fa-fw fa-desktop"></i>
        <span idi-locale="sidebar.dashboard"></span>
      </a>
    </li>
    <li data-state="close" permission permission-only="['auth.user.list', 'auth.group.list']">
      <a href>
        <i class="fa fa-fw fa-user-o"></i>
        <span idi-locale="sidebar.profiles"></span>
      </a>
      <ul>
        <li class="title">Profiles</li>
        <li permission permission-only="'auth.user.list'">
          <a href ui-sref="app.admin.users" ui-sref-active="active" genie-wish="Profiles / Users">Users
          </a>
        </li>
        <li permission permission-only="'auth.group.list'">
          <a href ui-sref="app.admin.groups" ui-sref-active="active" genie-wish="Profiles / Groups">Groups
          </a>
        </li>
        <li permission permission-only="'auth.userGroups.edit'">
          <a href ui-sref="app.admin.permissions" ui-sref-active="active" genie-wish="Profiles / Permissions">Permissions
          </a>
        </li>
        <li>
          <a href ng-click="logout()">Logout</a>
        </li>
      </ul>
    </li>
    <li data-state="close" permission permission-only="['admissions.admissionSelf.get','admissions.admissionAny.get']">
      <a href>
        <i class="fa fa-fw fa-id-card-o"></i>
        <span idi-locale="sidebar.admissions"></span>
      </a>
      <ul>
        <li class="title">Admissions</li>
        <li permission permission-only="['admissions.admissionSelf.get','admissions.admissionAny.get']">
          <a href ui-sref="app.admin.admissions.student" ui-sref-active="active" genie-wish="Admissions / Apply">Apply</a>
        </li>
        <li permission permission-only="'admissions.admissionAny.get'">
          <a href ui-sref="app.admin.admissions.advisor" ui-sref-active="active" genie-wish="Admissions / List">List of Applicants</a>
        </li>
        <li permission permission-only="'admissions.supportDocument.edit'">
          <a href ui-sref="app.admin.admissions.documents" ui-sref-active="active" genie-wish="Admissions / Supporting Documents">Supporting Documents</a>
        </li>
      </ul>
    </li>
    <li data-state="close" ng-show="currentPermissions.indexOf('courses.course.create') > -1">
      <a href ng-href="{{::urlToCourseBuilder}}" target="_self" genie-wish="Home / Course Builder">
        <i class="fa fa-fw fa-file-code-o"></i>
        <span idi-locale="sidebar.course_builder"></span>
      </a>
    </li>
    <li data-state="close" ng-show="currentPermissions.indexOf('filemanager.folder.get') > -1">
    <a href ui-sref="app.admin.files" ui-sref-active="active" genie-wish="Home / Media Manager">
      <i class="fa fa-fw fa-picture-o"></i>
      <span idi-locale="sidebar.media_manager"></span>
    </a>
    </li>
    <li data-state="close" permission permission-only="['messages.conversationOwn.get']">
      <a href>
        <i class="fa fa-fw fa-envelope-o"></i>
        <span idi-locale="sidebar.messages"></span>
        <small ng-if="totalUnreadCtr > 0" class="badge pull-right">{{ totalUnreadCtr }}</small>
      </a>
      <ul>
        <li class="title">Messages</li>
        <li permission permission-only="['messages.conversationOwn.get']">
          <a href ui-sref="app.admin.mail2.new" ui-sref-active="active" genie-wish="Messages / Compose">Compose</a>
        </li>
        <li permission permission-only="'messages.conversationOwn.get'">
          <a href ui-sref="app.admin.mail2.inbox" ui-sref-active="active" genie-wish="Messages / Inbox">Inbox</a>
        </li>
        <li permission permission-only="'messages.conversationOwn.get'">
          <a href ui-sref="app.admin.mail2.drafts" ui-sref-active="active" genie-wish="Messages / Drafts">Drafts</a>
        </li>
        <li permission permission-only="'messages.conversationOwn.get'">
          <a href ui-sref="app.admin.mail2.sent" ui-sref-active="active" genie-wish="Messages / Sent">Sent</a>
        </li>
      </ul>
    </li>
    <li data-state="close" permission permission-only="['admissions.admissionSelf.get','admissions.admissionAny.get']">
      <a href>
        <i class="fa fa-fw fa-address-card-o"></i>
        <span idi-locale="sidebar.messages_manager"></span>
      </a>
      <ul>
        <li class="title">Messages Management</li>
        <li permission permission-only="['admissions.admissionSelf.get','admissions.admissionAny.get']">
          <a href ui-sref="app.admin.mail2.manager.scopes" ui-sref-active="active" genie-wish="Messages / Scopes">Scopes</a>
        </li>
        <li permission permission-only="'admissions.admissionAny.get'">
          <a href ui-sref="app.admin.mail2.manager.conversations" ui-sref-active="active" genie-wish="Messages / All Conversations">All Conversations</a>
        </li>
      </ul>
    </li>
    <!-- <li data-state="close" ng-show="currentPermissions.indexOf('messages.conversationOwn.get') > -1">
      <a href>
        <i class="fa fa-fw fa-envelope-o"></i>
        <span idi-locale="sidebar.messages"></span>
        <small ng-if="totalUnreadCtr > 0" class="badge pull-right">{{ totalUnreadCtr }}</small>
      </a>
      <ul ng-show="currentPermissions.indexOf('messages.conversationOwn.get') > -1">
        <li class="title">Messages</li>
        <li ng-if="(messageScopeObj.name == 'Starred' && oldMessageScopeName && (oldMessageScopeName != 'starred'))">
          <a href ui-sref="app.admin.mail.category({ category: oldMessageScopeName })">Back</a>
        </li>
        <li ng-if="isRead()">
          <a href ui-sref="app.admin.mail.category({ category: currentScope })">Back to list</a>
        </li>
        <li ng-if="isSearch()">
          <a href ui-sref="app.admin.mail.search({ category: currentScope })">Back to list</a>
        </li>
        <li ng-repeat="scope in messageScopes" data-state="close">
          <div class="scope-title"
               ng-if="!scope.expanded && scope.hasSubCategories">{{ scope.name }}
            <small ng-if="scope.unreadCtr > 0" class="badge pull-right">{{ scope.unreadCtr }}</small>
          </div>
          <ul class="scope-category"
              ng-if="!scope.expanded && scope.hasSubCategories">
            <li>
              <a href ui-sref-active="active"
                 ui-sref="app.admin.mail.category({ category: scope.name_alias + '_new' })">New</a></li>
            <li>
              <a href ui-sref-active="active" ui-sref="app.admin.mail.category({ category: scope.name_alias })">My</a>
            </li>
            <li><a href ui-sref-active="active"
                   ui-sref="app.admin.mail.category({ category: scope.name_alias + '_other'})">Other</a></li>
          </ul>
    
          <a href
             ui-sref-active="active"
             ui-sref="app.admin.mail.category({ category: scope.name_alias })"
             ng-if="!scope.expanded && !scope.hasSubCategories">
            {{ scope.name }}
            <small ng-if="scope.unreadCtr > 0" class="badge pull-right">{{ scope.unreadCtr }}</small>
          </a>
    
          <a href ui-sref-active="active"
             ui-sref="app.admin.mail.category.read({ category: scope.name_alias, id: scope.conversationId })"
             ng-if="scope.expanded && scope.conversationId">
            {{ scope.name }}
            <small ng-if="scope.unreadCtr > 0" class="badge pull-right">{{ scope.unreadCtr }}</small>
          </a>
    
          <a href ui-sref-active="active"
             ui-sref="app.admin.mail.category.read({ category: scope.name_alias, id: null })"
             ng-if="scope.expanded && !scope.conversationId">
            {{ scope.name }}
            <small ng-if="scope.unreadCtr > 0" class="badge pull-right">{{ scope.unreadCtr }}</small>
          </a>
        </li>
        <li permission permission-only="'messages.settings'">
          <a href ui-sref-active="active" ui-sref="app.admin.mail.settings" genie-wish="Message / Settings">Settings</a>
        </li>
      </ul>
    </li> -->
    <li data-state="close" permission permission-only="['studypath.role.tutor','studypath.role.student', 'studypath.role.manager', 'admissions.role.applicant', 'admissions.role.advisor']">
      <a href ui-sref="app.admin.forums.list" ui-sref-active="active" genie-wish="Forums">
        <i class="fa fa-fw fa-comments-o"></i>
        <span idi-locale="sidebar.forums"></span>
      </a>
    </li>
    <li data-state="close" permission permission-only="'forums.manager'">
      <a href class="icon-share"><span>Collaboration</span></a>
      <ul>
        <!-- <li class="title">Forums</li> -->
        <li permission permission-only="'forums.manager'">
          <a href
             ui-sref="app.admin.forums.list"
             ui-sref-active="active"
             genie-wish="Forums / Forums">Forums</a>
        </li>
        <li permission permission-only="'forums.manager'">
          <a href
             ui-sref="app.admin.forums.manager"
             ui-sref-active="active"
             genie-wish="Forums / Manager">Forums Manager</a>
        </li>
        <li>
          <a href
            ui-sref="app.admin.galleries.list"
            ui-sref-active="active"
            genie-wish="Galleries / Galleries">Galleries</a>
        </li>
        <li>
          <a href
            ui-sref="app.admin.galleries.manager"
            ui-sref-active="active"
            genie-wish="Galleries / Galleries">Galleries Manager</a>
        </li>
      </ul>
    </li>
    <li data-state="close" permission permission-only="['payments.role.subscriber', 'payments.role.manager']">
      <a href ui-sref="app.admin.payments.dashboard" ui-sref-active="active" genie-wish="Home / Payments">
        <i class="fa fa-fw fa-credit-card"></i>
        <span idi-locale="sidebar.payments"></span>
      </a>
    </li>
    <li data-state="close" permission permission-only="'payments.role.manager'">
      <a href ui-sref="app.admin.payments.manager.courses" ui-sref-active="active" genie-wish="Home / Payments Manager">
        <i class="fa fa-fw fa-credit-card"></i>
        <span idi-locale="sidebar.payments_manager"></span>
      </a>
    </li>
    <li data-state="close" permission permission-only="'forums.manager'">
      <a href ui-sref="app.admin.studentrecord.list" ui-sref-active="active" genie-wish="Home / Students Record">
        <i class="fa fa-fw fa-list"></i>
        <span idi-locale="sidebar.students_record"></span>
      </a>
    </li>
    <li data-state="close" ng-if="false">
      <a href ui-chat-toggle>
        <i class="fa fa-fw fa-commenting-o"></i>
        <span idi-locale="sidebar.chat"></span>
      </a>
    </li>
    <li data-state="close" permission permission-only="['pages.page.create', 'pages.page.update']">
      <a href ui-sref="app.admin.pages" ui-sref-active="active" genie-wish="Home / Pages Manager">
        <i class="fa fa-fw fa-file-text-o"></i>
        <span idi-locale="sidebar.pages_management"></span>
      </a>
    </li>
  </ul>
</nav>
