#mailaside {
  background-color: #191547;

  .new-mail {
    padding: 0 30px 20px 30px;
  }
  nav {
    background-color: transparent;
  }

  .owner-title {
    font-family: @font-family-serif;
    font-weight: @font-bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0 0 10px 0;
  }
}
//#mailbox {
  .mail-pagi {
    margin-left: 10px;
    margin-right: 10px;
    font-size: @font-size-small;
    line-height: 22px;
  }
  .mail-list-options {
    .btn-check {
      margin: 0;
      float: left;
    }
  }
  .mail-list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      border-bottom: 1px solid @panel-inner-border;
      border-left: 2px solid transparent;
      padding: 15px 15px 15px 13px;
      &.unread {
        background-color: lighten(@brand-primary, 10%);
        color: @btn-primary-color;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;

        .title,
        .fa-star-o,
        .title .short {
          color: @btn-primary-color;
        }
        &:hover {
          background-color: @brand-primary;
        }
      }
      &:hover, &.active {
        background-color: @gray-lighter;
        border-left-color: @brand-success;
      }
      &:last-child {
        border-bottom: none;
      }      
      .title {
        color: @gray-light;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        h6 {
          margin: 0 0 5px 0;
          font-weight: 500;
        }
        .short {
          display: block;
          color: fade(@gray-light, 80%);
          font-size: 12px;
          width: 100%;
          overflow: hidden;
          white-space: normal;

          * {
            width: 100%;
            overflow: hidden;
            white-space: normal;
          }
        }
        .message-from {
          font-size: 12px;
          font-weight: normal;
          font-family: Roboto, sans-serif;
        }
      }
      .btn-check {
        margin-top: 0;
        margin-right: 10px;
      }
      .attachment {
        float: right;
        width: 25px;
        height: 35px;
      }
      .fav {
        display: block;
        color: @gray-light;
        
        &.fav-flag {
          color: @brand-warning;
        }
      }
      .time-fav {
        float: right;
        //width: 40px;
      }
    }

  }

  .mail-content {
    .btn-link {
      color: @gray-light;
    }
    .open-title {
      font-size: @font-size-h3;
      font-weight: 500;
      display: block;
    }
    .open-title-info {
      font-size: 12px;
      color: @gray-light;
    }
    .open-date {
      float:right;
      font-size: 12px;
      color: @gray-light;
    }
    .open-content {
      padding: 15px;
    }
    .open-reply {
      min-height: 80px;
      margin: 40px 0 0 0;
    }
  }

  .file-name {
    word-wrap: break-word;
  }
//}

body.contract { 
  aside[role="navigation"] {
    .owner-title, .new-mail, svg {
      display: none;
    }
  }
}