.page {
  background-image: url() !important;
  background-color: #eaeff5;
}
.loading .slice1,
.loading .slice2 {
  background-color: #eaeff5;
  background-image: url() !important;
}
.loading .logo .center img {
  width: 250px;
  height: auto;
}
.loading:before {
  background-color: #307fe2;
}
.page.login .container {
  margin: 25px auto;
}
.page.login h1 img {
  width: 100%;
  max-width: 176px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.page.login .panel-heading h3 {
  text-align: left;
  padding-left: 4px;
  color: #307fe2;
}
aside[role="navigation"],
aside[role="navigation"] nav.side-bar,
aside[role="navigation"] .brand {
  background-color: #307fe2;
}
aside[role="navigation"] .brand .large {
  padding: 25px 0;
  max-width: 40%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  aside[role="navigation"] .brand .large {
    max-width: 57%;
  }
}
aside[role="navigation"] nav.side-bar .badge {
  background-color: #ff8200;
}
aside[role="navigation"] nav.side-bar ul.nav-menu > li > a:before {
  color: #fff;
}
aside[role="navigation"] nav.side-bar ul.nav-menu > li ul {
  background-color: #fff;
  box-shadow: none;
}
aside[role="navigation"] nav.side-bar ul.nav-menu > li ul > li:not(.title) > a,
aside[role="navigation"] nav.side-bar ul.nav-menu > li ul > li:not(.title) div.scope-title {
  color: #555;
}
aside[role="navigation"] nav.side-bar ul.nav-menu > li ul > li:not(.title) > a.active,
aside[role="navigation"] nav.side-bar ul.nav-menu > li ul > li:not(.title) div.scope-title.active,
aside[role="navigation"] nav.side-bar ul.nav-menu > li ul > li:not(.title) > a:hover,
aside[role="navigation"] nav.side-bar ul.nav-menu > li ul > li:not(.title) div.scope-title:hover {
  color: #307fe2;
}
aside[role="navigation"] nav.side-bar ul.nav-menu > li:hover > a,
aside[role="navigation"] nav.side-bar ul.nav-menu > li.active > a {
  background-color: #001e60;
  border-left: 2px solid #a7c6ed;
}
aside[role="navigation"] nav.side-bar ul.nav-menu > li:hover > a:before,
aside[role="navigation"] nav.side-bar ul.nav-menu > li.active > a:before {
  color: #a7c6ed;
}
body.contract aside[role="navigation"] nav.side-bar ul.nav-menu > li > a:before {
  color: #fff;
}
body.contract aside[role="navigation"] nav.side-bar ul.nav-menu > li > a:hover:before {
  color: #a7c6ed;
}
body.contract aside[role="navigation"] nav.side-bar ul.nav-menu > li > a + ul > li.title {
  background-color: #001e60;
}
body.contract aside[role="navigation"] nav.side-bar ul.nav-menu > li:hover > ul {
  border-right: 1px solid #001e60;
  border-bottom: 1px solid #001e60;
}
aside.chat {
  background-color: #307fe2;
}
aside.chat .text-info {
  color: #001e60 !important;
}
aside.chat .badge.badge-danger {
  background: #ff8200;
}
aside.chat .user-list li:not(.group-name):hover {
  background-color: #001e60;
}
aside.chat .conversation-list li .avatar .time {
  color: #001e60;
}
aside.chat .message-input,
aside.chat .message-input input {
  background-color: #002e93;
}
aside.chat .message-input span {
  color: #001e60;
}
aside.chat .conversation-list li .message {
  background-color: #001e60;
}
aside.chat .conversation-list li .message:after {
  border-color: transparent #001e60 transparent transparent;
}
aside.chat .conversation-list li.owner .message {
  background-color: #002e93;
}
aside.chat .conversation-list li.owner .message:after {
  border-color: #002e93 transparent transparent transparent;
}
.btn-success,
.btn-info {
  color: #ffffff;
  background-color: #307fe2;
  border-color: #307fe2;
  box-shadow: inset 0 -2px 0 #1b66c4;
  border: none;
}
.btn-success:hover,
.btn-info:hover,
.btn-success:focus,
.btn-info:focus,
.btn-success:active,
.btn-info:active,
.btn-success.active,
.btn-info.active,
.open > .dropdown-toggle.btn-success,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #1b66c4;
  border-color: #1a61bb;
}
.btn-success:active,
.btn-info:active,
.btn-success.active,
.btn-info.active,
.open > .dropdown-toggle.btn-success,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-success.disabled,
.btn-info.disabled,
.btn-success[disabled],
.btn-info[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-info,
.btn-success.disabled:hover,
.btn-info.disabled:hover,
.btn-success[disabled]:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-info:hover,
.btn-success.disabled:focus,
.btn-info.disabled:focus,
.btn-success[disabled]:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-info:focus,
.btn-success.disabled:active,
.btn-info.disabled:active,
.btn-success[disabled]:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-info:active,
.btn-success.disabled.active,
.btn-info.disabled.active,
.btn-success[disabled].active,
.btn-info[disabled].active,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-info.active {
  background-color: #307fe2;
  border-color: #307fe2;
}
.btn-success .badge,
.btn-info .badge {
  color: #307fe2;
  background-color: #ffffff;
}
.btn-success.dropdown-toggle,
.btn-info.dropdown-toggle {
  margin-left: 0 !important;
  border-left: 1px solid #1b66c4;
}
.btn-success.icon-standalone i,
.btn-info.icon-standalone i {
  background-color: #1b66c4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #307fe2;
}
#page-heading .page-title {
  color: #307fe2;
}
.has-success .form-control {
  border-color: #c9d7e0;
}
.has-success .form-control:focus,
.form-control:focus {
  border-color: #307fe2;
  box-shadow: 0 0 4px 1px rgba(48, 127, 226, 0.6);
}
.ngscroll-scrollbar-container .ngscroll-scrollbar {
  background-color: #001e60 !important;
}
.round-progress-wrapper svg path {
  stroke: #307fe2 !important;
}
.btn-check input[type="checkbox"] + span:after {
  border: 0 solid #307fe2;
}
.btn-check:hover input[type="checkbox"]:not(:disabled) + span:before {
  box-shadow: 0 0 6px 0 #307fe2;
  border-color: #307fe2;
}
.slide-default input[type="checkbox"]:checked + span:before {
  background-color: #307fe2;
}
.form-wizard .bar,
.form-wizard .tabs li.active a:after,
.form-wizard .tabs li.active button:after,
.form-wizard.admission-wizard .tabs li.active,
.form-wizard.admission-wizard .tabs li.active button + div > span {
  background-color: #307fe2;
}
@media (min-width: 768px) {
  .form-wizard.admission-wizard .tabs li.active {
    background-color: #ffffff;
  }
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  border-left-color: #307fe2;
}
.navbar .navbar-link-primary > [class^="icon-"],
.navbar .navbar-link-primary > [class*="icon-"] {
  background-color: #ff8200;
}
.navbar .navbar-link-primary > [class^="icon-"]:before,
.navbar .navbar-link-primary > [class*="icon-"]:before {
  color: #cc6800;
}
.navbar .navbar-link-primary > small {
  background-color: #cc6800;
}
.navbar .navbar-link-success > [class^="icon-"],
.navbar .navbar-link-success > [class*="icon-"] {
  background-color: #307fe2;
}
.navbar .navbar-link-success > [class^="icon-"]:before,
.navbar .navbar-link-success > [class*="icon-"]:before {
  color: #1b66c4;
}
.navbar .navbar-link-success > small {
  background-color: #1b66c4;
}
.navbar .navbar-link-info > [class^="icon-"],
.navbar .navbar-link-info > [class*="icon-"] {
  background-color: #a7c6ed;
}
.navbar .navbar-link-info > [class^="icon-"]:before,
.navbar .navbar-link-info > [class*="icon-"]:before {
  color: #7dabe4;
}
.navbar .navbar-link-info > small {
  background-color: #7dabe4;
}
.ui-notification.success {
  background-color: #307fe2;
}
.social-icons > ul > li:hover > a {
  color: #001e60;
}
nav[role="navigation"] .uk-timezone {
  color: #307fe2;
}
.profile-menu-collapse .nav-tabs > li.active,
.profile-menu-collapse .nav-tabs > li.active > a,
.profile-menu-collapse .nav-tabs > li.active > a:hover,
.profile-menu-collapse .nav-tabs > li.active > a:focus {
  background-color: #307fe2;
}
.nav-tabs.profile-tabs > li.active,
.nav-tabs.profile-tabs > li.active > a,
.nav-tabs.profile-tabs > li.active > a:hover,
.nav-tabs.profile-tabs > li.active > a:focus,
.nav-tabs.profile-tabs > li > a:hover,
.nav-tabs.profile-tabs > li > a:focus,
.breadcrumb > .active {
  color: #307fe2;
}
#mailbox .mail-list li:hover,
#mailbox .mail-list li.active {
  border-left-color: #307fe2;
}
