<div id="page-heading">
  <h3 class="page-title">Invoice</h3>
</div>

<section class="container-fluid">
  <div class="row">
    <div class="col-xlg-3 col-lg-3 col-md-4 col-sm-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <widget-month></widget-month>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6">
          <widget-balance></widget-balance>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6">
          <widget-planner></widget-planner>
        </div>
      </div>
    </div>

    <div class="col-xlg-9 col-lg-9 col-md-8 col-sm-12">
      <div class="panel panel-default">
        <nav class="navbar navbar-inverse navbar-default" role="navigation">
          <div class="container-fluid">

            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add new <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li><a href="#">Delete</a></li>
              <li><a href="#">Show</a></li>
            </ul>
          </div>
        </nav>
        <div class="panel-body no-padding table-responsive">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th class="text-center hidden-sm hidden-md hidden-xs">#</th>
                <th class="hidden-sm hidden-xs" width="4%">
                  <label class="btn-check">
                    <input type="checkbox" ng-click="$toggleAll()">
                    <span></span>
                  </label>
                </th>
                <th>Number</th>
                <th>Company</th>
                <th class="hidden-sm hidden-md hidden-xs">Address</th>
                <th class="hidden-sm hidden-xs">Price</th>
                <th class="hidden-sm hidden-md hidden-xs">Tax</th>
                <th>Total</th>
                <th>Status</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in invoideDemo">
                <td class="text-center hidden-sm hidden-md hidden-xs">{{ $index+1 }}</td>
                <td class="hidden-sm hidden-xs">
                  <label class="btn-check">
                    <input type="checkbox" ng-model="item.selected">
                    <span></span>
                  </label>
                </td>
                <td><a href ui-sref="app.admin.extras.invoice-show" class="btn btn-link">{{ item.number }}</a></td>
                <td>{{ item.name }}</td>
                <td class="hidden-sm hidden-md hidden-xs">{{ item.address }}</td>
                <td class="hidden-sm hidden-xs">$ {{ item.price | number:2 }}</td>
                <td class="hidden-sm hidden-md hidden-xs">$ {{ item.price * 0.23 | number:2 }}</td>
                <td>$ {{ item.price * 0.23 + item.price | number:2 }}</td>
                <td><span class="label label-{{ item.status.type }}">{{ item.status.value }}</span></td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="">Edit</a></li>
                      <li><a href="">Delete</a></li>
                      <li><a href="">Preview</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer clearfix">
          <nav class="pull-right">
            <ul class="pagination pagination-sm">
              <li><a href="#">«</a></li>
              <li class="disabled"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li class="active"><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>