<div id="page-heading">
  <h3 class="page-title">Timeline</h3>
</div>

<section class="container-fluid">

  <div class="ui-timeline">
    <div class="tl-date">Today</div>
    <div class="tl-block row">
      <div class="tl-dot"></div>
      <div class="col-lg-6 col-lg-offset-0 col-md-12 col-md-offset-0">
        <div class="panel panel-default right-side">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
                <img src="/assets/img/avatar/avatar75.png" alt="John Smith" class="picture">
                <span class="title"><a href class="text-muted">John Smith</a></span>
                <small class="subtitle">Post an article in <a href class="text-muted">Category</a></small>
              </div>
              <div class="col-lg-4 col-md-2 col-sm-4 col-xs-12">
                <div class="date"><span class="icon-wallclock icon-lg text-muted"></span> 2 min ago</div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <h4>How to write an eBook? Quick tutorial</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero earum magni delectus dolorem tempore dolore amet placeat quasi asperiores commodi assumenda eveniet reprehenderit vel quo doloremque facilis reiciendis, voluptatum impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p>Nisi reprehenderit cum hic neque, consequuntur, facere itaque praesentium ipsum voluptate dignissimos quis et deleniti, maxime totam nostrum mollitia beatae error possimus!</p>
          </div>
          <div class="panel-footer clearfix">
            <a href class="text-muted"><span class="fa fa-heart-o fa-lg fa-fw"></span> 18</a>
            <a href class="text-muted"><span class="fa fa-comment-o fa-lg fa-fw"></span> 10</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tl-block row">
      <div class="tl-dot"></div>
      <div class="col-lg-6 col-lg-offset-6 col-md-12">
        <div class="panel panel-default left-side">
          <div class="panel-body">
            <div class="event bg-info text-center">
              <img src="/assets/img/avatar/avatar200.png" alt="John Smith" class="avatar">
              <h4>John Smith</h4>
              <p class="event-info">
                <span class="fa fa-map-marker text-success"></span>
                <span class="text-success">London, UK</span>
                <span class="fa fa-clock-o text-success"></span>
                <span class="text-success">4 min ago</span>
              </p>
            </div>
            <h5 class="text-center text-muted bold no-margin margin-top">User Jonh Smith joined the site.</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="tl-block row">
      <div class="tl-dot"></div>
      <div class="col-lg-6 col-lg-offset-0 col-md-12">
        <div class="panel panel-default right-side">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
                <img src="/assets/img/avatar/avatar75.png" alt="John Smith" class="picture">
                <span class="title"><a href class="text-muted">John Smith</a></span>
                <small class="subtitle">Checked in <a href class="text-muted">Buckingham Palace, London</a></small>
              </div>
              <div class="col-lg-4 col-md-2 col-sm-4 col-xs-12">
                <div class="date"><span class="icon-wallclock icon-lg text-muted"></span> 2 hours ago</div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <iframe width='100%' height='220px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/dobrysmak.kchffpp5/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZG9icnlzbWFrIiwiYSI6IlE1bllRWGcifQ.mDF4t9wZvCP_yqvxaj8kog'></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="tl-date">Yesterday</div>
    <div class="tl-block row">
      <div class="tl-dot"></div>
      <div class="col-lg-6 col-lg-offset-6 col-md-12">
        <div class="panel panel-default left-side">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
                <img src="/assets/img/avatar/avatar75.png" alt="John Smith" class="picture">
                <span class="title"><a href class="text-muted">John Smith</a></span>
                <small class="subtitle"><a href class="text-muted">Calendar</a> event</small>
              </div>
              <div class="col-lg-4 col-md-2 col-sm-4 col-xs-12">
                <div class="date"><span class="icon-wallclock icon-lg text-muted"></span> 14:21</div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 text-center">
                <div class="fa fa-calendar fa-5x text-primary vertical-margin"></div>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <h4 class="text-primary bold">Upcomming event in calendar</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eaque ut quidem ea sequi delectus tempore nisi rerum consequuntur tempora recusandae repudiandae harum molestiae, iusto consectetur atque consequatur, voluptas, placeat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tl-block row">
      <div class="tl-dot"></div>
      <div class="col-lg-6 col-lg-offset-0 col-md-12">
        <div class="panel panel-default right-side">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
                <img src="/assets/img/avatar/avatar75.png" alt="John Smith" class="picture">
                <span class="title"><a href class="text-muted">John Smith</a></span>
                <small class="subtitle">Post an article in <a href class="text-muted">Category</a></small>
              </div>
              <div class="col-lg-4 col-md-2 col-sm-4 col-xs-12">
                <div class="date"><span class="icon-wallclock icon-lg text-muted"></span> 12:02</div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <h4>HTML5 Canvas Tutorial</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero earum magni delectus dolorem tempore dolore amet placeat quasi asperiores commodi assumenda eveniet reprehenderit vel quo doloremque facilis reiciendis, voluptatum impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nihil nobis, cumque! Cupiditate similique repellat aut amet dolore, ad eligendi, blanditiis quibusdam architecto fugit, iure nulla magni, quod labore saepe.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam fuga quo corporis quas amet, ad iure rerum, pariatur et aperiam, beatae illum, eveniet atque sapiente voluptas consectetur cum! Atque, at!</p>
          </div>
          <div class="panel-footer clearfix">
            <a href class="text-muted"><span class="fa fa-star-o fa-lg fa-fw"></span> 5</a>
            <a href class="text-muted"><span class="fa fa-comment-o fa-lg fa-fw"></span> 2</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tl-date">12 oct 2014</div>
    <div class="tl-block row">
      <div class="tl-dot"></div>
      <div class="col-lg-6 col-lg-offset-6 col-md-12">
        <div class="panel panel-default left-side">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
                <img src="/assets/img/avatar/avatar75.png" alt="John Smith" class="picture">
                <span class="title"><a href class="text-muted">John Smith</a></span>
                <small class="subtitle">Uploaded new files in <a href class="text-muted">Gallery</a></small>
              </div>
              <div class="col-lg-4 col-md-2 col-sm-4 col-xs-12">
                <div class="date"><span class="icon-wallclock icon-lg text-muted"></span> 10:34</div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row thumbnails">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/2/2014/01/PixarLessons_Up.jpg" alt="" class="rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tl-block row">
      <div class="tl-dot"></div>
      <div class="col-lg-6 col-lg-offset-0 col-md-12">
        <div class="panel panel-default right-side">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
                <img src="/assets/img/avatar/avatar75.png" alt="John Smith" class="picture">
                <span class="title"><a href class="text-muted">John Smith</a></span>
                <small class="subtitle">Task has changed in <a href class="text-muted">Category</a></small>
              </div>
              <div class="col-lg-4 col-md-2 col-sm-4 col-xs-12">
                <div class="date"><span class="icon-wallclock icon-lg text-muted"></span> 7:30</div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 text-center">
                <div class="fa fa-check fa-5x text-success vertical-margin"></div>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <h4 class="text-success bolder">Task #3212 has been done by John Smith</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas cumque delectus nobis, aspernatur dolorum, possimus sunt doloremque aliquid quis, modi vitae nam placeat hic iusto fugiat molestiae et, aut totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tl-block row">
      <div class="tl-dot"></div>
      <div class="col-lg-6 col-lg-offset-6 col-md-12">
        <div class="panel panel-default left-side">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
                <img src="/assets/img/avatar/avatar75.png" alt="John Smith" class="picture">
                <span class="title"><a href class="text-muted">John Smith</a></span>
                <small class="subtitle">Task has changed in <a href class="text-muted">Category</a></small>
              </div>
              <div class="col-lg-4 col-md-2 col-sm-4 col-xs-12">
                <div class="date"><span class="icon-wallclock icon-lg text-muted"></span> 4:15</div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 text-center">
                <div class="fa fa-warning fa-5x text-danger vertical-margin"></div>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <h4 class="text-danger bolder">Task #3211 required Your attention</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas est culpa totam similique, minima ipsum quae molestias dolorem, fuga. Enim eaque dolor illum voluptas, facilis ad officia aliquam rerum reprehenderit?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>