<form name="editPostForm" id="editPostForm" ng-show="post.isEdit" ng-submit="updatePost(editPostForm)" ng-class="{ 'form-processing' : editPostForm.$submitted }">
  <div class="form-group">
    <textarea type="text" name="replyMessage" id="replyMessage" class="form-control" placeholder="Enter reply message..." ng-model="reply.message" ng-required="true"></textarea>
  </div>
  <div ng-if="uploaderEdit.queue.length > 0 || post.attachments.length > 0">
    <hr>
    <h5><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments {{ uploaderEdit.queue.length + post.attachments.length }}</h5>
    <ul class="list-unstyled row vertical-margin mail-attachments post-attachments">
      <li ng-repeat="item in post.attachments">
        <div class="row">
          <div class="col-xs-5"><p class="bolder file-name">{{ item.file.title }}</p></div>
          <div class="col-xs-5"></div>
          <div class="col-xs-1"><a href title="Remove" ng-click="deleteAttachment(item)" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a></div>
        </div>
      </li>
      <li ng-repeat-start="item in uploaderEdit.queue" ng-class="{ 'text-danger' : item.isError }">
        <div class="row">
          <div class="col-xs-5"><p class="bolder file-name">{{ item.file.name }}</p></div>
          <div class="col-xs-5">
            <div class="progress" ng-if="!item.isUploaded">
              <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                <span class="sr-only">{{ item.progress }}% Complete</span>
              </div>
            </div>
            <p ng-if="item.isError">{{ item.msg }}</p>
          </div>
          <div class="col-xs-1">
            <a href title="Remove" ng-click="removeFileId(item);item.cancel();" ng-if="item.isUploading"><span class="fa fa-remove"></span></a>
            <a href title="Remove" ng-click="removeFileId(item);item.remove();" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a>
          </div>
        </div>
      </li>
      <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
    </ul>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default" ng-disabled="replyForm.$submitted" ng-click="cancelEdit()">Cancel</button>
    <label for="fileEdit" type="button" 
            class="btn btn-primary btn-upload icon-standalone">
      <i class="fa fa-upload"></i> <span>Attach Files</span>
      <input ng-if="post.isEdit" id="fileEdit" type="file" nv-file-select uploader="uploaderEdit" multiple />
    </label>
    <button type="submit" class="btn btn-alt" ng-disabled="replyForm.$submitted">Change</button>
        <div class="col-sm-10 move-post">   
         <label class="control-label">Move post to topic</label>
          <ui-select theme="bootstrap" ng-model="tpModel.selected"> <ui-select-match placeholder="Select or search a topic in the list...">{{$select.selected.subject}}</ui-select-match> <ui-select-choices repeat="topic in topics | filter: $select.search"> <div ng-bind-html="topic.subject"></div> </ui-select-choices> </ui-select>
        </div>
  </div>
</form>