<div class="panel panel-default">
  <div class="panel-body">
    <div class="row filter-options">
      <div class="col-xs-12">
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Title" ng-model="filter.text" ng-keypress="filterForumsByEnter($event)">
            <span class="fa fa-remove" ng-show="filter.text" ng-click="filter.text = ''"></span>
          </div>
          <div ng-if="checkRights('forums.editTopicState')" class="form-group">
            <select class="form-control"
                    ng-model="filter.semester"
                    ng-options="o.name for o in semesterList track by o.id"
                    ng-change="filterForums()">
              <option value="">Select semester</option>
            </select>
            <span class="fa fa-remove select" ng-show="filter.semester" ng-click="filter.semester = ''"></span>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="filterForums()">Search</button>
          </div>
        </div>
      </div>
    </div>
    <!--<table ng-table="forumsList" class="table table-hover table-forums ng-table-responsive">
      <tr ng-repeat="item in $data">
        <td data-title="'Forums'"><a href ui-sref="app.admin.forums.view({ forumId: item.id })">{{ item.title }}</a></td>
      </tr>
    </table>-->
        
  <div ng-switch on="checkRights('forums.editTopicState')">
    <div ng-if="userForumsList.length > 0" ui-tree="treeOptions" class="forum-list" ng-switch-when="true">
      <div class="panel-group" ui-tree-nodes="" ng-model="userForumsList" collapsed="true">
        <div class="panel panel-default user-forum-list" ng-repeat="forum in userForumsList" ui-tree-node>
          <div class="panel-heading">
            <a href="" ng-click="toggle(this)" data-nodrag="">
		        <i class="fa fa-chevron-down" ng-hide="collapsed"></i>
		        <i class="fa fa-chevron-right ng-hide" ng-show="collapsed"></i>
	        </a>
            <span class="panel-title">
              {{ forum.title }}
            </span>
          </div>
          <div class="panel-collapse" ng-show="collapsed">
            <div class="panel-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Course and Module Forums</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td><a href ui-sref="app.admin.forums.view({ forumId: forum.id })" data-nodrag="">{{ forum.title }}</a></td></tr>
                  <tr ng-repeat="sub in forum.subforums"><td><a href ui-sref="app.admin.forums.view({ forumId: sub.id })" data-nodrag="">{{ sub.title }}</a></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
     <div ng-if="userForumsList.length > 0" class="forum-list forum-list-user" ng-switch-default>
      <div class="panel-group" ui-collapse="forum">
        <div class="panel panel-default user-forum-list" ng-repeat="forum in userForumsList">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse{{ forum.id }}" ng-click="row.booleanVal = !row.booleanVal">
                <i class="fa fa-chevron-down" ng-show="row.booleanVal"></i>
		        <i class="fa fa-chevron-right ng-hide" ng-show="!row.booleanVal"></i>
               {{ forum.title }}</a>
            </h4>
          </div>
          <div id="collapse{{ forum.id }}" class="panel-collapse collapse">
            <div class="panel-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Course and Module Forums</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td><a href ui-sref="app.admin.forums.view({ forumId: forum.id })">{{ forum.title }}</a></td></tr>
                  <tr ng-repeat="sub in forum.subforums"><td><a href ui-sref="app.admin.forums.view({ forumId: sub.id })">{{ sub.title }}</a></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>  
    </div>  
  </div>
</div>