<div class="panel panel-default">
  <div class="panel-heading">List of Forums</div>
  <div class="panel-body forums-section">
    <div class="row filter-options">
      <div class="col-xs-12 col-sm-6 col-sm-offset-6">
        <div class="forums-options">
          <!--<button type="button" class="btn btn-primary icon-standalone" ng-click="addForum()"><i class="fa fa-plus"></i> <span>New</span></button>-->
          <a href ui-sref="app.admin.forums.manager.edit" class="btn btn-primary icon-standalone"><i class="fa fa-plus"></i> <span>New</span></a>
        </div>
      </div>
    </div>
    <div class="row filter-options">
      <div class="col-xs-12">
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Title" ng-model="managerFilter.text" ng-keypress="filterForumsByEnter($event)">
            <span class="fa fa-remove" ng-show="managerFilter.text" ng-click="managerFilter.text = ''"></span>
          </div>
          <div class="form-group">
            <select class="form-control"
                    ng-model="managerFilter.semester"
                    ng-options="o.name for o in semesterList track by o.id">
              <option value="">Select semester</option>
            </select>
            <span class="fa fa-remove select" ng-show="managerFilter.semester" ng-click="managerFilter.semester = ''"></span>
          </div>
          <div class="form-group">
            <select ng-model="managerFilter.scope" class="form-control" ng-keypress="filterForumsByEnter($event)">
              <option value="" selected>Select type</option>
              <option value="module">module</option>
              <option value="course">course</option>
              <option value="custom">custom</option>
            </select>
            <span class="fa fa-remove select" ng-show="managerFilter.scope" ng-click="managerFilter.scope = ''"></span>
          </div>
          <div class="form-group">
            <select ng-model="managerFilter.state" class="form-control" ng-keypress="filterForumsByEnter($event)">
              <option value="" selected>Select state</option>
              <option value="1">Enabled</option>
              <option value="0">Disabled</option>
            </select>
            <span class="fa fa-remove select" ng-show="managerFilter.state" ng-click="managerFilter.state = ''"></span>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="filterForums()">Search</button>
          </div>
        </div>
      </div>
    </div>
    <table ng-table="forumsList" class="table table-hover table-forums ng-table-responsive">
      <tr ng-repeat="item in $data">
        <td data-title="'ID'" sortable="'id'">{{ item.id }}</td>
        <td data-title="'Title'" sortable="'title'">{{ item.title }}</td>
        <td data-title="'Status'">
          <a href ng-if="item.state" ng-click="publishItem(item)" title="Unpublish Item" class="forum-status publish"><i class="fa fa-check-circle"></i></a>
          <a href ng-if="!item.state" ng-click="publishItem(item)" title="Publish Item" class="forum-status unpublish"><i class="fa fa-dot-circle-o"></i></a>
        </td>
        <td data-title="'Type'">{{ item.scope }}</td>
        <td data-title="'Auto generated'">{{ item.scope != 'custom' ? 'Yes' : 'No' }}</td>
        <td data-title="'Semester'">{{ item.semester.name }}</td>
        <td data-title="'Created at'">{{ item.created_date | date: 'dd/MM/yyyy hh:mm a' }}</td>
        <td data-title="'Created by'">{{ item.profile.first_name }} {{ item.profile.last_name }}</td>
        <td data-title="'Options'">
          <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="" ng-click="deleteForum(item.id)" ng-confirm-click="Are you sure you want to delete this forum?"><i class="fa fa-trash-o"></i> Delete</a></li>
              <li><a href ui-sref="app.admin.forums.manager.edit({ id: item.id })"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>