<div class="panel panel-default">
  <div ng-if="!forum.id" class="panel-heading">
    Add Forum
    <div class="panel-options pull-right"><a href ui-sref="app.admin.forums.manager">Back to list</a></div>
  </div>
  <div ng-if="forum.id" class="panel-heading">
    Edit Forum
    <div class="panel-options pull-right"><a href ui-sref="app.admin.forums.manager">Back to list</a></div>
  </div>
  <div class="panel-body forums-section">
    <form name="saveForumForm" class="form-horizontal forum-form" ng-class="{'form-processing': saveForumSubmitted}" ng-submit="saveForum(saveForumForm)">
      <div class="form-group">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Enter title" ng-model="forum.title" autocomplete="off" ng-required="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" placeholder="Enter description" ng-model="forum.description" ng-required="true"></textarea>
        </div>
      </div>
      <div ng-show="!isNew" class="form-group">
        <label class="col-sm-2 control-label">Semester</label>
        <div class="col-sm-10">
          <select class="form-control"
                  ng-model="forum.semester_id"
                  ng-disabled="true">
            <option value="">Select semester</option>
            <option ng-repeat="semester in semesterList" value="{{ semester.id }}">{{ semester.name }}</option>
          </select>
        </div>
      </div>
      <div ng-show="isNew" class="form-group">
        <label class="col-sm-2 control-label">Semester</label>
        <div class="col-sm-10" ng-class="{ 'has-error': semesterError }">
          <ui-select multiple ng-model="forum.semester_ids" theme="bootstrap" ng-disabled="isSaved" reset-search-input="true" ng-required="true">
            <ui-select-match placeholder="Assign semesters">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="semester.id as semester in semesterList | filter:$select.search">
              <div ng-bind-html="semester.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Published</label>
        <div class="col-sm-10">
          <label class="btn-round slide-primary">
            <input type="checkbox" ng-model="forum.state">
            <span></span>
          </label>
        </div>
      </div>
      <div class="pull-right">
        <a href ui-sref="app.admin.forums.manager" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-alt" ng-disabled="saveForumSubmitted">Save</button>
      </div>
    </form>
  </div>
</div>
<div ng-if="forum.id" class="panel panel-default">
  <div class="panel-heading">
    User Access
    <div class="panel-options pull-right"><a href ui-sref="app.admin.forums.manager">Back to list</a></div>
  </div>
  <div class="panel-body forums-section">
    <div class="panel panel-default">
      <div class="panel-heading">Added Users</div>
      <div class="panel-body">
        <div class="clearfix">
          <div class="add-user-textbox">
            <ui-select multiple ng-model="forum.userAccess" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
              <ui-select-match placeholder="Add users">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="user.id as user in userList | filter:$select.search" 
                      refresh="refreshUsers($select.search)"
                      refresh-delay="800"
                      refresh-on-active="true">
                <div ng-bind-html="user.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="add-user-btn">
            <button type="button" class="btn btn-primary" ng-click="addUser(1)">Add</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-7 col-xlg-6">
            <table ng-table="forumUsersList" class="table table-hover table-forums ng-table-responsive">
              <tr ng-repeat="item in $data">
                <td data-title="'ID'">{{ item.id }}</td>
                <td data-title="'User'">{{ item.profile.first_name }} {{ item.profile.last_name }}</td>
                <td data-title="'Options'">
                  <a href="" ng-click="deleteForumUser(item.profile.id)" ng-confirm-click="Are you sure you want to hide this forum from '{{item.profile.first_name}} {{ item.profile.last_name }}'?"><i class="fa fa-times-circle"></i> Remove</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">Hidden From Users</div>
      <div class="panel-body">
        <div class="clearfix">
          <div class="add-user-textbox">
            <ui-select multiple ng-model="forum.userHiddenAccess" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
              <ui-select-match placeholder="Add hidden from users">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="user.id as user in userList | filter:$select.search" 
                      refresh="refreshUsers($select.search)"
                      refresh-delay="800"
                      refresh-on-active="true">
                <div ng-bind-html="user.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="add-user-btn">
            <button type="button" class="btn btn-primary" ng-click="addUser(3)">Add</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-7 col-xlg-6">
            <table ng-table="forumHiddenUsersList" class="table table-hover table-forums ng-table-responsive">
              <tr ng-repeat="item in $data">
                <td data-title="'ID'">{{ item.id }}</td>
                <td data-title="'User'">{{ item.profile.first_name }} {{ item.profile.last_name }}</td>
                <td data-title="'Options'">
                  <a href="" ng-click="deleteForumUser(item.profile.id)" ng-confirm-click="Are you sure you want to hide this forum from '{{item.profile.first_name}} {{ item.profile.last_name }}'?"><i class="fa fa-times-circle"></i> Remove</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">Banned Users</div>          
      <div class="panel-body">
        <div class="clearfix">
          <div class="add-user-textbox">
            <ui-select multiple ng-model="forum.userBannedAccess" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
              <ui-select-match placeholder="Add banned users">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="user.id as user in userList | filter:$select.search" 
                      refresh="refreshUsers($select.search)"
                      refresh-delay="800"
                      refresh-on-active="true">
                <div ng-bind-html="user.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="add-user-btn">
            <button type="button" class="btn btn-primary" ng-click="addUser(2)">Add</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-7 col-xlg-6">
            <table ng-table="forumBannedUsersList" class="table table-hover table-forums ng-table-responsive">
              <tr ng-repeat="item in $data">
                <td data-title="'ID'">{{ item.id }}</td>
                <td data-title="'User'">{{ item.profile.first_name }} {{ item.profile.last_name }}</td>
                <td data-title="'Options'">
                  <a href="" ng-click="deleteForumUser(item.profile.id)" ng-confirm-click="Are you sure you want to hide this forum from '{{item.profile.first_name}} {{ item.profile.last_name }}'?"><i class="fa fa-times-circle"></i> Remove</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>