<div class="panel panel-default">
  <div class="panel-body">
    <div class="row filter-options">
      <div class="col-xs-12 col-sm-7">
        <ol class="breadcrumb breadcrumb-alter" ng-if="!fromStudio">
          <li><a href ui-sref="app.admin.forums.view({ forumId: forum.id })">{{ forum.title || '&nbsp;'}}</a></li>
          <li class="active">{{ ::topic.subject || '&nbsp;'}}</li>
        </ol>
        <!-- <div class="semester-name" ng-if="!fromStudio">{{ ::filter.semester.name }}</div> -->
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="forums-options topic-option">
          <!-- <button ng-if="!topic.is_current_user_subscribed" type="button" class="btn btn-primary icon-standalone" ng-click="subscribeUser()"><i class="fa fa-check"></i><span>Subscribe</span></button>
          <button ng-if="topic.is_current_user_subscribed" type="button" class="btn btn-primary icon-standalone" ng-click="subscribeUser()"><i class="fa fa-times"></i><span>Unsubscribe</span></button> -->
          <button ng-if="checkRights('forums.editTopic')" type="button" class="btn btn-primary icon-standalone" ng-click="editTopic()"><i class="fa fa-pencil-square-o"></i><span>Edit Topic</span></button>
          <button type="button" class="btn btn-primary icon-standalone" ng-click="setReply()"><i class="fa fa-reply"></i><span>Reply</span></button>
        </div>
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        {{ ::topic.subject }}
        <div class="panel-options pull-right hidden-xs">
          <a href ng-click="sortPost()">Sort by date <span class="" ng-class="{ 'icon-order-dsc' : isDesc, 'icon-order-asc' : !isDesc }"></span></a>
        </div>
      </div>
      <div class="panel-body panel-post">
        <div ng-repeat="post in posts" class="row post" ng-style="{ '-webkit-box-ordinal-group': $index + 1, '-moz-box-ordinal-group': $index + 1, '-ms-flex-order': $index + 1, '-webkit-order': $index + 1, 'order': $index + 1 }" ng-hide="post.hide">
          <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2 post-info">
            <div class="image" ng-style="post.profile.profile_image.url && {'background-image': 'url({{post.profile.profile_image.url}})'} || {'background-image': 'url(/assets/img/avatar/avatar100.png)'}">
            </div>
            <!--
            <div class="image">
              <img ng-if="post.profile.profile_image" ng-src="{{ post.profile.profile_image }}" alt="" width="auto" height="100">
              <img ng-if="!post.profile.profile_image" src="/assets/img/avatar/avatar75.png" alt="" width="auto" height="100">
            </div>
            -->
            <h5 class="name" idi-bio-card="{{post.profile.id}}">{{ ::post.profile.first_name}} {{ ::post.profile.last_name}}
            </h5>
            <div class="user-type">{{ ::post.profile.roles[0] }}</div>
            <div class="date">Posted: {{ ::post.created_at | date: 'dd/MM/yyyy hh:mm a' }}</div>
            <div ng-if="post.created_at.getTime() !== post.updated_at.getTime()" class="date">Updated: {{ ::post.updated_at | date: 'dd/MM/yyyy hh:mm a' }}</div>
            <div class="options" ng-if="showOptions(post)">
              <button type="button" class="btn btn-alt" ng-if="currentPermissions.indexOf('forums.postSelf.edit') > -1" ng-click="editPost(post)"><i class="fa fa-pencil-square-o"></i> Edit</button>
              <button type="button" class="btn btn-alt" ng-if="currentPermissions.indexOf('forums.postSelf.delete') > -1" ng-click="deletePost(post.id)" ng-confirm-click="Are you sure you want to delete this post?"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
          </div>
          <h5 ng-if="::post.deleted">
            <span class="label label-danger">
                  This post has been deleted by {{ ::post.delete_profile.first_name}} {{ ::post.delete_profile.last_name}} at {{ ::post.deleted_at | date: 'dd/MM/yyyy hh:mm a'}}
            </span>
          </h5>
          <div class="col-xs-12 col-sm-7 col-md-9 col-lg-10">
            <div ng-if="post.reply_to_data.isDeleted" class="row">
              <div class="col-xs-12 col-sm-10">
                <div class="panel panel-default quoted">
                  <div class="panel-heading">This post has been deleted by {{::post.reply_to_data.deleted_by }} on {{ ::post.reply_to_data.deleted_at }}</div>
                </div>
              </div>
            </div>
            <div ng-if="post.reply_to_data.id" class="row">
              <div class="col-xs-12 col-sm-10">
                <div class="panel panel-default quoted">
                  <div class="panel-heading">{{ ::post.reply_to_data.user.first_name}} {{ ::post.reply_to_data.user.last_name}}, on {{ ::post.reply_to_data.created_at | date: 'dd/MM/yyyy hh:mm a' }}, said:</div>
                  <div class="panel-body">
                    <div ng-bind-html="post.reply_to_data.text"></div>
                    <div class="post-attachments-list">
                      <ul class="list-unstyled clearfix">
                        <li ng-repeat="item in post.reply_to_data.attachments">
                          <div class="thumbnail thumbnail--file">
                            <a ng-if="!item.file.isImage" href ng-href="{{ item.file.url }}" title="{{ item.file.title }}" target="_blank">
                              <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                            </a>
                            <a ng-if="item.file.isImage" href title="{{ item.file.title }}" ng-click="displayImage(item)">
                              <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!post.isEdit" ng-bind-html="post.text" class="post-message"></div>
            <edit-post-form ng-if="post.isEdit" post="post" files="files" tp-model="topic"></edit-post-form>
            <div ng-if="post.attachments.length > 0 && !post.isEdit" class="post-attachments-list">
              <label>Attachments</label>
              <ul class="list-unstyled clearfix">
                <li ng-repeat="item in post.attachments">
                  <div class="thumbnail thumbnail--file">
                    <a ng-if="!item.file.isImage" href ng-href="{{ item.file.url }}" title="{{ item.file.title }}" target="_blank">
                      <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                    </a>
                    <a ng-if="item.file.isImage" href title="{{ item.file.title }}" ng-click="displayImage(item)">
                      <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="quote-button"><button class="btn btn-main-light" ng-click="quoteReply(post, $index + 1)">Quote</button></div>
        </div>
        <form ng-if="!topic.locked" name="replyForm" ng-submit="replyPost(replyForm)" ng-class="{'form-processing': replyForm.$submitted}" ng-style="{ '-webkit-box-ordinal-group': order, '-moz-box-ordinal-group': order, '-ms-flex-order': order, '-webkit-order': order, 'order': order };" id="quoteform">
          <div ng-if="replyTo.id" class="row">
            <div class="col-xs-12 col-sm-10">
              <div class="panel panel-default quoted">
                <div class="panel-heading">{{ ::replyTo.profile.first_name}} {{ ::replyTo.profile.last_name}}, on {{ ::replyTo.created_at | date: 'dd/MM/yyyy hh:mm a' }}, said:</div>
                <div class="panel-body">
                  <div ng-bind-html="replyTo.text"></div>
                  <div class="post-attachments-list">
                    <ul class="list-unstyled clearfix">
                      <li ng-repeat="item in replyTo.attachments">
                        <div class="thumbnail thumbnail--file">
                          <a href ng-href="{{ item.file.url }}" title="{{ item.file.title }}" target="_blank">
                            <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea type="text" name="replyMessage" id="replyMessage" class="form-control" placeholder="Enter reply message..." ng-model="reply.message" ng-required="true"></textarea>
          </div>
          <div ng-if="uploader.queue.length > 0">
            <hr>
            <h5><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments {{ uploader.queue.length }}</h5>
            <ul class="list-unstyled row vertical-margin mail-attachments post-attachments">
              <li ng-repeat-start="item in uploader.queue" ng-class="{ 'text-danger' : item.isError }">
                <div class="row">
                  <div class="col-xs-5"><p class="bolder file-name">{{ item.file.name }}</p></div>
                  <div class="col-xs-5">
                    <div class="progress" ng-if="!item.isUploaded">
                      <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                        <span class="sr-only">{{ item.progress }}% Complete</span>
                      </div>
                    </div>
                    <p ng-if="item.isError">{{ item.msg }}</p>
                  </div>
                  <div class="col-xs-1">
                    <a href title="Remove" ng-click="removeFileId(item);item.cancel();" ng-if="item.isUploading"><span class="fa fa-remove"></span></a>
                    <a href title="Remove" ng-click="removeFileId(item);item.remove();" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a>
                  </div>
                </div>
              </li>
              <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
            </ul>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="cancelPost(replyForm)" ng-disabled="replyForm.$submitted">Cancel</button>
            <div class="post-buttons">
              <label for="file" type="button" class="btn btn-primary btn-upload icon-standalone">
                <i class="fa fa-upload"></i> <span>Attach Files</span>
                <input id="file" type="file" nv-file-select uploader="uploader" multiple />
              </label>
              <button type="submit" class="btn btn-alt" ng-disabled="replyForm.$submitted">Post</button>
            </div>
          </div>
        </form>
        <div class="text-center is-lock" ng-if="topic.locked">This topic is locked.</div>
      </div>
      <div ng-if="!topic.locked" class="panel-footer">
        <ul class="pagination">
          <li ng-if="pagination.currentPage == 1" class="disabled"><a>&laquo;</a></li>
          <li ng-if="pagination.currentPage > 1"><a href ui-sref="app.admin.forums.topic({ topicId: topic.id, pageNo: 1 })">&laquo;</a></li>
          <li ng-repeat="i in getNumber(pagination.totalPages) track by $index" ng-class="{ 'active' : $index + 1 == pagination.currentPage }">
            <a href ui-sref="app.admin.forums.topic({ topicId: topic.id, pageNo: $index + 1 })">{{ $index + 1 }}</a>
          </li>
          <li ng-if="pagination.currentPage == pagination.totalPages" class="disabled"><a>&raquo;</a></li>
          <li ng-if="pagination.currentPage < pagination.totalPages"><a href ui-sref="app.admin.forums.topic({ topicId: topic.id, pageNo: pagination.totalPages })">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>