<div class="panel panel-default">
  <div class="panel-body">
    <div class="row filter-options">
      <div class="col-xs-12 col-sm-9">
        <ol class="breadcrumb breadcrumb-alter">
          <li><a href ui-sref="app.admin.forums.list">Forums</a></li>
          <li class="active">{{ forum.title || '&nbsp;'}}</li>
        </ol>
        <!-- <div class="semester-name">{{ filter.semester.name }}</div> -->
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="forums-options" ng-if="checkRights('forums.addTopic')">
          <button type="button" class="btn btn-primary icon-standalone" ng-click="addTopic()"><i class="fa fa-plus"></i> <span>New Topic</span></button>
        </div>
      </div>
    </div>
    
    <idi-topics-list topics="topics" topic-state="app.admin.forums.topic" pagination="pagination"></idi-topics-list>

  </div>
</div>