<h2>Learning Outcomes</h2>
<section ng-repeat="group in items">
  <h3>{{ :: group.title }}</h3>
  <table class="table">
    <tbody>
      <tr ng-repeat="item in group.items">
        <td>
          <input type="checkbox" name="">
        </td>
        <td>
          {{ :: item.title }}
        </td>
        <td>
        grade
        </td>
      </tr>
    </tbody>
  </table>
</section>