.c-support-docs {
  &__heading {
    border-bottom: 1px solid @panel-default-border;
    background-color: #f8f9fa;
    font-size: 11px !important;
    padding: 3px 5px;
    text-align: center;
  }

  &__body {
    padding: 0;

  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 2px 10px 2px 10px;
    text-align: left;
    display: table;
    width: 100%;
  }

  &__item:hover {
    background-color: #eeeeee;
  }
}