<form name="editStudentProgrammeForm" ng-show="programme.isEdit" ng-submit="editStudentProgramme(editStudentProgrammeForm)" ng-class="{'form-processing': editStudentProgrammeForm.$submitted}">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label>Status on programme</label>
        <select class="form-control"
                name="programmeStatus"
                ng-model="programme.status"
                ng-options="item as item for item in statuses">
          <option value="">Select Status</option>
        </select>
      </div>
    </div>
    <!--<div class="col-xs-12 col-md-4">-->
      <!--<div class="form-group">-->
        <!--<label>Semester</label>-->
        <!--<select class="form-control"-->
                <!--ng-model="programme.prog_semester"-->
                <!--ng-options="o.name for o in semesters track by o.id">-->
          <!--<option value="">Select semester</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Change</button>
    <button type="submit" class="btn btn-alt" ng-click="cancel()">Cancel</button>
  </div>
</form>