<form name="editStudentModuleForm" ng-show="module.isEdit" ng-submit="editStudentModule(editStudentModuleForm)" ng-class="{'form-processing': editStudentModuleForm.$submitted}">
  <div class="row">
    <!--<div class="col-xs-12 col-md-4">-->
      <!--<div class="form-group">-->
        <!--<label>Module Start</label>-->
        <!--<input type="text" class="form-control" placeholder="Select Start Date"-->
               <!--ng-model="module.start_date_string_2"-->
               <!--date-format="dd/MM/yyyy"-->
               <!--bs-datepicker>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-md-4">-->
      <!--<div class="form-group">-->
        <!--<label>Module End</label>-->
        <!--<input type="text" class="form-control" placeholder="Select End Date"-->
               <!--ng-model="module.end_date_string_2"-->
               <!--date-format="dd/MM/yyyy"-->
               <!--bs-datepicker>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label idi-locale="profiles.programmes.module_status"></label>
        <select class="form-control"
                name="moduleStatus"
                ng-model="module.status"
                ng-options="item as item for item in $parent.moduleStatuses track by item">
          <option value="">Select status</option>
        </select>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label>Tutor</label>
        <select class="form-control"
                name="moduleTutor"
                ng-model="module.tutor_id"
                ng-options="value.id as value.name for value in tutors">
          <option value="">Select Tutor</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Change</button>
    <button type="submit" class="btn btn-alt" ng-click="cancel()">Cancel</button>
  </div>
</form>