<div class="table-responsive">
  <table ng-table="messagesTable" class="table table-hover table-striped">
    <tr ng-repeat="message in $data">
      <td title="'Id'" sortable="'id'" filter="{id: 'number'}">{{message.id}}</td>
      <td title="'Author'" sortable="'user_name'" filter="{user_name: 'text'}">{{message.user_name}}</td>
      <td title="'Message'" filter="{org_text: 'text'}"><div class="form-group" ng-bind-html="message.text"></div></td>
      <td title="'Time'" sortable="'date'" filter="{date_text: 'text'}">{{ message.date | date: 'dd/MM/yyyy hh:mm a' }}</td>
      <td title="'Scope'" sortable="'scope'" filter="{scope: 'select'}" filter-data="allMessageScopes">{{ message.scope_name }}</td>
    </tr>
  </table>
</div>