<div class="student-btn-group">
  <button class="btn btn-primary" ng-click="addNote()">New</button>
  <button class="btn btn-default" ng-click="getNotes()">Refresh</button>
</div>
<div class="table-responsive">
  <table ng-table="notesTable" class="table table-hover table-striped">
    <tr ng-repeat="note in $data">
      <td title="'Id'" sortable="'id'" filter="{id: 'number'}">{{note.id}}</td>
      <td title="'Action'" sortable="'action'" filter="{action: 'select'}" filter-data="noteActions">{{note.action}}</td>
      <td title="'Comments'" filter="{comments: 'text'}"><div class="form-group" ng-bind-html="note.comments"></div></td>
      <td title="'Logged By'" sortable="'logged_by'" filter="{logged_by: 'text'}">{{ note.logged_by }}</td>
      <td title="'Date'" sortable="'date'" filter="{date_string: 'text'}" >{{ note.date_string }}</td>
    </tr>
  </table>
</div>