<div class="row srs_list">
  <div class="col-xs-12 col-md-3">
    <div ng-show="studentsList.editPage">
      <ul class="nav nav-tabs" role="tablist" ui-tabs>
        <li class="active"><a href="#filters" role="tab" data-toggle="tab">Filters</a></li>
        <li><a href="#columns" role="tab" data-toggle="tab">Columns</a></li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body tab-content">
          <div id="filters" class="tab-pane active">
            <div class="draggable_list">
              <ul class="list-group" dnd-list="studentsList.models.lists.filters">
                <li class="list-group-item" ng-repeat="item in studentsList.models.lists.filters"
                    dnd-draggable="item"
                    dnd-moved="studentsList.models.lists.filters.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="studentsList.models.selected = item"
                    ng-class="{'selected': studentsList.models.selected === item}">
                  {{item.name}}
                </li>
              </ul>
            </div>
          </div>
          <div id="columns" class="tab-pane">
            <ul class="list-group">
              <li class="list-group-item"
                  ng-repeat="key in studentsList.studentsKeys"
                  ng-class="{active: studentsList.columnsHover[key] || studentsList.columnsClick[key]}"
                  ng-click="studentsList.columnsClick[key] = !studentsList.columnsClick[key]"
                  ng-mouseenter="studentsList.columnsHover[key] = true"
                  ng-mouseleave="studentsList.columnsHover[key] = false">{{key}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default student-filter" ng-if="false">
      <div class="panel-heading"><h4 class="panel-title">Filter</h4></div>
      <form id="filterCollapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Search</label>
                <input name="filterName" type="text" class="form-control" ng-model="studentsList.studentFilter.name" ng-keypress="studentsList.filterByKeyword($event)"/>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Programme</label>
                <select multiple class="form-control" ng-model="studentsList.studentFilter.programme" ng-change="studentsList.filterStudentList()">
                  <option ng-repeat="prog in studentsList.programmeList" value="prog.prog_id">{{prog.title}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Level</label>
                <select class="form-control" ng-model="studentsList.studentFilter.level" ng-change="studentsList.filterStudentList()">
                  <option value="" selected>Select level</option>
                  <option ng-repeat="level in studentsList.levels" value="level.id">{{level.title}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Study mode</label>
                <select class="form-control" ng-model="studentsList.studentFilter.study_mode" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Mode</option>
                  <option value="1">Full time</option>
                  <option value="1">Part time</option>
                  <option value="1">Accelerated</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Module</label>
                <select class="form-control" ng-model="studentsList.studentFilter.module" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Module</option>
                  <option value="1">Fine Art 3A</option>
                  <option value="1">Fine Art 3B</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12" ng-if="studentsList.studentFilter.module">
              <div class="form-group">
                <label>Module version</label>
                <select class="form-control" ng-model="studentsList.studentFilter.module_version" ng-change="studentsList.filterStudentList()">
                  <option value="">All module version</option>
                  <option value="1">Fine Art 3A</option>
                  <option value="1">Fine Art 3B</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Enrolment Date</label>
                <select class="form-control" ng-model="studentsList.studentFilter.enrolment_date" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Semester</option>
                  <option ng-repeat="sem in studentsList.semesterList" value="sem.id">{{sem.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Programme Start Date</label>
                <select class="form-control" ng-model="studentsList.studentFilter.course_date" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Semester</option>
                  <option ng-repeat="sem in studentsList.semesterList" value="sem.id">{{sem.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Level Start Date</label>
                <select class="form-control" ng-model="studentsList.studentFilter.course_date" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Semester</option>
                  <option ng-repeat="sem in studentsList.semesterList" value="sem.id">{{sem.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Module Start Date</label>
                <select class="form-control" ng-model="studentsList.studentFilter.module_start_date" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Semester</option>
                  <option value="1">Fine Art 3A</option>
                  <option value="1">Fine Art 3B</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Module End Date</label>
                <select class="form-control" ng-model="studentsList.studentFilter.module_end_date" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Semester</option>
                  <option value="1">Fine Art 3A</option>
                  <option value="1">Fine Art 3B</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Tutor</label>
                <select class="select form-control"
                        ng-model="studentsList.studentFilter.tutor"
                        ng-change="studentsList.filterStudentList()">
                  <option value="" selected>Select tutor</option>
                  <option ng-repeat="advisor in studentsList.advisors" value="{{ advisor.id }}">{{ advisor.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Course Coordinator</label>
                <select class="select form-control"
                        ng-model="studentsList.studentFilter.tutor"
                        ng-change="studentsList.filterStudentList()">
                  <option value="" selected>Select course coordinator</option>
                  <option ng-repeat="coordinator in studentsList.course_coordinators" value="{{ coordinator.id }}">{{ coordinator.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Programme Status</label>
                <select class="form-control" ng-model="studentsList.studentFilter.course_status" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Status</option>
                  <option value="Enrolled">Enrolled</option>
                  <option value="Completed">Completed</option>
                  <option value="Withdrawn">Withdrawn</option>
                  <option value="Pending">Pending</option>
                  <option value="Exited">Exited</option>
                  <option value="Withdrawn 2">Withdrawn 2</option>
                  <option value="Withdrawn - Not Reg">Withdrawn - Not Reg</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Level Status</label>
                <select class="form-control" ng-model="studentsList.studentFilter.course_status" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Status</option>
                  <option value="Studying">Studying</option>
                  <option value="Completed Level">Completed Level</option>
                  <option value="Complete – Progressing">Complete – Progressing</option>
                  <option value="Progressed with FNFA">Progressed with FNFA</option>
                  <option value="Incomplete Level">Incomplete Level</option>
                  <option value="Closed">Closed</option>
                  <option value="Not Applicable">Not Applicable</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Module Status</label>
                <select class="form-control" ng-model="studentsList.studentFilter.course_status" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Status</option>
                  <option value="Studying">Studying</option>
                  <option value="Pending">Pending</option>
                  <option value="Retake">Retake</option>
                  <option value="Fail Referral (FREF)">Fail Referral (FREF)</option>
                  <option value="Fail ReEnrol (FREN)">Fail ReEnrol (FREN)</option>
                  <option value="Fail No Further Attempts (FNFA)">Fail No Further Attempts (FNFA)</option>
                  <option value="Retake - Referral">Retake - Referral</option>
                  <option value="Remediation">Remediation</option>
                  <option value="Retake Deferral">Retake Deferral</option>
                  <option value="Deferral">Deferral</option>
                  <option value="Withdrawn">Withdrawn</option>
                  <option value="Resting">Resting</option>
                  <option value="Not Applicable">Not Applicable</option>
                  <option value="Graded">Graded</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="form-group">
                <label>Student Status</label>
                <select class="form-control" ng-model="studentsList.studentFilter.student_status" ng-change="studentsList.filterStudentList()">
                  <option value="">Select Status</option>
                  <option value="Studying">Studying</option>
                  <option value="Resting">Resting</option>
                  <option value="Semester Break">Semester Break</option>
                  <option value="/">/</option>
                  <option value="Transferred">Transferred</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Go</button>
          <!--<button type="button" class="btn btn-default">Reset</button>-->
          <button type="button" class="btn btn-default" ng-click="studentsList.resetFilter()">Reset All</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-xs-12 col-md-9 srs_list__buttons">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <label class="btn-slide slide-success srs_list__buttons__slide">
          <input type="checkbox" ng-model="studentsList.editPage">
          <span data-on="Edit" data-off="Run"></span>
        </label>
        <button class="btn btn-success pull-right">Reports and templates</button>
      </div>
      <div class="col-md-8 pull-right srs_list__buttons__filter">
        <button class="btn btn-success" ng-click="studentsList.clearAllColumns()">Clear All Columns</button>
        <button class="btn btn-success" ng-click="studentsList.clearAllFilters()">Clear All Filters</button>
        <button class="btn btn-success">Clear All</button>
        <button class="btn btn-success">Save as</button>
      </div>
    </div>
    <div class="row">
      <div class="draggable_list draggable_list--col col-xs-12 col-md-4">
        <ul class="list-group" dnd-list="studentsList.models.lists.column1">
          <li class="list-group-item srs-filter"
              ng-repeat="item in studentsList.models.lists.column1"
              dnd-draggable="item"
              dnd-moved="studentsList.models.lists.column1.splice($index, 1)"
              dnd-effect-allowed="move"
              ng-class="studentsList.setFilterStyles(item)"></li>
        </ul>
      </div>
      <div class="draggable_list draggable_list--col col-xs-12 col-md-4">
        <ul class="list-group" dnd-list="studentsList.models.lists.column2">
          <li class="list-group-item srs-filter"
              ng-repeat="item in studentsList.models.lists.column2"
              dnd-draggable="item"
              dnd-moved="studentsList.models.lists.column2.splice($index, 1)"
              dnd-effect-allowed="move"
              ng-class="studentsList.setFilterStyles(item)"></li>
        </ul>
      </div>
      <div class="draggable_list draggable_list--col col-xs-12 col-md-4">
        <ul class="list-group" dnd-list="studentsList.models.lists.column3">
          <li class="list-group-item srs-filter"
              ng-repeat="item in studentsList.models.lists.column3"
              dnd-draggable="item"
              dnd-moved="studentsList.models.lists.column3.splice($index, 1)"
              dnd-effect-allowed="move"
              ng-class="studentsList.setFilterStyles(item)"></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">List of Students<span ng-if="studentsList.totalStudents">({{studentsList.totalStudents}})</span></h4></div>
      <div class="panel-body">
        <table ng-table="studentsList.studentsTable" class="table">
          <tr ng-repeat="student in $data">
            <td title=""><input type="checkbox" ng-model="studentsList.checkboxes.items[student.id]" /></td>
            <td title="'Id'" sortable="'id'">{{student.id}}</td>
            <td title="'Name'" sortable="'name'"><a href ui-sref="app.admin.profile.edit({ id: student.id })">{{student.name}}</a></td>
            <td title="'Programme'" sortable="'programme_name'">{{student.programme_name}}</td>
            <td title="'Level'" sortable="'level'">{{student.level}}</td>
            <td title="'Study Mode'" sortable="'study_mode'">{{student.study_mode}}</td>
            <td title="'Programme Status'" sortable="'programme_status'">{{student.programme_status}}</td>
            <!--<td title="'Programme Start Date'" sortable="'programme_start_date'">{{student.programme_start_date}}</td>-->
            <td title="'Enrolment Date'" sortable="'enrolment_dates'">{{student.enrolment_date}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>