<div class="student-btn-group">
  <button class="btn btn-primary" ng-click="showAddProgramme()">Add student to course</button>
  <button class="btn btn-default">Refresh</button>
</div>
<form name="studentForm" class="form-horizontal" ng-submit="updateStudentStatus(studentForm)" ng-class="{'form-processing': studentForm.$submitted}">
  <div class="form-group">
    <label class="col-xs-5 col-sm-2 col-lg-2 control-label">Student Status</label>
    <div class="col-xs-7 col-sm-5 col-lg-5">
      <select name="studentStatus"
              class="form-control"
              ng-model="currentStudent.student_status"
              ng-options="o as o for o in config.student_statuses">
        <option value="">Select Status</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-5 col-sm-2 col-lg-2 control-label">Enrolment Date</label>
    <div class="col-xs-7 col-sm-5 col-lg-5">
      <select
        name="studentEnrolmentDate"
        class="form-control"
        ng-model="currentStudent.enrolment_date"
        ng-options="item.semester_start_date as item.semester_start_date+' - '+item.programme_name for item in studypath">
        <option value="">Select Status</option>
      </select>
      <div class="form-control-below" ng-if="currentEnrolmentDate">Current Enrolment date: {{currentEnrolmentDate}}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 col-sm-7 col-lg-7">
      <button type="submit" class="btn btn-default pull-right" ng-class="{ 'disabled' : studentForm.$submitted }">Change</button>
    </div>
  </div>
</form>
<div class="programme-list">
  <!-- programme list collapse -->
  <div class="panel-group">

    <!-- programme list -->
    <div class="panel panel-default student-programme-list" ng-repeat="prog in studypath">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <a href ng-click="collapse_programme[prog.id] = !collapse_programme[prog.id]"><i class="fa fa-check-square status-icon"></i>{{ prog.programme.title }}</a>
          </div>
          <div class="col-xs-12 col-md-4 date">{{prog.start_date_string}}</div>
          <div class="col-xs-12 col-md-3 status">{{prog.status}}</div>
        </div>
        <div class="action">
          <a href title="Edit Settings" ng-click="editStudentProgramme(prog)"><i class="icon-edit"></i></a>
          <a href title="Remove student from programme" ng-confirm-click="Are you sure you want to delete this programme?" ng-click="deleteStudyPath($index)"><i class="icon-trash"></i></a>
        </div>
      </div>
      <div class="panel-body" ng-if="prog.isEdit">
        <edit-student-programme programme="prog" semesters="semesterList" statuses="programmeStatuses" on-status-change="getStudyPath()"></edit-student-programme>
      </div>
      <div ng-show="collapse_programme[prog.id]" class="student-programme panel-collapse">
        <div class="panel-body">

          <!-- course list collapse -->
          <div class="panel-group">

            <!-- course list -->
            <div class="panel panel-default course-list" ng-repeat="course in prog.programme.courses">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-12 col-md-5">
                    <a href="" ng-click="collapse_course[course.id] = !collapse_course[course.id]"><i class="fa fa-check-square status-icon"></i>{{ course.title }}<span ng-if="mod.module.code"> - {{course.code}}</span></a>
                  </div>
                  <div class="col-xs-12 col-md-4 date">{{prog.start_date_string}}</div>
                  <div class="col-xs-12 col-md-3 status">{{course.status}}</div>
                </div>
                <div class="programme-info">
                  <p>
                    <span ng-if="!course.course_coordinator">No Course Coordinator Assigned</span>
                    <span ng-if="course.course_coordinator">Course Coordinator: {{course.course_coordinator.first_name}} {{course.course_coordinator.last_name}}</span>
                  </p>
                  <p>Level: {{ course.level }} {{course_type}}</p>
                </div>
                <div class="action">
                  <a href title="Edit Settings"  data-placement="bottom" ng-click="editStudentCourse(course)"><i class="icon-edit"></i></a>
                </div>
              </div>
              <div class="panel-body" ng-if="course.isEdit">
                <edit-student-course coursestatus="course.status" course="course" semesters="semesterList" statuses="levelStatuses" on-status-change="getStudyPath()" studypathid='course.id'></edit-student-course>
              </div>
              <div ng-show="collapse_course[course.id]" class="student-course panel-collapse">
                <div class="panel-body">

                  <!-- module list -->
                  <div class="panel panel-default module-list" ng-repeat="mod in course.modules">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-12 col-md-5">
                          <a href="" ng-click="collapse_module[mod.id] = !collapse_module[mod.id]">
                            <i class="fa fa-check-square status-icon"></i>{{mod.module.title}}<span ng-if="mod.module.code"> - {{mod.module.code}}</span>
                          </a>
                          <p class="programme-info">Tutor:
                            <span ng-if="!mod.tutor">Not Assigned</span>
                            <span ng-if="mod.tutor">{{mod.tutor.first_name}} {{mod.tutor.last_name}}</span>	| Credits: {{mod.module.credit_value}}
                          </p>
                        </div>
                        <div class="col-xs-12 col-md-4 date">
                          <p><span>Start:</span> {{mod.start_date_string}}</p>
                          <p><span>End:</span> {{mod.end_date_string}}</p>
                        </div>
                        <div class="col-xs-12 col-md-3 status">{{mod.status}}</div>
                      </div>
                      <div class="action">
                        <a href title="Edit Settings" data-placement="bottom" ng-click="editStudentModule(mod)"><i class="icon-edit"></i></a>
                        <a href title="Edit Assessment" data-placement="bottom"><i class="icon-clipboard"></i></a>
                      </div>
                    </div>
                    <div class="panel-body" ng-if="mod.isEdit">
                      <edit-student-module module="mod" tutors="tutors" statuses="moduleStatuses" on-status-change="getStudyPath()"></edit-student-module>
                    </div>
                    <div ng-show="collapse_module[mod.id]" class="student-course panel-collapse">
                      <div class="panel-body">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>