<div class="conversations">
      <section class="panel-body table-option">
        <div class="row">
          <div class="col-md-12 form-horizontal">
            <div class="advisor-filter form-group">
              <label class="col-lg-2 col-md-2 col-sm-12 col-xs-12 control-label">Search</label>
              <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 has-feedback">
                <input type="search" class="form-control" placeholder="Conversation Search" value="" ng-model="conversations.filter.search"
                       ng-keypress="conversations.filterByKeyword($event)" />
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.name" ng-click="filter.name = ''"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row filters-wrapper">
          <div class="col-md-6 form-horizontal">
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Topic</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 has-feedback">
                <input type="search" class="form-control" placeholder="Conversation Topic" value="" ng-model="conversations.filter.topic"
                       ng-keypress="conversations.filterByKeyword($event)" />
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.name" ng-click="filter.name = ''"></span>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Id</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 has-feedback">
                <input type="search" class="form-control" placeholder="Id" value="" ng-model="conversations.filter.id"
                       ng-keypress="conversations.filterByKeyword($event)" >
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.id" ng-click="filter.id = ''"></span>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Scope</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <select name="messageScope"
                  class="form-control"
                  ng-model="conversations.filter.scope"
                  ng-options="item.name as item.name for item in conversations.messageScopes"
                  ng-required="false">
                  <option value="">---Select scope---</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 form-horizontal">
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Users</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <ui-select ng-model="conversations.filter.user_id" on-select="conversations.getCutomerCards(conversations.payment.user_id)" theme="bootstrap" title="Select user" required>
                  <ui-select-match placeholder="Search by name/username/email">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices refresh="conversations.loadUsers($select.search)" refresh-delay="1000" repeat="user.id as user in conversations.users | filter:$select.search">
                    <div ng-bind-html="user.name | highlight: $select.search"></div>
                    <small>
                      email: {{user.email}}
                      username: <span ng-bind-html="''+user.username | highlight: $select.search"></span>
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Created from</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 has-feedback">
                <input type="text" class="form-control" placeholder="Date From"
                       ng-model="conversations.filter.dateFrom" bs-datepicker data-max-date="{{filter.dateTo}}" data-date-format="d/M/y" ng-keypress="filterByKeyword($event)">
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.dateFrom" ng-click="filter.dateFrom = null"></span>
              </div>
            </div>
            <div class="advisor-filter form-group">
              <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Created to</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 has-feedback">
                <input type="text" class="form-control" placeholder="Date To"
                       ng-model="conversations.filter.dateTo" bs-datepicker data-min-date="{{filter.dateFrom}}" data-date-format="d/M/y" ng-keypress="filterByKeyword($event)">
                <span class="icon icon-circle-times form-control-feedback" ng-show="filter.dateTo" ng-click="filter.dateTo = null"></span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="pull-left">
            <div class="btn-group">
              <label class="btn-check pull-left checkbox-padding-fix">
                <input type="checkbox" ng-model="conversations.allSelected" ng-click="conversations.toggleAll()">
                <span></span>
              </label>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
                <li>
                  <a href="" ng-click="conversations.delete()">
                    <i class="icon-trash"></i> Delete
                  </a>
                </li>
                <li class="divider"></li>
              </ul>
            </div>
          </div>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-success" ng-click="conversations.filterByKeyword()">
                <span class="icon icon-search"></span> Search
              </button>
            </div>
            <div class="btn-group">
             <button type="button" class="btn btn-info" ng-click="conversations.clearFilters()">
                <span class="icon icon-circle-times"></span> Clear All Filters
              </button>
            </div>

          </div>
        </div>
      </section>


      <table ng-table="conversations.conversationsTable" class="table table-hover">
        <tr ng-repeat="conversation in $data">
          <td data-title="'Id'" sortable="'id'" class="col-sm-1">{{conversation.id}}</td>
          <td data-title="'Topic'" sortable="'topic'"><a href ui-sref="app.admin.mail2.manager.messages({id:conversation.id})">{{conversation.topic}}</a></td>
          <td data-title="'Last message'">
            <div ng-bind-html="conversation.last_message.body"></div> 
            <!-- <p read-more char="10">{{ conversations.test }}</p> -->
          </td>
          <td data-title="'Scope'">{{conversation.scope.name}}</td>
          <td data-title="'Messages'" class="col-sm-2">{{conversation.conversations.length}}</td>
          <td data-title="'Users'" class="col-sm-2">{{conversation.users.length}}</td>
          <td data-title="'Actions'" class="col-sm-1">
            <label class="btn-check pull-left checkbox-padding-fix">
              <input type="checkbox" ng-model="conversation.checked" ng-click="conversations.cbChecked()" class="btn-check">
              <span></span>
            </label>
          </td>
        </tr>
      </table>

</div>