<div id="page-heading" class="idi-payments__header">
  <h3 class="page-title">Message Scopes</h3>
</div>

<section class="container-fluid idi-payments__body">
  <div class="panel panel-default">
    <div class="panel-body">
      <ui-view name="subcontent"></ui-view>
    </div>
  </div>
</section>