<div class="col-sm-12 conversation">
  <div class="panel panel-default panel-success mail-content">
    
    <div class="panel-heading" style="height:100px">
      <div class="panel-options pull-left">
        <div class="mail-section subject"><strong>Subject:</strong> {{::messages.conversations.topic}} </div>
        <div class="mail-section from"><strong>From:</strong> {{::messages.conversations.last_message.senderData.user.name}}</div>
        <div class="mail-section preview"><strong>Date:</strong> {{::messages.conversations.last_message_date}}</div>
      </div>
    
      <div class="panel-options pull-right">
        <a href ui-sref="app.admin.mail2.manager.conversations" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="messages.conversations.messages.data.length > 1" href ng-click="messages.sortConversation()"><span ng-class="{ 'icon-order-dsc' : messageIsDesc, 'icon-order-asc' : !messageIsDesc }"></span> Sort by date</a>
      </div>
    </div>

    <div class="panel-body">
      <!-- Display messages -->

      <table ng-table="messages.conversationsTable" class="table messages-table">
        <tr ng-repeat="message in $data.messages.data | orderBy:'id' track by message.id" class="panel panel-default mail-content" ng-class="{ 'panel-danger' : message.deleted == 1}">
          <td>
            
            <div class="panel-heading clearfix">
              <div class="dropcap-info pull-left" ng-if="!message.senderData.profile_image.url">{{ message.senderData.user.name | limitTo: 1 }}</div>
              <div class="profile-image pull-left" ng-if="message.senderData.profile_image.url"><img ng-src="{{ message.senderData.profile_image.url }}" alt="..."></div>
              <p class="pull-right" ng-if="showOptions(message) && !message.isUploadNotification">
                <a ng-if="currentPermissions.indexOf('messages.messageOwn.delete') > -1" href 
                    title="Delete message" 
                    ng-click="deleteMessage($index)" 
                    ng-confirm-click="Are you sure you want to delete this message?"><span class="icon-trash text-muted"></span></a>
                <a ng-if="currentPermissions.indexOf('messages.messageOwn.edit') > -1" href 
                    title="Edit message" 
                    ng-click="displayEditForm($index)"><span class="icon-edit text-muted"></span></a>
              </p>
              <p ng-if="message.deleted == 1" class="pull-right deleted-message"><small>This message has been deleted.</small></p>
              <div class="open-title">{{ message.senderData.user.name }}</div>
              <div class="open-title-info">
                <p><span ng-if="message.updated_at">updated at </span>{{ message.updated_at | date: 'dd/MM/yyyy hh:mm a' }}</p>
              </div>
            </div>
            <div class="panel-body">
              <div class="open-content">
                <!--<div class="form-group" ng-bind-html="message.text" ng-show="!message.isEdit"></div>-->
                <div class="clearfix">
                  <!-- <h4 ng-if="message.attached_to_file_id && !message.isUploadNotification" class="tagged-file">{{ message.user_name }} has tagged a message to {{ message.attached_to_file_data.title }}</h4><br ng-if="message.attached_to_file_id && !message.isUploadNotification" class="tagged-file""/> -->
                  <div class="form-group" ng-class="{ 'pull-left' : message.attached_to_file_id }" ng-bind-html="message.body" ng-show="!message.isEdit"></div>
                  <!-- <div ng-if="message.attached_to_file_id" class="thumbnail thumbnail--file thumbnail-small pull-right">
                    <a ng-if="!message.attached_to_file_data.isImage" href ng-href="{{ message.attached_to_file_data.url }}" title="{{ message.attached_to_file_data.title }}" target="_blank">
                      <ui-file-thumbnail item="message.attached_to_file_data"></ui-file-thumbnail>
                    </a>
                    <a ng-if="message.attached_to_file_data.isImage" href title="{{ message.attached_to_file_data.title }}" ng-click="displayImage(message.attached_to_file_data)">
                      <ui-file-thumbnail item="message.attached_to_file_data"></ui-file-thumbnail>
                    </a>
                  </div> -->
                </div>
                <!-- <edit-reply-form ng-if="showOptions(message)" message="message" files="files"></edit-reply-form> -->
                <!-- <div ng-if="message.files.length > 0 && currentPermissions.indexOf('messages.attachments.get') > -1" ng-show="!message.isEdit">
                  <hr>
                  <h5><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments</h5>
                  <ul class="list-unstyled row vertical-margin">
                    <li ng-repeat-start="file in message.files" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                      <a ng-if="!isImage(files[file].ext)" ng-href="{{ files[file].url }}" href ng-class="{ 'not-image' : !isImage(files[file].ext) }" class="thumbnail" download>
                        <div class="download">
                          <div><i class="fa fa-download"></i></div>
                        </div>
                        <ui-file-thumbnail item="files[file]"></ui-file-thumbnail>
                      </a>
                      <a ng-if="isImage(files[file].ext)" href title="{{ files[file].title }}" class="thumbnail" ng-click="displayImage(files[file])">
                        <ui-file-thumbnail item="files[file]"></ui-file-thumbnail>
                      </a>
                      <p class="bolder file-name" ng-bind-html="files[file].title"></p>
                    </li>
                    <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
                  </ul>
                </div> -->
              </div>
            </div>

          </td>
        </tr>
        <tr class="spacer"></tr>
        <tr ui-sref-active="active" ng-if="messages.conversations.messages.data.length == 0">
          <td><h6>No messages found.</h6></td>
        </tr>
      </table>
    </div>   

    <div ng-if="messages.conversations.messages.data.length > 0" class="panel-footer clearfix">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>In this discussion:</p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title2">
                <a href title="Subscribe on this conversation" ng-click="messages.showAddNewModal()"><i class="fa fa-plus"></i> Subscribe user</a>
              </h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-3" ng-repeat-start="user in messages.conversations.users">
                  <a href title="Unsubscribe on this conversation" ng-click="messages.unsubscribe(user.user_id)" ng-confirm-click="Are you sure you want to unsubscribe?"><i class="fa fa-remove"></i> Unsubscribe</a>
                  <div class="thumbnail user-thumbnail thumbnail--small">
                    <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="..." ng-if="!user.userData.profile_image.url">
                    <img ng-src="{{ user.userData.profile_image.url }}" alt="..." ng-if="user.userData.profile_image.url">
                    <div class="caption">
                      <p>{{ user.userData.user.name }}</p>
                    </div>
                  </div>
                </div>
                <div ng-repeat-end ng-if="($index + 1) % 3 == 0" class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12 col-md-6" ng-if="fileIds.length > 0">
          <p>Files in this discussion:</p>
          <ul class="list-unstyled row vertical-margin" ng-if="fileIds.length > 0">
            <li ng-repeat-start="file in fileIds" class="col-xs-6 col-sm-4">
              <a ng-if="!isImage(files[file].ext)" ng-href="{{ files[file].url }}" href ng-class="{ 'not-image' : !isImage(files[file].ext) }" class="thumbnail" download>
                <div class="download">
                  <div><i class="fa fa-download"></i></div>
                </div>
                <ui-file-thumbnail item="files[file]"></ui-file-thumbnail>
              </a>
              <a ng-if="isImage(files[file].ext)" href title="{{ files[file].title }}" ng-click="displayImage(files[file])" class="thumbnail">
                <ui-file-thumbnail item="files[file]"></ui-file-thumbnail>
              </a>
              <p class="bolder file-name" ng-bind-html="files[file].title"></p>
            </li>
            <div ng-repeat-end ng-if="($index + 1) % 3 == 0" class="clearfix"></div>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>