<div class="modal upload-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 ng-show="scopes.method==='save'">Add new scope</h3>
        <h3 ng-show="scopes.method==='update'">Update scope</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="scopes.newScope.name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="enable">Enabled:</label>
            <div class="col-sm-10">          
              <label class="btn-check pull-left" style="padding-top:10px">
                <input type="checkbox" ng-model="scopes.newScope.enable" class="btn-check">
                <span></span>
              </label>
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="scopes.addNew()" ng-disabled="!scopes.newScope.name">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>