<div class="scopes">
      
      <div class="row" role="form">
        <div class="col-xs-12 col-sm-6 form-group">
          <label class="btn-check pull-left" style="padding-top:10px">
            <input type="checkbox" ng-model="scopes.allSelected" ng-click="scopes.toggleAll()">
            <span></span>
          </label>
          <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Search" ng-model="scopes.filter.name" ng-keypress="scopes.filterByKeyword($event)" style="width:75%">
        </div>
        <div class="col-xs-12 col-sm-6 form-group btn-option-right">
          <button type="button" class="btn btn-primary" ng-click="scopes.delete()">Delete <span class="fa fa-trash-o"></span></button>
          <button type="button" class="btn btn-primary" ng-click="scopes.initNewScope()">New <span class="fa fa-file-o"></span></button>
        </div>
      </div>

      <table ng-table="scopes.scopesTable" class="table table-hover">
        <tr ng-repeat="scope in $data">
          <td data-title="'Id'" sortable="'id'">{{scope.id}}</td>
          <td data-title="'Name'" sortable="'name'" class="colored-text"><a href="" ng-click="scopes.update(scope.id)"><span>{{scope.name}}</span></a></td>
          <td data-title="'Users'">{{scope.users.length}}</td>
          <td data-title="'Conversations'">{{scope.conversations.length}}</td>
          <td data-title="'Enabled'" sortable="'enable'"><i ng-if="scope.enable" class="fa fa-check enable-tick" aria-hidden="true"></i> <i ng-if="!scope.enable" class="fa fa-times enable-cross" aria-hidden="true"></i></td>
          <td data-title="'Actions'">
            <label class="btn-check pull-left" style="padding-top:10px">
              <input type="checkbox" ng-model="scope.checked" ng-click="scopes.cbChecked()" class="btn-check">
              <span></span>
            </label>
            
          </td>
        </tr>
      </table>

</div>