<div class="modal upload-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 ng-show="scopes.method==='save'">Add new scope</h3>
        <h3 ng-show="scopes.method==='update'">Update scope</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
              <ui-select ng-model="messages.subscription.users_id" theme="bootstrap" title="Select user" required>
                <ui-select-match placeholder="Search by name/username/email">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices refresh="messages.loadUsers($select.search)" refresh-delay="1000" repeat="user.id as user in messages.users | filter:$select.search">
                  <div ng-bind-html="user.name | highlight: $select.search"></div>
                  <small>
                    email: {{user.email}}
                    username: <span ng-bind-html="''+user.username | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="messages.subscribe()" ng-disabled="!messages.subscription.users_id">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>