<div ui-collapse class="idi-payments__course" ng-repeat="course in subscriptions track by $index">
  <a class="title" data-toggle="collapse" href="#course{{ $index }}" ng-click="collapsed=!collapsed" ng-class="{'state1': collapsed, 'state2': !collapsed, 'first': $index==0 }">
    {{ course.title }}
  </a>
  <div id="course{{ $index }}" class="panel-collapse collapse" ng-class="{'in':$index==0}">
    <table>
      <tr ng-repeat="payment in course.installments track by $index">
        <td>{{ ("00"+($index+1)).slice(-2) }}</td>
        <td>{{ payment.amount | customCurrency:course.currency.symbol:course.currency.position }}</td>
        <td ng-if="!payment.transaction">Due on {{ payment.date |  moment:'DD/MM/YYYY'}}</td>
        <td ng-if="payment.transaction && payment.transaction.status=='SUCCESS'" class="idi-payments__course--paid">Paid on {{ payment.transaction.date | moment:'DD/MM/YYYY' }}</td>
        <td ng-if="payment.transaction && payment.transaction.status=='FAILED'" class="idi-payments__course--failed">Failed on {{ payment.transaction.date | moment:'DD/MM/YYYY' }}</td>
      </tr>
      <tr>
        <td colspan="3"><a href="{{getPDF(course.id)}}" class="download">Download PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
      </tr>
    </table>
  </div>
</div>