<idi-topics-group topics="stickyTopics" name="Sticky Topics" drag-disabled="false" table-classes="table-sticky" topic-state="{{topicState}}">
</idi-topics-group>
<idi-topics-group topics="learnTopics" name="Learning Path Topics" drag-disabled="false" table-classes="table-learnPath" topic-state="{{topicState}}"></idi-topics-group>
<idi-topics-group topics="userTopics" name="User Topics" drag-disabled="true" topic-state="{{topicState}}"></idi-topics-group>

<div ng-show="::hasNoTopics" class="jumbotron text-center">
  <h2>There are no topics at the moment</h2>
</div>

<div class="pull-right" paging pg-href="{{ pageUrl }}" page="pagination.page" page-size="pagination.limit" total="pagination.total">
</div>