<div class="col-sm-12 conversations inbox drafts">
  <div class="panel panel-default">
    <div class="panel-heading mail-list-options clearfix">
      <label class="btn-check pull-left checkbox-padding-fix">
        <input type="checkbox" ng-model="drafts.allSelected" ng-click="drafts.toggleAll()">
        <span></span>
      </label>
      <div class="btn-group pull-left">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
          <li><a href="" ng-click="drafts.deleteDraft()"><i class="icon-trash"></i> Delete</a></li>
        </ul>
      </div>
      <div class="mail-btn-opt pull-right">
        <!--<div class="btn-group" ng-if="messageScopeObj.name_alias != 'other'">-->
        <div class="btn-group" ng-if="searchBy != 'user' && searchBy != 'group'">
          <button type="button" class="btn btn-default" ng-click="drafts.sortConversation()">Sort by date <span class="" ng-class="{ 'icon-order-dsc' : isDesc, 'icon-order-asc' : !isDesc }"></span></button>
        </div>
      </div>
    </div>
    <div class="panel-body no-padding">
      <table ng-table="drafts.conversationsTable" class="table table-hover">
        <tr ng-repeat="conversation in $data" ng-if="$data.length" ui-sref="app.admin.mail2.new({ draft: conversation })">
          <td>
            <div class="row">
              <div class="col-sm-10">
                <div class="mail-section select pull-left">
                  <label class="btn-check pull-left checkbox-padding-fix" ng-click="$event.stopPropagation();">
                    <input type="checkbox" ng-model="conversation.checked" ng-click="inbox.cbChecked()" class="btn-check">
                    <span></span>
                  </label>
                </div>
                <div class="mail-section from"><strong>To:</strong> {{::conversation.last_message.senderData.name}}</div>
                <div class="mail-section subject"><strong>Subject:</strong> {{::conversation.topic}} </div>
                <div class="mail-section preview"><strong>Preview:</strong> <span ng-bind-html="::conversation.body" style="display:inline-block"></span></div>
              </div>
              <div class="col-sm-2">
                <div>
                  <div class="date">{{ ::conversation.created_at | date : "shortDate" }}</div>
                  <div class="starred" ng-if="conversation.filesData.length > 0">
                    <div class="text-right attachments"><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments</div>
                    <ul class="list-unstyled files">
                      <li ng-repeat-start="file in conversation.filesData" class="col-xs-2 col-sm-6 col-md-4 pull-right">
                        <a ng-if="!drafts.isImage(file.ext)" ng-click="$event.stopPropagation();" ng-href="{{ file.url }}" href ng-class="{ 'not-image' : !drafts.isImage(file.ext) }" class="thumbnail" download>
                          <div class="download">
                            <div><i class="fa fa-download"></i></div>
                          </div>
                          <ui-file-thumbnail item="file"></ui-file-thumbnail>
                        </a>
                        <a ng-if="drafts.isImage(file.ext)" href title="{{ file.title }}" class="thumbnail" ng-click="drafts.displayImage(file); $event.stopPropagation();">
                          <ui-file-thumbnail item="file"></ui-file-thumbnail>
                        </a>
                       <!--  <p class="bolder file-name" ng-bind-html="file.title"></p> -->
                      </li>
                      <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ui-sref-active="active" ng-if="$data.length == 0">
          <td><h6>No messages found.</h6></td>
        </tr>
      </table>
    </div>
  </div>
</div>