<div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 inbox">
  <div class="panel panel-default">
    <div class="panel-heading mail-list-options clearfix">
      <label class="btn-check pull-left checkbox-padding-fix">
        <input type="checkbox" ng-model="inbox.allSelected" ng-click="inbox.toggleAll()">
        <span></span>
      </label>
      <div class="btn-group pull-left">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
          <li><a href="" ng-click="inbox.markMessageAsReadUnread(true)">Mark as read</a></li>
          <li><a href="" ng-click="inbox.markMessageAsReadUnread(false)">Mark as unread</a></li>
        </ul>
      </div>
      <div class="btn-group col-sm-5 pull-left" style="padding-left:10px">
        <input class="form-control col-6" type="text" placeholder="Search" id="example-text-input">
      </div>
      <div class="mail-btn-opt pull-right">
        <!--<div class="btn-group" ng-if="messageScopeObj.name_alias != 'other'">-->
        <div class="btn-group" ng-if="searchBy != 'user' && searchBy != 'group'">
          <button type="button" class="btn btn-default" ng-click="inbox.sortConversation()">Sort by date <span class="" ng-class="{ 'icon-order-dsc' : isDesc, 'icon-order-asc' : !isDesc }"></span></button>
        </div>
        <div class="btn-group" ng-if="searchBy != 'user' && searchBy != 'group'">
          <a href ui-sref="app.admin.mail.category({ category: 'starred' })" class="btn btn-default" ng-click="">Starred <span class="fa fa-star"></span></a>
          <a ng-if="(messageScopeObj.name == 'Starred' && oldMessageScopeName && (oldMessageScopeName != 'starred'))" href ui-sref="app.admin.mail.category({ category: oldMessageScopeName })" class="btn btn-default" ng-click="">Back</a>
        </div>
      </div>
      <div ng-if="pagination" class="pull-right mail-pagi">
        <small class="bolder">{{ pagination.start + 1 }} - {{ pagination.start + pagination.items_count}}</small>
        <small>from</small>
        <small class="bolder">{{ pagination.total_items }}</small>
        <small>messages</small>
      </div>
    </div>
    <div class="panel-body no-padding">
      <!-- <ul class="mail-list">
        <li ng-repeat="message in messages" ui-sref-active="active" ng-class="{ 'unread' : !message.read }">
          <label class="btn-check pull-left" ng-if="messageScopeObj.name_alias != 'other' && message.userIsSubscribed">
            <input type="checkbox" ng-model="message.check" ng-value="true">
            <span></span>
          </label>
          <div class="time-fav">
            <a href class="fav text-center" ng-class="{ 'fav-flag' : message.isFlag}" ng-click="flagMessage(message)" ng-if="currentPermissions.indexOf('messages.conversation.flag') > -1 && message.userIsSubscribed && messageScopeObj.name_alias != 'other'">
              <span class="fa fa-star-o" ng-if="!message.isFlag"></span>
              <span class="fa fa-star" ng-if="message.isFlag"></span>
            </a>
            <span class="text-center">{{ message.date | date:'dd/MM/yyyy' }}</span>
          </div>
          <div class="attachment hidden-xs">
            <span class="fa fa-paperclip fa-fw fa-lg fa-rotate-90" ng-if="message.LastMessage.MessageAttachments.length > 0"></span>
          </div>
      
          <a ng-href="{{::getMessageHref(currentScope, message)}}" class="title">
            <h6>{{ message.Conversation.topic }}</h6>
            <h6 ng-if="message.additionalData.convUsers"><span class="message-from">with</span> <span >{{ ::message.additionalData.convUsers }}</span> </h6>
            <small class="short">
              <span>{{ ::message.LastMessage.user_name }}:</span> <span ng-bind-html="::message.LastMessage.text"></span>
            </small>
          </a>
          
        </li>
        <li ui-sref-active="active" ng-if="messages.length == 0">
          <h6>No messages found.</h6>
        </li>
      </ul> -->

      <table ng-table="inbox.conversationsTable" class="table table-hover">
        <tr ng-repeat="conversation in $data">
          <td ui-sref-active="active" ng-class="{ 'unreaded' : !conversation.readed }" class="hand-cursor" ng-click="inbox.readMail(conversation)">
            <div class="row">
              <div class="col-sm-10">
                <div class="mail-section select pull-left">
                  <label class="btn-check pull-left checkbox-padding-fix" ng-click="$event.stopPropagation();">
                    <input type="checkbox" ng-model="conversation.checked" ng-click="inbox.cbChecked()" class="btn-check">
                    <span></span>
                  </label>
                </div>
                <div class="mail-section from"><strong>From:</strong> {{::conversation.last_message.senderData.name}}</div>
                <div class="mail-section subject"><strong>Subject:</strong> {{::conversation.topic}} </div>
                <div class="mail-section preview"><strong>Preview:</strong> <span ng-bind-html="::conversation.last_message.body" style="display:inline-block"></span></div>
              </div>
              <div class="col-sm-2">
                <div class="pull-right">
                  <div class="date">{{ conversation.last_message.created_at | date : "shortDate" }}</div>
                  <div class="starred"><a href="" ng-click="inbox.starred(conversation); $event.stopPropagation();"><i class="fa" ng-class="conversation.stared? 'fa-star' : 'fa-star-o'" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ui-sref-active="active" ng-if="$data.length == 0">
          <td><h6>No messages found.</h6></td>
        </tr>
      </table>

    </div>
    <!-- <div class="panel-footer clearfix">
      <div class="btn-group pull-right">
        <a href class="btn btn-default btn-xs" ng-class="{ 'disabled' : pagination.current_page == 1 }" ng-click="pagingConversation('left')"><span class="fa fa-angle-left fa-fw"></span></a>
        <a href class="btn btn-default btn-xs" ng-class="{ 'disabled' : pagination.current_page == pagination.total_pages }"  ng-click="pagingConversation('right')"><span class="fa fa-angle-right fa-fw"></span></a>
      </div>
      <div class="pull-right mail-pagi">
        <small class="bolder">{{ pagination.start + 1 }} - {{ pagination.start + pagination.items_count}}</small>
        <small>from</small>
        <small class="bolder">{{ pagination.total_items }}</small>
        <small>messages</small>
      </div>
    </div> -->
  </div>
</div>