<main role="main" id="mailbox" class="mailbox">
  <div id="page-heading" class="clearfix page-heading">
    <h3 class="page-title mail-page-title"><span ng-class="{'fa-envelope':$state.current.name=='app.admin.mail2.inbox', 'fa-paper-plane':$state.current.name=='app.admin.mail2.new', 'fa-comments':$state.current.name=='app.admin.mail2.conversation', 'fa-bookmark':$state.current.name=='app.admin.mail2.drafts', 'fa-share':$state.current.name=='app.admin.mail2.sent'}" class="fa"></span> {{ category | unslugify }}</h3>
    <!-- <div class="mail-search clearfix" ng-if="currentPermissions.indexOf('messages.message.search') > -1 || currentPermissions.indexOf('messages.users.search') > -1 || currentPermissions.indexOf('messages.group.search') > -1">
        <form name="filterSearch" class="filterSearch clearfix">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i>&nbsp;<span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li ng-if="currentPermissions.indexOf('messages.message.search') > -1"><a href ng-click="mail.updateFilterBy('keyword')">Keyword</a></li>
              <li ng-if="currentPermissions.indexOf('messages.conversationAny.search') > -1"><a href ng-click="mail.updateFilterBy('user')">User</a></li>
              <li ng-if="currentPermissions.indexOf('messages.conversationAny.search') > -1"><a href ng-click="mail.updateFilterBy('group')">Group</a></li>
              <li class="divider"></li>
              <li ng-if="currentPermissions.indexOf('messages.conversationAny.search') > -1"><a href ui-sref="app.admin.mail.category({ category: searchCategory })">Clear</a></li>
            </ul>
          </div>
          <div class="select-search" ng-if="mail.searchBy == 'keyword'">
            <input name="textFilter" type="text" ng-model="mail.filter.keyword" class="form-control" placeholder="Search by keyword" ng-keypress="mail.filterByKeyword($event)">
          </div>
          <div class="select-search" ng-if="mail.searchBy == 'user'">
            <ui-select ng-model="mail.filter.user" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" on-select="mail.filterByUser($item)">
              <ui-select-match placeholder="Search by user">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="user.id as user in mail.userList | filter:$select.search" 
                      refresh="mail.refreshUsers($select.search)" 
                      refresh-delay="800"
                      refresh-on-active="true">
                <div ng-bind-html="user.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="select-search" ng-if="mail.searchBy == 'group'">
            <ui-select ng-model="mail.filter.group" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" on-select="mail.filterByGroup($item)">
              <ui-select-match placeholder="Search by group">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="group.id as group in mail.groupList | filter:$select.search">
                <div ng-bind-html="group.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </form>
      </div>   -->  
  </div>

  <section class="container-fluid">
    <div class="row">
      <div class="col-xs"></div>
    </div>
    <div class="row">
      <ui-view name="subcontent"></ui-view>
    </div>
  </section>
</main>