<div class="col-sm-12 conversation">
  <div class="panel panel-default panel-success mail-content">
    
    <div class="panel-heading" style="height:100px">
      <div class="panel-options pull-left">
        <div class="mail-section subject"><strong>Subject:</strong> {{::conversation.conversations.topic}} </div>
        <div class="mail-section from"><strong>From:</strong> {{::conversation.conversations.last_message.senderData.user.name}}</div>
        <div class="mail-section preview"><strong>Date:</strong> {{::conversation.conversations.last_message_date}}</div>
      </div>
    
      <div class="panel-options pull-right">
        <a ng-if="conversation.length > 1" href ng-click="sortMessages()"><span ng-class="{ 'icon-order-dsc' : messageIsDesc, 'icon-order-asc' : !messageIsDesc }"></span> Sort by date</a>

        <a ng-if="category.indexOf('search') == -1" href ui-sref="app.admin.mail2.inbox" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="filter.keyword.length > 0" href ui-sref="app.admin.mail.search({ searchBy: searchBy, keyword: filter.keyword })" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="filter.user.length > 0 && searchBy == 'user'" href ui-sref="app.admin.mail.search({ searchBy: searchBy, keyword: filter.user })" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="filter.group.length > 0 && searchBy == 'group'" href ui-sref="app.admin.mail.search({ searchBy: searchBy, keyword: filter.group })" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="conversation.length > 1" href ng-click="sortMessages()"><span ng-class="{ 'icon-order-dsc' : messageIsDesc, 'icon-order-asc' : !messageIsDesc }"></span> Sort by date</a>
      </div>
    </div>

    <div class="panel-body">
      <!-- Display messages -->

      <table ng-table="conversation.conversationsTable" class="table messages-table">
        <tr ng-repeat-start="message in $data.messages.data | orderBy:'id' track by message.id" class="panel panel-default mail-content" ng-class="{ 'panel-danger' : message.deleted == 1}">
          <td>
            
            <div class="panel-heading clearfix">
              <div class="dropcap-info pull-left" ng-if="!message.sender.profile_image.url">{{ message.sender.first_name }} {{ message.sender.last_name }}</div>
              <div class="profile-image pull-left" ng-if="message.sender.profile_image.url"><img ng-src="{{ message.sender.profile_image.url }}" alt="..."></div>
              <p class="pull-right">
                <a ng-if="currentPermissions.indexOf('messages.messageOwn.delete') > -1" href 
                    title="Delete message" 
                    ng-click="conversation.deleteMessage(message)" 
                    ng-confirm-click="Are you sure you want to delete this message?"><span class="icon-trash text-muted"></span></a>
                <a ng-if="currentPermissions.indexOf('messages.messageOwn.edit') > -1" href 
                    title="Edit message" 
                    ng-click="displayEditForm($index)"><span class="icon-edit text-muted"></span></a>
              </p>
              <p ng-if="message.deleted == 1" class="pull-right deleted-message"><small>This message has been deleted.</small></p>
              <div class="open-title">{{ message.sender.first_name }} {{ message.sender.last_name }}</div>
              <div class="open-title-info">
                <p><span ng-if="message.updated_at">published at </span>{{ message.published_at | date: 'dd/MM/yyyy hh:mm a' }}</p>
              </div>
            </div>
            <div class="panel-body">
              <div class="open-content">
                <div class="form-group" ng-bind-html="message.body" ng-show="!message.isEdit"></div>
                <div class="clearfix">
                  <!-- <h4 ng-if="message.attached_to_file_id && !message.isUploadNotification" class="tagged-file">{{ message.user_name }} has tagged a message to {{ message.attached_to_file_data.title }}</h4><br ng-if="message.attached_to_file_id && !message.isUploadNotification" class="tagged-file""/> -->
                  <!-- <div class="form-group" ng-class="{ 'pull-left' : message.attached_to_file_id }" ng-bind-html="message.body" ng-show="!message.isEdit"></div> -->
                  <!-- <div ng-if="message.attached_to_file_id" class="thumbnail thumbnail--file thumbnail-small pull-right">
                    <a ng-if="!message.attached_to_file_data.isImage" href ng-href="{{ message.attached_to_file_data.url }}" title="{{ message.attached_to_file_data.title }}" target="_blank">
                      <ui-file-thumbnail item="message.attached_to_file_data"></ui-file-thumbnail>
                    </a>
                    <a ng-if="message.attached_to_file_data.isImage" href title="{{ message.attached_to_file_data.title }}" ng-click="displayImage(message.attached_to_file_data)">
                      <ui-file-thumbnail item="message.attached_to_file_data"></ui-file-thumbnail>
                    </a>
                  </div> -->
                </div>
                <!-- <edit-reply-form ng-if="showOptions(message)" message="message" files="files"></edit-reply-form> -->
                <div ng-if="message.files.length > 0" ng-show="!message.isEdit">
                  <hr>
                  <h5><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments</h5>
                  <ul class="list-unstyled row vertical-margin">
                    <li ng-repeat-start="file in message.files" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                      <a ng-if="!conversation.isImage(file.ext)" ng-href="{{ file.url }}" href ng-class="{ 'not-image' : !isImage(file.ext) }" class="thumbnail" download>
                        <div class="download">
                          <div><i class="fa fa-download"></i></div>
                        </div>
                        <ui-file-thumbnail item="file"></ui-file-thumbnail>
                      </a>
                      <a ng-if="isImage(file.ext)" href title="{{ file.title }}" class="thumbnail" ng-click="conversation.displayImage(file)">
                        <ui-file-thumbnail item="file"></ui-file-thumbnail>
                      </a>
                      <p class="bolder file-name" ng-bind-html="file.title"></p>
                    </li>
                    <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
                  </ul>
                </div>
              </div>
            </div>

          </td>
        </tr>
        <tr ng-repeat-end class="spacer"></tr>
        <tr ui-sref-active="active" ng-if="conversation.conversations.messages.data.length == 0">
          <td><h6>No messages found.</h6></td>
        </tr>
      </table>
    </div>

    <div class="panel-footer clearfix" ng-if="$parent.messageScopeObj.name_alias != 'announcements' && currentPermissions.indexOf('messages.message.create') > -1">
      <div class="row">
        <div class="col-xs-12 reply-form">
          <form name="replyForm" novalidate ng-submit="conversation.addReplyMessage(replyForm)" ng-class="{ 'form-processing' : conversation.replyFormSubmitted }" class="form-horizontal">
            <div ng-if="conversation.conversations.messages.data.length > 0" class="clearfix forward-message-container">
              <p class="pull-left">Reply to this conversation</p>
             <!--  <button type="button" class="btn btn-primary pull-right" ng-if="currentPermissions.indexOf('messages.message.forward') > -1 && $parent.messageScopeObj.name_alias.indexOf('private_message') > -1" ng-click="setForwarded()">
               <span class="fa fa-mail-forward"></span> Forward
             </button> -->
            </div>
            <!-- <p ng-if="conversation.conversations.messages.data.length == 0">Create new message</p>
            <div class="form-group" ng-if="isForwarded">
              <label class="col-lg-2 col-md-2 col-sm-2 control-label">To</label>
              <div class="col-lg-10 col-md-10 col-sm-10">
                <ui-select multiple ng-model="reply.to" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" ng-required>
                  <ui-select-match placeholder="Add recipients">{{$item.name}}</ui-select-match>
                  <ui-select-choices group-by="groupUsers" repeat="user.id as user in userList | filter:$select.search">
                    <div ng-bind-html="user.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div> -->
            <div class="form-group text-editor wysiwyg-editor-new">
              <ng-quill-editor ng-model="conversation.reply.message" toolbar="true" link-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link" editor-required="true" required="true" error-class="input-error"></ng-quill-editor>
            </div>
            <!-- <div class="row" ng-if="templates.length > 0 && currentPermissions.indexOf('messages.template.send') > -1">
              <div class="col-xs-12 col-md-6">
                <label>Or use template for your message</label>
                <select class="form-control"
                        ng-model="reply.template"
                        ng-change="useTemplate($event)">
                  <option value="-1" selected>Select template</option>
                  <option ng-repeat="option in templates" value="{{option.id}}">{{option.topic}}</option>
                </select>
              </div>
            </div> -->

            <!-- Attachments area -->
            <hr ng-if="conversation.uploader.queue.length > 0">
            <h5 ng-if="conversation.uploader.queue.length > 0"><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments {{ conversation.uploader.queue.length }}</h5>
            <ul class="list-unstyled row vertical-margin mail-attachments" ng-if="conversation.uploader.queue.length > 0">
              <li ng-repeat-start="item in conversation.uploader.queue" ng-class="{ 'text-danger' : item.isError }">
                <div class="row">
                  <div class="col-xs-6"><p class="bolder file-name">{{ item.file.name }}</p></div>
                  <div class="col-xs-5">
                    <div class="progress" ng-if="!item.isUploaded">
                      <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                        <span class="sr-only">{{ item.progress }}% Complete</span>
                      </div>
                    </div>
                    <p ng-if="item.isError">{{ item.msg }}</p>
                  </div>
                  <div class="col-xs-1">
                    <a href title="Remove" ng-click="conversation.removeFileId(item);item.cancel();" ng-if="item.isUploading"><span class="fa fa-remove"></span></a>
                    <a href title="Remove" ng-click="conversation.removeFileId(item);item.remove();" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a>
                  </div>
                </div>
              </li>
              <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
            </ul>

            <hr>
            <div class="pull-right">
              <label for="file" type="button" 
                      class="btn btn-primary btn-upload icon-standalone" 
                      ng-class="{ 'disabled' : conversation.replyFormSubmitted }">
                <i class="fa fa-upload"></i> <span>Upload Files</span>
                <input id="file" type="file" nv-file-select uploader="conversation.uploader" multiple />
              </label>
              <button type="submit" class="btn btn-danger btn-flat" ng-class="{ 'disabled' : conversation.replyFormSubmitted }">Send</button>
            </div>
            <button type="button" class="btn btn-default" ng-click="cancel($event)" ng-class="{ 'disabled' : conversation.replyFormSubmitted }">Cancel</button>
          </form>
        </div>
      </div>
    </div>

    <div ng-if="conversation.conversations.messages.data.length > 0" class="panel-footer clearfix">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>In this discussion:</p>
          <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">To</h4></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat-start="user in conversation.conversations.users">
                  <div class="thumbnail user-thumbnail thumbnail--small">
                    <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="..." ng-if="!user.userData.profile_image.url">
                    <img ng-src="{{ user.userData.profile_image.url }}" alt="..." ng-if="user.userData.profile_image.url">
                    <div class="caption">
                      <p>{{ user.userData.user.name }}</p>
                    </div>
                  </div>
                </div>
                <div ng-repeat-end ng-if="($index + 1) % 3 == 0" class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-xs-12 col-md-6" ng-if="conversation.files.length > 0">
          <p>Files in this discussion:</p>
          <ul class="list-unstyled row vertical-margin">
            <li ng-repeat-start="file in conversation.files track by $index" class="col-xs-6 col-sm-4">
              <a ng-if="!conversation.isImage(file.ext)" ng-href="{{ file.url }}" href ng-class="{ 'not-image' : !conversation.isImage(file.ext) }" class="thumbnail" download>
                <div class="download">
                  <div><i class="fa fa-download"></i></div>
                </div>
                <ui-file-thumbnail item="file"></ui-file-thumbnail>
              </a>
              <a ng-if="conversation.isImage(file.ext)" href title="{{ file.title }}" ng-click="conversation.displayImage(file)" class="thumbnail">
                <ui-file-thumbnail item="file"></ui-file-thumbnail>
              </a>
              <p class="bolder file-name" ng-bind-html="file.title"></p>
            </li>
            <div ng-repeat-end ng-if="($index + 1) % 3 == 0" class="clearfix"></div>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>