<div class="col-sm-12 conversations drafts sent">
  <div class="panel panel-default mail-content">
    <div class="panel-heading mail-list-options clearfix">
      <div class="mail-btn-opt">
        <div class="btn-group" ng-if="searchBy != 'user' && searchBy != 'group'">
          <button type="button" class="btn btn-default" ng-click="drafts.sortConversation()">Sort by date <span class="" ng-class="{ 'icon-order-dsc' : isDesc, 'icon-order-asc' : !isDesc }"></span></button>
        </div>
      </div>
    </div>
    <div class="panel-body no-padding">
      <table ng-table="sent.conversationsTable" class="table table-hover">
        <tr ng-repeat="conversation in $data">
          <td>
            <div class="row">
              <div class="col-sm-10">
                <div class="mail-section from"><strong>To:</strong> {{::conversation.last_message.senderData.name}}</div>
                <div class="mail-section subject"><strong>Topic:</strong> {{ ::conversation.conversation.topic}} </div>
                <div class="mail-section preview"><strong>Preview:</strong> <span ng-bind-html="::conversation.body" style="display:inline-block"></span></div>
              </div>
              <div class="col-sm-2">
                <divd>
                  <div class="date">{{ ::conversation.created_at | date : "shortDate" }}</div>
                  <div class="starred">
                    <div ng-if="conversation.files.length > 0">
                      <div class="text-right attachments"><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments</div>
                      <ul class="list-unstyled files">
                        <li ng-repeat-start="file in conversation.files" class="col-xs-2 col-sm-6 col-md-4 pull-right">
                          <a ng-if="!sent.isImage(file.ext)" ng-href="{{ file.url }}" href ng-class="{ 'not-image' : !sent.isImage(file.ext) }" class="thumbnail" download>
                            <div class="download">
                              <div><i class="fa fa-download"></i></div>
                            </div>
                            <ui-file-thumbnail item="file"></ui-file-thumbnail>
                          </a>
                          <a ng-if="sent.isImage(file.ext)" href title="{{ file.title }}" class="thumbnail" ng-click="sent.displayImage(file)">
                            <ui-file-thumbnail item="file"></ui-file-thumbnail>
                          </a>
                         <!--  <p class="bolder file-name" ng-bind-html="file.title"></p> -->
                        </li>
                        <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>