.profile-image-cover{
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
}

.profile-image-cover.empty.male {
  background-image: url('../img/profile/male.png');
}

.profile-image-cover.empty.female {
  background-image: url('../img/profile/female.png');
}