.idi-profileWidget {
  height:100%;
  &__cover {
    padding: 20px;
    height: 60%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  &__cover.empty {
    background-image: url('../img/profile/pattern.png');
    background-size: contain;
  }
  &__body {
    .avatar-image {
      border-radius: 3px;
      border: 1px solid #bbb;
    }
    p.time {
      color: #bbb;
    }
    a {
      &:hover {
        cursor: pointer;
      }
    }
    ul {
      list-style: none;
      padding:0;
      margin:25px 0 15px 0;
      li {
        display: inline-block;
        a {
          color: #bbb;
          padding: 4px 6px;
          font-size:1.25em;
          &:hover {
            color: white;
          }
        }
        a.btn.fb:hover { background-color: #3b5998;}
        a.btn.tw:hover { background-color: #1da1f2;}
        a.btn.ln:hover { background-color: #0077B5;}
        a.btn.ig:hover { 
          background:
            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }
      }
    }
  }
}