.c-thumbnail {
  position: relative;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__icon-cell {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__icon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &__image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}