.idi-notificationsWidget {
  .body {
    height: 80%;
    ul.events {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      li {
        height: 33.33%;
        width: 100%;
        border-bottom: 1px solid #d1dee6;
        display: table;
        .time { 
          display: table-cell;
          vertical-align: middle;
          width:20%;
          border-right: 4px solid #d1dee6;
          position: relative;
          padding: 0 10px;
          color: #777777;
          background-color: rgba(238, 238, 238, 0.2);
          line-height: 1.2em;
        }
        .time:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: -10px;
          margin-top: -10px;
          width: 15px;
          height: 15px;
          border: 2px solid #fff;
          border-radius: 100px;
          background-color: #d1dee6;
        }
        .time.event-message:after { background-color: #65c9bf; }
        .time.event-forum:after { background-color: #5c8cca; }
        .time.event-alert:after { background-color: #f96d78; }
        .time.event-upload:after { background-color: #3a3367; }
        .time.event-calendar:after { background-color: #f5cc26; }
        .logo {
          width: 15%;
          display: table-cell;
          vertical-align: middle;
        }
        .content {
          display: table-cell;
          vertical-align: middle;
          .title {
            margin: 0;
          }
          .subtitle {
            color: #777;
            font-size: 0.875em;
            font-style: italic;
          }
        }
      }
    }
  }
  .body.full {
    height: 100%;
    ul.events {
      li {
        height:7em;
      }
    }
  }
  .footer {
    .view-all {
      display: block;
      width: 100%;
      text-align: center;
      color: #777;
      line-height: 68px;
      &:hover {
        color: @main-color;
        cursor: pointer;
      }
    }
  }
}