@bio-card-width: 500px; 
@bio-card-height: 370px; 
@cover-height: 150px;
@border-color: #dae4ea;
@content-color: #737373;


.bio-card {
  position: absolute;
  background-color: #fff;
  border: 1px solid @border-color;
  width: @bio-card-width;
  z-index: 99999;
  box-shadow: 0px 0px 20px 5px #ddd;
  cursor: auto;
  
  @media (max-width: @screen-sm-min) {
    width: 100%;
    min-width: 300px;
  }

  &__cover-image {
    height: @cover-height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  // .row:nth-child(3) {
  //   margin-top:5px;
  // }

  &__left-box {
    border-right: 1px solid @border-color;

    h5 {
      padding:10px 0 30px;
    }

    @media (max-width: @screen-sm-min) {
      border-right: none;
      min-height: auto;
      padding-top: 10%;
    }
  }
  
  &__profile-pic-container {
    border: 5px solid #fff;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: auto;
    margin-top: -28%;
  }

  &__profile-pic {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #efefef;
  }
  
  &__name {
    text-align: center;
    color: #293075;
  }

  &__right-box {
    color: @content-color;
    height: 100px;
    p {
      padding:20px 0 10px;
      margin: 0;
    }
    a {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  
  &__title{
    font-weight: bold;
  }
}