<div id="page-heading">
  <h3 class="page-title">{{ level.title }}</h3>
</div>
<section class="container-fluid">
  <div class="panel panel-default level">
      <div class="level__content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <div class="video-wrapper">
            <iframe src="https://player.vimeo.com/video/198058481" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
          <p class="transcript text-center"><a href="/assets/other/abs/Welcome_transcript.pdf" target="_blank">Transcript</a></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
          <div ng-if="level">
            <div ng-bind-html="level.body" class="container-fix"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 module-table">
        <table class="table table-striped table-standalone">
          <thead>
            <tr>
              <th>Course</th>
              <th>Tutor</th>
            </tr>
          </thead>
          <tbody>
          <tr class="clickable" ng-repeat="module in modules">
            <td><a ui-sref="app.admin.courses.module.welcome({id: module.id})">{{::module.module.title}}</a></td>
            <!--<td>{{::module.tutor_id}}</td>-->
            <td ng-if="!module.tutor">
              No tutor assigned
            </td>
            <td ng-if="module.tutor">
              <span idi-bio-card="{{ module.tutor.id }}">{{ module.tutor.first_name }} {{ module.tutor.last_name }}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5">
        </div>
      </div>
  </div>
</section>
