<section ui-form-wizard viewing-mode="true" class="studio">
  <div class="form-group">
    <div class="studio__header">
      <div class="studio__header__title">
        <h3 class="clickable"
            ng-click="showMenu = !showMenu"
            ng-bind="module.title"></h3>
        <span class="icon icon-2x icon-arrow-down2"
              ng-show="!showMenu && module"
              ng-click="showMenu = true"></span>
        <span class="icon icon-2x icon-arrow-up2"
              ng-show="showMenu && module"
              ng-click="showMenu = false"></span>
      </div>
      <div class="form-wizard studio-wizard" ng-show="showMenu">
        <ul class="tabs" ng-click="showMenu = false">
          <li><button data-step="1" ng-click="updateView('welcome')">Welcome</button><div><span>1</span></div></li>
          <li><button data-step="2" ng-click="updateView('learning')">Learning Path</button><div><span>2</span></div></li>
          <li><button data-step="3" ng-click="updateView('studio')">Lab</button><div><span>3</span></div></li>
          <li><button data-step="4" ng-click="updateView('forums')">Forums</button><div><span>4</span></div></li>
          <li ng-if="false"><button data-step="5" ng-click="updateView('assessment')">Assessment</button><div><span>5</span></div></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wizard_pane active" ui-view="welcome" ng-show="isModuleShown"></div>
  <div class="wizard_pane" ui-view="learning" ng-show="isModuleShown"></div>
  <div class="wizard_pane" ui-view="studio" ng-show="isModuleShown"></div>
  <div class="wizard_pane" ui-view="forums" ng-show="isModuleShown"></div>
  <div class="wizard_pane" ui-view="assessment" ng-if="false" ng-show="isModuleShown"></div>
</section>