<div id="page-heading">
  <h3 class="page-title">Tutor Page</h3>
</div>

<section class="container-fluid">
  <div class="row">
    <div class="col-xlg-9 col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <profile-widget profile="profile" date="false" social="false"></profile-widget>
    </div>


    <div class="col-xlg-3 col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="calendar-daily widget widget-lg">
        <div class="widget-heading">
          <p class="title">{{ :: date|date:"d" }}</p>
          <span class="subtitle">{{ :: date|date:"EEEE" }}</span>
        </div>
        <div class="widget-body bg-main-dark"><span>{{ :: date|date:"MMMM yyyy" }}</span></div>

      </div>
    </div>

    <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <tutor-modules-table user-id="profile.id"></tutor-modules-table>
    </div>
  </div>
</section>
