<div id="page-heading">
  <h3 class="page-title">Students</h3>
</div>
<div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <article class="panel panel-default">
    <section class="panel-body">
      <table class="table table-hover table-standalone">
        <thead>
        <tr>
          <th>Picture</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Title</th>
          <th>Course status</th>
          <!--<th>Last Login</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="clickable" ng-repeat="module in tutorStudents.list" ui-sref="app.admin.courses.module.welcome({ id: module.id })">
          <td><img ng-src="{{module.student.profile_image}}" class="table-image"></td>
          <td>{{ module.student.first_name }}</td>
          <td>{{ module.student.last_name }}</td>
          <td>{{ module.module_title }}</td>
          <td>{{ module.status }}</td>
          <!-- <td>{{ module.lastLoginDuration }}</td> -->
        </tr>
        </tbody>
      </table>
    </section>
  </article>
</div>