<div class="thumbnail c-thumbnail">
  <div style="height: {{ ::size }}; width: {{ ::size }};">
    <div ng-switch="type" class="c-thumbnail__container">
      <div ng-switch-when="book" class="c-thumbnail__icon-cell">
        <i class="fa icon-book icon-3x c-thumbnail__icon"></i>
      </div>
      <div ng-switch-when="doc" class="c-thumbnail__icon-cell">
        <i class="fa icon-sheet icon-3x c-thumbnail__icon"></i>
      </div>
      <div ng-switch-when="image" style="background-image: url('{{ ::item.url }}')" class="c-thumbnail__image">
      </div>
    </div>
  </div>
  <div ng-transclude></div>

</div>