<div class="idi-profileWidget widget widget-lg">
  <div class="widget-heading idi-profileWidget__cover" style="background-image:url({{ profile.cover_image.url }})" ng-if="noCover==false">
  </div>
  <div class="widget-heading idi-profileWidget__cover empty" ng-if="noCover==true" style="background-color:{{profile.cover_image.colour}}">
  </div>
  <div class="widget-body idi-profileWidget__body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center title">
        <idi-common-profile-image cover-url="{{profile.profile_image.url}}" cover-width="100px" cover-height="100px" cover-class="avatar-image" ng-if="noImage==false"></idi-common-profile-image>
        <idi-common-profile-image cover-width="100px" cover-height="100px" cover-class="avatar-image" profile="profile" ng-if="noImage==true"></idi-common-profile-image>
        <h4 class="text-info">{{ profile.first_name }} {{ profile.last_name }}</h4>
        <p class="time" ng-if="date==true"><span class="fa fa-clock-o"></span> {{ clockTime | moment:'LT' }}</p>
        <a ui-sref="app.admin.profile.public({ id: profile.id })" ng-if="link==true">View Profile</a>
        <ul ng-if="social==true">
          <li ng-if="profile.social_facebook">
            <a href="{{profile.social_facebook}}" class="btn fb" target="_blank">
              <i class="fa fa-facebook fa-fw"></i>
            </a>
          </li>
          <li ng-if="profile.social_twitter">
            <a href="{{profile.social_twitter}}" class="btn tw" target="_blank">
              <i class="fa fa-twitter fa-fw"></i>
            </a>
          </li>
          <li ng-if="profile.social_linkedin">
            <a href="{{profile.social_linkedin}}" class="btn ln" target="_blank">
              <i class="fa fa-linkedin fa-fw"></i>
            </a>
          </li>
          <li ng-if="profile.social_instagram">
            <a href="{{profile.social_instagram}}" class="btn ig" target="_blank">
              <i class="fa fa-instagram fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>