<div id="page-heading">
  <h3 class="page-title">Permissions</h3>
</div>
<section>
  <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">

    <div class="panel-body" >
      <div ng-repeat="group in permissions.groups track by group.id">
      <label style="margin-right: 7px" >
        <input type="checkbox" ng-model="permissions.selectedGroups[group.name]" ng-change="permissions.onGroupSelect()"/>
        <span>{{group.name}}</span>
      </label>
      </div>
    </div>

    <table ng-table-dynamic="permissions.tableParams with permissions.tableCols" class="table" show-group="false">
      <tr>
        <td>{{ :: $groups.count }}</td>
      </tr>
      <tr class="" ng-repeat-start="group in $groups">
        <td colspan="{{$columns.length}}">
          <a href ng-click="group.$hideRows = !group.$hideRows">
          <strong>{{ :: group.value }}</strong>
          </a>
        </td>
      </tr>
      <tr ng-hide="group.$hideRows" ng-repeat="row in group.data track by row.permission" ng-repeat-end>
        <td ng-repeat="col in $columns track by $index" ng-switch="$index">
          <div ng-switch-when="0">
            <div>{{ :: row[col.field] }}</div>
            <i>{{ :: row.description }}</i>
            <div><small class="text-muted">{{ :: row.permission }}</small></div>
          </div>
          <input ng-switch-default type="checkbox"
          title="{{ :: col.title() }}" }}"
          ng-change="permissions.onChange(permissions.groups[col.title()])"
          ng-model="permissions.groups[col.title()].permissions2[row.permission]" />
        </td>
      </tr>
    </table>

    </div>
  </div>