<div class="modal upload-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 ng-show="currencies.method==='save'">Add new currency</h3>
        <h3 ng-show="currencies.method==='update'">Update currency</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="add-new-form">
          <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" name="code" class="form-control" ng-model="currencies.newCurrency.code" maxlength="3" placeholder="3 uppercase letters" required>
          </div>
          
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control" ng-model="currencies.newCurrency.name" placeholder="Name of Currency" required>
          </div>


          <div class="form-group">
            <label for="symbol">Symbol:</label>
            <input type="text" name="symbol" class="form-control" ng-model="currencies.newCurrency.symbol" maxlength="1" placeholder=Currency symbol like $ or €" required>
          </div>

          <div class="form-group">
            <label for="position">Position:</label>
            <select class="form-control" id="position" ng-model="currencies.newCurrency.position">
              <option value="right">Right</option>
              <option value="left">Left</option>
            </select>
          </div>

          <div class="form-group">
            <button ng-disabled="!currencies.newCurrency.code" class="btn btn-success" ng-click="currencies.addNew()">Submit</button>
          </div>
       </form>
      </div>
    </div>
  </div>
</div>