<section class="manager-theme currencies-manager">
  <div class="container-fluid">
    <div class="icons col-sm-2">
        <a href="" ng-click="currencies.initNewCurrency()"><i class="fa fa-file"></i><span>New</span></a>
        <a href="" ng-click="currencies.delete()"><i class="fa fa-trash"></i><span>Delete</span></a>
    </div>
    <div class="col-sm-10 courses">
      <h3 class="page-title">Currencies</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="currencies.allSelected" ng-click="currencies.toggleAll()" />
          <span ng-show="currencies.allSelected" >All Selected</span>
          <span ng-hide="currencies.allSelected" >Select All</span>
        </label>
      </div>
  
      <input type="text" class="form-control" placeholder="Search" ng-model="currencies.filter.name" ng-keypress="currencies.filterByKeyword($event)">
      
      <table ng-table="currencies.currenciesTable" class="table table-hover">
        <tr ng-repeat="currency in $data">
          <td data-title="'#'">{{$index}}</td>
          <td data-title="'Currency'" sortable="'name'" class="colored-text"><span ng-click="currencies.update(currency.code)">{{currency.name}}</span></td>
          <td data-title="'Code'" sortable="'code'">{{currency.code}}</td>
          <td data-title="'Symbol'" sortable="'symbol'">{{currency.symbol}}</td>
          <td data-title="'Position'" sortable="'position'">{{currency.position}}</td>
          <td data-title="''"><input type="checkbox" ng-model="currency.checked" ng-click="currencies.cbChecked()"></td>
        </tr>
      </table>

    </div>
  </div>
</div>