.customers-modal{
  .installments-total{
    font-size: 15px;
  }
  .installments-amount{
    font-size: 15px;
    color: #3c8bb6;
    display: block;
  }
  .error{
  	background-color: red;
  }
  .card-container{
    position: relative;
    padding-right: 15px;
    &:hover{
      & .card-actions{
        display: block;
      }
    }
    .card-actions {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      a.card-action-link {
        display: block;
      }
    }
  }
  .installments-container{
    position: relative;
    &:hover{
      & .installment-actions{
        display: block;
      }
    }
    .installment-actions {
      position: absolute;
      right: 0;
      top: 15px;
      display: none;
      a.card-action-link {
        display: block;
      }
    }
    .transaction-detail{
      font-size: 11px;
      text-align: center;
      padding-bottom: 5px;
      .transaction-code{
        color: #5C8CCA;
        font-weight: bold;
      }
      .transaction-status{
        font-weight: bold;
        &.text-success{
          color: green !important;
        }
      }
      .transaction-date{
        font-weight: bold;
      }
    }
  }
}

idi-payment-card.default::after {
  content: 'DEFAULT';
  display: block;
  margin: 0 40%;
  width: 20%;
  background: @payments-green;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  padding: 3px 0 5px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }