.manager{
  .manager-theme{
    padding-top: 30px;
    .icons{
      a{
        display: block;
        text-align: center;
        font-size: 25px;
        margin-bottom: 40px;
        color: #000;
        span{
          display: block;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .courses{
      .page-title{
        margin-top: 0;
        margin-bottom: 15px;
        color: #162b6b;
        font-weight: bold;
      }
      .colored-text{
        color: #3c8bb6;
        cursor: pointer;
      }
    }
  }
}