.manager{
  .plans-manager{
    
  }
}


.plans-modal{
  h4{
    font-weight: bold;
    color: #008CBA;
  }
  .installments{
    .title{
      background-color: #008CBA;
      span{
        color: #fff;
        text-align: center;
        display: block;
        a{
          float:right;
          border: none;
          color: #fff;
        }
      }
    }
    .installment-amount{
      font-size: 16px;
      font-weight: bold;
    }
    .installment-error{
      color: red;
    }
  }
  .padding-right{
    padding-right: 2px;
    padding-left: 0;
  }
  .padding-left{
    padding-left: 2px;
    padding-right: 0;
  }
  .padding-center{
    padding-right: 2px;
    padding-left: 2px;
  }
  .nopadding{
    padding: 0;
  }
}