<div id="page-heading">
  <h3 class="page-title" idi-locale="dashboard.naming"></h3>
</div>

<section class="container-fluid idi-dashboard">
  <div class="row">
    <!-- Profile widget -->
    <div class="col-xlg-9 col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <profile-widget profile="profile" date="true" social="false" link="false"></profile-widget>
    </div>
    <!-- Notification widget -->
    <!-- <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <notifications-widget widget="true" events="dashboard.notifications"></notifications-widget>
    </div> -->
    <!-- Today widget -->
    <div class="col-xlg-3 col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="idi-dashboard__today calendar-daily widget widget-lg">
        <dashboard-today date="date" events="todaysEvents" today-click="dashboard.todayClick(id)"></dashboard-today>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Programme Widget -->
    <div class="col-xs-12" ng-if="hasPermissions('studypath.role.tutor')">
      <div class="idi-dashboard__programmes">
        <tutor-modules-table user-id="profile.id"></tutor-modules-table>
      </div>
    </div>
    <div class="col-xs-12" ng-if="hasPermissions('studypath.role.student')">
      <div class="idi-dashboard__programmes">
        <programmes-table user-id="profile.id"></programmes-table>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Payments widget -->
    <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-if="hasPermissions('payments.role.subscriber')">
      <div class="panel panel-default idi-dashboard__payments">
        <div class="panel-heading">
          <p class="idi-dashboard__payments-title" idi-locale="dashboard.payments.naming"></p>
        </div>
        <div class="panel-body">
          <idi-payment-subscriptions subscriptions="subscriptions" ng-if="!noCourse"></idi-payment-subscriptions>
          <p ng-if="noCourse" idi-locale="dashboard.payments.empty"></p>
        </div>
      </div>
    </div>
    <!-- Todo widget -->
    <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-if="hasPermissions('todo.task.create')">
      <div class="idi-dashboard__tasks">
        <dashboard-todo user-id="profile.id"></dashboard-todo>
      </div>
    </div>
    <!-- Calendar widget -->
    <div class="col-xlg-{{dashboard.calSize}} col-lg-{{dashboard.calSize}} col-md-{{dashboard.calSize}} col-sm-12 col-xs-12">
      <div class="panel panel-default idi-dashboard__calendar">
        <div class="panel-heading" ng-show="errorCopy">
          <input class="form-control ng-pristine ng-valid ng-touched" ng-model="urlICalendar" type="text" readonly>
        </div>
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
      </div>
    </div>
  </div>
</section>
