.c-learning-path {

  &__thumbnail {
    margin: 10px 10px 0 0;
    float: left;
  }

  &__badge {
    background-color: @alt-color !important;
    position: absolute;
    top: -7px;
    right: -8px;
  }

}

 ul.flatMenu {
  margin-bottom: 0 !important;
}