.table-image {
  height: 50px;
  margin: -5px;
}

.help-heading {
  h3 {
    display: inline-block;
  }
  h4 {
    display: inline-block;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .fa-info-circle {
    color: #307fe2;
    font-size: larger;
    line-height: 46px;
    opacity: 0.8;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
      opacity: 1;
    }
  }
  .icon-text {
    cursor: pointer;
    vertical-align: middle;
  }
  .collapse-time {
    vertical-align: middle;
    float: right;
  }
  &.learning-path-heading, &.studio-heading {
    position: relative;
    & > h4 {
      width: 82%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.panel-admissions {
  position: relative;

  .thumb-item {
    p, h3 {
      word-wrap: break-word;
      width: 100%;
    }

    .thumbnail {
      text-align: center;
    }
  }
}

.table-option {
  padding-top: 0;
}

.table-applicants {
  i {
    font-size: 20px;
    line-height: 20px;
  }

  .login-duration {
    margin: 0;
    padding: 6px 5px 0 0;
  }

  .applicant-checkbox span {
    margin-top: 7px;
  }

  .progress-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
  }

  .progress-text {
    position: absolute;
    left: 15px;
    top: 18px;
    font-size: 11px;
    color: #bbb;
  }

  td {
    word-break: break-all;
  }

  .table_alerts {
    min-width: 75px;
  }
}

.applicant-filter-list {
  padding-bottom: 10px;

  button {
    margin-bottom: 15px;
  }
}

.tooltip-inner {
  max-width: none;
}

.applicant-info-tooltip {
  text-align: left;
  font-size: 13px;
  padding: 7px 2px;
}


.admissions_welcome {
  &__title {
    margin-top: 0;
  }

  &__videoimage {
    width: calc(~"100% + 20px");
    margin: 0 -10px 10px -10px;
  }
  &__video_wrapper {
    margin: -10px -10px 10px -10px;
    padding: 0;
  }
  &__support_documents {
    margin: 0 -10px;
    .panel-body {
      padding: 0 5px;
      margin-top: -1px;
    }
    table {
      margin-bottom: 10px;
    }
  }

  &__image {
    width: 100%;
    padding-bottom: 15px;
    margin-top: -15px;
  }
  &__button {
    &.btn-check {
      > input[type="checkbox"]:disabled + span {
        cursor: default !important;
        opacity: 1;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  &__buttons_wrapper {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  &__start_button_wrapper {
    margin: 0 -10px;
    text-align: center;
    @media (max-width: @screen-md-min) {
      padding-bottom: 20px;
    }
    .admissions_welcome__start_button {
      margin: 10px 0 0 0;
      padding: 7px 10px;
      font-size: 15px;
      white-space: normal;
      width: 100%;
      span {
        text-transform: uppercase;
      }
    }
  }
  &__heading {
    font-size: 15px;
  }
}

.heading-image {
  width: 100%;
}

.thumbnail--file {
  .clearfix();
  word-break: break-all;

  h4, p {
    word-break: break-all;
  }

  h4, h3 {
    font-size: 16px;
    margin-top: 0;
  }

  &:hover {
    border-color: @brand-primary;
  }

  .caption {
    float: left;
    width: 45%;
    @media (min-width: @screen-sm-min) {
      margin-left: 10px;
    }
    @media (min-width: @screen-md-min) {
      width: 50%;
    }
  }

  .thumbnail_image {
    overflow: hidden;
    height: 75px;
    width: 75px;
    padding: 75px 0 0 0;
    box-sizing: border-box;
    position: relative;
    float: left;
    @media (min-width: @screen-sm-min) {
      height: 150px;
      width: 150px;
      padding: 150px 0 0 0;
    }
  }

  &.thumbnail--file--activity {
    .caption {
      width: 90%;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (min-width: 992px) {
        width: 90%;
      }
      @media (min-width: 1920px) {
        width: 90%;
      }
    }

    .thumbnail_image {
      height: auto;
      width: 100%;
      max-width: 150px;
      @media (min-width: 1920px) {
        width: 45%;
        float: left;
        max-width: none;
      }
    }
  }

  .type-icon {
    background-color: @gray-lighter;
    border-radius: 5px;

    > div {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      > div {
        display: table;
        width: 100%;
        height: 100%;

        i, div {
          font-size: 50px;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: @gray-light;
        }
      }
    }
  }

  img {
    width: 100%;
  }
}

.checkbox-list {
  height: 200px;
  overflow: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submit-confirmation-box label {
  margin: 0;
}

.icon-hot:before { content: '\e80d'; } /* '' */
.icon-neutral:before { content: '\e855'; } /* '' */
.icon-cold:before { content: '\e85d'; } /* '' */

.form-wizard.studio-wizard,
.form-wizard.admission-wizard {
  .bar {
    display: none;
    @media (min-width: @screen-sm-min) {
      display: block;
    }
  }

  .tabs {
    display: block;
    @media (min-width: @screen-sm-min) {
      display: table;
    }

    li {
      position: relative;
      display: block;
      border-bottom: 1px solid #d1dee6;
      @media (min-width: @screen-sm-min) {
        display: table-cell;
        border-bottom: 4px solid #d1dee6;
      }

      > div {
        display: none;
      }

      button + div {
        position: absolute;
        top: 15px;
        left: 15px;

        @media (min-width: @screen-sm-min) {
          bottom: -10px;
          top: auto;
          left: auto;
          width: 100%;
          text-align: center;
          z-index: 2;
        }

        > span {
          padding: 4px 8px 5px;
          font-size: 10px;
          font-weight: 500;
          background-color: #d1dee6;
          border-radius: 100%;
          color: #fff;
        }
      }

      button:after {
        display: none;
      }

      &.active {
        background-color: @brand-success;
        @media (min-width: @screen-sm-min) {
          background-color: #ffffff;
        }

        button {
          color: #ffffff;
          @media (min-width: @screen-sm-min) {
            color: #555555;
          }

          + div > span {
            background-color: @brand-success;
            border: 1px solid #ffffff;
            @media (min-width: @screen-sm-min) {
              border: 0;
            }
          }
        }
      }
    }
  }
}
.form-group {
  .col-two {
    .clearfix();
    margin-bottom: 15px;
    @media (min-width: @screen-md-min) {
      float: left;
      width: 50%;
      margin-bottom: 0;
    }
  }

  .col-two + .col-two {
    margin-bottom: 0;
  }
}
.resize-vertical {
  resize: vertical;
}

.dropdown-400 {
  max-height: 400px;
  overflow: scroll;
}
.table-responsive {
  @media screen and (max-width: 767px) {
    overflow-x: scroll;
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 11px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
  }
}

.admission-file-opt {
  margin-bottom: 5px;
}

.progress.profile-file-progress {
  margin-top: 5px;
}

.admission-uploader .file-name {
  word-break: break-all;
}

.field-description {
  margin-top: 15px;
}

.field-description-tooltip {
  margin-top: 15px;
  text-align: left;
}

.tooltip {
  max-width: 100%;
  @media (min-width: @screen-sm-min) {
    max-width: 50%;
  }
}

.ng-touched.ng-invalid-required {
  border-color: @brand-danger;
}

.panel.panel--footer {
  border-top: 0;
  .panel-footer {
    border-radius: 3px;
  }
}

.iframe__fullwidth_video {
  max-width: 75vw;
}

.tooltip-admissions {
  text-align: left;
}

.icon-cloud-upload--blue {
  color: #307fe2;
}

.advisor-filter {

}

.filters-wrapper {
}
.day{
  color:black !important;
}
.day:after {
  content: '';
  display: block;
  width: 30px; height: 30px;
  background-color: green;
  border-radius: 100%;
  z-index: -1;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: -15px; margin-left: -15px;
  opacity:.9;
}
.day.green:after {
  background-color: green;
}
.day.yellow:after {
  background-color: yellow;
}
.day.red:after {
  background-color: red;
}
.day.many:after {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efef00+12,ff0000+51,2eff00+100&1+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(239,239,0,1) 0%, rgba(239,239,0,0.94) 12%, rgba(255,0,0,0.75) 51%, rgba(46,255,0,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(239,239,0,1) 0%,rgba(239,239,0,0.94) 12%,rgba(255,0,0,0.75) 51%,rgba(46,255,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(239,239,0,1) 0%,rgba(239,239,0,0.94) 12%,rgba(255,0,0,0.75) 51%,rgba(46,255,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efef00', endColorstr='#802eff00',GradientType=0 ); /* IE6-9 */
}

