aside.chat {
  .message-input {
    background-color: #4d4489;
    
    textarea {
      width: 100%;
      background-color: #4d4489;
      border: none;
      padding: 15px 40px 15px 15px;
      color: #fff;
    }
    
    label {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }
  
  ul.mail-attachments  {
    border-top: 1px solid #3a3367;
    margin: 0;
    padding: 15px 0 0 0;
    
    li {
      padding-left: 15px;
      padding-right: 15px;
      color: #fff;
    }
    
    span.fa-remove {
      position: relative;
      top: 0;
      right: 0;
    }
    
    p {
      word-break: break-all;
    }
  }
  
  .message-attachments {
    margin-top: 15px;
  }
}

body.chat-open.offcanvas {
  aside[role="navigation"] {
    display: none;
    @media (min-width: @screen-sm-min) {
      display: block;
    }
  }
  
  .wrapper, 
  .navbar.navbar-default.navbar-static-top {
    left: 0;
  }
}