// Variables
@dashboard-grey: #ddd;

.widget.widget-lg {
  height: 340px !important;
}

.idi-dashboard {

  // Widget General
  .widget-general {
    height: 450px;
    border: 1px solid @dashboard-grey;
  }

  // Widget Header Bars
  .widget-header {
    background-color:@main-color !important;
    padding:10px 15px;
  }

  .widget-header-text {
    color: @main-color-text;
    font-size: 18px;
    font-weight: normal !important;
    line-height: 1.5em;
    margin:0;
  }

  .widget-header-button {
    font-size: 13px;
    padding: 4px 8px;
    background: none;
    border: 1px solid @main-color-text;
    text-shadow: none;
    box-shadow: none;
    color: @main-color-text;
  }

  .widget-header-button-hover {
    background: @main-color-text;
    color: @main-color;
  }

  // Today widget
  .calendar-daily.widget {
    .widget-body {
      background-color: @main-color !important;
      color: @main-color-text;
    }
  }
  &__events {
    margin:20px 0 0;
    text-align: center;
    p {
      cursor: pointer;
    }
    .carousel-inner > .item {
      height: 20px;
    }
    .carousel-indicators {
      display: none;
    }
    .prev-control, .next-control {
      font-size: 13px;
      margin-top:-10px;
      color: #bbb;
      &:hover {
        color: @main-color;
      }
    }
    &--empty {
      p {
        color: #bbb;
        margin:20px 0 0;
        text-align: center;
      }
    }
  }

  // Programmes widget
  &__programmes {
    .panel {
      border: none;
    }
    .panel-heading {
      .widget-header;
      p {
        .widget-header-text;
      }
    }
    .panel-body {
      table {
        th {
          color: @main-color-text;
        }
      }
    }
  }

  // Tasks widget
  &__tasks {
    .widget-general;
    .panel-heading {
      .widget-header;
      p {
        .widget-header-text;
      }
    }
  }
  .dashboard-todo {
    background: white;
    height: 100%;
    &__task-list,
    &__empty-task-list {
      height: 315px;
    }
    &__empty-task-list {
      p {
        line-height: 315px;
      }
    }
  }

  // Payments widget
  &__payments {
    .widget-general;
    .panel-heading {
      .widget-header;
      p {
        .widget-header-text;
      }
    }
    .panel-body {
      overflow: auto;
      background-color: white;
      height: 400px;
      padding: 5px 10px;
      p {
        margin: 0 10px;
        line-height: 390px;
        color: #bbb;
        text-align: center;
      }
    }
    .idi-payments__course {
      font-size: 13px !important;
      a, .idi-payments__course tr td {
        font-size: 13px !important;
      }
    }
  }

  // Calendar widget
  &__calendar {
    .widget-general;
    .fc-unthemed td {
      border-color: @dashboard-grey !important;
    }
    .fc.well {
      padding:0;
    }
    .fc {
      table {
        background: none;
      }
      .fc-toolbar {
        .widget-header;
        margin-bottom: 0;
        .fc-left {
          h2 {
            .widget-header-text;   
          }
        }
        .fc-button {
          .widget-header-button;
        }
        .fc-button:hover {
          .widget-header-button-hover;
        }
        .fc-button:disabled {
          cursor: default;
        }
      }
      .fc-row {
        border-bottom: 1px solid @dashboard-grey;
        .fc-day-number {
          border-right: 1px solid @dashboard-grey;
          padding-right: 5px;
        }
        .fc-day-number.fc-today,
        .fc-day.fc-today {
          background-color: lighten(@main-color, 35%);
        }
      }
      .fc-event {
        background-color: @main-color;
        border-color: @main-color;
        color: @main-color-text;
        &:hover {
          cursor: pointer;
        }
      }
      .fc-content-skeleton,
      .fc-content-skeleton table,
      .fc-content-skeleton tr,
      .fc-content-skeleton td,
      .fc-content-skeleton .fc-day-number,
      td.fc-widget-header,
      td.fc-widget-content {
        border: none;
      }
      .fc-bg td {
        border-width:0 1px 1px 0;
        border-style: solid;
        border-color: @dashboard-grey;
      }
    }
  }

}