.draggable_list {
  ul[dnd-list] {
    box-shadow: none;
    position: relative;
    min-height: 42px;
    padding-left: 0px;
    > li {
      position: relative;
      background-color: #fff;
      border: 1px solid #ddd;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      &.selected {
        background-color: #307fe2;
        color: #fff;
      }
    }
    .dndDraggingSource {
      display: none;
    }
    .dndPlaceholder {
      list-style: none;
      display: block;
      background-color: #ddd;
      min-height: 42px;
    }
  }
  &.draggable_list--col {
    ul[dnd-list] {
      > li {
        border-radius: 4px;
        margin: 10px 0;
      }
    }
  }
}

