.file-message {
  position: relative;
  border: 0;
  
  .open-title-info p {
    margin-bottom: 0;
  }
  
  .tag-message {
    width: 80%;
    font-size: 12px;
    color: #307fe2;
  }
  
  .tag-file {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    @media (min-width: 600px) {
      position: absolute;
      right: 5px;
      top: 10px;
      margin-top: 0;
    }
    
    .thumbnail--file {
      .thumbnail_image {
        width: 60px;
        height: 60px;
        padding: 60px 0 0 0;
      }
    }
  }
}

.file-message-modal {
  .modal-dialog {
    @media (min-width: 992px) {
      width: 700px;
    }
    @media (max-width: 991px) {
      .ql-snow.ql-toolbar {
        display: none;
      }
    }
  }
  
  .close {
    position: absolute;
    top: -12px;
    right: -12px;
    opacity: 1;
  }
  
  .image-holder {
    position: relative;
    min-height: 35px;
  }
  
  .image-holder img {
    display: block;
    max-width: 100%;
    margin: 0 auto 10px auto;
  }
  
  .image-holder a {
    text-align: center;
    
    i {
      font-size: 50px;
      padding: 4px;
      border: 1px solid #307fe2;
      border-radius: 5px;
      color: #307fe2;
    }
  }
  
  .image-holder button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0.3;
    transition: opacity 0.3 ease;
    -webkit-transition: opacity 0.3 ease;
  }
  
  .image-holder button:hover {
    opacity: 1;
  }
  
  .message-table table {
    width: 100%;
  }
  
  .profile-image,
  .dropcap-info {
    position: absolute;
  }
  
  .deleted-message {
    color: rgb(255, 0, 0);
  }
  
  .panel-body .open-content {
    margin-left: 81px;
    padding: 0;
    
    hr {
      margin-top: 5px;
      margin-bottom: 20px;
    }
    
    .reply-form > .row > .col-xs-12.col-lg-8 {
      width: 100%;
    }
  }
  
  .mail-content .open-title {
    font-size: 16px;
    span {
      font-size: 12px;
      color: #777;
    }
  }
  
  .message-options {
    margin: 0;
  }
  
  .ng-table-counts {
    display: none;
  }
  .share {
    &__wrapper {

    }
    &__text {
      padding: 0;
      width: 60px;
      color: #fff;
      background-color: #307fe2;
      font-size: 14px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: 0;

      &:hover {
        background-color: #1b66c4;
      }

      &:active {
        position: relative;
        top: 1px;
      }
      .share__text__share,
      .share__text__copy {
        padding: 9px 13px;
      }

      .share__text__share {
        display: inline-block;
      }
      .share__text__loading {
        display: none;
      }

      &.share__text--loading {
        width: 100px;
        .share__text__share {
          display: none;
        }
        .share__text__loading {
          display: inline-block;
          &:before {
            content: '';
            display: block;
            float: left;
            width: 16px;
            margin-right: 5px;
            height: 16px;
            background-color: transparent;
            background-size: cover;
            background-position: center bottom;

            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"><path fill="#fff" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>');
          }
        }
      }
    }
    &__input {

    }
  }
  .move__button {
    margin-left: 5px;
  }
}