.forums-section {
    .filter-options {
        margin-bottom: 15px;
        @media (min-width: @screen-sm-min) {
            margin-bottom: 0;
        }
        .filter-group {
            max-width: 250px;
        }
        .form-inline {
            margin-top: 15px;
            .form-group {
                margin-bottom: 15px;
            }
        }
    }
    .forums-options {
        @media (min-width: @screen-sm-min) {
            float: right;
        }
        button {
            margin-bottom: 5px;
        }
    }

    .table-forums {
        > thead > tr > th {
            background-color: @main-color;
            color: white;
        }
        > thead > tr > th.sortable.sort-desc,
        > thead > tr > th.sortable.sort-asc {
            background-color: @main-color-light;
            color: black;
        }
        .forum-status {
            font-size: 20px;
        }
        .publish {
            color: #449d44;
        }
        .unpublish {
            color: #c9302c;
        }
    }
    .semester-name {
        margin-bottom: 18px;
    }
    .breadcrumb.breadcrumb-alter {
        padding: 0;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 0;
        > li + li:before {
            border-width: 4px 0 4px 6px;
            top: 40%;
        }
    }
    .topic-option {
        .btn-primary.icon-standalone i {
            padding: 7px 10px;
        }
        .btn-primary.icon-standalone span {
            padding: 6px 10px 4px 46px;
        }
    }
    .panel-post {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        form {
            padding-top: 15px;
            width: 100%;
            max-width: 750px;
            margin-left: 15px;
            margin-right: 15px;
            textarea {
                height: 125px;
                resize: none;
            }
            button,
            label.btn-upload {
                margin-bottom: 10px;
            }
            .post-buttons {
                @media (min-width: @screen-sm-min) {
                    float: right;
                }
            }
        }
        .move-post {
            padding-left: 0;
            .control-label {
                display: inline-block;
                margin-top: 7px;
            }
            .ui-select-container.dropdown {
                min-width: 40%;
                display: inline-block;
                margin-left: 10px;
                position: absolute;
            }
            .btn.btn-default {
                text-align: left;
                display: inline-block;
                margin-bottom: 0;
                .caret {
                    margin-left: 0;
                    margin-top: 6px;
                }
            }
            .ui-select-match {
                outline: 0;
                &:focus,
                &:hover {
                    box-shadow: none;
                }
            }
            .ui-select-bootstrap .ui-select-choices-row.active > a {
                background-color: #307FE2;
            }
            .has-success .form-control:focus,
            .form-control:focus {
                border-color: #C9D7E0;
                box-shadow: none;
            }
        }
    }
    .postbyadmintutor {
        background: #FFF4E8;
    }
    .post {
        position: relative;
        padding: 15px 0;
        border-bottom: 1px solid #d1dee6;
        width: 100%;
        margin: 0;
        > div {
            padding-bottom: 30px;
        }
        .image {
            float: left;
            margin-right: 10px;
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center center;
            @media (min-width: @screen-sm-min) {
                float: none;
                margin-right: 0;
            }
        }
        .name {
            margin-bottom: 5px;
        }
        .user-type {
            margin-bottom: 12px;
        }
        .quote-button {
            position: absolute;
            padding: 0;
            right: 15px;
            bottom: 15px;
        }
        .options {
            margin-top: 8px;
        }
        .quoted {
            margin-bottom: 30px;
            margin-left: 20px;
            padding: 0;
        }
    }
    .post-attachments {
        max-width: 500px;
    }
    .post-attachments-list {
        margin-top: 30px;
        label {
            font-weight: bold;
        }
        ul {
            margin: 5px 0 0 0;
            li {
                float: left;
                margin-right: 8px;
            }
        }
        .thumbnail--file {
            margin-bottom: 10px;
            .thumbnail_image {
                @media (min-width: @screen-sm-min) {
                    height: 75px;
                    width: 75px;
                    padding: 75px 0 0 0;
                }
            }
        }
    }
    .page-list {
        li {
            padding-left: 2px;
            padding-right: 2px;
        }
        a.btn {
            padding: 2px 6px;
            margin-bottom: 5px;
        }
    }
    .table-container {
        //margin-bottom: 15px;
        table {
            a {
                color: #333;
            }
            + div {
                .clearfix();
            }
            &.table-learnPathSticky,
            &.table-learnPath {
                > tbody > tr > td {
                    background-color: @main-color-light;
                    //background-color: lighten(@alt-color, 30%);
                }
            }
            &.table-learnPathSticky,
            &.table-learnPath {
                > tbody > tr:hover > td {
                    background-color: lighten(@main-color-light, 10%);
                }
            }
            &.table-sticky > tbody > tr > td {
                //background-color: lighten(@alt-color, 20%);
                background-color: @alt-color;
            }
            &.table-sticky > tbody > tr:hover > td {
                background-color: lighten(@alt-color, 15%);
            }
            &.table-learnPathSticky,
            &.table-learnPath,
            &.table-sticky,
            &.table-topic {
                margin-bottom: 5px;
                @media (min-width: @screen-sm-min) {
                    margin-bottom: 18px;
                }
                .title {
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: bold;
                }
                > tbody > tr > td {
                    vertical-align: top;
                    @media (min-width: @screen-md-min) {
                        vertical-align: middle;
                    }
                }
                > thead > tr > th {
                    display: none;
                    @media (min-width: @screen-md-min) {
                        display: table-cell;
                    }
                    &:first-child {
                        display: table-cell;
                    }
                }
            }
        }
        .ng-table-counts {
            display: none;
        }
        .ng-table-pagination {
            margin-bottom: 15px;
        }
        .last-post {
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
    .panel-success > .panel-heading {
        background-color: @main-color;
        border-color: @main-color;
    }
    .pagination {
        margin: 0;
    }
    .quoted {
        padding: 15px;
        border: 1px solid #d1dee6;
        border-radius: 5px;
        margin-bottom: 15px;
        position: relative;
        font-style: italic;
        &::before {
            content: '\201C';
            position: absolute;
            top: -10px;
            left: -14px;
            font-size: 60px;
            font-style: normal;
        }
        &::after {
            content: '\201D';
            position: absolute;
            bottom: -40px;
            right: -14px;
            font-size: 60px;
            font-style: normal;
        }
        .panel-heading {
            font-size: 13px;
            font-weight: bold;
        }
        .panel-body {
            font-size: 12px;
            padding: 15px 15px 0 15px;
        }
        .post-attachments-list {
            margin-top: 20px;
        }
    }
    .post-message {
        font-size: 15px;
    }
    .add-user-textbox {
        width: 100%;
        max-width: 415px;
        margin-bottom: 10px;
        margin-right: 15px;
        @media (min-width: 560px) {
            float: left;
        }
    }
    .add-user-btn {
        margin-bottom: 10px;
        @media (min-width: 560px) {
            float: left;
        }
    }
    .is-lock {
        padding: 15px 0;
        font-size: 16px;
    }
    .user-forum-list {
        table {
            margin-bottom: 0;
            > thead > tr > th {
                font-size: 12px;
                padding-left: 15px;
            }
            > tbody > tr > td {
                padding-left: 15px;
                > a {
                    color: #ffffff;
                }
            }
            &.table-striped > tbody > tr:nth-child(odd) > td {
                background-color: @main-color;
            }
            &.table-striped > tbody > tr:nth-child(even) > td {
                background-color: @main-color;
            }
        }
        .panel-heading {
            cursor: move;
            position: relative;
            padding-left: 40px;
            & > a {
                display: inline-block;
                width: 38px;
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                text-align: center;
                vertical-align: top;
                height: 42px;
                padding-top: 9px;
            }
        }
        .panel-title {
            display: inline-block;
            a {
                .fa-chevron-down,
                .fa-chevron-right {
                    position: absolute;
                    left: 12px;
                    color: #AEB2B5;
                    pointer-events: none;
                }
            }
        }
    }
    .no-opacity {
        opacity: 0;
    }
    .fa-remove:not(.select) {
        margin-left: -22px;
    }
     .forum-list-user {
        .panel-heading {
            cursor: pointer;
        }
    }
}



.forum-form {
    textarea {
        height: 100px;
    }
    .btn.btn-default {
        text-align: left;
        .caret {
            margin-top: 6px;
        }
    }
}

label.btn-upload {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    input[type="file"] {
        padding-left: 100%;
        cursor: pointer;
    }
}