.image-modal {
  .modal-dialog {
    margin: 30px 15px;
    @media (min-width: @screen-sm-min) {
      width: auto;
      margin: 50px 15px;
    }  
  }
  
  .modal-content {
    background-color: transparent;
    @media (min-width: @screen-sm-min) {
      box-shadow: none;
    }
  }
  
  .modal-body {
    padding: 0;
  }
  
  > div {
    display: table;
    position: relative;
    max-width: 96%;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 50px auto;
  }
  
  img.img-modal {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
  }
  
  button.close {    
    position: absolute;
    right: -10px;
    top: -15px;
    opacity: 1;
    @media (min-width: @screen-sm-min) {
      right: -14px;
      top: -13px;
    }
  }
}