.c-lp {
  &__title {
    color: #fff;
    display: inline-block;
  }

  &__taskbar {
    text-align: right;
    margin-bottom: 5px; 
    padding: 0 15px;
  }
}

.learning_path {
  &__uploaded-files {
    margin-top: 15px;
    p.muted {
      color: #999;
      font-size: 13px !important;
      text-align: center;
    }
  }
}

.video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 16px;
  float: left;
  iframe[src*="vimeo.com"] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }
}