// App Top Bar
.navbar,
#heading {
  .navbar-link-default {
    button {
      padding: 0;
      margin-left: 15px;
      border: 0;
      width: 50px;
      height: 50px;
      background: none;
      &:hover {
        background-color: @icon-outline-hover-bg;
        i.fa {
          color: @icon-outline-hover;
        }
      }
      i.fa {
        color: @icon-outline;
        line-height: 50px;
        &:before {
          width: 1.8em;
          font-size: 24px;
        }
      }
      i.fa.dropdown-caret {
        &:before {
          margin-left: -8px;
        }
        &:after {
          content: "\f0d7";
          font-size: 14px;
          position: absolute;
          right: 5px;
        }
      }
      small {
        position: absolute;
        background-color: darken(@icon-outline,20%);
        color: @main-color-text;
        top: 4px;
        right: 4px;
        border-radius: 50%;
        padding-top: 1px;
        font-size: 10px;
        line-height: 20px;
        width: 20px;
        height: 20px;
        text-indent: 1px;
      }
    }
    .dropdown-menu {
      padding: 0;
    }
    .dropdown-menu.messages {
      li {
        a {
          img {
            width: 47px;
            float: left;
            margin: 0 10px 0 0 !important;
            border-radius: 3px;
          }
        }
      }
    }
    .dropdown-menu.notifications {
      width: 350px;
      height: 342px;
      .widget {
        border: 0;
        margin: 0;
      }
    }
    .dropdown-menu.user {
      width:150px;
      padding-right: 8px;
      li, li.logout {
        width:100%;
        padding:10px;
        a {
          text-align: right;
          padding: 10px 30px 10px 0;
          background: none;
          line-height: 1.5em;
          &:after {
            padding-top: 10px;
          }
        }
        &:hover {
          a { color: @main-color; }
          a:after {
            background: none;
            color: @main-color;
          }
        }
      }
      li a:after,
      li.logout a:after {
        content: "\f08b";
        font: normal normal normal 14px/1 FontAwesome;
        background: none;
        color: #999;
        font-size: 20px;
        font-weight: normal;
        position: absolute;
        right: 10px;
        top: 11px;
      }
      li a:after { content: "\f2c0"; }
      li.logout a:after { content: "\f08b"; }
    }
  }
}

@media (max-width:768px) {
  .navbar.navbar-default.navbar-static-top .navbar-nav .open .dropdown-menu {
    width:100% !important; 
  }
}

// end of App Top Bar

.bg-main {
  background: @main-color !important;
  color: #fff;
}

.bg-main-dark {
  background: @main-color-dark !important;
  color: #fff;
}

.page.login {
  position: relative;
}

.page.register {
  position: relative;
}

.ui-notification {
  width: 90%;
  max-width: 360px;
  color: @main-color-text !important;
}

.filterSearch {
  margin-bottom: 15px;
  min-width: 250px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 0;
  }

  .btn-group {
    display: block;
    float: left;

    button {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      height: 32px;
    }
  }

  .select-search {
    float: left;
    width: 79%;
  }

  input[type="text"],
  input[type="number"],
  select,
  button.ui-select-match {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
  }
}

.btn-option-right button {
  @media (min-width: @screen-sm-min) {
    float: right;
    margin-left: 10px;
  }
}

.clickable {
  cursor: pointer;
}

.recover-links {
  margin: 6px 0;
}

.ng-pristine .ng-invalid-required {
  box-shadow: none;
}


.btn-alt {
  .button-variant(@main-color-text; @alt-color; @alt-color);
  .create-shadow(@alt-color, 0);
  .icon-std(@alt-color, @main-color-text);
}

.btn-main-light {
  .button-variant(@main-color-text; @main-color-light; @main-color-light);
  .create-shadow(@main-color-light, 0);
  .icon-std(@main-color-light, @main-color-text);
}


.studio {
  .form-wizard {
    .tabs li div span {
      display: none;
    }
  }
  .wizard_pane {
    padding-top: 0;
  }
  .clear-margin {
    margin: 0;
  }
  .without-top-padding {
    padding-top: 0;
  }
  .studio-list-wrapper {
    position: relative;

    li {
      text-align: left;
    }
  }
  .learning-path-list-wrapper {
    position: relative;

    li {
      text-align: left;
      width: 100%;
    }
  }
  .indicator.tasks {
    padding: 0;

    &.panel {
      .panel-heading {
        font-size: 11px;
        padding: 3px 5px;
      }
      .panel-body {
        .task-list {
          height: 183px;
          padding: 0;
          li {
            padding: 2px 10px 2px 10px;
            text-align: left;
            .icon {
              color: black;
            }
          }
        }
        .btn-check.btn-check-small {
          font-size: 11px;
          width: 155px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .panel-footer {
        padding: 3px 5px;
      }
    }
  }
  .current-learning-path-data {
    .row.thumbnails {
      padding-top: 15px;
    }
  }
}
.level {
  padding-top: 10px;
}
.programme, .level {
  .indicator.tasks {
    padding: 0;

    &.panel {
      .panel-heading {
        font-size: 12px;
        padding: 3px 5px;
      }
      .panel-body {
        .task-list {
          height: 183px;
          padding: 0;
          li {
            padding: 2px;
          }
        }
        .btn-check.btn-check-small {
          font-size: 11px;
          width: 155px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .panel-footer {
        padding: 3px 5px;
      }
    }
  }
}

.indicator.widget .subtitle.indicator-text {
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 178px;
}
.studio-cohort {
  margin-top: 10px;
  .thumbnail {
    .caption {
      padding: 2px 6px;
      span {
        font-size: 11px;
      }
    }
  }
}

.container-fix .container {
  width: 100%;
}

.avatar-image {
  width: 75px;
  height: 75px;
  margin-top: -65px;
  display:inline-block;
}

.img-responsive {
  margin: 0 auto;
}