.media-manager {
  height: calc(~"100vh - 117px");

  > article {
    height: calc(~"100% - 15px");
    overflow: scroll;

    > section {
      height: 100%;
    }
  }
}
media-manager {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  aside {
    border-right: 1px solid black;
    padding: 0 15px;
    order: 0;
    flex: 0 1 200px;
    align-self: auto;
  }

  .media-manager-body {
    padding: 0 15px 0 14px;
    order: 1;
    flex-basis: calc(~"100% - 187px");
    align-self: auto;

    .breadcrumb {
      border-bottom: 1px solid black;
      border-radius: 0;
    }
  }

  .media-manager-files {
    padding-bottom: 15px;
  }

  .media-manager-active-node {
    padding: 0 15px;

    td {
      cursor: pointer;
    }
  }
  
  .edit-name:hover {
    color: #38ddcc;
  }

  li {
    cursor: pointer;
    &:hover {

    }
  }

  ol {
    white-space: nowrap;
    overflow: hidden;
  }

  li > ol {
    margin-left: 20px;
  }

  li[data-state='close'] {
    & > ul {
      display: none;
    }
  }

  li .item.media-manager-item {
    border: none;
    border-radius: 2px;
    padding: 0 6px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: #fff;
      background-color: #3a3367;
    }
  }
}