.inbox{
  .panel-body table{
    th{
      display: none !important;
    }
    td{
      &.hand-cursor{
        cursor: pointer;
      }
      .mail-section{
        padding-left: 40px;
        &.preview{
          padding-top: 5px;
        }
        &.select{
          padding-left: 5px;
          padding-top: 20px;
          text-align: center;
        }
      }
      .starred {
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
      }
    }
  }

  .ng-table-pager, .ng-table-pagination{
    _padding: 0 10px;
  }
}

.conversation{
  .messages-table{ 
    th{
      display: none !important;
    }
    tr{
      margin-bottom: 20px;
      td{
        padding: 0;
      }
    }
    .panel-default .panel-heading {
      color: #333333;
      background-color: #fff;
      border-color: #d1dee6;
    }
  }
  .spacer{
    height: 18px;
  }
}

.enable-tick{
  color: green;
  font-size: 18px;
}
.enable-cross{
  color: red;
  font-size: 18px;
}

.checkbox-padding-fix{
  padding-top:10px;
}

.unreaded{
  background-color: #faebd7 !important;
}

.drafts{
  table{
    tr{
      cursor: pointer;
      .starred{
        padding-top: 0 !important;
      }
      .date{
        padding-bottom: 5px;
        text-align: right;
      }
      .attachments{
        font-size: 13px;
        padding-bottom: 5px;
      }
      ul.files{
        li{
          padding: 0 5px;
        }
      }
    }
  }
}

.sent{
  .panel-body table{
    th{
      display: none !important;
    }
  }
}