.mailbox {
  .page-heading {
    .mail-page-title {
      @media (min-width: @screen-sm-min) {
        float: left;
      }
    }
    
    .filterSearch {
      @media (min-width: @screen-sm-min) {
        float: right;
        padding-top: 8px;
      }
      
      .ui-select-container button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-align: left;
        min-height: 32px;
        
        i {
          position: absolute;
          right: 15px;
          top: 15px;
        }
      }
    }
  }
  
  .mail-list-options {
    .btn-check {
      padding-top: 10px;
    }
    
    .mail-btn-opt {
      margin-left: 28px;
      @media (min-width: @screen-sm-min) {
        margin-left: 0;
        float: left;
      }
      
      .btn-group {
        margin-bottom: 10px;
        @media (min-width: @screen-sm-min) {
          margin-bottom: 0;
        }
      }
    }
  }
  
  .mail-list {
    .fav {
      font-size: 18px;
    }
  }
  
  .text-danger a {
    color: @brand-danger;
  }
  
  .filtered-text {
    background-color: #ffc;
  }
  
  .ng-submitted .ng-invalid .ql-container {
    border: 1px solid @brand-danger;
  }
  
  .table .option-icon {
    font-size: 15px;
  }

  .wysiwyg-editor-new {
    padding-bottom: 50px;
  }

  .panel-danger {
    .panel-heading {
      background-color: lighten(@brand-danger, 25%);
      border-color: @panel-inner-border;
      color: #333333;
    }

    .deleted-message {
      font-size: 13px;
    }
  }
  
  .forward-message-container {
    margin-bottom: 15px;
  }
}

.mail-content {
  .profile-image > img,
  .profile-image > div {
    max-width: 71px;
    margin: 0 10px 5px 0;
    border-radius: 3px;
  }
  .profile-image > div {
    height: 71px;
    width: 71px;
  }
  
  .user-thumbnail > img {
    border-radius: 15px;
  }
  
  .open-content {
    word-wrap: break-word;
  }

  a.thumbnail {
    overflow: hidden;
    height: 75%;
    width: 100%;
    padding: 75% 0 0 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    
    img {
      margin: 0 auto;
      width: 100%;
    }

    &.not-image img {
      padding: 4px;
    }

    .download {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 40px;
      color: white;
      background-color: rgba(0,0,0,0.4);
      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
      
      > div {
        display: table;
        width: 100%;
        height: 100%;
        
        .fa-download {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .type-icon {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      padding: 4px;

      > div {
        display: table;
        width: 100%;
        height: 100%;
        background-color: @gray-lighter;
        border-radius: 5px;

        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 45px;
          color: #999999;
        }
      }
    }

    &:hover {
      border: 1px solid #dddddd;
      
      .download {
        display: block;          
      }
    }
  }
  
  .text-editor {
    margin-left: 0;
    margin-right: 0;
  }
}

.mail-attachments {
  margin-left: 10px;
  margin-right: 10px;
  
  .progress {
    margin-top: 5px;
  }
}

.reply-form {
  textarea {
    min-height: 150px;
  }
}

.form-processing {
  opacity: 0.5;
}

ul.scope-category > li > a {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  padding: 0 10px 0 60px;
  line-height: 28px;
  height: 28px;
  color: #fff;
}

body.contract aside[role="navigation"] nav.side-bar ul.nav-menu > li > a + ul > li div + ul.scope-category > li > a {
  padding-left: 40px;
}

body aside[role="navigation"] nav.side-bar ul.nav-menu > li[data-state="open"] > ul {
  max-height: none;
}

.scope-title span.fa {
  margin-left: 5px;
}

.thumbnail .caption {
  word-wrap: break-word;
}