.module {

  @media (max-width: @screen-sm-min) {
    margin-top: 50px;
  }
  
  &__nav-link:after {
    display: none;
  }

  .studio-menu-collapse {
    .panel-title a {
      display: block;
    }

    .nav-tabs > li {
      float: none;
      width: 100%;

      > a {
        margin: 0;
        border-radius: 0;
      }

      &.active,
      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
        border: 0;
        background-color: @main-color;
        color: @main-color-text;
      }
    }
  }
}