.idi-notifications {
  .panel-header {
    padding: 10px 15px;
    margin:0;
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
    background-color: @main-color;
    color: @main-color-text;
  }
  .button {
    padding: 7px;
    background-color: @main-color;
    color: @main-color-text;
    border: 0;
  }
  &__filter {
    h4 {
      .panel-header;
      &:nth-child(4) {
        margin-top: 45px;
      }
    }
    .form-group {
      position: relative;
      padding: 15px 15px;
      border: 1px solid #ddd;
      border-top: 0;
      &.search {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        input { width:80%; }
        button {
          width:20%;
          margin-left: -4px;
          .button;
        }
        input,button {
          display: inline-block;
        }
      }
      &.settings {
        padding-bottom: 45px;
        p {
          padding-bottom: 15px;
        }
        button { 
          .button;
          margin-top:15px;
          position: absolute;
          right: 15px;
          bottom: 15px;
        }
      }
    }
  }

  &__list {
    h4 {
      .panel-header;
    }
    ul {
      border-left:1px solid #ddd;
      border-right:1px solid #ddd;
    }
  }

  .btn-radio input[type="radio"] + span:after {
    background-color: @main-color;
  }

  .btn-radio:hover input[type="radio"]:not(:disabled) + span:before {
    box-shadow: 0 0 6px 0 @main-color;
    border-color: @main-color;
  }
}