@payments-green: #C5E3BF;

.idi-payments {

  &__header {

  }

  &__body {
    padding-bottom: 20px;
    p { padding:0 15px; }
    p.newCustomer {
      padding:15px 0 0;
      color: #ccc;
    }
  }

  // Dashboard
  &__slugContent {
    padding:0 15px 30px;
    p.slugError {
      border: 1px solid red;
      background-color: rgba(255,0,0,0.25);
      padding: 5px;
    }
  }
  &__course {
    margin-top: 10px;
    a.title {
      background-color: @main-color;
      color: @main-color-text;
      display:block;
      font-size:1.25em;
      padding:10px 20px 10px 10px;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      text-overflow: ellipsis;
      &:hover,
      &:focus {
        background-color: darken( @main-color, 5%);
        color: @main-color-text;
        text-decoration:none;
      }
      &::after {
        font-family: FontAwesome;
        position: absolute;
        right: 0;
        top: 10px;
        padding: 0 5px;
      }
    }
    a.title.state1:after, a.title.first.state2:after { content: '\f078'; }
    a.title.state2:after, a.title.first.state1:after { content: '\f077'; }

    a.download {
      float: right;
      margin-right: 5px;
      color: #aaa;
    }
    a.download:hover {
      color: @main-color;
    }
    @media (max-width: 400px) {
      a.title {
        font-size: 1em;
      }
    }

    a.download {
      float: right;
      margin-right: 5px;
      color: #aaa;
    }
    a.download:hover {
      color: @main-color;
    }
    table {
      width:100%;
    }
    &--paid { color: @main-color !important; font-weight: bold; }
    &--failed { color: rgba(255,0,0,0.25) !important; font-weight: bold; }
    tr {
      border: 1px solid #ccc;
      td {
        padding:10px 0;
      }
      td:nth-child(1) {
        margin-left:5px;
        padding-left: 10px;
        width:40px;
        color: #aaa;
      }
      td:nth-child(2) {
        font-size:1.125em;
        font-weight:bold;
      }
      td:nth-child(3) {
        margin-right:5px;
        padding-right:10px;
        text-align: right;
        width:50%;
        font-style: italic;
        color: #aaa;
      }
    }
  }

  &__cards {
    .btn {
      background-color: @main-color;
      color: @main-color-text;
    }

    .btn:hover {
      background-color: darken( @main-color, 5% );
      color:@main-color-text;
    }

    @media (max-width: 992px) {
      h4:nth-child(1) { 
        margin-top: 30px;
      }
    }
  }

  &__cardInfo {
    p { margin:0 }
    p:nth-child(1) { margin: 0 0 5px; }
  }

  &__addCard {
    margin:15px 0;
  }

  &__newButton {
    margin: 6px 0 15px;
    background-color: @main-color;
    color: @main-color-text;
    &--left {
      margin: 15px 0;
      background-color: @main-color;
      color: @main-color-text;
    }
    &--left:hover {
      background-color: darken( @main-color, 5% );
      color:@main-color-text;
    }
  }

  &__newButton:hover {
    background-color: darken( @main-color, 5% );
    color:@main-color-text;
  }

  // End of dashboard

  // Add card
  &__cardForm {
    margin:15px 15px 0;
    h5 {
      font-weight: bold;
      margin-bottom: 15px;
    }
    .form-group {
      margin-top: 10px;
    }
    input.error,
    select.error {
      border: 1px solid red;
    }
  }
  &__cardSecurity {
    @media (max-width:992px) {
      margin-top: 10px;
    }
  }
  &__expiry-boxes {
    @media (min-width:992px) {
      > div:nth-child(1) { padding-right: 5px; }
      > div:nth-child(2) { padding-left: 5px; }
    }
  }
  &__cancelAdd {
    margin: 15px 15px 0;
  }
  &__cardControls {
    margin: 45px 15px 15px;
    .btn:disabled {
      background-color: #aaa;
    }
    input[type="submit"] {
      width: auto;
    }
    .btn {
      background-color: @main-color;
      color: @main-color-text;
    }

    .btn:hover {
      background-color: darken( @main-color, 5% );
      color:@main-color-text;
    }
  }
  // End of Add Card

  // New purchase
  &__newForm {
    margin:15px;
    input.error,
    select.error {
      border: 1px solid red;
    }
    label {
      display: block;
    }
    select, input {
      width:100%;
    }

    fieldset:disabled input,
    fieldset:disabled input.error {
      border: 1px solid #ccc;
    }

    .form-wizard {
      margin: 0 0 20px 0;
    }

    .form-wizard .tabs li.active button {
      color: @alt-color !important;
      font-weight: bold;
    }

    .form-wizard .tabs li.prev button,
    .form-wizard .tabs li.visited button {
      color: @main-color !important;
    }

    .form-wizard .tabs li button:after {
      bottom: -15px;
    }

    .form-wizard .tabs li.active button:after { background-color: @alt-color !important; }
    .form-wizard .tabs li.prev button:after,
    .form-wizard .tabs li.visited button:after { 
      background-color: @main-color !important; 
    }

    .form-wizard .tabs li {
      border-bottom:0;
    }

    .progress {
      margin-bottom: 0;
      border-radius: 0;
    }

    .progress-bar {
      background-color: @main-color;
    }

    .btn {
      background-color: @main-color;
      color: @main-color-text;
    }

    .btn:hover {
      background-color: darken( @main-color, 5% );
      color:@main-color-text;
    }
  }

  &__discount {
    input, button {
      display: inline-block;
    }
    input {
      width:80%;
    }
    button {
      margin-left: -4px;
      width:20%;
      padding: 7px;
      background: @main-color;
      color: @main-color-text;
      border:none;
    }
  }
  
  &__wizardControls {
    margin-top:40px;
    .btn {
      background-color: @main-color;
      color: @main-color-text;
    }

    .btn:hover {
      background-color: darken( @main-color, 5% );
      color:@main-color-text;
    }
  }

  &__summaryPane {
    h5:nth-child(3) { padding:15px 0; }
    h5 + p { padding: 0; color:#aaa; }
    ul {
      list-style: none;
      padding: 0;
      color: #aaa;
    }
    
    @media (max-width: 992px) {
      > .col-md-6 {
        padding: 0;
        > .col-sm-12 {
          padding: 0;
        }
      }

      .idi-payments__summaryTable {
        margin-top: 30px;
      }
    }
  }
  // End of new purchase
}