
.pages-manager{
    
  .form-container{
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 30px;
  }

  ul.tree {
    list-style: none;
    font-weight: bold;
    & > li {
      margin: 6px 0;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid #d1dee6;
      & > span.expander {
        padding: 8px;
        cursor: pointer;
      }
    }
    .node-container{
      &:hover .hidable-buttons a{
        display: inline-block;
      }
      .hidable-buttons{
        display: inline;
        margin-left: 5px;
        a{
          margin: 0 5px;
          display: none;
        }
      }
    }
  }
}

.modal-dialog{
  width: auto !important;
  @media (min-width: @screen-md-min) {
    width: 80% !important;
  }
}

/* Loader */
.loader {
  display: inline-block;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 40px;
  height: 40px;
  margin-bottom: -18px;
  margin-left: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
