@media print {
  .page.loading {
    display: none;
  }
  .sidebar, .navbar-static-top {
    display: none;
    & * {
      display: none;
    }
  }

  .panel {
    border: none;
  }

  .wrapper {
    padding: 0 !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
  .studio {
    .studio-wizard,
    .admission-wizard {
      display: none;
    }
    .wizard_pane {
      display: none;
    }
    .wizard_pane.active {
      display: block;
    }
    .learning-path {
      .learning_sections {
        display: none;
      }
      .current-learning-path-data {
        display: block;
      }
    }
    section.container-fluid {
      width: 100%;

      .panel {
        width: 100%;
      }
    }
    .print-button, .flag-button, .error-button {
      display: none;
    }
  }

  @page {
    size: auto;
  }
}