.profile-heading {
  i {
    cursor: pointer;
    line-height: 1.5;
  }
}

.panel-profile {
  .thumb-item {
    p {
      word-wrap: break-word;
      width: 100%;
    }

    .thumbnail {
      text-align: center;
    }
  }
}

.modal-help {

  .help-panel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
}

.uploaded-tabcontent #page-heading {
  margin-top: 0;
}

.profile-tab-content .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.choose-decision {
  margin-bottom: 15px;
}

.decision-notes {
  padding-top: 15px;
  padding-bottom: 15px;
  @media (min-width: @screen-md-min) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.programme-select {
  padding-bottom: 15px;
  @media (min-width: @screen-md-min) {
    padding-bottom: 0;
  }
}

.profile-menu-collapse {
  .panel-title a {
    display: block;
  }

  .nav-tabs > li {
    float: none;
    width: 100%;

    > a {
      margin: 0;
      border-radius: 0;
    }

    &.active,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border: 0;
      background-color: @brand-success;
      color: #ffffff;
    }
  }
}

.nav-tabs.profile-tabs {
  display: table;
  width: 100%;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d1dee6;
  border-bottom: transparent;
  border-right: transparent;
  background-color: #ffffff;

  > li {
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #d1dee6;
    //width: 11.11%;

    > a {
      padding: 10px 5px;
      border: 0;
      margin: 0;

      &:hover,
      &:focus {
        background-color: transparent;
        border: 0;
        color: @brand-success;
      }
    }

    &.active,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      background-color: transparent;
      color: @brand-success;
    }
  }
}

.profile-tab-content {
  @media (min-width: @screen-md-min) {
    border-radius: 0 0 3px 3px;
  }
}

.notes-btn {
  margin-top: 15px;
}

.profile-personal,
.profile-personal label.btn-upload {
  margin-bottom: 15px;
  text-align: center;
}

.profile-personal label.btn-upload:nth-child(1) {
  margin-right: 10px;
}

.profile-avatar{
  top: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position:absolute;
}

.profile-personal {
  .public-fields {
    border-top: 1px solid #ddd;
    margin: 15px 0;
    h4 {
      text-align: center;
      padding: 15px 0;
    }
    div.imageUploaders {
      margin-top: 45px;
    }
    input.ng-touched.ng-invalid {
      border-color: red;
    }
    input.ng-touched.ng-valid {
      border-color: green;
    }
  }
}

.public-link {
  padding:0 0 15px;
  div {
    a {
      width: 100%;
      color: @main-color-text;
      background: @main-color;
      text-align: center;
      display: block;
      padding: 10px 0;
      border-radius: 3px;
    }
  }
}