.idi-public {
  &__edit {
    margin-bottom: 15px;
    > div {
      padding: 0;
      a {
        width:100%;
        color:@main-color-text;
        background: @main-color;
        text-align: center;
        display: block;
        padding: 10px 0;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  &__main {
    text-align: center;
    .muted {
      color: #bbb;
    }
    h4 {
      padding:30px 0 15px;
    }
    h4:nth-child(1) {
      padding-top: 15px;
    }
  }
  &__about {
    color: #888;
    white-space: pre-wrap;
  }
  &__work {
    padding:0;
    li {
      display: inline-block;
      .thumbnail {
        width: 100%;
        background: #ddd;
        background-size: cover;
        background-position: center center;
        &:before {
          content:"";
          display: block;
          padding-top: 100%;
        }
      }
      .caption {
        h5 {
          font-size: 1em;
        }
      }
    }
  }
}