aside[role="navigation"],
aside[role="navigation"] nav.side-bar,
aside[role="navigation"] .brand {
  background-color: @main-color !important;
}

aside[role="navigation"] nav.side-bar {
  ul.nav-menu {
    > li {
      position: relative;
      > a {
        padding: 0 !important;
        i.fa,span {
          padding: 14px 0;
        }
        i.fa {
          font-size: 1.5em;
          margin-left: 10px;
        }
        span {
          padding-left: 10px;
        }
        > .badge {
          margin: 16px 10px 0 0;
          background-color: @alt-color;
        }
      }
      > ul {
        > li {
          > a {
            .badge {
              background-color: @alt-color;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
}
