.social-icons {
  margin-top: -5px;
  margin-bottom: 25px;
  
  > ul {
    margin: 0;
    text-align: center;
    
    > li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 20px;      
      
      > a {
        color: #fff;
      }
      
      &:hover > a {
        color: #38ddcc;
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
      }
    }
  }
}

body.contract .social-icons {
  margin-top: 0;
}