.student-record-section {
  .student-filter {
    border: none;
    h4.panel-title a {
      display: block;
    }
  }

  .back-list-btn {
    margin-bottom: 18px;
  }

  .panel-student-info {
    position: relative;
    min-height: 220px;

    .profile-image {
      width: 100%;
      max-width: 180px;
      margin: 0 auto 20px auto;
      @media (min-width: @screen-md-min) {
        position: absolute;
      }

      img {
        border-radius: 50%;
        margin: 0 auto;
        display: block;
      }

      div {
        width: 100%;
        height: 180px;
        background-size: cover;
        border-radius: 50%;
      }
    }

    .profile-info {
      max-width: 300px;
      margin: 10px auto;
      @media (min-width: @screen-md-min) {
        margin-left: 220px;
        max-width: none;
      }
    }

    .info-label {
      text-align: right;
      @media (min-width: @screen-md-min) {
        text-align: left;
      }
    }


    .row {
      margin-bottom: 10px;
      word-break: break-all;
    }

    ul > li {
      margin-bottom: 15px;

      > a {
        color: @main-color;
        position: relative;
        padding-left: 25px;

        i {
          position: absolute;
          left: 0;
        }
      }
    }
  }

  .student-btn-group {
    margin-bottom: 30px;
  }

  .form-control-below {
    margin-top: 10px;
  }

  .message-tab {
    table {
      > tbody > tr > td {
        word-break: break-all;

        @media (min-width: @screen-sm-min) {
          &:first-child {
            width: 7%;
          }

          +td {
            width: 18%;
          }

          +td+td {
            width: 45%;
          }

          +td+td+td {
            width: 15%;
          }

          +td+td+td+td {
            width: 15%;
          }
        }
      }
    }
  }

  .programme-list {
    padding-top: 30px;
    //max-width: 1067px;

    .programme-info {
      margin-top: 15px;
      font-size: 13px;
      p {
        margin: 0;
      }
    }

    .status-icon {
      padding-right: 10px;

      &.fa-check-square {
        color: #008000;
      }
    }

    .student-programme-list {
      > .panel-heading {
        @media (min-width: @screen-md-min) {
          //padding: 15px 30px;
        }
      }

      .panel-heading {
        font-size: 15px;
        position: relative;

        &:hover {
          .action {
            opacity: 1;
          }
        }
      }

      .panel-body {
        border-top: 1px solid #d1dee6;
      }

      .action {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 18px;
        @media (min-width: @screen-md-min) {
          opacity: 0;
          transition: opacity 0.3s linear;
        }

        a {
          color: @main-color;
        }
      }

      .date {
        @media (min-width: @screen-md-min) {
          padding-left: 80px;
        }
        p {
          margin-bottom: 0px;
          > span {
            font-size: 12px;
            padding-right: 5px;
            @media (min-width: @screen-md-min) {
              position: absolute;
              left: 15px;
              padding-top: 2px;
            }
          }
        }
      }

      .status {
        @media (min-width: @screen-md-min) {
          padding-left: 30px;
        }
      }
    }
  }
}

.add-programme-modal {
  .modal-dialog {
    @media (min-width: 992px) {
      width: 800px;
    }
  }

  .modal-body {
    padding-top: 30px;
  }
}

.student-programme-list > .panel-heading {
  padding: 15px 45px;
}

.course-list > .panel-heading {
  padding: 15px 30px;
}

// srs list
.srs_list {
  &__buttons {
    &__filter {
      text-align: end;
    }
    &__slide {
      height: 30px !important;
      width: 60px !important;
      border-radius: 5px !important;
      span {
        &:before {
          border-radius: 5px !important;
          line-height: 24px !important;
        }
      }
    }
  }
}

.srs_filter {
  &__select {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    position: relative;

    label {
      padding: 0 5px 0 0;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 32px;
    }
    div {
      margin: 0;
      padding: 0;
    }
  }
  &__multiselect {

  }
  &__text {

  }
}