.studio-message {
  > .row {
    margin-left: -7px;
    margin-right: -7px;
    margin-top: 30px;

    .studio-col {
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  .studio-file {
    max-width: 133px;
  }

  .panel-danger .open-title-info {
    color: #ffffff;
  }

  h3 {
    margin: 0 0 18px 0;
    font-size: 18px;
  }

  h4.tagged-file {
    font-size: 16px;
    margin-top: 0;
  }

  .message-info {
    word-wrap: break-word;

    > div {
      margin-bottom: 25px;
    }

    .conversation-users {
      > div {
        margin-left: -5px;
        margin-right: -5px;
      }

      > div > div.conversation-user {
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding: 0 5px;
        max-width: 134px;
        height: 225px;

        @media (min-width: 992px) and (max-width: 1599px) {
          width: 100%;
          float: none;
        }
      }

      .conversation-user .user-thumbnail .profile-img {
        width: 100%;
        height: 114px;
      }

      .thumbnail .caption {
        word-wrap: break-word;
        text-align: center;
      }

      .user-group {
        color: #307fe2;
      }
    }

    .attachments {
      .panel-body {
        padding-left: 5px;
        padding-right: 5px;
      }

      .attachments-container {
        height: 600px;
        max-height: 600px;
        //overflow: hidden;
        overflow-y: auto;
        position: relative;
      }

      ul {
        margin: 0 -5px 0 -5px;

        li {
          padding: 0 5px;
          margin-bottom: 5px;
          float: left;
          @media (min-width: 992px) {
            width: 100%;
          }
        }
      }

      .thumbnail--file {
        max-width: 195px;
        min-height: 85px;
        @media (min-width: 992px) {
          max-width: none;
        }

        .caption {
          width: auto;
          padding-top: 0;
          padding-right: 0;
          margin-left: 75px;
          float: none;

          @media (min-width: 992px) and (max-width: 1279px) {
            float: none;
            padding-left: 0;
            margin-left: 0;
            padding-top: 10px;
          }

          h3 {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 0;
            height: 30px;
            overflow: hidden;
            @media (min-width: 992px) {
              height: auto;
              overflow: auto;
            };
          }

          p {
            font-size: 12px;
          }

          .btn {
            font-size: 12px;
            padding: 4px 9px;

            @media (min-width: 1280px) and (max-width: 1439px) {
              display: none;
            }
          }
        }

        .thumbnail_image {
          position: absolute;
          height: 75px;
          width: 75px;
          max-width: 75px;
          padding: 75px 0 0 0;

          @media (min-width: 992px) and (max-width: 1279px) {
            position: relative;
          }
        }
      }
    }
  }

  ul.attachment-list {
    li {
      padding-left: 5px;
      padding-right: 5px;
      float: left;

      a.thumbnail {
        height: 75px;
        width: 75px;
        padding: 75px 0 0 0;
      }
    }
  }

  .studio-activities {
    font-weight: bold;

    ul {
      margin-top: 10px;
      margin-bottom: 15px;

      > li .file-name {
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .ql-snow.ql-toolbar {
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
  }

  .deleted-message {
    color: rgb(255, 0, 0);
  }
}

.learning-path {
  .caption button {
    margin-bottom: 5px;
  }
}

.c-lp-sections__title {
  width: 95%;
}

.thumbnail.thumbnail-small {
  .thumbnail_image {
    height: 80px;
    width: 80px;
    padding: 80px 0 0 0;
  }
}

.studio {
  padding-top: 50px;
  font-size: 14px;
  @media (min-width: 768px) {
    padding-top: 0;
  }

  .badge {
    background-color: #ff8200;
    position: absolute;
    top: 3px;
    right: 3px;
  }

  .tag-icon {
    position: absolute;
    top: -8px;
    right: 10px;
    color: #fff;
    z-index: 5;

    img {
      width: 30px;
    }

    span {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      line-height: 35px;
      width: 26px;
      z-index: 5;
    }
  }
  .thumbnail {
    position: relative;
    &.thumbnail--file {
      &.thumbnail--file--studio {
        > a {
          display: inline-block;
          width: 100%;
          > ui-file-thumbnail {
            display: inline-block;
            width: 100%;
            > div {
              width: 100%;
            }
          }
        }
        .caption {
          width: 100%;
          h3 {
            width: 90%;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .studio-message, .learning-path {
    .info-button {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 13px;
      padding: 3px 6px;
    }
  }

  .learning-path {
    .other-buttons {
      position: absolute;
      top: 15px;
      right: 74px;
      font-size: 16px;
      padding: 1px 3px 1px 6px;
      border: 1px solid #d1dee6;
      border-radius: 3px;
      color: #555555;
      background-color: #ffffff;
    }

    .print-button, .flag-button, .error-button, .info-button {
      display: inline-block;
    }

    //.error-button {
    //  position: absolute;
    //  top: 16px;
    //  right: 74px;
    //  font-size: 16px;
    //}
    //.print-button {
    //  position: absolute;
    //  top: 16px;
    //  right: 92px;
    //  font-size: 16px;
    //}
    //.flag-button {
    //  position: absolute;
    //  top: 16px;
    //  right: 112px;
    //  font-size: 16px;
    //}
  }
  .content-list-item {
    position: relative;

    span {
      width: 97%;
      text-align: left;
      white-space: inherit;
      //overflow: hidden;
      //text-overflow: ellipsis;
      font-size: 14px;
      color: #000000;
    }

    &.active span {
      color: #307fe2;
    }
  }
  .list-flag {
    position: absolute;
    right: -10px;
    padding: 5px 0;
    display: none;
    &.icon-flag--1, &.icon-flag--2, &.icon-flag--3 {
      display: inline-block;
    }
  }
  .icon-flag {
    color: #000;

    &.icon-flag--1 {
      color: #307fe2;
    }
    &.icon-flag--2 {
      color: #ff8200
    }
    &.icon-flag--3 {
      color: rgb(255, 0, 0);
    }
  }
  .current-learning-path-data {
    position: relative;

    table, tbody, tr, td {
      display: block;
      width: 100%;
    }

    .message-table .ng-table-counts {
      display: none;
    }
  }

  blockquote {
    font-size: 14px;
  }
  .learning_sections {
    .learning_sections__search {
      position: relative;
      input[type="search"] {
        height: 26px;
        margin-bottom: 5px;
        padding: 3px 12px;
        &:focus {
          box-shadow: none;
          border-color: #c9d7e0;
        }
      }
      span {
        position: absolute;
        top: 6px;
        right: 5px;
        color: rgba(0,0,0,0.6);
        cursor: pointer;
        &:hover {
          color: rgba(0,0,0,0.8);
        }
      }

    }
    &.learning_sections--left_menu {
      .learning_sections__search {
        input {
          margin-bottom: 0;
          border-radius: 0;
          border-bottom: 0;
          border-left: 0;
          border-right: 0;
        }
      }
    }
  }

  .learning_sections .panel-title > a {
    //display: block;
  }

  .learning-path-heading,
  .studio-heading {
    border-bottom: 1px solid transparent !important;
    position: relative;
    background-color: @main-color;
    color: #fff;
    height: 44px;

    .collapse-time {
      position: absolute;
      right: 5px;
    }

    h4 {
      white-space: normal;
      overflow: inherit;

      a {
        display: block;
      }
    }
  }

  .learn-path-content {
    margin-top: 31px;
    .section-title {
      position: relative;
      background: @main-color;
      height: 45px;

      h4 {
        color: #ffffff;
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
      }
      span.icon {
        color: #fff;
        position: absolute;
        right: 10px;
        font-size: 16px;
      }
    }
  }

  .studio__header {

    .studio__header__title {
      background: #fff;
      color: @main-color;
      padding: 5px 25px;
      margin-bottom: 5px;
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 300;
        display: inline-block;
      }
    }

    .studio__upload__info {
      font-size: 12px;
      z-index: 1;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .learning_path__uploaded-files {
    border: 1px solid #d1dee6;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 15px;

    .thumbnail--file {
      h4, h3 {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
.send-error-modal {
  textarea {
    resize: vertical;
    margin: 10px 0;
  }
}
.popover-error {
  display: block;
  textarea {
    resize: vertical;
    margin: 10px 0;
  }
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.terms-modal {
  overflow: scroll;
}
.widget {
  &.widget-assessment-examples {
    height: auto;
    ul li {
      text-align: left;
      span {
        font-size: 14px;
        color: #000000;
      }
    }
    .help-heading.learning-path-heading {
      position: relative;
      & > h4 {
        width: 100%;
        text-align: left;
        padding: 5px 0 5px 10px;
      }
      & > span {
        position: absolute;
        right: 2px;
        font-size: 10px;
        top: 5px;
      }
    }
    .panel-group {
      margin-bottom: 0;
    }
  }
}

.assessment-example-panel {
  .assessment-example-title {
    margin-top: 0;
  }
  .additional-menu {
    .btn.btn-link {
      font-size: 14px;
      color: #000000;
      padding: 0;
      margin: 0;
    }
    h5 {
      float: left;
    }
    ul {
      float: right;
      li {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  .thumbnail {
    &.thumbnail--file {
      .caption {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

.learning_tab {
  position: relative;

  .learning_path__icon {
    h5 {
      display: inline-block;
    }
    .navbar-toggle {
      padding: 0 0 0 5px;
      margin: 2px 15px 5px;
    }
    span.icon-bar {
      background-color: black;
    }
  }

  .learning_sections__wrapper {
    position: absolute;
    left: -330px;
    visibility: hidden;
    top: 0;
    bottom: 0;
    display: none;
    width: 330px;
    height: calc(~"100vh - 161px");
    overflow-y: scroll;
    .transition(all 0.1s linear);

    &.learning_sections__wrapper--opened {
      visibility: visible;
      left: 0px;
      z-index: 2;
      display: block;
    }

    .learning-path-heading {
      border-radius: 0;
    }

    .learning_sections.learning_sections--left_menu {
      display: block;
    }
    .learning_sections__heading {
      padding: 15px 0 10px;
      & > .learning_path__icon {

      }
      & > h5 {
        margin: 2px 0 0 0;
      }
    }
  }
}

.learning_tab__content {
  & > .container {
    width: 100%;
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  @media print {
    position: absolute;
    left: 0;
  }
}


.studio_tab {
  position: relative;

  .studio-sections__icon {
    h5 {
      display: inline-block;
    }
    .navbar-toggle {
      padding: 0 0 0 5px;
      margin: 2px 15px 5px;
    }
    span.icon-bar {
      background-color: black;
    }
  }

  .studio-message {
    .studio-sections__icon {
      margin-bottom: 10px;
    }
  }

  .studio-sections__wrapper {
    position: absolute;
    visibility: hidden;
    left: -330px;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 330px;
    height: calc(~"100vh - 161px");
    overflow-y: scroll;
    .transition(left 0.1s linear);

    &.studio-sections__wrapper--opened {
      visibility: visible;
      left: 0px;
    }

    .studio-heading {
      border-radius: 0;
    }

    .studio-sections.studio-sections--left_menu {
      display: block;
    }
    .studio-sections__heading {
      padding: 15px 0 10px;
      & > .studio-sections__icon {

      }
      & > h5 {
        margin: 2px 0 0 0;
      }
    }
  }
}

// Media queries

@media (max-width: 767px) {
  .form-wizard.studio-wizard {
    position: absolute;
    left: 0;
    width: 250px;
    z-index: 3;
  }

  .form-wizard.studio-wizard .tabs li:last-child {
    border-right: 1px solid #d1dee6;
  }

  .learning_tab {
    .learning_sections__wrapper {
      height: calc(~"100vh - 107px");
    }
  }
  .studio_tab {
    .studio-sections__wrapper {
      height: calc(~"100vh - 107px");
    }
  }
}
@media (min-width: 768px) {
  .form-wizard.studio-wizard {
    display: block !important;
  }

  .studio__header__title {
    span.icon {
      display: none;
    }
    .clickable {
      cursor: default;
    }
  }
}

@media (max-width: 991px) {
  .learning_path__icon {
    .navbar-toggle {
      display: block;
    }
  }
  .studio-sections__icon {
    .navbar-toggle {
      display: block;
    }
  }
  .learning_sections {
    display: none;
  }
  .studio-sections {
    display: none;
  }

  .print-button, .flag-button, .error-button, .info-button {
    display: none;
  }

  .studio-message {
    > .row {
      margin-top: 0;
    }
  }

  .studio-sections__icon__wrapper {
    h5 {
      display: inline-block;
      margin: 0;
    }
  }
  .learning_path__icon__wrapper {
    h5 {
      display: inline-block;
      margin: 0;
    }
  }
}

@media (min-width: 992px) {
  .studio-sections__icon__wrapper {
    display: none;
  }
  .learning_path__icon__wrapper {
    display: none;
  }
}

.uploader {
  width: 100%;
  display: block;
  position: relative;
  padding: 20px;
  border: 1px solid #d1dee6;
  background-color: white;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  margin-top: 20px;

  i {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  span {
    text-align: center;
    display: block;
    margin-top: -5px;
  }

  .max-text {
    margin-top: 5px;
    @media (min-width: 768px) {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
  }
}

.recorder-inline {
  display: inline-block;
}