<div class="panel panel-default">
  <div class="panel-heading">
    Albums
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4" ng-repeat="album in albums">
        <div class="thumbnail">
          <img ng-src="{{ album.thumb_file.url || '/assets/img/placeholder.svg' }}"/>
          <div class="caption">
            <a ui-sref="^.album({albumId: album.id})"><h3>{{ ::album.title }}</h3></a>
            <button class="btn btn-success">Share</button>
            <button class="btn btn-success pull-right">Comment</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>