<div class="panel panel-default">
  <div class="panel-body">
    <div class="row filter-options">
      <div class="col-xs-12 col-sm-9">
        <ol class="breadcrumb breadcrumb-alter">
          <li><a href ui-sref="app.admin.galleries.list">Studios</a></li>
          <li class="active">{{ ::studio.title }}
        </ol>
        <div class="semester-name">{{ ::filter.semester.name }}</div>
      </div>
      <div class="cols-xs-12 col-sm-3">
        <div class="forums-options" ng-if="checkRights('gallery.addGallery')">
          <button type="button" class="btn btn-primary icon-standalone">
            <i class="fa fa-plus"></i>
            <span>New Gallery</span>
          </button>
        </div>
      </div>
    </div>
    <!-- STICKY -->
    <div ng-show="stickyTable.data.length" class="table-container" ui-tree="treeOptions" id="tree1">
      <table ng-table="stickyTable" class="table table-hover table-forums table-sticky" ui-tree-nodes ng-model="$data">
        <!-- big screens -->
        <tr ng-repeat="item in $data" class="hidden-xs hidden-sm" ui-tree-node>
          <td data-title="'Sticky Galleries'">
            <a href ui-sref="^.gallery({galleryId: item.id})" data-nodrag>{{ ::item.title }}</a>
          </td>
          <!-- <td data-title="'Views'">{{ ::item.views }}</td> -->
        </tr>
        <!-- small screens -->
        <tr ng-repeat="item in $data" class="hidden-md hidden-lg" ui-tree-node>
          <td data-title="'Sticky Galleries'">
            <div class="row">
              <div class="col-xs-12 title">
                <a href ui-sref="^.gallery({galleryId: item.id})" data-nodrag>
                  {{ ::item.title }}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- Learn Path -->
    <div ng-show="learnPathTable.data.length" class="table-container" ui-tree="treeOptions" id="tree2">
      <table ng-table="learnPathTable" class="table table-hover table-forums table-learnPath" ui-tree-nodes ng-model="$data">
        <!-- big screens -->
        <tr ng-repeat="item in $data" class="hidden-xs hidden-sm" ui-tree-node>
          <td data-title="'Learn Path Galleries'">
            <a href data-nodrag ui-sref="^.gallery({galleryId: item.id})">{{ ::item.title }}</a>
          </td>
          <!-- <td data-title="'Views'">{{ ::item.views }}</td> -->
        </tr>
        <!-- small screens -->
        <tr ng-repeat="item in $data" class="hidden-md hidden-lg" ui-tree-node>
          <td data-title="'Learn Path Galleries'">
            <div class="row">
              <div class="col-xs-12 title">
                <a href ui-sref="^.gallery({galleryId: item.id})" data-nodrag>
                  {{ ::item.title }}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div>
    </div>
    <!-- Normal -->
    <div ng-show="normalTable.data.length" class="table-container" ui-tree="treeOptions" id="tree2">
      <table ng-table="normalTable" class="table table-hover table-forums table-topic" ui-tree-nodes ng-model="$data">
        <!-- big screens -->
        <tr ng-repeat="item in $data" class="hidden-xs hidden-sm" ui-tree-node>
          <td data-title="'Your Galleries'">
            <a href data-nodrag ui-sref="^.gallery({galleryId: item.id})">{{ ::item.title }}</a>
          </td>
          <!-- <td data-title="'Views'">{{ ::item.views }}</td> -->
        </tr>
        <!-- small screens -->
        <tr ng-repeat="item in $data" class="hidden-md hidden-lg" ui-tree-node>
          <td data-title="'Your Path Galleries'">
            <div class="row">
              <div class="col-xs-12 title">
                <a href data-nodrag ui-sref="^.gallery({galleryId: item.id})" data-nodrag>
                  {{ ::item.title }}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>