<div class="panel panel-default">
  <header class="panel-heading">
    Studios
  </header>
  <section class="panel-body">
    <table class="table">
      <thead>
        <tr class="header">
          Name
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="studio in studios">
          <td data-title="'Title'" data-title-text="Title">
          <a href ui-sref="^.studio({studioId: studio.id})">
          {{ ::studio.title }}
          </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>