<div id="page-heading">
    <h3 class="page-title">Groups</h3>
</div>

<section>
    <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <article class="panel panel-default">
            <section class="panel-body">

                <div class="row" role="form">
                    <div class="col-xs-12 col-sm-5 col-md-4 form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="filter.name" ng-keypress="filterByKeyword($event)">
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8 form-group btn-option-right">
                        <button class="btn btn-info" ng-click="addGroup($event)">Add Group</button>
                    </div>
                </div>

                <table ng-table="groupsTable" class="table table-hover">
                    <tr ng-repeat="group in $data">
                        <td data-title="'Name'" sortable="'name'">{{ group.name }}</td>
                        <td data-title="'Permissions'">
                            {{group.permissions.length}}
                        </td>
                        <td data-title="'Options'">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                <ul role="menu" class="dropdown-menu">
                                    <li role="presentation" class="dropdown-header">Actions</li>
                                    <li><a href ng-click="editGroup($event)">Edit</a></li>
                                    <li ng-show="currentPermissions.indexOf('auth.group.delete') > -1 || currentPermissions.indexOf('admin') > -1"><a href ng-click="deleteGroup($event)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </section>
        </article>
    </div>
</section>