<div class="form-wizard">
  <ul class="tabs">
    <li ng-repeat="tab in tabs" data-step="{{$index + 1}}" ng-class="{'active': $index==0}">
      <button disabled data-step="{{$index + 1}}">{{tab}}</button>
    </li>
  </ul>  
  <div class="progress">
    <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : barWidth}"></div>
  </div>
</div>