<section class="container-fluid">
  <div class="panel panel-default">
    <div class="jumbotron text-center">
    <h1>404</h1>
    <h2>Page not found</h2>
    <p>
      Try to go <a href onclick="window.history.go(-2)">back</a>.
    </p>
    </div>
  </div>
</section>