<section class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-body forums-section">
      <div class="pull-right">
        <div class="forums-options" ng-if="checkRights('forums.addTopic')">
          <button type="button" class="btn btn-primary icon-standalone" ng-click="forums.addTopic()"><i class="fa fa-plus"></i> <span>New Topic</span></button>
        </div>
      </div>

      <idi-topics-list topics="forums.topics" topic-state="app.admin.forums.topic" pagination="forums.pagination"></idi-topics-list>

    </div>
  </div>
</section>