<section class="container-fluid studio_tab">
  <div class="panel panel-default studio-sections__wrapper" ng-class="studio.sideMenuOpened ? 'studio-sections__wrapper--opened' : ''">
    <div class="clearfix studio-sections__heading">
      <div class="pull-left studio-sections__icon">
        <button type="button" class="navbar-toggle clickable"
                ng-click="stuido.sideMenuOpened = !stuido.sideMenuOpened">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <h5 class="clickable" ng-click="studio.sideMenuOpened = !studio.sideMenuOpened" idi-locale="module.tutorial"></h5>
    </div>


    <div class="studio-sections studio-sections--left_menu">
      <idi-learning-path module-id="studio.sections.moduleId" parent-id="studio.sections.parentId" section-id="studio.sections.sectionId" mode="activities" sp-module-id="studio.sections.spModuleId"
            on-file-select="module.displayFile(file)"></idi-learning-path>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body studio-message">

      <div class="c-lp__taskbar">
        <div class="c-module__menu-btn float-left">
          <button type="button" class="btn btn-sm btn-default clickable pull-left visible-sm-inline visible-xs-inline" ng-click="studio.sideMenuOpened = !studio.sideMenuOpened" idi-locale="module.tutorial">
          </button>
        </div>

        <div class="float-right">
          <button type="button" class="btn btn-sm icon btn-default" ng-click="studio.openStudioInfoModal()"><span class="fa fa-info-circle"></span> Help</button>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-md-3 hidden-xs hidden-sm">
          <idi-learning-path module-id="studio.sections.moduleId" parent-id="studio.sections.parentId" section-id="studio.sections.sectionId" mode="activities" sp-module-id="studio.sections.spModuleId"
            on-file-select="module.displayFile(file)"></idi-learning-path>
        </div>


        <!-- Second Column -->
        <div class="col-xs-12 col-md-7 current-learning-path-data studio-col">

          <!-- Message Form -->
          <div class="panel panel-default">
            <form name="studioMessageForm" ng-submit="studio.sendReply(studioMessageForm)" class="form-horizontal" ng-class="{'form-processing': studioMessageForm.$submitted}">
              <div class="panel-body">
                <div class="wysiwyg-editor-new form-group">
                  <ng-quill-editor ng-model="studio.reply.message" toolbar="true" link-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link" editor-required="true" required="" error-class="input-error"></ng-quill-editor>
                </div>
              </div>
              <div class="panel-footer" ng-if="studio.uploader.queue.length > 0">
                <h5 ng-if="studio.uploader.queue.length > 0"><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments {{ uploader.queue.length }}</h5>
                <ul class="list-unstyled row vertical-margin mail-attachments" ng-if="studio.uploader.queue.length > 0">
                  <li ng-repeat-start="item in studio.uploader.queue" ng-class="{ 'text-danger' : item.isError }">
                    <div class="row">
                      <div class="col-xs-6"><p class="bolder file-name">{{ item.file.name }}</p></div>
                      <div class="col-xs-5">
                        <div class="progress" ng-if="!item.isUploaded">
                          <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                            <span class="sr-only">{{ item.progress }}% Complete</span>
                          </div>
                        </div>
                        <p ng-if="item.isError">{{ item.msg }}</p>
                      </div>
                      <div class="col-xs-1">
                        <a href title="Remove" ng-click="studio.cancelUpload(item)"><span class="fa fa-remove"></span></a>
                      </div>
                    </div>
                  </li>
                  <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
                </ul>
              </div>
              <div class="panel-footer">
                <div class="pull-right">

                  <ng-audio-recorder ng-if="false" class="recorder-inline" audio-model="studio.recordedInput">
                    <!-- Start controls, exposed via recorder-->
                    <div ng-if="recorder.isAvailable">
                      <button class="btn btn-default" type="button"
                              ng-click="studio.recorder.startRecord()"
                              ng-disabled="studio.recorder.status.isRecording"><span class="icon-mic"></span></button>
                      <button class="btn btn-danger" type="button"
                              ng-click="studio.stopRecording(recorder)"
                              ng-disabled="!studio.recorder.status.isRecording"><span class="icon-stop"></span></button>
                      <button class="btn btn-default" type="button"
                              ng-click="studio.recorder.playbackRecording()"
                              ng-disabled="studio.recorder.status.isRecording || !studio.recorder.audioModel"><span class="icon-play"></span></button>
                      <button class="btn btn-default" type="button"
                              ng-if="studio.recorder.audioModel"
                              ng-click="studio.recorder.audioModel = null"><span class="icon-trash"></span></button>
                              <!--ng-click="$parent.$parent.$parent.uploadBlob(recorder.audioModel)"><span class="icon-trash"></span></button>-->
                    </div>

                    <div ng-if="!studio.recorder.isAvailable">
                      Message for users when recording is not possible.
                    </div>
                    <!-- End controls-->
                  </ng-audio-recorder>
                  <label for="file" type="button"
                         class="btn btn-primary btn-upload icon-standalone"
                         ng-class="{ 'disabled' : studioMessageForm.$submitted }"
                         ng-if="currentPermissions.indexOf('messages.attachment.create') > -1 && (checkRights('studypath.tutor') || checkRights('studypath.manager'))">
                    <i class="fa fa-upload"></i> <span>Upload Files</span>
                    <input id="file" type="file" nv-file-select uploader="studio.uploader" multiple />
                  </label>
                  <button type="submit" class="btn btn-danger btn-flat"
                          ng-class="{ 'disabled' : studioMessageForm.$invalid }">Send</button>
                </div>
                <button type="button" class="btn btn-default" ng-click="cancel($event)" ng-class="{ 'disabled' : studioMessageForm.$submitted }">Cancel</button>
              </div>
            </form>
          </div>

          <!-- Display Messages -->
          <div class="no-padding clearfix">
            <ul class="no-padding">
              <idi-message ng-repeat="message in studio.messages track by message.id" message="message" studio="studio"
                on-attachment-click="module.displayFile(file)"></idi-message>
            </ul>
            <div class="btn-group btn-group-justified">
              <a type="button" class="btn btn-default" ng-if="studio.hasMoreMessages" ng-click="studio.loadNextMessages()">
              Load more
              </a>
            </div>
          </div>
        </div>


        <!-- Third Column -->
        <div class="col-xs-12 col-md-2 message-info studio-col">
          <!-- Unsubscribe on conversation -->
          <div ng-if="currentPermissions.indexOf('messages.conversation.unsubscribe') > -1 && isSubscribed" class="studio-conversation-options">
            <button type="button" ng-click="unsubscribeConversation()" ng-confirm-click="Are you sure you want to unsubscribe?" class="btn btn-primary icon-standalone"><i class="fa fa-remove"></i><span>Unsubscribe</span></button>
          </div>

          <!-- Conversation Users -->
          <div ng-if="studio.conversation.ConversationUsers" class="conversation-users">
            <h3>In this discussion:</h3>
            <div class="row">
              <div class="conversation-user" ng-repeat-start="user in studio.conversation.ConversationUsers">
                <div class="thumbnail user-thumbnail">
                  <div ng-if="!user.user_picture" class="profile-img" style="background: url(/assets/img/placeholder.svg) no-repeat center center; background-size: cover;"></div>
                  <div ng-if="user.user_picture" class="profile-img" style="background: url({{user.user_picture}}) no-repeat center center; background-size: cover;"></div>
                  <div class="caption">
                    <p>{{ user.user_name }}<br ng-if="user.user_groups"/><span ng-if="user.user_groups" class="user-group">{{ user.user_groups[0].name }}</span></p>
                  </div>
                </div>
              </div>
              <div ng-repeat-end ng-if="($index + 1) % 2 == 0" class="hidden-xs hidden-sm clearfix"></div>
            </div>
          </div>

          <!-- Attached Files -->
          <div class="mail-content attachments">
            <div class="panel panel-default">
              <div class="panel-heading"><h4 class="panel-title">Attachments in this discussion:</h4></div>
              <div class="attachments-container">
                <div class="panel-body">
                  <ul class="list-unstyled clearfix">
                    <li ng-repeat="attachment in studio.attachments">
                      <div class="thumbnail thumbnail--file">
                        <a ng-if="!attachment.file.isImage" href title="{{ attachment.file.title }}" target="_blank" ng-click="module.displayFile(attachment.file)">
                          <ui-file-thumbnail item="attachment.file" class="clearfix"></ui-file-thumbnail>
                        </a>
                        <a ng-if="attachment.file.isImage" href title="{{ attachment.file.title }}" ng-click="module.displayFile(attachment.file)">
                          <ui-file-thumbnail item="attachment.file" class="clearfix"></ui-file-thumbnail>
                        </a>
                        <div class="caption">
                          <h3 class="file-name" >{{ attachment.file.title }}</h3>
                          <p>Date Uploaded: {{ attachment.file.uploaded | date: 'dd/MM/yyyy' }}</p>
                          <a class="btn btn-primary" href ng-href="{{ attachment.file.url }}" download>Download</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
