<section class="container-fluid learning_tab">
  <div class="panel panel-default learning_sections__wrapper" ng-class="lp.sideMenuOpened ? 'learning_sections__wrapper--opened' : ''">
    <div class="clearfix learning_sections__heading">
      <div class="pull-left learning_path__icon">
        <button type="button" class="navbar-toggle clickable"
                ng-click="lp.sideMenuOpened = !lp.sideMenuOpened">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <h5 class="clickable" ng-click="lp.sideMenuOpened = !lp.sideMenuOpened">Learning Path</h5>
    </div>
    <div class="learning_sections learning_sections--left_menu hidden-print">
      <div class="learning_sections__search">
        <idi-learning-path module-id="lp.sections.moduleId" parent-id="lp.sections.parentId" section-id="lp.sections.sectionId" content-id="lp.sections.contentId" on-item-select="lp.onItemSelect(item, section)" flat="lp.isFlat"></idi-learning-path>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body learning-path ui-error-popup">

      <div class="c-lp__taskbar hidden-print">
        <div class="c-module__menu-btn float-left">
          <button type="button" class="btn btn-sm btn-default clickable pull-left visible-sm-inline visible-xs-inline" ng-click="lp.sideMenuOpened = !lp.sideMenuOpened">
            <i class="fa fa-bars fa-fw"></i>Learning Path
          </button>
        </div>

        <div class="float-right">
          <button type="button" class="btn btn-sm icon btn-default" ng-if="lp.content" onClick="window.print()"><span class="fa fa-print"></span> Print</button>
          <button type="button" permission permission-only="['courses.error.create']" class="btn btn-sm icon btn-default" ng-click="lp.sendError()"><span class="fa fa-exclamation-circle"></span> Report to editor</button>
          <button type="button" class="btn btn-sm icon btn-default" ng-click="lp.openLearningInfoModal()"><span class="fa fa-info-circle"></span> Help</button>
        </div>

      </div>



      <div class="col-xs-12 col-md-9 col-md-push-3 learn-path-content learning_tab__content">

        <!-- Section header -->

        <div class="panel panel-success" ng-if="!lp.isFlat">
          <div class="panel-heading">
            <h4 class="panel-title c-lp__title">{{ lp.section.title }}</h4>
            <span class="icon hidden-print pull-right clickable" ng-if="lp.section.body" ng-class="{'icon-circle-minus': lp.sectionOpened, 'icon-circle-plus': !lp.sectionOpened}" ng-click="lp.sectionOpened = !lp.sectionOpened"></span>
          </div>
          <div class="panel-body" ng-if="lp.sectionOpened && lp.section.body">
            <div ng-if="lp.section">
              <div ng-bind-html="lp.section.body" ng-click="lp.testNotification()"></div>
            </div>
          </div>
        </div>

        <div class="panel panel-success" ng-if="lp.isFlat">
          <div class="panel-heading">
            <h4 class="panel-title c-lp__title">{{ lp.section.title }}</h4>
          </div>
        </div>

        <!-- Section Content -->

        <div class="panel panel-default" ng-if="lp.content">
          <div class="panel-heading"><h4 class="panel-title">{{lp.content.title}}</h4></div>
          <div class="panel-body">
            <div ng-bind-html="lp.content.body" class="learning_tab__content container-fix"></div>
            <div class="panel-admissions"
                ng-if="lp.content.content_type_name == 'Activities'">

              <h5 ng-if="lp.uploader.queue.length > 0">Uploading files</h5>
              <ul class="list-unstyled row vertical-margin admission-uploader" ng-if="lp.uploader.queue.length > 0">
                <li ng-repeat="item in lp.uploader.queue track by $index" ng-class="{ 'text-danger' : item.isError }">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2"><p class="bolder file-name">{{ item.file.name }}</p></div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                      <div class="progress profile-file-progress" ng-if="!item.isUploaded">
                        <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                          <span class="sr-only">{{ item.progress }}% Complete</span>
                        </div>
                      </div>
                      <p ng-if="item.isError">{{ item.msg }}</p>
                    </div>
                  </div>
                </li>
              </ul>
              <!--<label for="file" class="btn btn-success btn-upload icon-standalone" ng-disabled="user.state">
                <i class="fa fa-upload"></i>
                <span>Upload File</span>
                <input id="file" type="file" nv-file-select uploader="uploader[currentContent.content_type_name + currentContent.id]" multiple>

              </label>
              <span>Maximum file upload limit — 20MB</span>-->
              <span class="hidden-print studio__upload__info clickable"
                    ng-click="showSupportedFiles($event)">
                Supported file types
                <i class="fa fa-info-circle"></i>
              </span>
              <label for="file" class="btn-upload uploader hidden-print" ng-disabled="user.state">
                <i class="icon-upload"></i>
                <span class="studio__upload__click_here">Click here or drag and drop files to upload</span>

                <input id="file" type="file" nv-file-select uploader="lp.uploader" multiple>

                <span class="max-text">Max file size: 20MB</span>
              </label>
              <div class="learning_path__uploaded-files hidden-print"
                   ng-if="lp.files">
                <p>Files uploaded for this activity:</p>
                <p class="muted" ng-if="lp.files.length==0">No files uploaded</p>
                <ul class="list-unstyled row">
                  <li class="col-xlg-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                      ng-repeat="item in lp.files track by $index"
                      ng-if="item.file_data.ext" >
                    <div class="thumbnail thumbnail--file thumbnail--file--studio">
                      <a href title="{{ item.file_data.title }}"
                         ng-click="module.displayFile(item.file_data)"
                         ng-if="!item.file_data.isImage">
                        <ui-file-thumbnail item="item.file_data"></ui-file-thumbnail>
                      </a>
                      <a href title="{{ item.file_data.title }}"
                         ng-click="module.displayFile(item.file_data)"
                         ng-if="item.file_data.isImage">
                        <ui-file-thumbnail item="item.file_data"></ui-file-thumbnail>
                      </a>
                      <div class="caption">
                        <h3 class="file-name" >{{ item.file_data.name }}</h3>
                        <p>Date Uploaded: {{ item.file_data.uploaded | date: 'dd/MM/yyyy' }}</p>
                        <div class="form-group admission-file-opt">
                          <button class="btn btn-danger" ng-click="lp.deleteFile(item.id)" >Delete</button>
                          <!-- <button class="btn btn-info"
                                  ng-if="checkPermission('courses.content-example-file.save')"
                                  ng-click="openExampleModal($event)">Add as Example</button> -->
                        </div>
                      </div>
                      <!--<small ng-if="item.file_messages.length > 0" class="badge">{{ item.file_messages.length }}</small>-->
                    </div>
                    <small ng-if="item.file_messages.length > 0" class="tag-icon"><img src="/assets/img/tagicon.png" alt="IDI Study" class="small"><span>{{ item.file_messages.length }}</span></small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-xs-12 col-md-3 col-md-pull-9 hidden-print">
        <div class="hidden-xs hidden-sm">
          <div class="learning_sections__search learn-path-content">
            <idi-learning-path module-id="lp.sections.moduleId" parent-id="lp.sections.parentId" section-id="lp.sections.sectionId" content-id="lp.sections.contentId" sp-module-id="lp.sections.spModuleId" on-item-select="lp.onItemSelect(item, section)" flat="lp.isFlat"></idi-learning-path>
          </div>

        </div>
        <!-- <div class="panel panel-default"
             ng-if="currentContent.example_files.length > 0">
          <div class="panel-heading">Activity Examples</div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
                  ng-repeat="item in currentContent.example_files"
                  ng-if="item.file_data.ext">
                <div class="thumbnail thumbnail--file thumbnail--file--studio">
                  <a href title="{{ item.file_data.title }}"
                     ng-click="displayActivityExample(item)"
                     ng-if="!item.file_data.isImage" >
                    <ui-file-thumbnail item="item.file_data"></ui-file-thumbnail>
                  </a>
                  <a href title="{{ item.file_data.title }}"
                     ng-click="displayActivityExample(item)"
                     ng-if="item.file_data.isImage" >
                    <ui-file-thumbnail item="item.file_data"></ui-file-thumbnail>
                  </a>
                  <h3 class="file-name" >{{ item.file_data.name }}</h3>
                  <button class="btn btn-danger"
                          ng-if="checkPermission('courses.content-example-file.delete')"
                          ng-click="deleteExample($event)">Delete</button>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      </div>
    </div>
  </div>
</section>
