<section class="container-fluid">
  <div class="row">
    <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-3">
      <div class="panel panel-default">
        <section class="panel-body">
          <idi-assessments items="assessments.assessments"></idi-assessments>
          <div class="list-group">
            <a href="#" class="list-group-item"
               ng-class="{'active':assessments.tab == 'submission' || !assessments.tab}"
               ng-click="assessments.goToTab('submission');">
              <span class="list-group-item-heading">Submission</span>
            </a>
            <a href="#" class="list-group-item"
               ng-class="{'active':assessments.tab == 'learning'}"
               ng-click="assessments.goToTab('learning');">
              <span class="list-group-item-heading">Learning Outcomes</span>
            </a>
            <a href="#" class="list-group-item"
               ng-class="{'active':assessments.tab == 'grade'}"
               ng-click="assessments.goToTab('grade');">
              <span class="list-group-item-heading" idi-locale="module.gradeTable"></span>
            </a>
          </div>
        </section>
      </div>
    </div>
    <div class="col-xlg-9 col-lg-9 col-md-9 col-sm-9">
      <div ng-if="assessments.tab=='submission' || assessments.tab=='learning'">
        <ul class="nav nav-tabs">
          <li ng-repeat="folder in assessments.folders"
              ng-class="{active: assessments.folder == folder}">
            <a href ng-click="assessments.folder = folder">
              {{ ::folder.title }}
            </a>
          </li>
        </ul>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div ng-repeat="attachment in assessments.files"
                   class="col-xlg-3 col-lg-3 col-md-4 col-sm-4 col-xs-12 assessments-files"
                   ng-if="attachment.file && assessments.files.length">
                <div class="thumbnail thumbnail--file">
                  <a ng-if="!attachment.file.isImage" href title="{{ attachment.file.title }}" target="_blank"
                     ng-click="assessments.displayFile(attachment.file)" style="width:100%">
                    <ui-file-thumbnail item="attachment.file" class="clearfix"></ui-file-thumbnail>
                  </a>
                  <a ng-if="attachment.file.isImage" href title="{{ attachment.file.title }}"
                     ng-click="assessments.displayFile(attachment.file)">
                    <ui-file-thumbnail item="attachment.file" class="clearfix"></ui-file-thumbnail>
                  </a>
                  <div class="caption">
                    <h3 class="file-name">{{ attachment.file.title }}</h3>
                    <p>{{ attachment.file.created | date: 'dd/MM/yyyy' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-if="!assessments.files.length">
                <div class="panel-footer">
                  <h2>No files have been uploaded</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel-footer">
                  <div class="pull-right">
                    <label for="file" type="button"
                           class="btn btn-primary btn-upload icon-standalone"
                           ng-class="">
                      <i class="fa fa-upload"></i> <span>Upload File</span>
                      <input id="file" type="file" nv-file-select uploader="assessments.uploader"/>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <idi-self-evaluation on-submitted="assessments.onSubmitted()"></idi-self-evaluation>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default" ng-if="assessments.tab=='learning'">
        <section class="panel-body">
          <idi-learning-outcomes items="assessments.learningOutcomes"></idi-learning-outcomes>
        </section>
      </div>
      <div class="panel panel-default" ng-if="assessments.tab=='grade'">
        <section class="panel-body">
          <table class="table table-bordered table-striped">
            <thead>
            <th>Classification Band*</th>
            <th>Performance Descriptor</th>
            <th>0-100 Scale</th>
            </thead>
            <tbody>
            <tr class="success">
              <td rowspan="3">First Class</td>
              <td>Trully Exceptional</td>
              <td>90-100</td>
            </tr>
            <tr class="success">
              <td>Outstanding</td>
              <td>80-89</td>
            </tr>
            <tr class="success">
              <td>Excellent</td>
              <td>70-79</td>
            </tr>
            <tr class="success">
              <td>Upper seccond class</td>
              <td>Very good</td>
              <td>60-69</td>
            </tr>
            <tr class="success">
              <td>Lower seccond class</td>
              <td>Good</td>
              <td>50-59</td>
            </tr>
            <tr class="success">
              <td>Third class</td>
              <td>Satisfactory</td>
              <td>60-69</td>
            </tr>

            <tr class="danger">
              <td rowspan="3">Fail</td>
              <td>Marginal Fail</td>
              <td>30-39</td>
            </tr>
            <tr class="danger">
              <td>Little or Nothing of Fail</td>
              <td>0-19</td>
            </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</section>