<section ui-form-wizard viewing-mode="true" index="module.index" class="module">
  <div class="form-group">
    <div class="module__header hidden-print">
      <div id="page-heading">
        <h3 class="page-title">{{ module.module.title }}</h3>
      </div>
      <div class="panel-group studio-menu-collapse hidden-sm hidden-md hidden-lg hidden-xlg" ui-collapse>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseOne" idi-locale="module.navigate"></a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body no-padding">
              <ul class="nav nav-tabs" role="tablist" ui-tabs>
                <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 0" ui-sref=".welcome" idi-locale="module.welcome"></a></li>
                <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 1" ui-sref=".learning" idi-locale="module.learning_path"></a></li>
                <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 2" ui-sref=".studio" idi-locale="module.tutorial"></a></li>
                <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 3" ui-sref=".forums" idi-locale="module.studio"></a></li>
                <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 4" ui-sref=".assessment" idi-locale="module.assessment"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="form-wizard studio-wizard hidden-xs">
        <ul class="tabs">
          <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 0" ui-sref=".welcome" idi-locale="module.welcome"></a></li>
          <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 1" ui-sref=".learning" idi-locale="module.learning_path"></a></li>
          <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 2" ui-sref=".studio" idi-locale="module.tutorial"></a></li>
          <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 3" ui-sref=".forums" idi-locale="module.studio"></a></li>
          <li ui-sref-active="active"><a class="module__nav-link" ng-click="index = 4" ui-sref=".assessment" idi-locale="module.assessment"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div ui-view=""></div>
</section>