<section class="container-fluid"> 
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-7 col-xlg-7">
          <div ng-bind-html="welcome.module.body" class="container-fix"></div>
          <br/>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5 col-xlg-5">
          <!-- BIO CARD WIDGET -->
          <profile-widget profile="welcome.card" date="false" social="false" link="true" ng-if="welcome.card"></profile-widget>
          <!-- Support documents widget -->
          <div class="row">
            <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="welcome.supportDocuments.length > 0">
              <div class="widget widget-m panel c-support-docs panel">
                <div class="panel-heading c-support-docs__heading">Support Documents</div>
                <div class="panel-body c-support-docs__body">
                  <ul class="c-support-docs__list" mb-scrollbar="scrollbarConfigInner">
                    <li ng-repeat="document in welcome.supportDocuments" class="c-support-docs__item">
                      <a target="_blank"  href ng-href="{{ document.file.url }}">
                        <p>
                          <span ng-bind="::document.file.title"></span>
                          <i class="fa fa-download fa-fw pull-right"></i>
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
</section>