<form name="editReplyForm" novalidate id="editReplyForm" ng-show="message.isEdit" ng-submit="updateReplyMessage(editReplyForm)" ng-class="{ 'form-processing' : editReplyFormSubmitted }" class="reply-form">
  <input name="messageId" type="hidden" ng-model="message.id">
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <div class="form-group" data-trigger="hover" data-placement="right" data-title="This field is required" bs-tooltip>
        <ng-quill-editor ng-model="message.tempMessage" toolbar="true" link-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link" editor-required="true" required="" error-class="input-error"></ng-quill-editor>
      </div>

      <!-- Attachments area -->
      <div ng-if="uploader.queue.length > 0 || message.files.length > 0">
        <hr>
        <h5><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments {{ uploader.queue.length + message.files.length }}</h5>
        <ul class="list-unstyled row vertical-margin mail-attachments">
          <li ng-repeat="id in message.files">
            <div class="row">
              <div class="col-xs-6"><p class="bolder file-name">{{ files[id].title }}</p></div>
              <div class="col-xs-5"></div>
              <div class="col-xs-1"><a href title="Remove" ng-click="removeMessageFiles(id);" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a></div>
            </div>
          </li>
          <li ng-repeat-start="item in uploader.queue" ng-class="{ 'text-danger' : item.isError }">
            <div class="row">
              <div class="col-xs-6"><p class="bolder file-name">{{ item.file.name }}</p></div>
              <div class="col-xs-5">
                <div class="progress" ng-if="!item.isUploaded">
                  <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                    <span class="sr-only">{{ item.progress }}% Complete</span>
                  </div>
                </div>
                <p ng-if="item.isError">{{ item.msg }}</p>
              </div>
              <div class="col-xs-1">
                <a href title="Remove" ng-click="removeFileId(item);item.cancel();" ng-if="item.isUploading"><span class="fa fa-remove"></span></a>
                <a href title="Remove" ng-click="removeFileId(item);item.remove();" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a>
              </div>
            </div>
          </li>
          <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
        </ul>
      </div>

      <hr >
      <div class="form-group pull-right">
        <label for="edit-file" type="button" 
              class="btn btn-primary btn-upload icon-standalone" 
              ng-class="{ 'disabled' : replyFormSubmitted }">
          <i class="fa fa-upload"></i> <span>Attach files</span>
          <input id="edit-file" ng-if="message.isEdit" type="file" nv-file-select uploader="uploader" multiple />
        </label>
        <button type="submit" class="btn btn-danger btn-flat" ng-class="{ 'disabled' : editReplyFormSubmitted }">Change</button>
      </div>
      <button type="button" class="btn btn-default" ng-class="{ 'disabled' : editReplyFormSubmitted }" ng-click="cancelEdit()">Cancel</button>
    </div>
  </div>
</form>