<div ng-if="isListing">
  <div class="form-group pull-right">
    <button class="btn btn-primary icon-standalone" 
            ng-if="currentPermissions.indexOf('messages.group.create') > -1"
            ng-click="editGroup(-1)">
      <i class="fa fa-plus"></i>
      <span>Add</span>
    </button>
  </div>
  <table ng-table="groupTable" class="table ng-table-responsive table-hover">
    <tr ng-repeat="item in $data">
      <td data-title="'Name'" sortable="'name'">{{ item.name }}</td>
      <td data-title="'Creator'" sortable="'owner.name'">{{ item.owner.name }}</td>
      <td data-title="'User List'">
        <ul>
          <li ng-repeat="user in item.userList">{{ user.name }}</li>
        </ul>
      </td>
      <td data-title="'Options'">
        <a href
            ng-if="currentPermissions.indexOf('messages.group.edit') > -1"
            ng-click="editGroup(item.id)" 
            class="option-icon"><span class="fa fa-edit"></span></a>
        <a href 
            ng-if="currentPermissions.indexOf('messages.group.delete') > -1"
            ng-click="deleteGroup(item.id)" 
            ng-confirm-click="Are you sure you want to delete this message group?" 
            class="option-icon"><span class="fa fa-trash"></span></a>
      </td>
    </tr>
  </table>
  <div class="" ng-if="groups.length == 0">No message groups yet.</div>
</div>
<div class="row" ng-if="!isListing">
  <div class="col-xs-12 col-md-9">
    <h4>{{ title }}</h4>
    <br />
    <form name="groupForm" novalidate ng-submit="submitGroupForm(groupForm)" ng-class="{ 'form-processing' : groupFormSubmitted }" class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Name</label>
        <div class="col-lg-10 col-md-10 col-sm-10" ng-class="{ 'has-error': groupForm.groupName.$error.required && groupForm.$submitted }">
          <input name="groupName" type="text" ng-model="$parent.group.name" placeholder="Add subject" class="form-control" required data-trigger="hover" data-placement="right" data-title="This field is required" bs-tooltip>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 col-md-2 col-sm-2 control-label">User List</label>
        <div class="col-lg-10 col-md-10 col-sm-10" ng-class="{ 'has-error': group.userList.length == 0 && groupForm.$submitted }" data-trigger="hover" data-placement="right" data-title="This field is required" bs-tooltip >
          <ui-select multiple ng-model="group.userIds" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" ng-required on-select="addUser($item)" on-remove="deleteUser($item)">
            <ui-select-match placeholder="Add recipients">{{ $item.name }}</ui-select-match>
            <ui-select-choices repeat="user.id as user in userList | filter:$select.search"
                    refresh="refreshUsers($select.search)" 
                    refresh-delay="800"
                    refresh-on-active="true">
              <div ng-bind-html="user.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <hr />
      <div class="pull-right">
        <button type="submit" class="btn btn-danger btn-flat" ng-class="{ 'disabled' : groupFormSubmitted }">Save</button>
      </div>
      <button type="button" class="btn btn-default" ng-click="cancelEdit()" ng-class="{ 'disabled' : groupFormSubmitted }">Cancel</button>
      <input type="hidden" ng-model="group.id" name="groupId" >
    </form>
  </div>
</div>