<main role="main" id="mailbox" class="mailbox">
  <div id="page-heading" class="clearfix page-heading">
    <h3 class="page-title mail-page-title"><span class="icon-paper-plane"></span> {{ category | unslugify }}</h3>
    <div class="mail-search clearfix" ng-if="currentPermissions.indexOf('messages.message.search') > -1 || currentPermissions.indexOf('messages.users.search') > -1 || currentPermissions.indexOf('messages.group.search') > -1">
      <form name="filterSearch" class="filterSearch clearfix">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i>&nbsp;<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-if="currentPermissions.indexOf('messages.message.search') > -1"><a href ng-click="updateFilterBy('keyword')">Keyword</a></li>
            <li ng-if="currentPermissions.indexOf('messages.conversationAny.search') > -1"><a href ng-click="updateFilterBy('user')">User</a></li>
            <li ng-if="currentPermissions.indexOf('messages.conversationAny.search') > -1"><a href ng-click="updateFilterBy('group')">Group</a></li>
            <li class="divider"></li>
            <li ng-if="currentPermissions.indexOf('messages.conversationAny.search') > -1"><a href ui-sref="app.admin.mail.category({ category: searchCategory })">Clear</a></li>
          </ul>
        </div>
        <div class="select-search" ng-if="searchBy == 'keyword'">
          <input name="textFilter" type="text" ng-model="filter.keyword" class="form-control" placeholder="Search by keyword" ng-keypress="filterByKeyword($event)">
        </div>
        <div class="select-search" ng-if="searchBy == 'user'">
          <ui-select ng-model="filter.user" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" on-select="filterByUser($item)">
            <ui-select-match placeholder="Search by user">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="user.id as user in userList | filter:$select.search" 
                    refresh="refreshUsers($select.search)" 
                    refresh-delay="800"
                    refresh-on-active="true">
              <div ng-bind-html="user.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="select-search" ng-if="searchBy == 'group'">
          <ui-select ng-model="filter.group" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" on-select="filterByGroup($item)">
            <ui-select-match placeholder="Search by group">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="group.id as group in groupList | filter:$select.search">
              <div ng-bind-html="group.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </form>
    </div>    
  </div>

  <section class="container-fluid">
    <div class="row">
      <div class="col-xs"></div>
    </div>
    <div class="row">
      <div ng-class="{ 'col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12': expanded, 'hidden': !expanded  }">
        <div class="panel panel-default">
          <div class="panel-heading mail-list-options clearfix">
            <label class="btn-check pull-left" ng-if="messageScopeObj.name_alias != 'other'">
              <input type="checkbox" ng-click="toggleAll()" ng-model="toggle">
              <span></span>
            </label>
            <div class="mail-btn-opt">
              <!--<div class="btn-group" ng-if="messageScopeObj.name_alias != 'other'">-->
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="" ng-click="markMessageAsReadUnread(true)" ng-show="showMarkMessages(true)">Mark as read</a></li>
                  <li><a href="" ng-click="markMessageAsReadUnread(false)" ng-show="showMarkMessages(false)">Mark as unread</a></li>
                </ul>
              </div>
              <div class="btn-group" ng-if="searchBy != 'user' && searchBy != 'group'">
                <button type="button" class="btn btn-default" ng-click="sortConversation()">Sort by date <span class="" ng-class="{ 'icon-order-dsc' : isDesc, 'icon-order-asc' : !isDesc }"></span></button>
              </div>
              <div class="btn-group" ng-if="searchBy != 'user' && searchBy != 'group'">
                <a ng-if="messageScopeObj.name != 'Starred' && currentScope.indexOf('other') == -1 && currentScope.indexOf('new') == -1" href ui-sref="app.admin.mail.category({ category: 'starred' })" class="btn btn-default" ng-click="">Starred <span class="fa fa-star"></span></a>
                <a ng-if="(messageScopeObj.name == 'Starred' && oldMessageScopeName && (oldMessageScopeName != 'starred'))" href ui-sref="app.admin.mail.category({ category: oldMessageScopeName })" class="btn btn-default" ng-click="">Back</a>
              </div>
            </div>
            <div ng-if="pagination" class="btn-group pull-right">
              <a href class="btn btn-default btn-xs" ng-class="{ 'disabled' : pagination.current_page == 1 }" ng-click="pagingConversation('left')"><span class="fa fa-angle-left fa-fw"></span></a>
              <a href class="btn btn-default btn-xs" ng-class="{ 'disabled' : pagination.current_page == pagination.total_pages }"  ng-click="pagingConversation('right')"><span class="fa fa-angle-right fa-fw"></span></a>
            </div>
            <div ng-if="pagination" class="pull-right mail-pagi">
              <small class="bolder">{{ pagination.start + 1 }} - {{ pagination.start + pagination.items_count}}</small>
              <small>from</small>
              <small class="bolder">{{ pagination.total_items }}</small>
              <small>messages</small>
            </div>
          </div>
          <div class="panel-body no-padding">
            <ul class="mail-list">
              <li ng-repeat="message in messages" ui-sref-active="active" ng-class="{ 'unread' : !message.read }">
                <label class="btn-check pull-left" ng-if="messageScopeObj.name_alias != 'other' && message.userIsSubscribed">
                  <input type="checkbox" ng-model="message.check" ng-value="true">
                  <span></span>
                </label>
                <div class="time-fav">
                  <a href class="fav text-center" ng-class="{ 'fav-flag' : message.isFlag}" ng-click="flagMessage(message)" ng-if="currentPermissions.indexOf('messages.conversation.flag') > -1 && message.userIsSubscribed && messageScopeObj.name_alias != 'other'">
                    <span class="fa fa-star-o" ng-if="!message.isFlag"></span>
                    <span class="fa fa-star" ng-if="message.isFlag"></span>
                  </a>
                  <span class="text-center">{{ message.date | date:'dd/MM/yyyy' }}</span>
                </div>
                <div class="attachment hidden-xs">
                  <span class="fa fa-paperclip fa-fw fa-lg fa-rotate-90" ng-if="message.LastMessage.MessageAttachments.length > 0"></span>
                </div>

                <a ng-href="{{::getMessageHref(currentScope, message)}}" class="title">
                  <h6>{{ message.Conversation.topic }}</h6>
                  <h6 ng-if="message.additionalData.convUsers"><span class="message-from">with</span> <span >{{ ::message.additionalData.convUsers }}</span> </h6>
                  <small class="short">
                    <span>{{ ::message.LastMessage.user_name }}:</span> <span ng-bind-html="::message.LastMessage.text"></span>
                  </small>
                </a>
                
              </li>
              <li ui-sref-active="active" ng-if="messages.length == 0">
                <h6>No messages found.</h6>
              </li>
            </ul>
          </div>
          <div class="panel-footer clearfix">
            <div class="btn-group pull-right">
              <a href class="btn btn-default btn-xs" ng-class="{ 'disabled' : pagination.current_page == 1 }" ng-click="pagingConversation('left')"><span class="fa fa-angle-left fa-fw"></span></a>
              <a href class="btn btn-default btn-xs" ng-class="{ 'disabled' : pagination.current_page == pagination.total_pages }"  ng-click="pagingConversation('right')"><span class="fa fa-angle-right fa-fw"></span></a>
            </div>
            <div class="pull-right mail-pagi">
              <small class="bolder">{{ pagination.start + 1 }} - {{ pagination.start + pagination.items_count}}</small>
              <small>from</small>
              <small class="bolder">{{ pagination.total_items }}</small>
              <small>messages</small>
            </div>
          </div>
        </div>
      </div>
      <ui-view name="subcontent"></ui-view>
    </div>
  </section>
</main>