<form name="createForm" novalidate ng-submit="createMessage(createForm)" ng-class="{ 'form-processing' : createFormSubmitted }" ng-if="currentPermissions.indexOf('messages.messageAnyone.create') > -1 || currentPermissions.indexOf('messages.messageAnyGroup.create') > -1">
  <div class="col-xlg-8 col-lg-7 col-md-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body clearfix form-horizontal">
        <div class="form-group">
          <label class="col-lg-2 col-md-2 col-sm-2 control-label">To</label>
          <div class="col-lg-10 col-md-10 col-sm-10" ng-class="{ 'has-error': recipients.to.length == 0 && createForm.$submitted }" data-trigger="hover" data-placement="top" data-title="This field is required" bs-tooltip >
            <ui-select multiple ng-model="recipients.to" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" ng-required>
              <ui-select-match placeholder="Add recipients">{{$item.name}}</ui-select-match>
              <ui-select-choices group-by="groupUsers" 
                      repeat="user in userGroupList | filter:$select.search"
                      refresh="refreshUsers($select.search)"
                      refresh-delay="800"
                      refresh-on-active="true">
                <div ng-bind-html="user.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group" ng-if="currentPermissions.indexOf('messages.message-cc.create') > -1">
          <label class="col-lg-2 col-md-2 col-sm-2 control-label">Cc</label>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <ui-select multiple ng-model="recipients.cc" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
              <ui-select-match placeholder="Add recipients">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="user.id as user in userList | filter:$select.search" 
                      refresh="refreshUsers($select.search)"
                      refresh-delay="800"
                      refresh-on-active="true">
                <div ng-bind-html="user.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group" ng-if="currentPermissions.indexOf('messages.message-bcc.create') > -1">
          <label class="col-lg-2 col-md-2 col-sm-2 control-label">Bcc</label>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <ui-select multiple ng-model="recipients.bcc" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
              <ui-select-match placeholder="Add recipients">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="user.id as user in userList | filter:$select.search"
                      refresh="refreshUsers($select.search)"
                      refresh-delay="800"
                      refresh-on-active="true">
                <div ng-bind-html="user.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 col-md-2 col-sm-2 control-label">Subject</label>
          <div class="col-lg-10 col-md-10 col-sm-10" ng-class="{ 'has-error': createForm.messageSubject.$error.required && createForm.$submitted }">
            <input name="messageSubject" type="text" ng-model="$parent.reply.subject" placeholder="Add subject" class="form-control" required data-trigger="hover" data-placement="top" data-title="This field is required" bs-tooltip>
          </div>
        </div>
        <div class="form-group" ng-if="reply.messageScope != ''">
          <label class="col-lg-2 col-md-2 col-sm-2 control-label">Scope</label>
          <div class="col-lg-10 col-md-10 col-sm-10" ng-class="{ 'has-error': createForm.messageScope.$error.required && createForm.$submitted }">
            <select name="messageScope"
                    class="form-control"
                    ng-model="reply.messageScope"
                    ng-options="item.id as item.name for item in newMessageScope"
                    ng-required="true">
              <option value="">---Please select---</option>
            </select>
          </div>
        </div>
        <div class="row wysiwyg-editor-new" data-trigger="hover" data-placement="top" data-title="This field is required" bs-tooltip>
          <ng-quill-editor ng-model="$parent.reply.message" toolbar="true" link-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link" editor-required="true" required="" error-class="input-error"></ng-quill-editor>
        </div>

        <div class="row" ng-if="templates.length > 0 && currentPermissions.indexOf('messages.template.send') > -1">
          <div class="col-xs-12 col-md-6">
            <label>Or use template for subject and message</label>
            <select class="form-control"
                    ng-model="reply.template"
                    ng-change="useTemplate($event)">
              <option value="-1" selected>Select template</option>
              <option ng-repeat="option in templates" value="{{option.id}}">{{option.topic}}</option>
            </select>
          </div>
        </div>
        <!-- Attachments area -->
        <hr ng-if="uploader.queue.length > 0">
        <h5 ng-if="uploader.queue.length > 0"><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments {{ uploader.queue.length }}</h5>
        <ul class="list-unstyled row vertical-margin mail-attachments" ng-if="uploader.queue.length > 0">
          <li ng-repeat-start="item in uploader.queue" ng-class="{ 'text-danger' : item.isError }">
            <div class="row">
              <div class="col-xs-6"><p class="bolder file-name">{{ item.file.name }}</p></div>
              <div class="col-xs-5">
                <div class="progress" ng-if="!item.isUploaded">
                  <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                    <span class="sr-only">{{ item.progress }}% Complete</span>
                  </div>
                </div>
                <p ng-if="item.isError">{{ item.msg }}</p>
              </div>
              <div class="col-xs-1">
                <a href title="Remove" ng-click="removeFileId(item);item.cancel();" ng-if="item.isUploading"><span class="fa fa-remove"></span></a>
                <a href title="Remove" ng-click="removeFileId(item);item.remove();" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a>
              </div>
            </div>
          </li>
          <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
        </ul>
      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <label for="file" type="button" 
                  class="btn btn-primary btn-upload icon-standalone" 
                  ng-class="{ 'disabled' : createFormSubmitted }" 
                  ng-if="currentPermissions.indexOf('messages.attachment.create') > -1">
            <i class="fa fa-upload"></i> <span>Upload Files</span>
            <input id="file" type="file" nv-file-select uploader="uploader" multiple />
          </label>
          <button type="submit" class="btn btn-danger btn-flat">Send</button>
        </div>
        <button type="button" class="btn btn-default" ng-click="cancel($event)">Cancel</button>
      </div>
    </div>
  </div>
</form>