<div class="col-sm-12">
  <div class="panel panel-default panel-success mail-content">
    <div class="panel-heading" ng-if="!messageScopeObj.expanded">
      {{ topic }}
      <div class="panel-options pull-right">
        <a ng-if="category.indexOf('search') == -1" href ui-sref="app.admin.mail.category({ category: currentScope })" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="filter.keyword.length > 0" href ui-sref="app.admin.mail.search({ searchBy: searchBy, keyword: filter.keyword })" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="filter.user.length > 0 && searchBy == 'user'" href ui-sref="app.admin.mail.search({ searchBy: searchBy, keyword: filter.user })" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="filter.group.length > 0 && searchBy == 'group'" href ui-sref="app.admin.mail.search({ searchBy: searchBy, keyword: filter.group })" title="Back to list"><span class="fa fa-chevron-left"></span> Back</a>
        <a ng-if="conversation.length > 1" href ng-click="sortMessages()"><span ng-class="{ 'icon-order-dsc' : messageIsDesc, 'icon-order-asc' : !messageIsDesc }"></span> Sort by date</a>
        <a ng-if="currentPermissions.indexOf('messages.conversation.unsubscribe') > -1 && isSubscribed" href title="Unsubscribe on this conversation" ng-click="unsubscribeConversation()" ng-confirm-click="Are you sure you want to unsubscribe?"><i class="fa fa-remove"></i> Unsubscribe</a>
        <a ng-if="currentPermissions.indexOf('messages.conversation.subscribe') > -1 && !isSubscribed" href title="Subscribe on this conversation" ng-click="subscribeConversation()"><i class="fa fa-plus"></i> Subscribe</a>
      </div>
    </div>
    <div class="panel-heading" ng-if="messageScopeObj.expanded && messages.length > 0">
      &nbsp;
      <div class="panel-options pull-right">
        <a ng-if="conversation.length > 1" href ng-click="sortMessages()"><span ng-class="{ 'icon-order-dsc' : messageIsDesc, 'icon-order-asc' : !messageIsDesc }"></span> Sort by date</a>
      </div>
    </div>
    <div class="panel-body">
      <!-- Display messages -->
      <div class="panel panel-default mail-content" ng-repeat="message in messages" ng-class="{ 'panel-danger' : message.deleted == 1}">
        <div class="panel-heading clearfix">
          <div class="dropcap-info pull-left" ng-if="!message.user_picture">{{ message.user_name | limitTo: 1 }}</div>
          <div class="profile-image pull-left" ng-if="message.user_picture"><img ng-src="{{ message.user_picture }}" alt="..."></div>
          <p class="pull-right" ng-if="showOptions(message) && !message.isUploadNotification">
            <a ng-if="currentPermissions.indexOf('messages.messageOwn.delete') > -1" href 
                title="Delete message" 
                ng-click="deleteMessage($index)" 
                ng-confirm-click="Are you sure you want to delete this message?"><span class="icon-trash text-muted"></span></a>
            <a ng-if="currentPermissions.indexOf('messages.messageOwn.edit') > -1" href 
                title="Edit message" 
                ng-click="displayEditForm($index)"><span class="icon-edit text-muted"></span></a>
          </p>
          <p ng-if="message.deleted == 1" class="pull-right deleted-message"><small>This message has been deleted.</small></p>
          <div class="open-title">{{ message.user_name }}</div>
          <div class="open-title-info">
            <p><span ng-if="message.isUpdated">updated at </span>{{ message.date | date: 'dd/MM/yyyy hh:mm a' }}</p>
          </div>
        </div>
        <div class="panel-body">
          <div class="open-content">
            <!--<div class="form-group" ng-bind-html="message.text" ng-show="!message.isEdit"></div>-->
            <div class="clearfix">
              <h4 ng-if="message.attached_to_file_id && !message.isUploadNotification" class="tagged-file">{{ message.user_name }} has tagged a message to {{ message.attached_to_file_data.title }}</h4><br ng-if="message.attached_to_file_id && !message.isUploadNotification" class="tagged-file""/>
              <div class="form-group" ng-class="{ 'pull-left' : message.attached_to_file_id }" ng-bind-html="message.text" ng-show="!message.isEdit"></div>
              <div ng-if="message.attached_to_file_id" class="thumbnail thumbnail--file thumbnail-small pull-right">
                <a ng-if="!message.attached_to_file_data.isImage" href ng-href="{{ message.attached_to_file_data.url }}" title="{{ message.attached_to_file_data.title }}" target="_blank">
                  <ui-file-thumbnail item="message.attached_to_file_data"></ui-file-thumbnail>
                </a>
                <a ng-if="message.attached_to_file_data.isImage" href title="{{ message.attached_to_file_data.title }}" ng-click="displayImage(message.attached_to_file_data)">
                  <ui-file-thumbnail item="message.attached_to_file_data"></ui-file-thumbnail>
                </a>
              </div>
            </div>
            <edit-reply-form ng-if="showOptions(message)" message="message" files="files"></edit-reply-form>
            <div ng-if="message.files.length > 0 && currentPermissions.indexOf('messages.attachments.get') > -1" ng-show="!message.isEdit">
              <hr>
              <h5><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments</h5>
              <ul class="list-unstyled row vertical-margin">
                <li ng-repeat-start="file in message.files" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                  <a ng-if="!isImage(files[file].ext)" ng-href="{{ files[file].url }}" href ng-class="{ 'not-image' : !isImage(files[file].ext) }" class="thumbnail" download>
                    <div class="download">
                      <div><i class="fa fa-download"></i></div>
                    </div>
                    <ui-file-thumbnail item="files[file]"></ui-file-thumbnail>
                  </a>
                  <a ng-if="isImage(files[file].ext)" href title="{{ files[file].title }}" class="thumbnail" ng-click="displayImage(files[file])">
                    <ui-file-thumbnail item="files[file]"></ui-file-thumbnail>
                  </a>
                  <p class="bolder file-name" ng-bind-html="files[file].title"></p>
                </li>
                <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="messages.length == 0" class="panel-default"><p>No messages yet.</p></div>

      <div class="row message-pagination">
        <div class="col-xs-12">
          <nav>
            <ul class="pagination">
              <li ng-class="{ 'disabled' : currentPage == 1 }"><a href ng-click="displayPage(1, currentPage == 1)">&laquo;</a></li>
              <li ng-repeat="i in getNumber(totalPages) track by $index" ng-class="{ 'active' : $index + 1 == currentPage }">
                <a href ng-click="displayPage($index + 1, false)">{{ $index + 1 }}</a>
              </li>
              <li ng-class="{ 'disabled' : currentPage == totalPages }"><a href ng-click="displayPage(totalPages, currentPage == totalPages )">&raquo;</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix" ng-if="$parent.messageScopeObj.name_alias != 'announcements' && currentPermissions.indexOf('messages.message.create') > -1">
      <div class="row">
        <div class="col-xs-12 col-md-8 reply-form">
          <form name="replyForm" novalidate ng-submit="addReplyMessage(replyForm)" ng-class="{ 'form-processing' : replyFormSubmitted }" class="form-horizontal">
            <div ng-if="messages.length > 0" class="clearfix forward-message-container">
              <p class="pull-left">Reply to this conversation</p>
              <button type="button" class="btn btn-primary pull-right" ng-if="currentPermissions.indexOf('messages.message.forward') > -1 && $parent.messageScopeObj.name_alias.indexOf('private_message') > -1" ng-click="setForwarded()">
                <span class="fa fa-mail-forward"></span> Forward
              </button>
            </div>
            <p ng-if="messages.length == 0">Create new message</p>
            <div class="form-group" ng-if="isForwarded">
              <label class="col-lg-2 col-md-2 col-sm-2 control-label">To</label>
              <div class="col-lg-10 col-md-10 col-sm-10">
                <ui-select multiple ng-model="reply.to" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" ng-required>
                  <ui-select-match placeholder="Add recipients">{{$item.name}}</ui-select-match>
                  <ui-select-choices group-by="groupUsers" repeat="user.id as user in userList | filter:$select.search">
                    <div ng-bind-html="user.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group text-editor wysiwyg-editor-new">
              <ng-quill-editor ng-model="$parent.reply.message" toolbar="true" link-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link" editor-required="true" required="" error-class="input-error"></ng-quill-editor>
            </div>
            <div class="row" ng-if="templates.length > 0 && currentPermissions.indexOf('messages.template.send') > -1">
              <div class="col-xs-12 col-md-6">
                <label>Or use template for your message</label>
                <select class="form-control"
                        ng-model="reply.template"
                        ng-change="useTemplate($event)">
                  <option value="-1" selected>Select template</option>
                  <option ng-repeat="option in templates" value="{{option.id}}">{{option.topic}}</option>
                </select>
              </div>
            </div>

            <!-- Attachments area -->
            <hr ng-if="uploader.queue.length > 0">
            <h5 ng-if="uploader.queue.length > 0"><span class="fa fa-paperclip fa-fw fa-lg"></span> Attachments {{ uploader.queue.length }}</h5>
            <ul class="list-unstyled row vertical-margin mail-attachments" ng-if="uploader.queue.length > 0">
              <li ng-repeat-start="item in uploader.queue" ng-class="{ 'text-danger' : item.isError }">
                <div class="row">
                  <div class="col-xs-6"><p class="bolder file-name">{{ item.file.name }}</p></div>
                  <div class="col-xs-5">
                    <div class="progress" ng-if="!item.isUploaded">
                      <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                        <span class="sr-only">{{ item.progress }}% Complete</span>
                      </div>
                    </div>
                    <p ng-if="item.isError">{{ item.msg }}</p>
                  </div>
                  <div class="col-xs-1">
                    <a href title="Remove" ng-click="removeFileId(item);item.cancel();" ng-if="item.isUploading"><span class="fa fa-remove"></span></a>
                    <a href title="Remove" ng-click="removeFileId(item);item.remove();" ng-if="!item.isUploading"><span class="fa fa-remove"></span></a>
                  </div>
                </div>
              </li>
              <div ng-repeat-end ng-if="($index + 1) % 4 == 0" class="clearfix"></div>
            </ul>

            <hr>
            <div class="pull-right">
              <label for="file" type="button" 
                      class="btn btn-primary btn-upload icon-standalone" 
                      ng-class="{ 'disabled' : replyFormSubmitted }" 
                      ng-if="currentPermissions.indexOf('messages.attachment.create') > -1">
                <i class="fa fa-upload"></i> <span>Upload Files</span>
                <input id="file" type="file" nv-file-select uploader="uploader" multiple />
              </label>
              <button type="submit" class="btn btn-danger btn-flat" ng-class="{ 'disabled' : replyFormSubmitted }">Send</button>
            </div>
            <button type="button" class="btn btn-default" ng-click="cancel($event)" ng-class="{ 'disabled' : replyFormSubmitted }">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <div ng-if="messages.length > 0" class="panel-footer clearfix">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>In this discussion:</p>
          <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">To</h4></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat-start="user in conversationUsers" ng-if="user.user_name && user.bcc != '1' && user.cc != '1'">
                  <div class="thumbnail user-thumbnail thumbnail--small">
                    <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="..." ng-if="!user.user_picture">
                    <img ng-src="{{ user.user_picture }}" alt="..." ng-if="user.user_picture">
                    <div class="caption">
                      <p>{{ user.user_name }}</p>
                    </div>
                  </div>
                </div>
                <div ng-repeat-end ng-if="($index + 1) % 3 == 0" class="clearfix"></div>
              </div>
            </div>
          </div>
          <div ng-if="conversationUsers.hasCC" class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">CC</h4></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat-start="user in conversationUsers" ng-if="user.user_name && user.cc == '1'">
                  <div class="thumbnail user-thumbnail thumbnail--small">
                    <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="..." ng-if="!user.user_picture">
                    <img ng-src="{{ user.user_picture }}" alt="..." ng-if="user.user_picture">
                    <div class="caption">
                      <p>{{ user.user_name }}</p>
                    </div>
                  </div>
                </div>
                <div ng-repeat-end ng-if="($index + 1) % 3 == 0" class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6" ng-if="fileIds.length > 0">
          <p>Files in this discussion:</p>
          <ul class="list-unstyled row vertical-margin" ng-if="fileIds.length > 0">
            <li ng-repeat-start="file in fileIds" class="col-xs-6 col-sm-4">
              <a ng-if="!isImage(files[file].ext)" ng-href="{{ files[file].url }}" href ng-class="{ 'not-image' : !isImage(files[file].ext) }" class="thumbnail" download>
                <div class="download">
                  <div><i class="fa fa-download"></i></div>
                </div>
                <ui-file-thumbnail item="files[file]"></ui-file-thumbnail>
              </a>
              <a ng-if="isImage(files[file].ext)" href title="{{ files[file].title }}" ng-click="displayImage(files[file])" class="thumbnail">
                <ui-file-thumbnail item="files[file]"></ui-file-thumbnail>
              </a>
              <p class="bolder file-name" ng-bind-html="files[file].title"></p>
            </li>
            <div ng-repeat-end ng-if="($index + 1) % 3 == 0" class="clearfix"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>