<div id="page-heading" class="clearfix page-heading">
  <h3 class="page-title mail-page-title"><span class="icon-settings"></span> Message Settings</h3>
</div>

<section class="container-fluid mailbox" ng-if="currentPermissions.indexOf('messages.group.getall') > -1 && currentPermissions.indexOf('messages.templateAny.get') > -1">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist" ui-tabs>
        <li class="active"><a href="#templates" role="tab" data-toggle="tab">Templates</a></li>
        <li><a href="#groups" role="tab" data-toggle="tab">Groups</a></li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body tab-content">
          <div id="templates" class="tab-pane active">
            <ui-view name="templates"></ui-view>
          </div>
          <div id="groups" class="tab-pane">
            <ui-view name="groups"></ui-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid mailbox" ng-if="currentPermissions.indexOf('messages.group.getall') > -1 && currentPermissions.indexOf('messages.templateAny.get') == -1">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist" ui-tabs>
        <li class="active"><a href="#groups" role="tab" data-toggle="tab">Groups</a></li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body tab-content">
          <div id="groups" class="tab-pane active">
            <ui-view name="groups"></ui-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid mailbox" ng-if="currentPermissions.indexOf('messages.group.getall') == -1 && currentPermissions.indexOf('messages.templateAny.get') > -1">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist" ui-tabs>
        <li class="active"><a href="#templates" role="tab" data-toggle="tab">Templates</a></li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body tab-content">
          <div id="templates" class="tab-pane active">
            <ui-view name="templates"></ui-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>