<aside role="navigation" id="mailaside" mb-scrollbar="scrollbarConfig">
  <a class="brand" href ui-sref="app.admin.profile.public" title="Debut UI Kit">
    <img src="/media/logo.png" alt="Debut UI Kit" class="large">
    <img src="/media/logo.png" alt="Debut UI Kit" class="small">
  </a>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="220px" height="180px" viewBox="0 0 220 180">
    <defs>
      <mask id="mask2" x="0" y="0" with="220px" height="140px">
        <path fill="#fff" d="M0,0 L220,0 L 220,140 C 165 130 55 130 0 140 Z"/>
      </mask>
      <mask id="mask3" x="0" y="0" width="230" height="230" maskUnits="userSpaceOnUse">
        <path fill="#FFFFFF" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
      </mask>
      <filter id="blur">
        <feGaussianBlur stdDeviation="2"/>
      </filter>
    </defs>
    <g style="filter:url(#blur);mask:url(#mask2);fill:#F4F2FB;">
      <image x="0" y="-30px" width="230" height="230" xlink:href="{{ profileImage }}" />
    </g>
    <g transform="translate(30,30)">
      <image x="0"  y="0" transform="scale(0.7)" style="fill:#F4F2FB;mask:url(#mask3)" width="230" height="230" xlink:href="{{ profileImage }}" />
    </g>
  </svg>

  <p class="owner-title">{{ me.fullName }}</p>

  <div class="new-mail">
    <button type="button" class="btn btn-success btn-flat btn-block" ui-sref=".new">
      <!-- <i class="fa fa-lock fa-lg"></i> -->
      <span>Create mail</span>
    </button>
  </div>

  <nav class="side-bar" ui-side-menu >
    <ul class="nav-menu">
      <li ng-repeat="categoryScope in categoryScopes" data-state="close">
        <a href ui-sref-active="active" conversation-scope="{{ categoryScope.topic }}" ui-sref=".category({ category: categoryScope.topic })" ng-if="!categoryScope.conversationId">
          <span>{{ categoryScope.topic | unslugify }}</span>
        </a>
        <a href ui-sref-active="active" conversation-scope="{{ categoryScope.topic }}" ui-sref=".category.read({ category: categoryScope.topic, id: categoryScope.conversationId })" ng-if="categoryScope.conversationId">
          <span>{{ categoryScope.topic | unslugify }}</span>
        </a>
      </li>
      <li>
        <a href ui-sref-active="active" ui-sref=".template" class="icon-folder">
          <span>Message Template</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>