<div class="panel panel-default">
  <div class="panel-heading mail-list-options clearfix text-center">
    <label class="btn-check pull-left">
      <input type="checkbox" ng-click="toggleAll()" ng-value="true">
      <span></span>
    </label>
    <div class="btn-group pull-right">
      <a href class="btn btn-default btn-xs"><span class="fa fa-angle-left fa-fw"></span></a>
      <a href class="btn btn-default btn-xs"><span class="fa fa-angle-right fa-fw"></span></a>
    </div>
    <div class="pull-right mail-pagi">
      <small class="bolder">1 - 50</small>
      <small>from</small>
      <small class="bolder">2400</small>
      <small>messages</small>
    </div>
  </div>
  <div class="panel-body no-padding">
    <ul class="mail-list">
      <li ng-repeat="mail in mails" ui-sref-active="active">
        <label class="btn-check pull-left">
          <input type="checkbox" ng-model="mail.check" ng-value="true">
          <span></span>
        </label>
        <div class="time-fav">
          <a href class="fav text-center"><span class="icon-star icon-lg"></span></a>
          <span class="text-center">{{ mail.date | date:'dd.MM' }}</span>
        </div>
        <div class="attachment hidden-xs">
          <span class="fa fa-paperclip fa-fw fa-lg fa-rotate-90" ng-if="mail.files"></span>
        </div>
        <a href ui-sref="app.mail.inbox.read({ id: mail.id })" class="title">
          <h6>{{ mail.title }} <span ng-if="mail.tag" class="label label-{{ mail.tag.type }}">{{ mail.tag.name }}</span> </h6>
          <small class="short">{{ mail.content | stripTags | limitTo:short }}...</small>
        </a>
      </li>
    </ul>
  </div>
  <div class="panel-footer clearfix">
    <div class="btn-group pull-right">
      <a href class="btn btn-default btn-xs"><span class="fa fa-angle-left fa-fw"></span></a>
      <a href class="btn btn-default btn-xs"><span class="fa fa-angle-right fa-fw"></span></a>
    </div>
    <div class="pull-right mail-pagi">
      <small class="bolder">1 - 50</small>
      <small>from</small>
      <small class="bolder">2400</small>
      <small>messages</small>
    </div>
  </div>
</div>