<div ng-if="isListing">
  <div class="form-group pull-right">
    <button class="btn btn-primary icon-standalone" 
            ng-click="editTemplate(-1)"
            ng-if="currentPermissions.indexOf('messages.template.create') > -1">
      <i class="fa fa-plus"></i>
      <span>Add</span>
    </button>
  </div>
  <table ng-table="templateTable" class="table ng-table-responsive table-hover">
    <tr ng-repeat="item in $data">
      <td data-title="'Topic'" sortable="'topic'">{{ item.topic }}</td>
      <td data-title="'Content'" ng-bind-html="item.text"></td>
      <td data-title="'Options'">
        <!--<a href ng-click="editTemplate(item)" class="option-icon"><span class="fa fa-edit"></span></a>-->
        <a href 
            ng-if="currentPermissions.indexOf('messages.templateAny.edit') > -1 || currentPermissions.indexOf('messages.templateOwn.edit') > -1" 
            ng-click="editTemplate(item.id)" 
            class="option-icon"><span class="fa fa-edit"></span></a>
        <a href 
            ng-if="currentPermissions.indexOf('messages.templateAny.delete') > -1 || currentPermissions.indexOf('messages.templateOwn.delete') > -1" 
            ng-click="deleteTemplate(item.id)" 
            ng-confirm-click="Are you sure you want to delete this template?" 
            class="option-icon"><span class="fa fa-trash"></span></a>
      </td>
    </tr>
  </table>
  <div class="" ng-if="templates.length == 0">No templates yet.</div>
</div>
<div class="row" ng-if="!isListing">
  <div class="col-xs-12 col-md-9">
    <h4>{{ title }}</h4>
    <br />
    <form name="templateForm" novalidate ng-submit="submitTemplateForm(templateForm)" ng-class="{ 'form-processing' : templateFormSubmitted }" class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-lg-2 col-md-2 col-sm-2 control-label">Subject</label>
        <div class="col-lg-10 col-md-10 col-sm-10" ng-class="{ 'has-error': templateForm.messageSubject.$error.required && templateForm.$submitted }">
          <input name="messageSubject" type="text" ng-model="$parent.template.subject" placeholder="Add subject" class="form-control" required data-trigger="hover" data-placement="right" data-title="This field is required" bs-tooltip>
        </div>
      </div>
      <div data-trigger="hover" data-placement="right" data-title="This field is required" bs-tooltip>
        <ng-quill-editor ng-model="$parent.template.message" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" required="" error-class="input-error"></ng-quill-editor>
      </div>
      <hr />
      <div class="pull-right">
        <button type="submit" class="btn btn-danger btn-flat" ng-class="{ 'disabled' : templateFormSubmitted }">Save</button>
      </div>
      <button type="button" class="btn btn-default" ng-click="cancelEdit()" ng-class="{ 'disabled' : templateFormSubmitted }">Cancel</button>
      <input type="hidden" ng-model="template.id" name="templateId" >
    </form>
  </div>
</div>
