<main class="page error">
  <section class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>404</h1>
        <small>Wrong address, dumpass!</small>
        <button ui-sref="app.admin.dashboard" class="btn btn-success btn-lg">Back to homepage</button>
      </div>
    </div>
  </section>
</main>
