<div class="page loading no-animate">
  <div class="slice1"></div>
  <div class="slice2"></div>
  <div class="logo">
    <div class="center">
      <img src="/media/logo-loading.png"/>
    </div>
  </div>
</div>
