<main class="lock page">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="text-center">
          <img src="/media/logo.png" alt="Logotype">
        </h1>
      </div>
    </div>


    <svg version="1.1" id="avatar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230.668px" height="228.666px" viewBox="0 0 230.668 228.666" enable-background="new 0 0 230.668 228.666" xml:space="preserve" class="hidden-xs animated pulse">
      <defs>
        <mask id="mask1" x="0" y="0" width="200" height="200">
          <path fill="#FFFFFF" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
        </mask>
      </defs>

      <a xlink:href="http://google.pl/">
        <image x="0" y="10" width="230" height="230"  xlink:href="/assets/img/avatar/avatar200.png" style="mask:url(#mask1);fill:#F4F2FB;" />
      </a>
      <g>
        <path fill="#FFFFFF" d="M116.128,19.572c5.27,2.409,22.242,15.56,49.901,43.779c23.378,23.852,38.753,42.554,42.787,49.235
          c-3.956,6.25-18.6,23.593-43.896,48.868c-25.187,25.167-42.496,39.793-48.803,43.823c-6.436-3.999-24.206-18.657-49.001-43.113
          c-27.674-27.295-41.03-44.065-43.919-49.563c2.983-5.978,17.438-24.394,42.817-49.953C92.23,36.246,110.426,22.07,116.128,19.572
           M116.166,10.333c-14.834,0-102.333,89-102.333,102.333C13.833,126,105.667,215,116.167,215S218.5,123.333,218.5,112.666
          C218.5,102,131,10.333,116.166,10.333L116.166,10.333z"/>
      </g>
      <g>
        <path fill="#FFFFFF" fill-opacity="0.6" d="M116.204,224.624c-6.261,0-35.396-25.9-59.816-49.964c-23.58-23.236-51.116-53.146-51.116-60.968
          c0-7.706,25.585-37.003,49.357-60.963c22.87-23.05,52.718-49.968,61.573-49.968c8.57,0,37.428,26.371,61.576,51.049
          c24.527,25.065,49.356,53.682,49.356,59.881c0,6.09-25.672,34.466-51.113,59.886C150.593,198.986,122.234,224.624,116.204,224.624z
           M116.203,3.761c-8,0-36.333,24.948-60.863,49.672C26.908,82.089,6.272,107.432,6.272,113.692c0,6.088,20.422,30.303,50.817,60.255
          c28.74,28.32,54.153,49.676,59.114,49.676c11.301,0,109.932-98.63,109.932-109.932c0-5.151-21.096-30.593-49.07-59.182
          C146.898,23.681,123.008,3.761,116.203,3.761z" />
      </g>
    </svg>

    <div class="row input-bar">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div class="form-group">
          <span class="present-name">John Smith</span>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs"></div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div class="input-group">
          <input type="text" class="form-control input-lg" placeholder="Password">
          <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="button"><span class="text-success fa fa-angle-right"></span></button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <a href=""><span class="fa fa-power-off"></span> Log out</a>
      </div>
    </div>
  </div>
</main>