<main class="page login">
  <section class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
          <h1 class="text-center">
            <img src="/media/logo-login.png" alt="Logotype">
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel" ng-if="isLogin">
          <div class="panel-heading text-center">
            <h3>Log in</h3>
          </div>
          <form class="panel-body" ng-submit="login()">
            <div class="form-group">
              <div class="input-group plain-addon">
                <div class="input-group-addon"><span class="fa icon-user fa-fw"></span></div>
                <input type="text" class="form-control" placeholder="Enter username" ng-model="credentials.username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group plain-addon">
                <div class="input-group-addon"><span class="fa fa-unlock-alt fa-fw"></span></div>
                <input type="password" class="form-control" placeholder="Enter password"
                       ng-model="credentials.password">
              </div>
            </div>
            <div class="row">
              <div class="recover-links col-sm-12">
                <a href ui-sref="app.recoverUsername">Forgot your username</a> or <a href ui-sref="app.forgotpassword">password</a>?
              </div>
              <div class="register-link col-sm-12"><span class="pull-left">Don't have an account? <a href ui-sref="app.register">Register
                now</a></span><button type="submit" class="btn btn-success pull-right">Log in</button></div>

            </div>
          </form>
        </div>
        <div class="panel" ng-if="isForgotPassword">
          <div class="panel-heading text-center">
            <h3>Reset password</h3>
          </div>
          <form name="sendEmailForm" class="panel-body" ng-submit="sendEmail(sendEmailForm)">
            <div class="form-group">
              <div class="input-group plain-addon"
                   ng-class="{ 'has-error': sendEmailForm.username.$error.required && (sendEmailForm.$submitted || sendEmailForm.username.$dirty) }">
                <div class="input-group-addon"><span class="fa icon-user fa-fw"></span></div>
                <input name="username" type="text" class="form-control" placeholder="Enter username"
                       ng-model="credentials.username" required>
              </div>
            </div>
            <a href ui-sref="app.login" class="btn btn-link">Log in</a>
            <button ng-disabled="!credentials.username" type="submit" class="btn btn-success pull-right">Send</button>
          </form>
        </div>
        <div class="panel" ng-if="isRecoverUsername">
          <div class="panel-heading text-center">
            <h3>Recover username</h3>
          </div>
          <form name="recoverUsernameForm" class="panel-body" ng-submit="recoverUsername(recoverUsernameForm)">
            <div class="form-group">
              <div class="input-group plain-addon"
                   ng-class="{ 'has-error': (recoverUsernameForm.email.$error.required || recoverUsernameForm.email.$error.email) && (recoverUsernameForm.$submitted || recoverUsernameForm.email.$dirty) }">
                <div class="input-group-addon"><span class="fa fa-envelope-o fa-fw"></span></div>
                <input name="email" type="email" class="form-control" placeholder="Enter email address"
                       ng-model="credentials.email" ng-required="true">
              </div>
            </div>
            <a href ui-sref="app.login" class="btn btn-link">Log in</a>
            <button ng-disabled="!credentials.email" type="submit" class="btn btn-success pull-right">Send</button>
          </form>
        </div>
        <div class="panel" ng-if="isResetPassword">
          <div class="panel-heading text-center">
            <h3>Reset password</h3>
          </div>
          <form name="passwordResetForm" class="panel-body" ng-submit="resetPassword(passwordResetForm)">
            <div class="form-group">
              <div class="input-group plain-addon"
                   ng-class="{ 'has-error': passwordResetForm.password.$error.required && passwordResetForm.password.$dirty }">
                <div class="input-group-addon"><span class="fa fa-unlock-alt fa-fw"></span></div>
                <input name="password" type="text" class="form-control" placeholder="Enter new password"
                       ng-model="credentials.password" ng-required="true">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group plain-addon"
                   ng-class="{ 'has-error': (credentials.password != credentials.confirmPassword) || (passwordResetForm.confirmPassword.$error.required && passwordResetForm.confirmPassword.$dirty) }">
                <div class="input-group-addon"><span class="fa fa-unlock-alt fa-fw"></span></div>
                <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm new password"
                       ng-model="credentials.confirmPassword" ng-required="true">
              </div>
            </div>
            <a href ui-sref="app.login" class="btn btn-link">Log in</a>
            <button
              ng-disabled="(credentials.password != credentials.confirmPassword) || (!credentials.password && !credentials.confirmPassword)"
              type="submit" class="btn btn-success pull-right">Reset
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
