<main class="page register">
  <div class="container">
    <div class="row logo">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="text-center form-group">
          <img src="/media/logo.png" alt="Logotype">
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel">
          <div class="panel-heading">
            <div>
              <h3>Register</h3>
            </div>
          </div>
          <div class="panel-body">
            <p>
              Complete the registration form below to create an account for the Aberdeen Online Admissions Portal.
            </p>
            <p>
              Registering will give you instant access to the Admissions Portal where a dedicated Admissions Advisor will guide you through the admissions process. Your Admissions Advisor can advise you on what to include in your application and answer any questions you may have about studying with Aberdeen Online.
            </p>
            <section class="container-fluid">
              <form class="row" ng-submit="register.register()">
                <div class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <input type="text" class="form-control" required placeholder="First name" ng-model="register.registerData.firstName">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" required placeholder="Last name" ng-model="register.registerData.lastName">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" required placeholder="Email" ng-model="register.registerData.email">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" required placeholder="Contact Number" ng-model="register.registerData.mobile">
                  </div>
                  <div class="form-group">
                    <select class="form-control"
                            required
                            ng-model="register.registerData.country"
                            ng-options="key as value for (key , value) in register.countries">
                      <option value="" selected>Country</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" required placeholder="Username" ng-model="register.registerData.username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" required placeholder="Password" ng-model="register.registerData.password">
                  </div>
                </div>
                <div class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label>Preferred Programme</label>
                    <select class="form-control" ng-init="register.registerData.preferred_programme='MBA'" ng-model="register.registerData.preferred_programme">
                      <option selected value="MBA">MBA</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Preferred Start Date</label>
                    <select class="form-control" ng-init="register.registerData.preferred_start_date='January'" ng-model="register.registerData.preferred_start_date">
                      <option selected value="January">January</option>
                      <option value="July">July</option>
                      <option value="Not within the next year">Not within the next year</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Preferred Mode of Study</label>
                    <select class="form-control" ng-init="register.registerData.preferred_mode='Part time'" ng-model="register.registerData.preferred_mode">
                      <option selected value="Part time">Part time</option>
                    </select>
                  </div>
                  <input type="hidden" name="recordType" id="recordType" value="012D0000000BfWr">
                  <input type="hidden" name="IDI_website_source__c" id="IDI_website_source__c" value="Applying">
                  <button type="submit" ng-disabled="register.disableButton" class="btn btn-success btn-flat pull-right">Submit</button>
                </div>
              </form>
            </section>
          </div>
          <div class="panel-footer">
            <span class="text-center">Already have an account? <a href ui-sref="app.login" class="text-success">Log in here</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
