<div id="page-heading">
  <h3 class="page-title">C3</h3>
</div>

<section class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <article class="panel panel-default">
        <header class="panel-heading">Bar chart</header>
        <section class="panel-body">
          <div ui-charts="chartDemo1"></div>
        </section>
      </article>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <article class="panel panel-default">
        <header class="panel-heading">Line chart</header>
        <section class="panel-body">
          <div ui-charts="chartDemo2"></div>
        </section>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <article class="panel panel-default">
        <header class="panel-heading">Step chart</header>
        <section class="panel-body">
          <div ui-charts="chartDemo4"></div>
        </section>
      </article>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <article class="panel panel-default">
        <header class="panel-heading">Spline chart</header>
        <section class="panel-body">
          <div ui-charts="chartDemo3"></div>
        </section>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <article class="panel panel-default">
        <header class="panel-heading">Area spline chart</header>
        <section class="panel-body">
          <div ui-charts="chartDemo5"></div>
        </section>
      </article>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <article class="panel panel-default">
        <header class="panel-heading">Pie chart</header>
        <section class="panel-body">
          <div ui-charts="chartDemo6"></div>
        </section>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <article class="panel panel-default">
        <header class="panel-heading">Donut chart</header>
        <section class="panel-body">
          <div ui-charts="chartDemo7"></div>
        </section>
      </article>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <article class="panel panel-default">
        <header class="panel-heading">Gague chart</header>
        <section class="panel-body">
          <div ui-charts="chartDemo8"></div>
        </section>
      </article>
    </div>
  </div>
</section>