<div id="page-heading">
	<h3 class="page-title">Widget</h3>
</div>

<section class="container-fluid">

	<div class="row">
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="publisher widget widget-lg">
				<div class="widget-heading bg-success">
					<p class="title">Webarch <strong>UI Bundle</strong><br>highly customizable<br><strong>UI elements</strong></p>
					<a href class="hashtag">#text</a>
				</div>
				<div class="widget-body">
					<div class="row">
						<div class="col-xlg-5 col-lg-5 col-md-5 col-sm-4 col-xs-4 text-center title">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230px" height="230px" viewBox="0 0 230 230">
								<defs>
									<mask id="mask1" x="0" y="0" width="200" height="200">
										<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
									</mask>
								</defs>
								<g>
									<image x="0" y="10" width="230" height="230" xlink:href="/assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									<path fill="#fff" d="M116.128,19.572c5.27,2.409,22.242,15.56,49.901,43.779c23.378,23.852,38.753,42.554,42.787,49.235
										c-3.956,6.25-18.6,23.593-43.896,48.868c-25.187,25.167-42.496,39.793-48.803,43.823c-6.436-3.999-24.206-18.657-49.001-43.113
										c-27.674-27.295-41.03-44.065-43.919-49.563c2.983-5.978,17.438-24.394,42.817-49.953C92.23,36.246,110.426,22.07,116.128,19.572
										 M116.166,10.333c-14.834,0-102.333,89-102.333,102.333C13.833,126,105.667,215,116.167,215S218.5,123.333,218.5,112.666
										C218.5,102,131,10.333,116.166,10.333L116.166,10.333z" stroke-width="2" stroke="#fff" />
								</g>
							</svg>
							<h4 class="text-info">John Smith</h4>
							<span class="text-muted"><span class="fa fa-clock-o"></span> 14.05.2014 12:20</span>
						</div>
						<div class="col-xlg-7 col-lg-7 col-md-7 col-sm-8 col-xs-8 content">
							<span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae unde sapiente.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="publisher widget widget-lg">
				<div class="widget-heading" style="background-image:url('/assets/img/avatar/avatar.jpg')">
					<a href class="hashtag">#creative</a>
				</div>
				<div class="widget-body">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-4 col-xs-4 text-center title">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230px" height="230px" viewBox="0 0 230 230">
								<defs>
									<mask id="mask1" x="0" y="0" width="200" height="200">
										<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
									</mask>
								</defs>
								<g>
									<image x="0" y="10" width="230" height="230" xlink:href="/assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									<path fill="#fff" d="M116.128,19.572c5.27,2.409,22.242,15.56,49.901,43.779c23.378,23.852,38.753,42.554,42.787,49.235
										c-3.956,6.25-18.6,23.593-43.896,48.868c-25.187,25.167-42.496,39.793-48.803,43.823c-6.436-3.999-24.206-18.657-49.001-43.113
										c-27.674-27.295-41.03-44.065-43.919-49.563c2.983-5.978,17.438-24.394,42.817-49.953C92.23,36.246,110.426,22.07,116.128,19.572
										 M116.166,10.333c-14.834,0-102.333,89-102.333,102.333C13.833,126,105.667,215,116.167,215S218.5,123.333,218.5,112.666
										C218.5,102,131,10.333,116.166,10.333L116.166,10.333z" stroke-width="2" stroke="#fff" />
								</g>
							</svg>
							<h4 class="text-info">John Smith</h4>
							<p class="text-muted"><span class="fa fa-clock-o"></span> 14.05.2014 12:20</p>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-8 col-xs-8 content">
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae unde sapiente ...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="weather widget widget-lg">
				<div class="widget-heading">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 text-right">
							<span class="icon icon-weather-day-sunny icon-fw icon-6x"></span>
						</div>
						<div class="col-lg-8 col-md-6 col-sm-8 col-xs-6 text-left">
							<h1 class="deg">16&deg;C</h1>
							<p class="location">Monday | London, UK</p>
						</div>
					</div>
				</div>
				<div class="widget-body">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
							<p class="weekday-name">Tue</p>
							<span class="icon icon-fw icon-2x icon-weather-day-cloudy"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Wen</p>
							<span class="icon icon-fw icon-2x icon-weather-day-lightning"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Thu</p>
							<span class="icon icon-fw icon-2x icon-weather-day-rain"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Fri</p>
							<span class="icon icon-fw icon-2x icon-weather-day-sunny"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Sat</p>
							<span class="icon icon-fw icon-2x icon-weather-day-sunny-overcast"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Sun</p>
							<span class="icon icon-fw icon-2x icon-weather-day-sunny-overcast"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="tasks widget widget-lg panel">
				<div class="panel-heading">My tasks</div>
				<div class="panel-body">
					<div class="task-input">
						<input type="text" class="task-input" placeholder="Add task here ...">
						<a href class="icon fa fa-plus fa-fw"></a>
					</div>
					<ul class="task-list" mb-scrollbar="scrollbarConfigInner">
						<li ng-class="{ done: done }">
							<div class="handler fa fa-fw fa-ellipsis-v">
							</div>
							<div class="title">
								<label class="btn-check">
									<input type="checkbox" ng-model="done">
									<span>Some sample text for checkbox</span>
								</label>
							</div>
							<div class="actions text-right">
								<a href="" class="fa fa-pencil fa-fw"></a>
								<a href="" class="fa fa-times fa-fw"></a>
							</div>
						</li>
						<li>
							<div class="handler fa fa-fw fa-ellipsis-v">
							</div>
							<div class="title">
								<label class="btn-check">
									<input type="checkbox">
									<span>Some sample text for checkbox</span>
								</label>
							</div>
							<div class="actions text-right">
								<a href="" class="fa fa-pencil fa-fw"></a>
								<a href="" class="fa fa-times fa-fw"></a>
							</div>
						</li>
						<li>
							<div class="handler fa fa-fw fa-ellipsis-v">
							</div>
							<div class="title">
								<label class="btn-check">
									<input type="checkbox">
									<span>Some sample text for checkbox</span>
								</label>
							</div>
							<div class="actions text-right">
								<a href="" class="fa fa-pencil fa-fw"></a>
								<a href="" class="fa fa-times fa-fw"></a>
							</div>
						</li>
						<li>
							<div class="handler fa fa-fw fa-ellipsis-v">
							</div>
							<div class="title">
								<label class="btn-check">
									<input type="checkbox">
									<span>Some sample text for checkbox</span>
								</label>
							</div>
							<div class="actions text-right">
								<a href="" class="fa fa-pencil fa-fw"></a>
								<a href="" class="fa fa-times fa-fw"></a>
							</div>
						</li>
						<li>
							<div class="handler fa fa-fw fa-ellipsis-v">
							</div>
							<div class="title">
								<label class="btn-check">
									<input type="checkbox">
									<span>Some sample text for checkbox</span>
								</label>
							</div>
							<div class="actions text-right">
								<a href="" class="fa fa-pencil fa-fw"></a>
								<a href="" class="fa fa-times fa-fw"></a>
							</div>
						</li>
						<li>
							<div class="handler fa fa-fw fa-ellipsis-v">
							</div>
							<div class="title">
								<label class="btn-check">
									<input type="checkbox">
									<span>Some sample text for checkbox</span>
								</label>
							</div>
							<div class="actions text-right">
								<a href="" class="fa fa-pencil fa-fw"></a>
								<a href="" class="fa fa-times fa-fw"></a>
							</div>
						</li>
						<li>
							<div class="handler fa fa-fw fa-ellipsis-v">
							</div>
							<div class="title">
								<label class="btn-check">
									<input type="checkbox">
									<span>Some sample text for checkbox</span>
								</label>
							</div>
							<div class="actions text-right">
								<a href="" class="fa fa-pencil fa-fw"></a>
								<a href="" class="fa fa-times fa-fw"></a>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<a href class="text-blocked">View all tasks</a>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="widget profile widget-lg">
				<div class="widget-heading">
					<p class="title">John Peter Smith</p>
					<small class="subtitle">Developer, programmer</small>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230px" height="230px" viewBox="0 0 230 230">
						<defs>
							<mask id="mask1" x="0" y="0" width="200" height="200">
								<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
							</mask>
						</defs>
						<g>
							<image x="0" y="10" width="230" height="230" xlink:href="/assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
							<path fill="#fff" d="M116.128,19.572c5.27,2.409,22.242,15.56,49.901,43.779c23.378,23.852,38.753,42.554,42.787,49.235
								c-3.956,6.25-18.6,23.593-43.896,48.868c-25.187,25.167-42.496,39.793-48.803,43.823c-6.436-3.999-24.206-18.657-49.001-43.113
								c-27.674-27.295-41.03-44.065-43.919-49.563c2.983-5.978,17.438-24.394,42.817-49.953C92.23,36.246,110.426,22.07,116.128,19.572
								 M116.166,10.333c-14.834,0-102.333,89-102.333,102.333C13.833,126,105.667,215,116.167,215S218.5,123.333,218.5,112.666
								C218.5,102,131,10.333,116.166,10.333L116.166,10.333z" stroke-width="2" stroke="#fff" />
						</g>
					</svg>
				</div>
				<div class="widget-body">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<p class="text-primary bolder counter" duration="4" count-to="679">{{ output }}</p>
							<span class="title">Tweets</span>
						</div>
						<div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
							<p class="text-primary bolder counter" duration="3" count-to="1679">{{ output }}</p>
							<span class="title">Commnets</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<div class="info-box widget bg-success">
						<span class="icon fa fa-comment-o fa-5x"></span>
						<div class="widget-body">
							<p class="counter text-info" duration="8" count-to="679" count-from="100">{{ output }}</p>
							<span class="info-text">Comments</span>
							<span class="subinfo-text">New comments today</span>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
					<div class="info-box widget bg-info">
						<span class="icon fa fa-image fa-5x"></span>
						<div class="widget-body">
							<p class="counter text-success" duration="8" count-to="679" count-from="0">{{ output }}</p>
							<span class="info-text">Comments</span>
							<span class="subinfo-text">New comments today</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="widget tasks widget-lg">
				<div class="widget-heading">
					<h3 class="title">Project name</h3>
					<small>Subtitle project descriptions</small>

					<a href class="btn-left fa fa-angle-left fa-fw fa-3x"></a>
					<a href class="btn-right fa fa-angle-right fa-fw fa-3x"></a>
				</div>
				<div class="widget-body">
					<div class="row" count-to="64" duration="8">
						<div class="col-xlg-10 col-lg-10 col-md-9 col-sm-10 col-xs-8">
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width: {{ output }}%;">
									<span class="sr-only">{{ output }}% Complete</span>
								</div>
							</div>
						</div>
						<div class="col-xlg-2 col-lg-2 col-md-3 col-sm-2 col-xs-4 text-center">
							<span class="percent">{{ output }}%</span>
						</div>
					</div>
				</div>
				<div class="widget-footer">
					<ul>
						<li>
							<label class="btn-check">
								<input type="checkbox">
								<span></span>
							</label>
						</li>
						<li>9:30</li>
						<li>
							<p class="text-blocked bolder">Make coffee and get things done!</p>
							<span>Send specification to the agency</span>
						</li>
						<li><a href class="icon-star icon-2x"></a></li>
					</ul>
				</div>
				<a href="" class="view-all">View all tasks</a>
			</div>
		</div>
		<div class="col-xlg-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<div class="radiofm widget widget-lg">
				<div class="widget-heading bg-success">
					<h2 class="title">BBC Radio</h2>
					<p class="subtitle">102.20 FM</p>
					<div class="bars">
						<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
					</div>
					<a href="" class="play"><span class="fa fa-play fa-2x text-success"></span></a>

					<a href="" class="btn-nav-left"><span class="fa fa-angle-left fa-2x"></span></a>
					<a href="" class="btn-nav-right"><span class="fa fa-angle-right fa-2x"></span></a>
				</div>
				<div class="widget-body">
					<svg width="100%" height="20px" xmlns="http://www.w3.org/2000/svg" class="ruler">
						<defs>
							<pattern id="bar" width="6px" height="10px" patternUnits="userSpaceOnUse">
								<rect width="2px" height="10px" fill="#eee"></rect>
							</pattern>
							<pattern id="ruler" width="60px" height="20px" patternUnits="userSpaceOnUse">
								<rect x="0" y="0" width="2px" height="20px" fill="#eee"></rect>
								<rect x="6px" y="0" width="54px" height="10px" fill="url(#bar)"></rect>
							</pattern>
						</defs>
						<rect width="100%" height="20px" fill="url(#ruler)"></rect>
						<line x1="0" y1="0" x2="100%" y2="0" stroke-width="3" stroke="#eee"></line>
					</svg>
					<div class="ruler-cord">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">90</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">100</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">110</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">120</div>
						</div>
					</div>
				</div>
				<div class="widget-footer clearfix">
					<a href class="icon-volume2 icon-lg"></a>
					<a href class="icon-gear icon-lg pull-right"></a>
				</div>
			</div>
		</div>
		<div class="col-xlg-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<div class="radiofm widget widget-lg">
				<div class="widget-heading bg-info">
					<h2 class="title">BBC Radio</h2>
					<p class="subtitle">102.20 FM</p>
					<div class="bars active">
						<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
					</div>
					<a href="" class="play"><span class="fa fa-pause fa-2x text-info"></span></a>
					<a href="" class="btn-nav-left"><span class="fa fa-angle-left fa-2x"></span></a>
					<a href="" class="btn-nav-right"><span class="fa fa-angle-right fa-2x"></span></a>
				</div>
				<div class="widget-body">				
					<svg width="100%" height="20px" xmlns="http://www.w3.org/2000/svg" class="ruler">
						<defs>
							<pattern id="bar" width="6px" height="10px" patternUnits="userSpaceOnUse">
								<rect width="2px" height="10px" fill="#eee"></rect>
							</pattern>
							<pattern id="ruler" width="60px" height="20px" patternUnits="userSpaceOnUse">
								<rect x="0" y="0" width="2px" height="20px" fill="#eee"></rect>
								<rect x="6px" y="0" width="54px" height="10px" fill="url(#bar)"></rect>
							</pattern>
						</defs>
						<rect width="100%" height="20px" fill="url(#ruler)"></rect>
						<line x1="0" y1="0" x2="100%" y2="0" stroke-width="3" stroke="#eee"></line>
					</svg>
					<div class="ruler-cord">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">90</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">100</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">110</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">120</div>
						</div>
					</div>
				</div>
				<div class="widget-footer">
					<a href class="icon-volume2 icon-lg"></a>
					<a href class="icon-gear icon-lg pull-right"></a>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="timeline widget widget-lg">
				<div class="widget-body">
					<ul class="events">
						<li>
							<div class="time text-center event-success">5 min ago</div>
							<div class="avatar text-center">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 230 230">
									<defs>
										<mask id="mask1" x="0" y="0" width="200" height="200">
											<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
										</mask>
									</defs>
									<g>
										<image x="0" y="10" width="230" height="230" xlink:href="/assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									</g>
								</svg>
							</div>
							<div class="content">
								<p class="title bolder text-blocked">User John Smith has checked in London, UK</p>
								<span class="subtitle">Buckingham Palace, London, UK</span>
							</div>
						</li>
						<li>
							<div class="time text-center event-info">5 min ago</div>
							<div class="avatar text-center">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 230 230">
									<defs>
										<mask id="mask1" x="0" y="0" width="200" height="200">
											<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
										</mask>
									</defs>
									<g>
										<image x="0" y="10" width="230" height="230" xlink:href="/assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									</g>
								</svg>
							</div>
							<div class="content">
								<p class="title bolder text-blocked">User John Smith has checked in London, UK</p>
								<span class="subtitle">Buckingham Palace, London, UK</span>
							</div>
						</li>
						<li>
							<div class="time text-center event-danger">5 min ago</div>
							<div class="avatar text-center">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 230 230">
									<defs>
										<mask id="mask1" x="0" y="0" width="200" height="200">
											<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
										</mask>
									</defs>
									<g>
										<image x="0" y="10" width="230" height="230" xlink:href="/assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									</g>
								</svg>
							</div>
							<div class="content">
								<p class="title bolder text-blocked">User John Smith has checked in London, UK</p>
								<span class="subtitle">Buckingham Palace, London, UK</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="widget-footer">
					<a href="" class="view-all">View all events in timeline</a>
				</div>
			</div>
		</div>

		<div class="col-xlg-5 col-lg-6 col-md-6 col-sm-7 col-xs-12">
			<div class="calendar-full widget widget-lg">
				<div class="widget-body">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden-xs hidden-md hidden-sm">
							<span class="title">14</span>
							<span class="subtitle">Wednesday</span>
						</div>
						<table class="col-lg-8 col-md-12 col-sm-12 col-xs-12 calendar-content">
							<thead>
								<tr>
									<th>
										<a href="" class="btn btn-link pull-left"><span class="fa fa-angle-left fa-lg"></span></a>
									</th>
									<th colspan="5">
										<a href class="month-name">January 2015</a>
									</th>
									<th>
										<a href="" class="btn btn-link pull-right"><span class="fa fa-angle-right fa-lg"></span></a>
									</th>
								</tr>
								<tr class="days"><th>Mon</th><th>Tue</th><th>Wen</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href>29</a></td>
									<td><a href>30</a></td>
									<td><a href>31</a></td>
									<td><a href class="day">1</a></td>
									<td><a href class="day">2</a></td>
									<td><a href class="day">3</a></td>
									<td><a href class="day">4</a></td>
								</tr>
								<tr>
									<td><a href class="day">5</a></td>
									<td><a href class="day">6</a></td>
									<td><a href class="day">7</a></td>
									<td><a href class="day">8</a></td>
									<td><a href class="day">9</a></td>
									<td><a href class="day">10</a></td>
									<td><a href class="day">11</a></td>
								</tr>
								<tr>
									<td><a href class="day">12</a></td>
									<td><a href class="day">13</a></td>
									<td><a href class="day active">14</a></td>
									<td><a href class="day">15</a></td>
									<td><a href class="day">16</a></td>
									<td><a href class="day">17</a></td>
									<td><a href class="day">18</a></td>
								</tr>
								<tr>
									<td><a href class="day">19</a></td>
									<td><a href class="day">20</a></td>
									<td><a href class="day">21</a></td>
									<td><a href class="day">22</a></td>
									<td><a href class="day">23</a></td>
									<td><a href class="day">24</a></td>
									<td><a href class="day">25</a></td>
								</tr>
								<tr>
									<td><a href class="day">26</a></td>
									<td><a href class="day">27</a></td>
									<td><a href class="day">28</a></td>
									<td><a href class="day">29</a></td>
									<td><a href class="day">30</a></td>
									<td><a href class="day">31</a></td>
									<td><a href>1</a></td>
								</tr>
								<tr>
									<td><a href>2</a></td>
									<td><a href>3</a></td>
									<td><a href>4</a></td>
									<td><a href>5</a></td>
									<td><a href>6</a></td>
									<td><a href>7</a></td>
									<td><a href>8</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-3 col-lg-3 col-md-6 col-sm-5 col-xs-12">
			<div class="calendar-daily widget widget-lg">
				<div class="widget-heading">
					<p class="title">2</p>
					<span class="subtitle">Monday</span>
				</div>
				<div class="widget-body"><span>January 2015</span></div>
				<div class="widget-footer">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="fa fa-angle-left fa-2x text-success"></a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="day active">2</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="day ">3</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="day ">4</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="day ">5</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="fa fa-angle-right fa-2x text-success"></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-3 col-md-6 col-sm-5 col-xs-12">
			<div class="weather-daily widget widget-lg">
				<div class="widget-heading">
					<p class="title">Monday</p>
					<span class="subtitle">2 January</span>

					<a href class="btn-left"><span class="fa fa-angle-left fa-3x"></span></a>
					<a href class="btn-right"><span class="fa fa-angle-right fa-3x"></span></a>
				</div>
				<div class="widget-body">
					<div class="bg">
						<p class="icon icon-weather-day-cloudy icon-6x icon-fw"></p>
						<div class="deg">
							<span class="fa fa-moon-o"></span> 6&deg;C
							<span class="fa fa-sun-o"></span> 12&deg;C
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-8 col-lg-6 col-md-6 col-sm-7 col-xs-12">
			<div class="video widget widget-lg" ng-video ng-model="interface">
				<div class="widget-heading">
					<video vi-screen></video>
				</div>
				<div class="widget-body">
					<section vi-controls class="controls">
						<a href="" class="fa fa-backward"></a>
		                <a vi-controls-play title="Play" class="fa fa-play"></a>
		                <a href="" class="fa fa-forward"></a>
		            </section>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-2 col-lg-3 col-md-3 col-sm-3 col-xs-6">
			<a href class="social widget">
				<span class="fa fa-facebook fa-5x bg-primary"></span>
				<p>Facebook</p>
			</a>
		</div>
		<div class="col-xlg-2 col-lg-3 col-md-3 col-sm-3 col-xs-6">
			<a href class="social widget">
				<span class="fa fa-twitter fa-5x bg-success"></span>
				<p>Twitter</p>
			</a>
		</div>
		<div class="col-xlg-2 col-lg-3 col-md-3 col-sm-3 col-xs-6">
			<a href class="social widget">
				<span class="fa fa-pinterest fa-5x bg-info"></span>
				<p>Pinterest</p>
			</a>
		</div>
		<div class="col-xlg-2 col-lg-3 col-md-3 col-sm-3 col-xs-6">
			<a href class="social widget">
				<span class="fa fa-google-plus fa-5x bg-danger"></span>
				<p>Google +</p>
			</a>
		</div>
		<div class="col-xlg-4 col-lg-4 col-md-6 col-sm-12">
			<div class="widget info-box">
				<span class="icon icon-share icon-6x"></span>
				<div class="widget-body">
					<span class="info-text bolder text-blocked">Info or text box</span>
					<span class="subinfo-text text-blocked">New comments today</span>
				</div>
			</div>
		</div>

		<div class="col-xlg-2 col-lg-3 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator widget">
				<span class="icon icon-clipboard icon-fw icon-4x"></span>
				<p class="title" duration="4" count-to="128" count-from="10">{{ output }}</p>
				<span class="subtitle">New topics published</span>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-3 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator widget bg-blocked">
				<span class="icon icon-paper-plane icon-fw icon-4x"></span>
				<p class="title" duration="5" count-to="128" count-from="20">{{ output }}</p>
				<span class="subtitle">New topics published</span>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator widget bg-success">
				<span class="icon icon-globe icon-fw icon-4x"></span>
				<p class="title" duration="6" count-to="128" count-from="30">{{ output }}</p>
				<span class="subtitle">New topics published</span>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-4 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator widget bg-info">
				<span class="icon icon-chart icon-fw icon-4x"></span>
				<p class="title" duration="7" count-to="128" count-from="40">{{ output }}</p>
				<span class="subtitle">New topics published</span>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-4 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator widget bg-primary">
				<span class="icon icon-monitor icon-fw icon-4x"></span>
				<p class="title" duration="8" count-to="128" count-from="50">{{ output }}</p>
				<span class="subtitle">New topics published</span>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-4 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator widget bg-danger">
				<span class="icon icon-camera icon-fw icon-4x"></span>
				<p class="title" duration="9" count-to="128" count-from="60">{{ output }}</p>
				<span class="subtitle">New topics published</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator-alternate widget icon icon-clipboard">
				<div class="widget-heading">
					<p class="title" duration="4" count-to="128" count-from="10">{{ output }}</p>
					<span class="subtitle">New topics published</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator-alternate widget bg-blocked icon-paper-plane">
				<div class="widget-heading">
					<p class="title" duration="5" count-to="128" count-from="20">{{ output }}</p>
					<span class="subtitle">New topics published</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator-alternate widget bg-success icon-globe">
				<div class="widget-heading">
					<p class="title" duration="6" count-to="128" count-from="30">{{ output }}</p>
					<span class="subtitle">New topics published</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<div class="indicator-alternate widget bg-info icon-chart">
				<div class="widget-heading">
					<p class="title" duration="7" count-to="128" count-from="40">{{ output }}</p>
					<span class="subtitle">New topics published</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6 col-sm-4 col-xs-6">
			<div class="indicator-alternate widget bg-primary icon-monitor">
				<div class="widget-heading">
					<p class="title" duration="8" count-to="128" count-from="50">{{ output }}</p>
					<span class="subtitle">New topics published</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6 col-sm-4 col-xs-6">
			<div class="indicator-alternate widget bg-danger icon-camera">
				<div class="widget-heading">
					<p class="title" duration="9" count-to="128" count-from="60">{{ output }}</p>
					<span class="subtitle">New topics published</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<widget-balance></widget-balance>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<widget-month></widget-month>
				</div>
			</div>
		</div>
		<div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<widget-planner></widget-planner>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-ms-6">
					<widget-month></widget-month>
				</div>
			</div>
		</div>

		<div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="editor widget widget-xlg">
				<div class="widget-body">
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Enter title ...">
					</div>
					<div class="editor">
						<div class="editor-toolbar">
							<div class="btn-group">
								<button class="btn btn-link"><span class="fa fa-code"></span></button>
							</div>
							<div class="btn-group">
								<button class="btn btn-link"><span class="fa fa-font"></span></button>
								<button class="btn btn-link"><span class="fa fa-paragraph"></span></button>
							</div>
							<div class="btn-group">
								<button class="btn btn-link"><span class="fa fa-bold"></span></button>
								<button class="btn btn-link"><span class="fa fa-italic"></span></button>
								<button class="btn btn-link"><span class="fa fa-underline"></span></button>
								<button class="btn btn-link"><span class="fa fa-strikethrough"></span></button>
							</div>
							<div class="btn-group">
								<button class="btn btn-link active"><span class="fa fa-align-left"></span></button>
								<button class="btn btn-link"><span class="fa fa-align-center"></span></button>
								<button class="btn btn-link"><span class="fa fa-align-right"></span></button>
								<button class="btn btn-link"><span class="fa fa-align-justify"></span></button>
							</div>
							<div class="btn-group">
								<button class="btn btn-link"><span class="fa fa-list-ul"></span></button>
								<button class="btn btn-link"><span class="fa fa-list-ol"></span></button>
								<button class="btn btn-link"><span class="fa fa-outdent"></span></button>
								<button class="btn btn-link"><span class="fa fa-indent"></span></button>
							</div>
							<div class="btn-group">
								<button class="btn btn-link"><span class="fa fa-table"></span></button>
								<button class="btn btn-link"><span class="fa fa-th"></span></button>
							</div>
						</div>
						<div class="editor-content" mb-scrollbar="contentScrollbar">
							<div class="editor-input" contenteditable="true" >
								<h1>Header #1</h1>
								<h2>Header #2</h2>
								<h3>Header #3</h3>
								<h4>Header #4</h4>
								<h5>Header #5</h5>

								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error dolorem dolorum minima libero, officiis iure, ea? Dicta alias, tempora maxime illum nostrum ea atque eos vel. Aliquid ducimus culpa ut.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-footer clearfix">
					<button class="btn btn-primary btn-sm pull-right">Save</button>
				</div>
			</div>
		</div>
	</div>

</section>
