<div ng-if="noImage==false" class='profile-image-cover {{::coverClass}}' style='width:{{::coverWidth}}; height:{{::coverHeight}}; background-image:url({{coverUrl}});'></div>
<div ng-if="noImage==true" class='profile-image-cover {{::coverClass}} empty {{gender}}' style='width:{{::coverWidth}}; height:{{::coverHeight}}; background-color:{{profile.profile_image.colour}}'></div>