<script type="text/javascript">
  console.log('demo');
</script>

<div class="container-fluid">
  <div class="row">
    <div class="center-block">
      <div class="col-md-offset-4 col-sm-offset-4 col-md-4 col-sm-4">
        <topics-group></topics-group>
      </div>
    </div>
  </div>
</div>