<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add event</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Event name">
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="input-group form-group">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  <input type="text" class="form-control" placeholder="Start date">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="input-group form-group">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  <input type="text" class="form-control" placeholder="End date">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Event category">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="$hide()">Save</button>
      </div>
    </div>
  </div>
</div>