<h2>Self Evaluation</h2>
<p>As part of each Summative Coursework Assessment, you are required to write a Self Evaluation explaining how you have
  approached your submission. This should be copied into the box below. The module Learning Path will explain how to
  approach your Self Evaluation, and the required word count. Your Summative Coursework Assessment feedback cannot be
  completed by your module tutor unless you Self Evaluation by the deadline.
</p>
<textarea class="form-control" rows="8" ng-model="selfEvaluationText"></textarea>
<div class="pull-right">
  <button type="button" class="btn btn-success" ng-click="save()"><span class="fa icon-floppy"></span> Save</button>
  <button type="button" class="btn btn-success" ng-click="openModalAccept()"><span class="fa fa-check"></span> Submit</button>
</div>