<li>
    <span ng-click="toggleVisibility(node)" class="expander"> {{ ( node.childrenVisibility && node.children.length ) ? '+' : '-' }}</span>
    <!-- <input ng-click="checkNode(node)" type="checkbox" ng-checked="node.checked"> -->
    <span class="node-container">
        <span>{{ node.title }} <small class="badge">{{ ( node.children.length ) ? node.children.length : '' }}</small></span>    
        <div class="hidable-buttons">
		    <a href="#" ng-click="vm.addNewPage(node.id)">Add child</a>
		    <a href="#" ng-click="vm.setPage(node)">Edit</a>
		    <a href="#" ng-click="vm.deletePage(node.id)">Delete</a>
		</div>
    </span>
</li>
