<div class="list-group">
  <a href="#" ng-repeat="(key, item) in items" class="list-group-item active">
    <span class="list-group-item-heading">Assessment {{ ::key }}</span>
    <span class="badge">{{::item.percentage }}%</span>
  </a>
</div>