<section class="manager-theme plans-manager">
  <div class="container-fluid">
    <div class="icons col-sm-2">
        <a href="" ng-click="plans.initNewPlan()"><i class="fa fa-file"></i><span>New</span></a>
        <a href="" ng-click="plans.duplicate()"><i class="fa fa-files-o"></i><span>Duplicate</span></a>
        <a href="" ng-click="plans.delete()"><i class="fa fa-trash"></i><span>Delete</span></a>
        <a href="" ng-click="plans.archive()"><i class="fa fa-archive"></i><span>Archive</span></a>
    </div>
    <div class="col-sm-10 courses">
      <h3 class="page-title">Plans</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="plans.allSelected" ng-click="plans.toggleAll()" />
          <span ng-show="plans.allSelected" >All Selected</span>
          <span ng-hide="plans.allSelected" >Select All</span>
        </label>
      </div>
      
      <input type="text" class="form-control" placeholder="Search" ng-model="plans.filter.name" ng-keypress="plans.filterByKeyword($event)">
      
      <table ng-table="plans.plansTable" class="table table-hover">
        <tr ng-repeat="plan in $data">
          <td data-title="'Id'" sortable="'id'">{{plan.id}}</td>
          <td data-title="'Title'" sortable="'title'" class="colored-text"><span ng-click="plans.update(plan.id)">{{plan.title}}</span></td>
          <td data-title="'Course'">{{plan.course.title}}</td>
          <td data-title="'Course Fee'" sortable="'price'">{{plan.price}}</td>
          <td data-title="'Admin Fee'" sortable="'admin_fee'">{{plan.admin_fee}}</td>
          <td data-title="'Installments'">{{plan.installments.length | number}}</td>
          <td data-title="'Discounts'">{{plan.early_discounts.length | number}}</td>
          <td data-title="'Note'" sortable="'note'">{{plan.note}}</td>
          <td data-title="'Status'" sortable="'enabled'"><span ng-show="plan.enabled">Enabled</span><span ng-hide="plan.enabled">Disabled</span></td>
          <td><input type="checkbox" ng-model="plan.checked" ng-click="plans.cbChecked()"></td>
        </tr>
      </table>

    </div>
  </div>
</div>