<div class="modal upload-modal plans-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 950px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 ng-show="plans.method==='save'">Add new plan</h3>
        <h3 ng-show="plans.method==='update'">Update plan</h3>
      </div>
      <div class="modal-body">
        <form novalidate class="add-new-form" name="new-plan-form" ng-submit="plans.addNew()">
          <div class="container-fluid">
          <div class="col-sm-6">

            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" name="title" class="form-control" ng-model="plans.plan.title" required>
            </div>
            
            <div class="form-group">
              <label for="course">Course:</label>
              <select class="form-control" name="course" ng-model="plans.plan.course_id" required  ng-options="c.id as c.title for c in plans.courses">
              </select>
            </div>

            <div class="form-group">
              <label for="currency_code">Currency code:</label>
              <select class="form-control" name="course" ng-model="plans.plan.currency_code" required  ng-options="c.code as c.name for c in plans.currencies">
              </select>
            </div>

            <div class="form-group">
              <label for="admin_fee_type">Admin fee type:</label>
              <select class="form-control" name="admin_fee_type" ng-model="plans.plan.admin_fee_type" required="" ng-change="plans.calculateInstallments()">
                <option value="percent" ng-selected="plans.plan.admin_fee_type === 'percent'">Percent</option>
                <option value="value" ng-selected="plans.plan.admin_fee_type === 'value'">Value</option>
              </select>
            </div>

            <div class="form-group">
              <label for="admin_fee">Admin fee:</label>
              <input type="number" min="0" name="admin_fee" class="form-control" ng-model="plans.plan.admin_fee" required>
            </div>

            <div class="form-group">
              <label for="note">Note:</label>
              <textarea class="form-control" rows="5" name="note" ng-model="plans.plan.note"></textarea>
            </div>

            <div class="form-group">
              <label for="enabled">Status:</label>
              <select class="form-control" name="enabled" ng-model="plans.plan.enabled" required="">
                <option value="true" ng-selected="plans.plan.enabled == true">Enabled</option>
                <option value="false" ng-selected="plans.plan.enabled == false">Disabled</option>
              </select>
            </div>
          </div>

          <div class="col-sm-6">
            
            <h4>INSTALLMENTS</h4>

            <div class="form-group">
              <div class="col-sm-4 padding-right">
                <div class="form-group">
                  <label for="plan_price">Plan Price:</label>
                  <input type="number" min="0" name="plan_price" class="form-control" ng-model="plans.plan.price" ng-change="plans.calculateInstallments()"  required>
                </div>
              </div>
              
              <div class="col-sm-4 padding-center">
                <div class="form-group">
                  <label for="installments">Installments:</label>
                  <input type="number" min="0" name="installments" ng-change="plans.calculateInstallments()" class="form-control" ng-model="plans.plan.numInstallments" required>
                </div>
              </div>

              <div class="col-sm-4 padding-left">
                <div class="form-group">
                  <label for="start_date">Start Date:</label>
                  <input type="text" class="form-control" placeholder="Start Date" ng-change="plans.calculateInstallments()" ng-model="plans.plan.start_date" bs-datepicker="" data-max-date="" data-date-format="d/M/y" to-date>
                </div>
              </div>
            </div>

            <div class="form-group installments">
              <span class="installment-total">Total price <strong ng-hide="plans.plan.admin_fee_type">0</strong><strong ng-if="plans.plan.admin_fee_type == 'value'">{{plans.plan.price + plans.plan.admin_fee || 0 | number:2}}</strong> <strong ng-if="plans.plan.admin_fee_type == 'percent'">{{((plans.plan.admin_fee/100) * plans.plan.price) + plans.plan.price || 0 | number:2}}</strong><small>(plan price + admin fee)</small></span>
              <span ng-show="plans.installmentsError" class="installment-error">Total amount is <strong>{{plans.total | number:2}}</strong></span>
              <div ng-repeat="installment in plans.plan.installments">  
                <!-- <div class="col-sm-12 title" ng-show="$index=0"><span>Deposit/First payment</span></div> -->            
                <div class="col-sm-12 title"><span ng-hide="$first">Installment {{$index+1}}</span><span ng-show="$first">Deposit/First payment</span></div>            
                <div class="col-sm-3 nopadding">
                  <div class="form-group">
                    <span class="installment-amount align-middle">{{installment.amount | number:2}}</span>
                  </div>
                </div>
                <div class="col-sm-4 padding-right">
                  <div class="form-group">
                    <input ng-hide="$first" type="number" min="0" name="installment_amount" class="form-control" ng-model="installment.amount" ng-change="plans.installmentTotal()" to-integer required>
                    <input ng-show="$first" type="number" min="0" name="installment_amount" class="form-control" ng-model="installment.amount" ng-change="plans.recalculateInstallments(); plans.installmentTotal();" to-integer required>
                  </div>
                </div>
                <div class="col-sm-5 padding-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Date" ng-model="installment.date" bs-datepicker="" data-max-date="" data-date-format="d/M/y" to-date required>
                  </div>
                </div>
              </div>
            </div>

            <h4>DISCOUNTS</h4>

            <div class="form-group">
              <label for="discount_type">Discount Type:</label>
              <select class="form-control" id="discount_type" ng-model="plans.early_discount.type">
                <option value="percent">Percent</option>
                <option value="value">Value</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="discount">Discount:</label>
              <input type="number" min="0" name="discount_amount" class="form-control" ng-model="plans.early_discount.amount" to-integer>
            </div>

            <div class="form-group">
              <label for="discount_date">Discount Date:</label>
              <input type="text" class="form-control" placeholder="Date" ng-model="plans.early_discount.date" bs-datepicker="" data-max-date="" data-date-format="d/M/y" to-date>
            </div>

            <div class="form-group">
              <button class="btn btn-warning pull-right" ng-click="plans.addDiscount()" ng-disabled="!plans.early_discount.amount || !plans.early_discount.date || !plans.early_discount.type">Add Discount</button>
            </div>

            <div class="form-group installments">
              <span class="installment-total">Total discounts <strong>{{plans.plan.early_discounts.length | number }}</strong></span>
              <div ng-repeat="discount in plans.plan.early_discounts">          
                <div class="col-sm-12 title">
                  <span>Discount {{$index+1}}
                    <a class="btn btn-primary btn-xs" href="#" ng-click="plans.removeDiscount(discount)"><i class="fa fa-trash-o"></i></a>
                  </span>
                </div>            
                <div class="col-sm-3 nopadding">
                  <div class="form-group">
                    <span class="installment-amount align-middle">{{discount.amount | number:2}}</span>
                  </div>
                </div>
                <div class="col-sm-4 padding-right">
                  <div class="form-group">
                    <input type="number" min="0" name="discount_amount" class="form-control" ng-model="discount.amount" to-integer required>
                  </div>
                </div>
                <div class="col-sm-5 padding-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Date" ng-model="discount.date" bs-datepicker="" data-max-date="" data-date-format="d/M/y" to-date required>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input class="btn btn-success" type="submit" name="submit" value="Submit" ng-disabled="!plans.plan.title || !plans.plan.enabled || !plans.plan.admin_fee_type || !plans.plan.start_date || !plans.plan.course_id || !plans.plan.currency_code">
            </div>
          </div>
        </div>

       </form>
      </div>
    </div>
  </div>
</div>