<div id="page-heading" class="help-heading">
  <h3 class="page-title">Forums</h3>
  <iframe id="iframe" width="100%" style="border: 0 none; height: calc(100vh - 116px);" ng-src="{{frameUrl}}"></iframe>
</div>