aside[role=navigation] nav.side-bar {
  background-color: #008FC9 !important;
}

aside[role=navigation] {
  background-color: #008FC9 !important;
}

aside[role=navigation] .brand {
  background-color: #fff !important;
}

#heading {
  background-color: #ff!important;
  height: 70px !important;
}

aside[role=navigation] nav.side-bar ul.nav-menu>li>ul {
  background: #476BB2 !important;
  -webkit-box-shadow: inset 0 0 16px 6px #476BB2 !important;
  box-shadow: inset 0 0 16px 6px #476BB2 !important;
}

aside[role=navigation] nav.side-bar ul.nav-menu>li>a span {
  font-family: Verdana !important;
}

body {
  font-family: Verdana;
}