@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

.wrapper {
  padding-left: 220px;
  transition: all .1s linear;
  position: relative;
}

body {
  &.contract {
    .wrapper {
      padding-left: 50px;
    }
  }
}
[ui-view] {
  display: block;
}
[ui-view].ng-enter {
  transition: all .1s linear;
  transform: translateY(80px);
  opacity: 0;

  &.ng-enter.ng-enter-active {
    transform: translateY(0);
    opacity: 1;
  }
}

.padding-right-null {
  padding-right: 0;
}
.padding-null {
  padding: 0;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.margin-top {
  margin-top: 15px;
}
.margin-bottom10 {
  margin-bottom: 10px;
}
.vertical-margin {
  margin: 20px 0;
}
.block-width {
  display: block;
  width: 100%;
}
.rounded {
  border-radius: @border-radius-base;
}
.no-overflow {
  overflow: hidden;
}

.genie-lamp-container {
  position: fixed;
  top:0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: fade(@brand-info, 60%);

  .lamp-wrapper {
    padding: 15px;
    width: 500px;
    position: fixed;
    top: 100px; left: 50%;
    border-radius: @border-radius-base;
    background-color: #fff;
    margin-left: -250px;
    box-shadow: 0 0 20px @gray;

    .lamp-wishes-container {
      max-height: 300px;
      min-height: 38px;
      overflow: auto;
    }

    .wish {
      display: block;
      color: @text-color;
      padding: 10px;
      cursor: pointer;

      &.focused, &:hover  {
        background-color: @gray-lighter;
      }
    }
  }
}

.am-fade {
  &.ng-enter {
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}

// offcanvas menu
@media (max-width: @screen-sm-min) {
  .wrapper {
    padding-left:0;
    transition: all .1s linear;
  }
  body.offcanvas {
    overflow: hidden;
  }
}

.angular-google-map-container {
  height: 450px;
}