//
// Carousel
// --------------------------------------------------


// Wrapper for the slide container and indicators
.carousel {
  position: relative;
  margin: 40px 0;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  margin:0 10%;

  > .item {
    padding-bottom: 24px;
    height: 200px;
    display: none;
    position: relative;
    .transition(.6s ease-in-out left);

    // Account for jankitude on images
    > img,
    > a > img {
      &:extend(.img-responsive);
      line-height: 1;
    }
  }

  > .item.mixed-slide {
    .slide-image {
      position:absolute;
      left:0;
      width: 50%;
      height:100%;
      img {
        height: 100%;
        margin: 0 auto;
      }
    }
    .slide-text {
      position: absolute;
      right:0;
      width:50%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  > .item.text-slide {
    .slide-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  > .item.video-slide {
    iframe[src*="youtube.com"] {
      height:200px;
      width:auto;
    }
  }
  
  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  font-size: @carousel-control-font-size;
  color: @main-color;
  text-align: center;
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Hover/focus state
  &:hover,
  &:focus {
    outline: 0;
    color: darken(@main-color, 10%);
    text-decoration: none;
  }

  // Toggles
  .prev-control,
  .next-control {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
  }
  .prev-control {
    left: 50%;
    margin-left: -10px;
  }
  .next-control {
    right: 50%;
    margin-right: -10px;
  }
  .prev-control,
  .next-control {
    width:  20px;
    height: 20px;
    margin-top: -10px;
  }
}

.left.carousel-control { left:0; }
.right.carousel-control { right:0; }

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  position: absolute;
  bottom: -25px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
  background: white;
  padding-top: 5px;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid @main-color;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
  }
  li:nth-child(1) {
    margin-left: 0;
  }
  .active {
    width:  12px;
    height: 12px;
    background-color: @main-color;
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: @carousel-caption-color;
  text-align: center;
  text-shadow: @carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}


// Scale up controls for tablets and up
@media screen and (min-width: @screen-sm-min) {

  // Scale up the controls a smidge
  .carousel-control {
    .prev-control,
    .next-control {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 30px;
    }
    .prev-control {
      margin-left: -15px;
    }
    .next-control {
      margin-right: -15px;
    }
  }

  // Show and left align the captions
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
}
