<div class="dashboard-todo">
  <div class="dashboard-todo__header panel-heading ">
    <p class="title dashboard-todo__header-title" idi-locale="dashboard.todo.naming"></p>
  </div>
  <div class="dashboard-todo__add-task">
    <input type="text" name="tasktext" placeholder="Add task here ..." ng-model="tasktext" ng-keyup="$event.keyCode == 13 && addTask()">
    <a class="dashboard-todo__submit" ng-click="addTask()"><span class="fa fa-plus fa-fw"></span></a>
  </div>
  <ul class="dashboard-todo__task-list" ng-if="tasks.length > 0">
    <li ng-repeat="task in tasks | filter:{completed:viewOptions.value || undefined} | orderBy:'-created_at'" ng-mouseenter="options = true" ng-mouseleave="options = false">
      <div class="dashboard-todo__leftControl" ng-disabled="editing == false">
        <span class="fa fa-square-o fa-fw" ng-if="!task.completed" ng-click="setComplete({{ task.id }})"></span>
        <span class="fa fa-check-square-o fa-fw" ng-if="task.completed"></span>
      </div>
      <div class="dashboard-todo__rightControl">
        <span class="fa fa-pencil fa-fw" ng-show="options && !task.completed && editing == false" ng-click="startEditing(task.id, $event); editing=true"></span>
        <span class="fa fa-trash-o fa-fw" ng-show="options && !editing" ng-click="deleteTask({{task.id}})"></span>

        <span class="fa fa-check fa-fw" ng-show="editing" ng-click="updateTask(task, updatedTask); editing=false"></span>
        <span class="fa fa-times fa-fw" ng-show="editing" ng-click="editing=false"></span>
      </div>
      <div class="dashboard-todo__task" ng-class="{'dashboard-todo__task--completed': task.completed}">
        <div ng-show="!editing">{{ task.title }}</div>
        <input ng-show="editing" type="text" id="editTask-{{task.id}}" name="editTask" ng-model="updatedTask" ng-init="updatedTask = task.title" value="{{task.title}}" ng-keyup="$event.keyCode == 13 && updateTask(task, updatedTask)" />
      </div>
    </li>
  </ul>
  <div class="dashboard-todo__empty-task-list" ng-if="tasks.length < 1">
    <p idi-locale="dashboard.todo.empty"></p>
  </div>
  <div class="dashboard-todo__footer panel-footer">
    <select ng-model="viewOptions.value">
      <option value="" idi-locale="dashboard.todo.view.all"></option>
      <option selected="selected" value="false" idi-locale="dashboard.todo.view.incomplete"></option>
      <option value="true" idi-locale="dashboard.todo.view.complete"></option>
    </select>
  </div>
</div>