<div class="idi-payments__card clearfix">
  <div class="idi-payments__cardLogo" ng-class="{'idi-payments__cardLogo--visa': card.brand=='Visa', 'idi-payments__cardLogo--mastercard': card.brand=='MasterCard', 'idi-payments__cardLogo--amex': card.brand=='American Express'}"></div>
  <div class="idi-payments__cardInfo">
    <p>{{ card.name }}</p>
    <p>**** **** **** {{ card.last4 }}</p>
  </div>
  <div class="idi-payments__cardExpiry">
    <p>Expires {{card.exp_month}}/{{card.exp_year}}</p>
  </div>
</div>