<div id="page-heading">
  <h3 class="page-title">Componenty</h3>
</div>

<section class="container-fluid">

  <div class="panel panel-default">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav hidden-lg hidden-md hidden-sm hidden-xs">
          <li class="navbar-link-default">
            <a href="#" class="icon-bell icon-fw"></a>
            <small>6</small>
          </li>
          <li class="navbar-link-success dropdown">
            <button type="button" class="icon-chat icon-fw dropdown-toggle" data-toggle="dropdown"></button>
            <small>6</small>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="navbar-link-primary">
            <a href="#" class="icon-bell icon-fw"></a>
            <small>6</small>
          </li>
          <li class="navbar-link-info">
            <a href="#" class="icon-user icon-fw"></a>
            <small>6</small>
          </li>
          <li class="navbar-link-danger">
            <a href="#" class="icon-cal icon-fw"></a>
            <small>6</small>
          </li>
          <li class="navbar-link-warning">
            <a href="#" class="icon-clip icon-fw"></a>
            <small>6</small>
          </li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form action="" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-danger btn-flat">Cancel</button>
          <button type="submit" class="btn btn-primary btn-flat">Primary</button>
          <button type="submit" class="btn btn-success btn-flat">Success</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="panel panel-default">
    <nav class="navbar navbar-inverse navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form action="" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-danger btn-flat">Cancel</button>
          <button type="submit" class="btn btn-primary btn-flat">Primary</button>
          <button type="submit" class="btn btn-success btn-flat">Success</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <article class="panel panel-default">
        <header class="panel-heading">Modal windows</header>
        <section class="panel-body">
          <button class="btn btn-default" data-placement="center" bs-modal="modal" data-template="/partials/demo/modal.sm.html">Small modal</button>
          <button class="btn btn-primary" data-placement="center" bs-modal="modal" data-template="/partials/demo/modal.md.html">Default modal</button>
          <button class="btn btn-success" data-placement="center" bs-modal="modal" data-template="/partials/demo/modal.lg.html">Large modal</button>
        </section>
      </article>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <article class="panel panel-default">
        <header class="panel-heading">Notifications</header>
        <section class="panel-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <article class="panel panel-default">
        <header class="panel-heading">Breadcrumbs</header>
        <section class="panel-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
              </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <ol class="breadcrumb breadcrumb-alter">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
              </ol>
            </div>
          </div>
        </section>
      </article>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Pagination</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6">
              <nav>
                <ul class="pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li class="disabled"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li class="active"><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6">
              <nav>
                <ul class="pager">
                  <li><a href="#">Previous</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
              </nav>

              <nav>
                <ul class="pager">
                  <li class="previous"><a href="#">&larr; Older</a></li>
                  <li class="next"><a href="#">Newer &rarr;</a></li>
                </ul>
              </nav>

              <nav>
                <ul class="pager">
                  <li class="previous disabled"><a href="#">&larr; Older</a></li>
                  <li class="next"><a href="#">Newer &rarr;</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <article class="panel panel-default">
        <header class="panel-heading">Tooltip</header>
        <section class="panel-body">
          <button type="button" class="btn btn-default" bs-tooltip="{ title: 'Tooltip on left' }" data-placement="left">Tooltip on left</button>

          <button type="button" class="btn btn-default" bs-tooltip="{ title: 'Tooltip on top' }" data-placement="top">Tooltip on top</button>

          <button type="button" class="btn btn-default" bs-tooltip="{ title: 'Tooltip on bottom' }" data-placement="bottom">Tooltip on bottom</button>

          <button type="button" class="btn btn-default" bs-tooltip="{ title: 'Tooltip on right' }" data-placement="right">Tooltip on right</button>
        </section>
      </article>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <article class="panel panel-default">
        <header class="panel-heading">Popover</header>
        <section class="panel-body">
          <button type="button" class="btn btn-default" bs-popover="{ title: 'Popover on left', content: 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.' }" data-placement="left">Popover on left</button>

          <button type="button" class="btn btn-default" bs-popover="{ title: 'Popover on top', content: 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.' }" data-placement="top">Popover on top</button>

          <button type="button" class="btn btn-default" bs-popover="{ title: 'Popover on bottom', content: 'Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.' }" data-placement="bottom">Popover on bottom</button>

          <button type="button" class="btn btn-default" bs-popover="{ title: 'Popover on right', content: 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.' }" data-placement="right" >Popover on right</button>
        </section>
      </article>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="jumbotron jumbotron-image text-center" style="background-image:url(/assets/img/jombotron.jpg)">
        <h1>Jumbotron with image!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam debitis consequatur aliquam consectetur minus tempora recusandae aliquid suscipit fugiat unde, rem saepe sed officiis, architecto corporis maxime dignissimos quisquam eveniet.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Start using!</a></p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="jumbotron">
        <h1>Simpe jumbotron!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, voluptatibus dolores facere minima dolore in eos vitae harum, sed qui aut aspernatur, aliquid nemo pariatur quasi consequuntur deleniti, accusantium eveniet.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Enter section</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <ul class="nav nav-tabs" role="tablist" ui-tabs>
        <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Home</a></li>
        <li><a href="#tab2" role="tab" data-toggle="tab">Hover</a></li>
        <li class="dropdown pull-right">
          <a href role="tab" class="dropdown-toggle" data-toggle="dropdown">Message <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
            <li><a href="#tab3" tabindex="-1" role="tab" data-toggle="tab">Tab 3</a></li>
            <li><a href="#tab3" tabindex="-1" role="tab" data-toggle="tab">Tab 3</a></li>
          </ul>
        </li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body tab-content">
          <div id="tab1" class="tab-pane active">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aperiam quis nisi, sequi magnam magni distinctio, neque consequuntur a consectetur sint omnis, voluptas quos necessitatibus asperiores laboriosam incidunt, esse error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quibusdam incidunt molestiae, voluptatem architecto impedit magni in, aliquam vel adipisci, asperiores veniam. Fuga voluptatibus debitis ad, doloremque, ratione sint. Dolorem!</p>
          </div>
          <div id="tab2" class="tab-pane">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nesciunt doloremque deleniti voluptatum. Tenetur ullam repellendus natus, atque debitis, recusandae dicta laborum ipsum veniam. Cum ducimus adipisci ut, hic quos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae, beatae laboriosam. Iusto, quibusdam. Quae necessitatibus perferendis a alias minus exercitationem tempora voluptates rem iste nostrum dolore, ab labore dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi odit sapiente ipsam earum in pariatur facere sequi neque, et, aut perspiciatis dolorem soluta dolores dolorum, eos animi optio doloribus recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ratione omnis eos iste recusandae sit debitis cumque praesentium libero distinctio, ab placeat, ipsam deleniti. Vero, optio saepe recusandae aut eaque.</p>
          </div>
          <div id="tab3" class="tab-pane">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nesciunt doloremque deleniti voluptatum. Tenetur ullam repellendus natus, atque debitis, recusandae dicta laborum ipsum veniam. Cum ducimus adipisci ut, hic quos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae, beatae laboriosam. Iusto, quibusdam. Quae necessitatibus perferendis a alias minus exercitationem tempora voluptates rem iste nostrum dolore, ab labore dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi odit sapiente ipsam earum in pariatur facere sequi neque, et, aut perspiciatis dolorem soluta dolores dolorum, eos animi optio doloribus recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ratione omnis eos iste recusandae sit debitis cumque praesentium libero distinctio, ab placeat, ipsam deleniti. Vero, optio saepe recusandae aut eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus itaque blanditiis debitis sit aliquid nesciunt in ullam est aspernatur voluptatem inventore, repellat alias consectetur molestias consequuntur? Modi, sapiente, quaerat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga pariatur culpa eligendi deserunt error aliquam sit quas, accusantium odit hic numquam, veritatis, a voluptatum necessitatibus facere fugit sed excepturi facilis.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="panel-group" ui-collapse>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseOne">Collapse item #1</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nesciunt ullam perferendis consequatur incidunt optio, itaque dolor facilis dolorum iusto architecto odio, saepe magni iure quisquam quod in, nostrum? Corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odit nostrum cupiditate laudantium incidunt itaque, maiores reprehenderit, eius error illum minima reiciendis explicabo delectus vitae illo assumenda. Cumque neque, nam.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseTwo">Collapse item #2</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iste, nostrum id nemo! Dolorum, nisi. Earum tempora, blanditiis eius eaque facilis molestiae deleniti. Ab error magni, perspiciatis ipsum qui distinctio!</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseThree">Collapse item #3</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptatem, facere a quas sit distinctio nesciunt accusamus adipisci, asperiores fugit culpa neque sunt nam tempore dolorem inventore nisi vitae blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum molestias, quas quam optio voluptates aliquid officia fugiat voluptatum adipisci est voluptatibus, blanditiis repellendus veniam sit cupiditate deserunt. Quod, dolor, architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quos quod voluptatum reiciendis eveniet voluptas nulla amet molestias laudantium, maiores, atque, doloremque beatae animi assumenda quas recusandae necessitatibus dolorum in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem in quia recusandae impedit delectus officiis cum alias totam dolores labore aperiam magnam reprehenderit, architecto tempora, facilis consectetur similique sed. Blanditiis.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Pills</div>
        <div class="panel-body">
          <ul class="nav nav-pills">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Pills</div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="#">Home <span class="badge">10</span></a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Page heading</div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home <span class="badge">10</span></a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in <span class="badge">14</span></li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="list-group">
        <a href="#" class="list-group-item active">Cras justo odio <span class="badge">10</span></a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">List group item heading <span class="badge">18</span></h4>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum saepe consequatur nam dolores velit, assumenda provident. Unde deserunt similique nostrum, explicabo ad temporibus dolore voluptates hic libero ipsam dicta. Praesentium.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam molestias error similique sapiente inventore, dolorum fugit nostrum rem, quasi voluptas voluptates quis consectetur cum. Ipsam, esse. Exercitationem similique deserunt quo!</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur dolore dolores numquam ullam porro nam, suscipit placeat architecto repudiandae, assumenda voluptatem ipsa quia iste expedita tempora ducimus delectus aliquid! Laborum.</p>
        </a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Thumbnails</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <a href="#" class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <a href="#" class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <a href="#" class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <a href="#" class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <a href="#" class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <a href="#" class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Thumbnails</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="btn btn-success">Button</button>
              <button class="btn btn-default pull-right">Button</button>
            </div>
          </div>
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="btn btn-success">Button</button>
              <button class="btn btn-default pull-right">Button</button>
            </div>
          </div>
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="btn btn-success">Button</button>
              <button class="btn btn-default pull-right">Button</button>
            </div>
          </div>
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="btn btn-success">Button</button>
              <button class="btn btn-default pull-right">Button</button>
            </div>
          </div>
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="btn btn-success">Button</button>
              <button class="btn btn-default pull-right">Button</button>
            </div>
          </div>
        </div>
        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="/assets/img/placeholder.svg" data-src="/assets/img/placeholder.svg" alt="...">
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="btn btn-success">Button</button>
              <button class="btn btn-default pull-right">Button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Media objects</div>
        <div class="panel-body">
          <div class="media">
            <a class="media-left" href="#">
              <img src="/assets/img/placeholder.svg" alt="Sample image">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestiae eos dolore harum rerum minus inventore voluptates, temporibus sequi quibusdam provident laborum asperiores adipisci fugit id error culpa sit tempore.</span>
            </div>
          </div>
          <div class="media">
            <a class="media-left" href="#">
              <img src="/assets/img/placeholder.svg" alt="Sample image">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestiae eos dolore harum rerum minus inventore voluptates, temporibus sequi quibusdam provident laborum asperiores adipisci fugit id error culpa sit tempore.</span>
            </div>
          </div>
          <div class="media">
            <a class="media-left" href="#">
              <img src="/assets/img/placeholder.svg" alt="Sample image">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestiae eos dolore harum rerum minus inventore voluptates, temporibus sequi quibusdam provident laborum asperiores adipisci fugit id error culpa sit tempore.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Media objects #2</div>
        <div class="panel-body">
          <div class="media">
            <a class="media-left" href="#">
              <img src="/assets/img/placeholder.svg" alt="Sample image">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestiae eos dolore harum rerum minus inventore voluptates, temporibus sequi quibusdam provident laborum asperiores adipisci fugit id error culpa sit tempore.</span>
              <div class="media">
                <a class="media-left" href="#">
                  <img src="/assets/img/placeholder.svg" alt="Sample image">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Media heading</h4>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestiae eos dolore harum rerum minus inventore voluptates, temporibus sequi quibusdam provident laborum asperiores adipisci fugit id error culpa sit tempore.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="media">
            <a class="media-left" href="#">
              <img src="/assets/img/placeholder.svg" alt="Sample image">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestiae eos dolore harum rerum minus inventore voluptates, temporibus sequi quibusdam provident laborum asperiores adipisci fugit id error culpa sit tempore.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>