<div id="page-heading">
	<h3 class="page-title">Form elements</h3>
</div>

<section class="container-fluid">

	<div class="row">
		<div class="col-lg-4 col-md-12 col-sm-12">
			<article class="panel panel-info">
				<header class="panel-heading">Login Form</header>
				<section class="panel-body">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="form-group">
								<label class="control-label"><span>Username</span></label>
								<input type="text" class="form-control" placeholder="Enter username">
							</div>
							<div class="form-group">
								<label class="control-label"><span>Password</span></label>
								<input type="text" class="form-control" placeholder="Enter password">
							</div>
						</div>
					</div>
				</section>
				<footer class="panel-footer">
					<button class="btn btn-default"><span class="fa fa-remove"></span> Cancel</button>
					<button class="btn btn-success pull-right"><span class="fa fa-check"></span> Save</button>
				</footer>
			</article>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<article class="panel panel-danger">
				<header class="panel-heading">Registration Form</header>
				<section class="panel-body form-horizontal">
					<div class="form-group">
						<label class="col-lg-3 col-md-12 col-sm-3 control-label hidden-md">First name</label>
						<div class="col-lg-9 col-md-12 col-sm-9">
							<input type="text" class="form-control" placeholder="Enter first name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 col-md-12 col-sm-3 control-label hidden-md">Last name</label>
						<div class="col-lg-9 col-md-12 col-sm-9">
							<input type="text" class="form-control" placeholder="Enter last name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 col-md-12 col-sm-3 control-label hidden-md">Password</label>
						<div class="col-lg-9 col-md-12 col-sm-9">
							<input type="text" class="form-control" placeholder="Enter password">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<label class="btn-check">
								<input type="checkbox">
								<span>Some sample text for checkbox</span>
							</label>
							<label class="btn-check">
								<input type="checkbox">
								<span>Some sample text for checkbox</span>
							</label>
						</div>
					</div>
				</section>
				<footer class="panel-footer">
					<button class="btn btn-default"><span class="fa fa-remove"></span> Cancel</button>
					<button type="button" class="btn btn-success pull-right"><span class="fa fa-check"></span> Save</button>
				</footer>
			</article>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<article class="panel panel-primary">
				<header class="panel-heading">Sample form</header>
				<section class="panel-body">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="input-group form-group">
								<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
								<input type="text" class="form-control" placeholder="User name" value="">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="input-group form-group">
								<div class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></div>
								<input type="text" class="form-control" placeholder="Email address" value="">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<textarea class="form-control" placeholder="Sample password input"></textarea>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-group">
								<select class="select form-control">
									<option value="">Select value</option>
									<option value="">value 1</option>
									<option value="">value 2</option>
									<option value="">value 3</option>
									<option value="">value 4</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-group">
								<input type="text" class="form-control" ui-mask="999-9999" ng-model="postal_code">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<input type="text" class="form-control" disabled placeholder="Disabled input">
							</div>
						</div>
					</div>
				</section>
				<footer class="panel-footer">
					<button class="btn btn-info">Submit</button>
					<button class="btn btn-default"><span class="fa fa-remove"></span> Cancel</button>
					<button class="btn btn-danger pull-right"><span class="fa fa-trash-o"></span> Remove</button>
				</footer>
			</article>
		</div>
	</div>
	
	<article class="panel panel-default">
		<header class="panel-heading">Samlpe forms</header>
		<section class="panel-body">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form-inline" role="form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Filters">
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-danger">Search</button>
						</div>
						<div class="form-group">
							<label class="btn-check">
								<input type="checkbox">
								<span>Save my filter</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>	

	<article class="panel panel-default">
		<header class="panel-heading">Form elements</header>
		<section class="panel-body">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Default input sizes</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 hidden-sm hidden-xs">
								<input type="text" class="form-control input-sm" placeholder="Small input">	
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<input type="text" class="form-control" placeholder="Default input">	
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 hidden-sm hidden-xs">
								<input type="text" class="form-control input-lg" placeholder="Large input">	
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Disabled input</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<input type="text" class="form-control blocked" placeholder="Disabled text input" disabled>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Password input</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<input type="password" class="form-control" placeholder="Password input" value="">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Search input</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<input type="search" class="form-control" placeholder="Search input" value="">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Number input</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<input type="number" class="form-control" placeholder="Number input" value="">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Email input</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<input type="email" class="form-control" placeholder="Email input" value="">
						<span class="help-block">This is a helper text for user input</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Typeahead</label>
					<div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
						<input type="text" class="form-control" ng-model="autocompleteSelect" ng-options="state for state in autocompleteDemoList" placeholder="Enter state" bs-typeahead>
						<span class="help-block">This is a helper text for user input</span>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12">
						<p class="well">Selected text: {{ autocompleteSelect }}</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Date picker</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">	
								<input type="text" class="form-control" placeholder="Basic datepicker" ng-model="date1" bs-datepicker>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 hidden-sm hidden-xs">
								<input type="text" class="form-control" placeholder="Custom format" data-date-format="dd EEEE MMMM yyyy" ng-model="date3" bs-datepicker>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 hidden-sm hidden-xs">
								<input type="text" class="form-control" placeholder="Date" data-min-date="today" data-max-date="1/1/2015" ng-model="date2" bs-datepicker>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 hidden-sm hidden-xs">
								<input type="text" class="form-control" placeholder="Date" data-min-date="{{date2}}" data-max-date="1/1/2015" ng-model="date4" bs-datepicker>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Time picker</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<input type="email" class="form-control" placeholder="Simple timepicker" value="" ng-model="time1" bs-timepicker>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 hidden-sm hidden-xs">
								<input type="email" class="form-control" placeholder="Formatted time" value="" ng-model="time2" bs-timepicker data-time-format="HH:mm">
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 hidden-sm hidden-xs">
								<input type="email" class="form-control" placeholder="Small timepicker" value="" ng-model="time3" bs-timepicker data-time-format="HH:mm" data-minute-step="30" data-length="1">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Validation input</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 has-success has-feedback">
								<input type="text" class="form-control" placeholder="Valid Input field">
								<span class="fa fa-check form-control-feedback"></span>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 hidden-sm hidden-xs has-warning has-feedback">
								<input type="text" class="form-control" placeholder="Warning Input field">
								<span class="fa fa-exclamation-triangle form-control-feedback"></span>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 hidden-sm hidden-xs has-error has-feedback">
								<input type="text" class="form-control" placeholder="Error Input filed">
								<span class="fa fa-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Input with icon</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="text input" value="">
									<div class="input-group-addon"><i class="icon-user"></i></div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 hidden-sm hidden-xs">
								<div class="input-group">
									<div class="input-group-addon"><i class="icon-settings"></i></div>
									<input type="text" class="form-control" placeholder="text input" value="">
									<div class="input-group-addon"><i class="icon-user"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Textarea</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<textarea class="form-control" placeholder="Textarea"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Input mask</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<input type="text" class="form-control" ui-mask="ZIP 999-9999" ng-model="postal_code">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-xs hidden-sm">
								<input type="text" class="form-control" ui-mask="NIP 99-999-999-99" ng-model="nip">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-xs hidden-sm">
								<input type="text" class="form-control" ui-mask="Cell 999-999-999" ng-model="cell_phone">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-xs hidden-sm">
								<input type="text" class="form-control" ui-mask="@*********" ng-model="username">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Select</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<select class="form-control">
							<option>Apples</option>
							<option selected>Pineapples</option>
							<option>Chocklate</option>
							<option>Pancakes</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">UI Select</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<ui-select ng-model="address.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false">
								<ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
								<ui-select-choices repeat="address in addresses track by $index"
									refresh="refreshAddresses($select.search)"
									refresh-delay="0">
									<div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
								</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-12 hidden-sm col-xs-12 control-label">Multi select widget</label>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<div ui-multiselect ng-model="multiselectDemo" ng-options="multiselectDemoList"></div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Range slider</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<div slider ng-model="slider1" floor="0" ceiling="100" step="5" precision="1"></div>
					</div>
				</div>

				<div class="form-group">
					<label for="range-slider" class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Dual knob slider</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<div slider ng-model="slider2" ng-model-range="slider3" floor="0" ceiling="100" step="5" precision="1" buffer="10"></div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Tag input</label>
					<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
						<input type="text" ng-model="tags" ng-tags placeholder="Add tags">
					</div>
				</div>

			</div>
		</section>
	</article>

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">File Uploader</header>
				<section class="panel-body">
					<button class="btn btn-success btn-upload icon-standalone"><i class="fa fa-upload"></i> <span>Upload image</span><input type="file"></button>
				</section>
			</article>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">File Uploader Area</header>
				<section class="panel-body">
					<div class="upload-area">
						<svg version="1.1" id="Warstwa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="40px" height="44px" viewBox="0 0 28 32" enable-background="new 0 0 28 32" xml:space="preserve">
						<g>
							<path fill="#E9F0F5" d="M22.875,11.854l-2.548-7.02c-0.188-0.518-0.74-0.792-1.232-0.613L2.158,10.402
								c-0.492,0.18-0.739,0.746-0.551,1.264l2.687,7.401V15.1c0-1.79,1.431-3.246,3.189-3.246h4.476l3.854-3.51l4.572,3.51H22.875z
								 M25.508,14.101H7.483c-0.523,0-0.948,0.447-0.948,0.999v11.735c0,0.551,0.425,0.999,0.948,0.999h18.025
								c0.524,0,0.949-0.447,0.949-0.999V15.1C26.457,14.548,26.032,14.101,25.508,14.101z M24.132,25.337H9.191v-2.141l2.299-5.35
								l3.448,4.28l1.875-2.335l3.641-1.637l3.678,3.169V25.337z"/>
						</g>
						</svg>
						<span>Drag & Drop files!</span>
					</div>

					<div class="upload-area upload-lg">
						<svg version="1.1" id="Warstwa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="160px" height="164px" viewBox="0 0 28 32" enable-background="new 0 0 28 32" xml:space="preserve">
						<g>
							<path fill="#E9F0F5" d="M22.875,11.854l-2.548-7.02c-0.188-0.518-0.74-0.792-1.232-0.613L2.158,10.402
								c-0.492,0.18-0.739,0.746-0.551,1.264l2.687,7.401V15.1c0-1.79,1.431-3.246,3.189-3.246h4.476l3.854-3.51l4.572,3.51H22.875z
								 M25.508,14.101H7.483c-0.523,0-0.948,0.447-0.948,0.999v11.735c0,0.551,0.425,0.999,0.948,0.999h18.025
								c0.524,0,0.949-0.447,0.949-0.999V15.1C26.457,14.548,26.032,14.101,25.508,14.101z M24.132,25.337H9.191v-2.141l2.299-5.35
								l3.448,4.28l1.875-2.335l3.641-1.637l3.678,3.169V25.337z"/>
						</g>
						</svg>
						<span>Drag & Drop files!</span>
						<small>Drag files to this area</small>
					</div>
				</section>
			</article>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">Checkbox</header>
				<section class="panel-body">

					<div class="form-group">
						<label class="btn-slide slide-default">
							<input type="checkbox">
							<span data-on="On" data-off="Off"></span>
						</label>

						<label class="btn-slide slide-primary">
							<input type="checkbox">
							<span data-on="On" data-off="Off"></span>
						</label>

						<label class="btn-slide slide-success">
							<input type="checkbox">
							<span data-on="On" data-off="Off"></span>
						</label>

						<label class="btn-slide slide-info">
							<input type="checkbox">
							<span data-on="On" data-off="Off"></span>
						</label>

						<label class="btn-slide slide-warning">
							<input type="checkbox">
							<span data-on="On" data-off="Off"></span>
						</label>

						<label class="btn-slide slide-danger">
							<input type="checkbox">
							<span data-on="On" data-off="Off"></span>
						</label>
					</div>

					<div class="form-group">
						<label class="btn-round slide-default">
							<input type="checkbox">
							<span></span>
						</label>

						<label class="btn-round slide-primary">
							<input type="checkbox">
							<span></span>
						</label>

						<label class="btn-round slide-success">
							<input type="checkbox">
							<span></span>
						</label>

						<label class="btn-round slide-info">
							<input type="checkbox">
							<span></span>
						</label>

						<label class="btn-round slide-warning">
							<input type="checkbox">
							<span></span>
						</label>

						<label class="btn-round slide-danger">
							<input type="checkbox">
							<span></span>
						</label>

					</div>


					<label class="btn-check">
						<input type="checkbox">
						<span>Some sample text for checkbox</span>
					</label>

					<label class="btn-check">
						<input type="checkbox" disabled>
						<span>Some sample text for checkbox</span>
					</label>
				
					<div class="checkbox">
						<label>
							<input type="checkbox" disabled> Check me out
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Check me out
						</label>
					</div>

				</section>
			</article>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">Radio buttons</header>
				<section class="panel-body">

					<label class="btn-radio">
						<input type="radio" name="radioBtnDemo">
						<span>Simple radio button</span>
					</label>

					<label class="btn-radio">
						<input type="radio" disabled name="radioBtnDemo">
						<span>Simple radio button</span>
					</label>

					<label class="btn-radio">
						<input type="radio" name="radioBtnDemo">
						<span>Simple radio button</span>
					</label>

					<div class="radio">
						<label>
							<input type="radio" name="radioBtnDemo">
							<span>Simple radio button</span>
						</label>
					</div>

					<div class="radio">
						<label>
							<input type="radio" disabled name="radioBtnDemo">
							<span>Simple radio button</span>
						</label>
					</div>
				
				</section>
			</article>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">Labels</header>
				<section class="panel-body">
					<span class="label label-default">Default</span>
					<span class="label label-success">Success</span>
					<span class="label label-primary">Primary</span>
					<span class="label label-info">Info</span>
					<span class="label label-danger">Cancel</span>
					<span class="label label-warning">Warning</span>
					
					<h1><span class="label label-default">Label</span></h1>
					<h2><span class="label label-success">Label</span></h2>
					<h3><span class="label label-primary">Label</span></h3>
					<h4><span class="label label-info">Label</span></h4>
					<h5><span class="label label-danger">Label</span></h5>
					<h6><span class="label label-warning">Label</span></h6>
				</section>
			</article>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">Badges</header>
				<section class="panel-body">
					<div class="form-group">
						<span class="badge badge-default">15</span>
						<span class="badge badge-success">12</span>
						<span class="badge badge-primary">11</span>
						<span class="badge badge-info">20</span>
						<span class="badge badge-warning">9</span>
						<span class="badge badge-danger">88</span>
					</div>
					<div class="form-group">
						<button class="btn btn-default">Some text <span class="badge">10</span></button>
					</div>
					<div class="form-group">
						<button class="btn btn-primary">Some text <span class="badge">10</span></button>
					</div>
					<div class="form-group">
						<button class="btn btn-success">Some text <span class="badge">10</span></button>
					</div>
					<div class="form-group">
						<button class="btn btn-info">Some text <span class="badge">10</span></button>
					</div>
					<div class="form-group">
						<button class="btn btn-warning">Some text <span class="badge">10</span></button>
					</div>
					<div class="form-group">
						<button class="btn btn-danger">Some text <span class="badge">10</span></button>
					</div>
				</section>
			</article>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">Alert</header>
				<section class="panel-body">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div role="alert" class="alert alert-primary alert-dismissible">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								Alert box, .primary class 
							</div>
							<div role="alert" class="alert alert-success alert-dismissible">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								Alert box, .success class 
							</div>
							<div role="alert" class="alert alert-info alert-dismissible">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								Alert box, .info class
							</div>
							<div role="alert" class="alert alert-danger alert-dismissible">
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
									<span class="sr-only">Close</span>
								</button>
								Alert box, .danger class
							</div>
							<div role="alert" class="alert alert-warning alert-dismissible">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								Alert box, .warning class
							</div>
						</div>
					</div>
				</section>
			</article>
		</div>
	</div>

	<article class="panel panel-default">
		<header class="panel-heading">Progressbar</header>
		<section class="panel-body">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
							<span class="sr-only">20% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
							<span class="sr-only">55% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
							<span class="sr-only">90% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%;">
							<span class="sr-only">12% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
							<span class="sr-only">80% Complete</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
							<span class="sr-only">20% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-primary" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
							<span class="sr-only">55% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
							<span class="sr-only">90% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-warning" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%;">
							<span class="sr-only">12% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
							<span class="sr-only">80% Complete</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="progress">
						<div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
							<span class="sr-only">20% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
							<span class="sr-only">55% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
							<span class="sr-only">90% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%;">
							<span class="sr-only">12% Complete</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
							<span class="sr-only">80% Complete</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width: 35%">
							<span class="sr-only">35% Complete (success)</span>
						</div>
						<div class="progress-bar progress-bar-primary" style="width: 20%">
							<span class="sr-only">20% Complete (warning)</span>
						</div>
						<div class="progress-bar progress-bar-warning" style="width: 15%">
							<span class="sr-only">15% Complete (danger)</span>
						</div>
						<div class="progress-bar progress-bar-danger" style="width: 30%">
							<span class="sr-only">30% Complete (danger)</span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
	
</section>