<div id="page-heading">
	<h3 class="page-title">Tables</h3>
</div>

<section class="container-fluid">
	<div class="row">
		<div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">
					Simple Data Table
					<div class="panel-options">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</header>
				<section class="panel-body">
					<table ng-table="tableParams" class="table ng-table-responsive">
						<tr ng-repeat="item in $data">
							<td data-title="'Company'">{{ item.company }}</td>
							<td data-title="'Name'">{{ item.name }}</td>
							<td data-title="'Description'">{{ item.description }}</td>
							<td data-title="'Profit'">{{ item.profit | currency }}</td>
							<td data-title="'Status'"><label class="label label-{{ item.status.type }}">{{ item.status.value }}</label></td>
							<td data-title="'Options'">
								<div class="btn-group">
									<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
									<ul role="menu" class="dropdown-menu">
										<li role="presentation" class="dropdown-header">Actions</li>
										<li><a href ui-sref="app.admin.profile.edit">Edit</a></li> <!--changed-->
										<li><a href="">Publish</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation" class="dropdown-header">Other</li>
										<li><a href="">Delete</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</table>
				</section>
			</article>
		</div>
		<div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<article class="panel panel-default">
				<header class="panel-heading">
					Advance Data Table
					<div class="panel-options">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</header>
				<section class="panel-body">
					<table ng-table="tableParams1" class="table ng-table-responsive">
						<tr ng-repeat="item in $data">
							<td data-title="'#'">
								<label class="btn-check">
									<input type="checkbox">
									<span></span>
								</label>
							</td>
							<td data-title="'Company'" sortable="'company'">{{ item.company }}</td>
							<td data-title="'Name'" sortable="'name'">{{ item.name }}</td>
							<td data-title="'Description'">{{ item.description }}</td>
							<td data-title="'Profit'" sortable="'profit'">{{ item.profit | currency }}</td>
							<td data-title="'Status'" sortable="'status.value'"><label class="label label-{{ item.status.type }}">{{ item.status.value }}</label></td>
							<td data-title="'Options'">
								<div class="btn-group">
									<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
									<ul role="menu" class="dropdown-menu">
										<li role="presentation" class="dropdown-header">Actions</li>
										<li><a href="">Edit</a></li>
										<li><a href="">Publish</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation" class="dropdown-header">Other</li>
										<li><a href="">Delete</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</table>
				</section>
			</article>
		</div>
	</div>

	<article class="panel panel-default">
		<header class="panel-heading">
			Grouped Data Table
			<div class="panel-options">
				<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
				<a href="" data-toggle="minimize">
					<i class="fa fa-minus"></i>
					<i class="fa fa-plus"></i>
				</a>
				<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
			</div>
		</header>
		<section class="panel-body">
			<table ng-table="tableParams2" class="table ng-table-responsive">
				<tbody ng-repeat="group in $groups">
					<tr class="ng-table-group">
						<td colspan="{{$columns.length}}">
							<a href="" ng-click="group.$hideRows = !group.$hideRows">
								<span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
								<strong>{{ group.value }}</strong>
							</a>
						</td>
					</tr>

					<tr ng-hide="group.$hideRows" ng-repeat="item in group.data">
						<td data-title="'#'">
							<input type="checkbox" name="">
						</td>
						<td data-title="'Company'" sortable="'company'">{{ item.company }}</td>
						<td data-title="'Name'" sortable="'name'">{{ item.name }}</td>
						<td data-title="'Description'">{{ item.description }}</td>
						<td data-title="'Profit'" sortable="'profit'">{{ item.profit | currency }}</td>
						<td data-title="'Status'" sortable="'status.value'"><label class="label label-{{ item.status.type }}">{{ item.status.value }}</label></td>
						<td data-title="'Options'">
							<div class="btn-group">
								<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
								<ul role="menu" class="dropdown-menu">
									<li><a href="">Edit</a></li>
									<li><a href="">Delete</a></li>
									<li><a href="">Publish</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</article>

	<table class="table table-striped table-standalone">
		<thead>
			<tr>
				<th>Company</th>
				<th>Name</th>
				<th>Description</th>
				<th>Profit</th>
				<th>Status</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Company name</td>
				<td>Owner name</td>
				<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
				<td>$1.234,00</td>
				<td><span class="label label-default">Good</span></td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
						<ul role="menu" class="dropdown-menu">
							<li><a href="">Edit</a></li>
							<li><a href="">Delete</a></li>
							<li><a href="">Preview</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Company name</td>
				<td>Owner name</td>
				<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
				<td>$1.234,00</td>
				<td><span class="label label-success">Good</span></td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
						<ul role="menu" class="dropdown-menu">
							<li><a href="">Edit</a></li>
							<li><a href="">Delete</a></li>
							<li><a href="">Preview</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Company name</td>
				<td>Owner name</td>
				<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
				<td>$1.234,00</td>
				<td><span class="label label-info">Good</span></td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
						<ul role="menu" class="dropdown-menu">
							<li><a href="">Edit</a></li>
							<li><a href="">Delete</a></li>
							<li><a href="">Preview</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Company name</td>
				<td>Owner name</td>
				<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
				<td>$1.234,00</td>
				<td><span class="label label-danger">Good</span></td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
						<ul role="menu" class="dropdown-menu">
							<li><a href="">Edit</a></li>
							<li><a href="">Delete</a></li>
							<li><a href="">Preview</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Company name</td>
				<td>Owner name</td>
				<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
				<td>$1.234,00</td>
				<td><span class="label label-warning">Good</span></td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
						<ul role="menu" class="dropdown-menu">
							<li><a href="">Edit</a></li>
							<li><a href="">Delete</a></li>
							<li><a href="">Preview</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<article class="panel panel-default">
		<header class="panel-heading">
			Static Table

			<div class="panel-options">
				<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
				<a href="" data-toggle="minimize">
					<i class="fa fa-minus"></i>
					<i class="fa fa-plus"></i>
				</a>
				<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
			</div>
		</header>
		<section class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Company</th>
						<th>Picture</th>
						<th>Description</th>
						<th>Profit</th>
						<th>Status</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Company name</td>
						<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
						<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
						<td>$1.234,00</td>
						<td><span class="label label-default">Good</span></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
								<ul role="menu" class="dropdown-menu">
									<li><a href="">Edit</a></li>
									<li><a href="">Delete</a></li>
									<li><a href="">Preview</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td>Company name</td>
						<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
						<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
						<td>$1.234,00</td>
						<td><span class="label label-success">Good</span></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
								<ul role="menu" class="dropdown-menu">
									<li><a href="">Edit</a></li>
									<li><a href="">Delete</a></li>
									<li><a href="">Preview</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td>Company name</td>
						<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
						<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
						<td>$1.234,00</td>
						<td><span class="label label-info">Good</span></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
								<ul role="menu" class="dropdown-menu">
									<li><a href="">Edit</a></li>
									<li><a href="">Delete</a></li>
									<li><a href="">Preview</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td>Company name</td>
						<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
						<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
						<td>$1.234,00</td>
						<td><span class="label label-danger">Good</span></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
								<ul role="menu" class="dropdown-menu">
									<li><a href="">Edit</a></li>
									<li><a href="">Delete</a></li>
									<li><a href="">Preview</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td>Company name</td>
						<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
						<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
						<td>$1.234,00</td>
						<td><span class="label label-warning">Good</span></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
								<ul role="menu" class="dropdown-menu">
									<li><a href="">Edit</a></li>
									<li><a href="">Delete</a></li>
									<li><a href="">Preview</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<a href="" class="btn btn-success pull-right">Save</a>
				</div>
			</div>
		</footer>
	</article>

	<div class="row">
		<div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12">
			<article class="panel panel-default">
				<header class="panel-heading">
					Static Table with hover rows
					<div class="panel-options">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</header>
				<section class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Company</th>
								<th>Picture</th>
								<th>Description</th>
								<th>Profit</th>
								<th>Status</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-default">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-success">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-info">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-danger">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-warning">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</article>
		</div>
		<div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12">
			<article class="panel panel-default">
				<header class="panel-heading">
					Static Table with hover rows
					<div class="panel-options">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</header>
				<section class="panel-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Company</th>
								<th>Picture</th>
								<th>Description</th>
								<th>Profit</th>
								<th>Status</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-default">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr class="danger">
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-success">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr class="success">
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-info">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr class="info">
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-danger">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>Company name</td>
								<td><img src="/assets/img/placeholder.svg" class="thumb-block"></td>
								<td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut explicabo dolore incidunt cum, reprehenderit quia, perspiciatis est excepturi, aut architecto.</span></td>
								<td>$1.234,00</td>
								<td><span class="label label-warning">Good</span></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
										<ul role="menu" class="dropdown-menu">
											<li><a href="">Edit</a></li>
											<li><a href="">Delete</a></li>
											<li><a href="">Preview</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</article>
		</div>
	</div>

</section>