<div id="page-heading" class="idi-payments__header">
  <h3 class="page-title">Payments - Add Card</h3>
</div>

<section class="container-fluid idi-payments__body">
  <div class="panel panel-default">
    <idi-payment-card-form card="addCard.cardInfo" billing="addCard.billing" countries="addCard.countries" on-submitted="addCard.onSubmitted(card, billing)" go-back="addCard.onCancel()" adding-card="addCard.addingCard" cancel-text="Cancel" submit-text="Add Card">
    </idi-payment-card-form>
  </div>
</section>