<div id="page-heading" class="idi-payments__header">
  <h3 class="page-title">Payments</h3>
</div>

<section class="container-fluid idi-payments__body">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row idi-payments__slugContent" idi-pages-slug="'payments-dashboard'"></div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h4>Your Programmes</h4>
          <idi-payment-subscriptions subscriptions="dashboard.subscriptions" ng-if="!dashboard.newCustomer && !dashboard.noCourse"></idi-payment-subscriptions>
          <p ng-if="dashboard.newCustomer || dashboard.noCourse" class="newCustomer">You have not purchased any programmes.</p>
          <a ng-if="dashboard.newCustomer || dashboard.noCourse" href ui-sref="app.admin.payments.purchase">
            <button class="btn idi-payments__newButton--left">Purchase New Programme</button>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 idi-payments__cards">
          <h4>Payment Card</h4>
          <idi-payment-card card="dashboard.card" ng-if="!dashboard.newCustomer"></idi-payment-card>
          <p ng-if="dashboard.newCustomer" class="newCustomer" >You have not added a payment card.</p>
          <a ng-if="!dashboard.newCustomer" href ui-sref="app.admin.payments.card"><button class="btn idi-payments__addCard">Change Card</button></a>
          <a ng-if="dashboard.newCustomer" href ui-sref="app.admin.payments.card"><button class="btn idi-payments__addCard">Add Card</button></a>
          <h4 ng-if="!dashboard.newCustomer && !dashboard.noCourse">New Programme</h4>
          <a ng-if="!dashboard.newCustomer && !dashboard.noCourse" href ui-sref="app.admin.payments.purchase"><button class="btn idi-payments__newButton">Purchase New Programme</button></a>
        </div>
      </div>
    </div>
  </div>
</section>