<div class="container-fluid">
  <div class="row">
    <div class="center-block">
      <div class="col-md-offset-4 col-sm-offset-4 col-md-4 col-sm-4">
        <div lp-sections module-id="1" parent-id="0"></div>
      </div>
    </div>
  </div>
</div>