<div class="panel">
  <div class="panel-heading">
    <p class="title" idi-locale="dashboard.modules.naming"></p>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs" role="tablist" ui-tabs>
      <li ng-class="{active: isMyCourses}" ng-click="isMyCourses = 1">
        <a href="" role="tab">My Courses</a>
      </li>
      <li ng-class="{active: !isMyCourses}" ng-click="isMyCourses = 0">
        <a href="" role="tab">Other Courses</a>
      </li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-body">
      <table class="table">
      <thead>
        <tr>
          <th class="header bg-main">
            <b>Course</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="module in modules">
          <td>
            <a href ng-if="isMyCourses" ui-sref="app.admin.courses.myStudents({moduleNameId: module.mod_id})">
              {{:: module.title }}
            </a>
            <a href ng-if="!isMyCourses" ui-sref="app.admin.courses.otherStudents({moduleNameId: module.mod_id})">
              {{:: module.title }}
              </a>
          </td>
        </tr>
      </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
