<div id="page-heading" class="idi-payments__header">
   <h3 class="page-title">Purchase New Programme</h3>
 </div>

<div class="panel panel-default idi-payments__newForm">
  <idi-wizard-progress tabs="purchase.titles" current="purchase.index"></idi-wizard-progress>
  <div class="panel-body">
    <p idi-pages-slug="'payments-choose-plan'"></p>
    <section class="container-fluid idi-payments__body">
      <div class="wizard_pane wizard_pane--payments active" ui-view="course"></div>
      <div class="wizard_pane wizard_pane--payments" ui-view="card"></div>
      <div class="wizard_pane wizard_pane--payments" ui-view="summary"></div>
      <div class="wizard_pane wizard_pane--payments" ui-view="confirmation"></div>
    </section>
  </div>
</div>