<div class="row idi-payments__summaryPane">
  <div class="row">
    <h4>Payment Successful</h4>
    <p>Your payment was successful for <b>{{ purchase.summaryPlan.course.title }}</b>.</p>
  </div>
</div>
<div class="row idi-payments__wizardControls">
  <button class="btn pull-right" ng-click=purchase.submit(4)>Return to Dashboard</button>
</div>