<div class="row idi-payments__summaryPane">
  <div class="col-sm-12 col-md-6">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h5>Programme</h5>
        <p>{{ purchase.summaryPlan.course.title }}</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <h5>Billing Address</h5>
        <ul>
          <li>{{ purchase.billing.name }}</li>
          <li>{{ purchase.billing.address1 }}</li>
          <li ng-if="purchase.billing.address2">{{ purchase.billing.address2 }}</li>
          <li>{{ purchase.billing.city }}</li>
          <li>{{ purchase.billing.postcode }}</li>
          <li>{{ purchase.billing.country }}</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12">
      <h5>Payment Card</h5>
      <idi-payment-card card="purchase.card"></idi-payment-card>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <idi-payment-summary plan="purchase.summaryPlan"></idi-payment-summary>
  </div>
</div>
<div class="row idi-payments__wizardControls">
  <button class="btn pull-left" ng-click="purchase.submit(-1)">Previous</button>
  <button class="btn pull-right" ng-click="purchase.processWizard()" ng-disabled="purchase.addingCard">Confirm</button>
</div>