<form name="purchase.courseForm" novalidate>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group clearfix">
        <label>Select Programme</label>
        <select id="course" name="course" ng-model="purchase.course.name" ng-change="purchase.courseChange()" class="select form-control" purchase-course-choice ng-class="{error: courseForm.course.$invalid && courseForm.$submitted}" ng-options="c.id as c.title for c in purchase.courses" ng-model-options="{allowInvalid: true}" initial-vals="purchase.initialValues">
          <option value="">{{ purchase.initialValues[0] }}</option>
        </select>
      </div>
      <div class="form-group" ng-if="purchase.showNext(0)">
        <label>Select Currency</label>
        <select id="currency" name="currency" ng-model="purchase.course.currency" ng-change="purchase.currencyChange()" class="select form-control" purchase-course-choice ng-class="{error: courseForm.currency.$invalid && courseForm.$submitted}" ng-options="c.code as c.name for c in purchase.availableCurrencies" ng-model-options="{allowInvalid: true}" initial-vals="purchase.initialValues">
          <option value="">{{ purchase.initialValues[1] }}</option>
        </select>
      </div>
      <div class="form-group" ng-if="purchase.showNext(1)">
        <label>Select Plan</label>
        <select id="plan" name="plan" ng-model="purchase.course.plan" ng-change="purchase.planChange()" class="select form-control" purchase-course-choice ng-class="{error: courseForm.plan.$invalid && courseForm.$submitted}" ng-options="id*1 as p.title for (id, p) in purchase.availablePlans" ng-model-options="{allowInvalid: true}" initial-vals="purchase.initialValues">
          <option value="">{{ purchase.initialValues[2] }}</option>
        </select>
      </div>
      <div class="form-group idi-payments__discount" ng-if="purchase.showNext(2)">
        <label>Promotional Code</label>
        <input type="text" name="promo" placeholder="Promotional Code" ng-model="purchase.course.promo" class="form-control">
        <button ng-click="purchase.applyCode()">Add</button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <idi-payment-summary plan="purchase.summaryPlan" ng-if="purchase.showNext(2)"></idi-payment-summary>
    </div>
  </div>
  <div class="row idi-payments__wizardControls">
    <button type="submit" class="btn pull-right" ng-click="purchase.submit(1)" ng-disabled="!purchase.courseForm.$valid">Next</button>
  </div>
</form>
