<div class="list-group idi-learning-path">
  <a ng-if="backId" href="" class="list-group-item" ng-click="getSectionById(backId)">
    <h5 class="list-group-item-heading">
      <span class="icon icon-arrow-up2"> </span>Go back
    </h5>
  </a>
  <div class="list-group-item" ng-repeat="section in sections | orderBy:'order' as ordered track by section.id  ">
    <a href="" ng-click="getSection(section)">
    <h5 class="c-lp-sections__title list-group-item-heading" title="{{ ::section.title }}">
      {{ ::section.title }}
      <span class="badge badge-primary" ng-show="section.hours > 0">{{section.hours}}H </span>
    </h5>
    </a>
    <div ng-if="section.content.length && !flat">
      <h5 ng-if="section.learningMaterials.length"><strong>Learning Materials</strong></h5>
      <ul>
        <li class="content-list-item" ng-repeat="content in section.learningMaterials track by content.id">
          <a href="" ng-class="{bolder: content.id == contentId}" ng-click="selectItem(content, section)">{{content.title}}</a>
        </li>
      </ul>
      <h5 ng-if="section.activities.length"><strong>Activities</strong></h5>
      <ul>
        <li class="content-list-item" ng-repeat="content in section.activities track by content.id">
          <a href ng-class="{bolder: content.id == contentId}" ng-click="selectItem(content, section)">{{content.title}}</a>
            <div class="row">
              <div class="c-learning-path__thumbnail" ng-repeat="file in files[content.id] track by file.id">
                <!-- <div class="thumbnail idi-learning-path__thumbnail"> -->
                  <a href ng-click="selectFile(file, content, e)" class="clickable">
                  <idi-thumbnail item="file" size="50px"/>
                    <span class="badge c-learning-path__badge" ng-show="file.attached_messages">
                      {{ file.attached_messages }}
                    </span>
                    <!-- <ui-file-thumbnail item="file"></ui-file-thumbnail> -->
                  </a>

             <!--    </div> -->
              </div>
              <p ng-if="isActivitiesMode && (!files[content.id] || files[content.id].length == 0)">
                No Files Uploaded
              </p>
            </div>
          </a>
        </li>
      </ul>
      <p ng-if="section.activities.length == 0 && isActivitiesMode">No Activities Found</p>
    </div>
    <div ng-if="section.content.length && flat">
      <ul>
        <li class="content-list-item" ng-repeat="content in section.allContent track by content.id">
          <a href="" ng-if="content.content_type_name=='Learning Materials'" ng-class="{bolder: content.id == contentId}" ng-click="selectItem(content, section)">{{content.title}}</a>
          <a href=""  ng-if="content.content_type_name=='Activities'" ng-class="{bolder: content.id == contentId}" ng-click="selectItem(content, section)">{{content.title}}</a>
            <div class="row">
              <div class="c-learning-path__thumbnail" ng-repeat="file in files[content.id] track by file.id">
                <!-- <div class="thumbnail idi-learning-path__thumbnail"> -->
                  <a href ng-click="selectFile(file, content, e)" class="clickable">
                  <idi-thumbnail item="file" size="50px"/>
                    <span class="badge c-learning-path__badge" ng-show="file.attached_messages">
                      {{ file.attached_messages }}
                    </span>
                    <!-- <ui-file-thumbnail item="file"></ui-file-thumbnail> -->
                  </a>

             <!--    </div> -->
              </div>
              <p ng-if="isActivitiesMode && (!files[content.id] || files[content.id].length == 0)">
                No Files Uploaded
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
