.markdown {
  display: table;
  width: 100%;
  border-radius: @border-radius-base;
  border:1px solid @panel-inner-border;

  .markdown-editor, .markdown-preview {
    display: table-cell;
    width: 50%;
    min-height: 300px;
    padding:15px;
    vertical-align: top;
  }
  .markdown-editor {
    background-color: fade(@panel-inner-border, 20%);
    textarea {
      background-color: transparent;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .markdown-preview {
    border-left:1px solid @panel-inner-border;
    // background-color: #ededed;
  }

}