.multiselect[ui-multiselect] {
  input[type="text"] {
    border-radius: 0;
    border-width: 0 0 1px 0;
    background-color: @body-bg;
  }
  .panel-body {
    height:200px;
    width: 100%;
    overflow:hidden;
    padding: 4px;
  }

  ul.nav.nav-pills {
    padding: 6px;
    > li a {
      color: @gray-light;
      padding: 8px 10px;
      &:hover {
        background-color: #e9f0f5;
      }
    }
  }
}