aside.chat {
  background-color: @main-color;
  
  .text-info {
    color: @main-color-dark !important;
  }
  
  .badge.badge-danger {
    background: @alt-color;
  }
  
  .user-list li:not(.group-name):hover {
    background-color: @main-color-dark;
  }
  
  .conversation-list li .avatar .time {
    color: @main-color-dark;
  }
  
  .message-input,
  .message-input input {
    background-color: lighten(@main-color-dark, 10%);
  }
  
  .message-input span {
    color: @main-color-dark;
  }
  
  .conversation-list li .message {
    background-color: @main-color-dark;
    
    &:after {
      border-color: transparent @main-color-dark transparent transparent;
    }
  }
  
  .conversation-list li.owner .message {
    background-color: lighten(@main-color-dark, 10%);
    
    &:after {
      border-color: lighten(@main-color-dark, 10%) transparent transparent transparent;
    }
  }
}