// ABS styles

body , 
span, ul, ol, p, s
.h1, .h2, .h3, .h4, .h5, .h6, 
.ui-notification > .message,
.ui-notification > h3 {
  font-family: @main-font;
}

.default-link {
  color: @alt-color;
  text-decoration: underline;
  &:hover {
    background: @main-color;
    text-decoration: none;
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

// top navbar changes
#heading .dropdown-menu > li > a { background-color:white; }
#heading .dropdown-menu > li > a:hover { background-color:@main-color-light; }
.navbar-default .navbar-toggle .icon-bar {
  background-color: @alt-color;
}
#page-heading .page-title {
  color: black;
  font-weight: 400;
}

.help-heading {
  position: relative;
}

.open-help-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  text-align: center;
}

.help-heading .fa-info-circle {
  line-height: 1em;
  color: @alt-color;
}

// change uploader icon
.btn-upload .fa-upload {
  background: url(/media/upload-icon.png) no-repeat;
  background-size: cover;
  height: 35px;
  width: 40px;
  margin-top: -5px
}
.btn-upload .fa-upload::before {
  content: '';
}

.uploader .icon-upload::before {
  content: '';
  background: url(/media/upload-icon.png) no-repeat;
  background-size: contain;
  height: 60px;
  font-size:60px;
}

.thumbnail--file h3 {
  font-size: 1.25em !important;
  font-family: @main-font !important;
}
// admissions welcome tab
#welcomePageContent {
  padding: 50px;
  .admissions_welcome__title {
    padding:0 0 25px 0;
  }
}
// admissions font size  & color changes
body { background: #ededed; }
.wrapper > nav.navbar.navbar-default { background: #ededed; }
// top tabs
.form-wizard.studio-wizard .tabs li button, 
.form-wizard.admission-wizard .tabs li button {
  font-size:1.1em;
}
.form-wizard.studio-wizard .tabs li, .form-wizard.admission-wizard .tabs li {
  border-bottom: 4px solid #dcdcdc;
}
// body text
.wizard_pane--admissions {
  line-height:1.75em;
  a:hover, a:focus { 
    color:@main-color-dark; 
    text-decoration:underline; 
  }
  h3 { 
    font-size: 2em; 
    font-family: @title-font; 
    padding:25px 0; 
  }
  p { font-size: 1.1em; }
  h5 { 
    font-size: 1.35em; p
    adding-top:25px;
  }
  h5 img {
    width:20px;
    margin-top: -3px;
    margin-right: 5px;
  }
}

.admissions_welcome__buttons_wrapper {
  .row { 
    padding-top:20px;
    img { 
      height:100px; 
      width:auto;
      margin-top:-15px;
    }
    ul { padding-left: 15px; }
  }

  @media (max-width: 992px) {
    .row > div:nth-child(2) {
      margin-top:10px;
    }
  }

  @media (max-width: 600px) {
    .row {
      .col-xs-2 {
        padding: 0 5px
      }
      img {
        margin-left: -10px;
        margin-top: -5px;
        max-width:150%;
        height: auto;
      }
    }
  }
}

// info box with logos within admissions wizard
.info-with-logo {
  img {
    float: left;
    width: 70px;
  }
  p {
    margin-top: 15px;
    padding-left:85px;
  }
  p:nth-child(2) {
    margin-top: 0;
  }
}

.btn-primary {
  color: @main-color-text;
  background-color: @main-color;
  border-color: @main-color;
  box-shadow: inset 0 -2px 0 @main-color-dark;
  i {
    color: white;
  }
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color:@main-color-dark
}

a { color:@main-color; }
.badge.badge-primary { background-color:@main-color-dark;}
#heading .dropdown-menu > li > a { background-color:white; }
#heading .dropdown-menu > li > a:hover { background-color:@main-color-light; }
.btn-link { color:@main-color; }
.btn-link:hover, .btn-link:focus { color:@main-color-dark; }
.btn-default:hover { background-color:@main-color-light !important; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-color:@main-color-light; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:@main-color-dark;
  border-color:@main-color-dark;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color:@main-color-light;
  border-color:@main-color-light;
  color:#43484c;
}
.admissions_welcome__heading,
.admissions_welcome__title {
  color:black !important;
}

// overwrite btn-success
.btn-success,
.btn-info {
  .button-variant(@main-color-text; @main-color; @main-color);
  box-shadow: inset 0 -2px 0 darken(@main-color, 10%);
  border: none;

  &.btn-flat {
    box-shadow: none;
  }

  &.dropdown-toggle {
    margin-left: 0 !important;
    border-left: 1px solid darken(@main-color, 10%);
  }
  
  &.icon-standalone i {
    background-color: darken(@main-color, 10%);
  }
}

// Hamburger Menu
// .navbar-default .navbar-toggle {
//   margin: 33px 15px;
// }


// Has Success TextBox
.has-success .form-control {
  border-color: #c9d7e0;
}

.has-success .form-control:focus,
.form-control:focus {
  border-color: @main-color;
  box-shadow: 0 0 4px 1px rgba(255, 204, 0, 0.6);
}

// Scrollbar
.ngscroll-scrollbar-container .ngscroll-scrollbar {
  background-color: @main-color-dark !important;
}

// round progress bar
.round-progress-wrapper svg path {
  stroke: @main-color !important;
}

// checkboxes
.btn-check {
  input[type="checkbox"] + span:after {
    border: 0 solid @main-color;
  }
  &:hover input[type="checkbox"]:not(:disabled) + span:before {
    box-shadow: 0 0 6px 0 @main-color;
    border-color: @main-color;
  }
}

// checkbox slide
.slide-default input[type="checkbox"]:checked + span:before {
  background-color: @main-color;
}

// Wizard
.form-wizard {
  .bar,
  .tabs li.active a:after,
  .tabs li.active button:after,
  &.admission-wizard .tabs li.active,
  &.studio-wizard .tabs li.active,
  &.admission-wizard .tabs li.active button + div > span,
  &.studio-wizard .tabs li.active button + div > span {
    background-color: @main-color;
  }
}

@media (min-width: 768px) {
  .form-wizard.studio-wizard .tabs li.active,
  .form-wizard.admission-wizard .tabs li.active {
    background-color: #ffffff;
  }
}

// dropdown menu
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  border-left-color: @main-color;
}

// Notification Buttons
.navbar {
  .navbar-link-primary {
    > [class^="icon-"],
    > [class*="icon-"] {
      background-color: @main-color;
      
      &:before {
        color: darken(@alt-color, 10%);
      }
    }
    
    > small {
      background-color: darken(@alt-color, 10%);
    }
  }
  
  .navbar-link-success {
    > [class^="icon-"],
    > [class*="icon-"] {
      background-color: @main-color;
      
      &:before {
        color: darken(@main-color, 10%);
      }
    }
    
    > small {
      background-color: darken(@main-color, 10%);
    }
  }
  
  .navbar-link-info {
    > [class^="icon-"],
    > [class*="icon-"] {
      background-color: @main-color-light;
      
      &:before {
        color: darken(@main-color-light, 10%);
      }
    }
    
    > small {
      background-color: darken(@main-color-light, 10%);
    }
  }
}

// Success Notification
.ui-notification.success {
  background-color: @main-color;
}

// Social Icons
.social-icons > ul > li:hover > a {
  color: @main-color-dark;
}

nav[role="navigation"] .uk-timezone {
  color: @main-color;
}

// profile tabs
.profile-menu-collapse .nav-tabs > li.active, 
.profile-menu-collapse .nav-tabs > li.active > a, 
.profile-menu-collapse .nav-tabs > li.active > a:hover, 
.profile-menu-collapse .nav-tabs > li.active > a:focus {
  background-color: @main-color;
}

.nav-tabs.profile-tabs > li.active, 
.nav-tabs.profile-tabs > li.active > a, 
.nav-tabs.profile-tabs > li.active > a:hover, 
.nav-tabs.profile-tabs > li.active > a:focus,
.nav-tabs.profile-tabs > li > a:hover, 
.nav-tabs.profile-tabs > li > a:focus,
.breadcrumb > .active {
  color: @main-color;
}

// profile collapsed menu
.panel-title a:before {
  content: "\f0c9";
  float: right;
  font: normal normal normal 14px/1 FontAwesome
}

// mail
#mailbox .mail-list li:hover,
#mailbox .mail-list li.active {
  border-left-color: @main-color;
}
#mailbox .btn-primary.icon-standalone i {
  background-color: @main-color-dark;
}
#mailbox button[type="submit"] {
  background-color: @main-color;
}
#mailbox button[type="submit"]:hover {
  background-color: @main-color-dark;
}

// panel
.panel-success > .panel-heading {
  background-color: @main-color;
}

blockquote {
  border-left: 5px solid @main-color-dark;
  background-color: #EDEAF8;
}

.learning_path__icon__wrapper {
  .learning_path__icon {
    span.icon-bar {
      background-color: @main-color;
    }
  }
  h5 {
    color: @main-color;
  }
}
.studio-sections__icon__wrapper {
  .studio-sections__icon {
    span.icon-bar {
      background-color: @main-color;
    }
  }
  h5 {
    color: @main-color;
  }
}

.admissions_welcome {
  &__title {
    color: @main-color;
  }
  &__heading {
    color: @main-color;
  }
}

//srs

.srs_list {

  &__buttons {
    &__slide {
      input[type="checkbox"]:checked + span:before {
        background-color: @main-color;
      }
    }
  }
  .list-group-item.active {
    background-color: @main-color;
    border-color: darken(@main-color, 10%);
  }
}

// Modals

// For table required in Admissions FAQ
.modal-body table {
  width:60%;
  margin-left:20%;
  td {
    text-align:center;
    border:1px solid #ccc;
    font-size: 0.875em;
    line-height:1.5em;
  }
}

.openPSModal:hover {
  cursor: pointer;
}

/** Admissions Forums **/
// New topic button
.btn-primary.icon-standalone i { background-color: @main-color-dark; }
// hack to hide link to buggy page
a[href="/forums-new/list"] {
  display:none;
}
.forums-section {
  // Add margin below filter options
  .filter-options { margin-bottom:10px; }
  // borders for topics and headers
  thead tr {
    border-left: 1px solid @main-color-dark;
    border-right: 1px solid @main-color-dark;
  }
  tbody tr {
    border: 1px solid #ddd;
  }
  tbody tr td {
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
  }
  // Forum Header
  .table-container table.table-learnPathSticky > thead > tr > th,
  .table-container table.table-learnPath > thead > tr > th,
  .table-container table.table-sticky > thead > tr > th,
  .table-container table.table-topic > thead > tr > th,
  .table-forums > thead > tr > th {
    background-color: @main-color-dark;
    display: table-cell;
  }
  // Forum Sticky
  .table-container table.table-sticky > tbody > tr > td { background-color: @main-color; }
  .table-container table.table-sticky > tbody > tr:hover > td { background-color: darken(@main-color,5%); }
  // Forum LearningPath
  .table-container table.table-learnPathSticky > tbody > tr > td,
  .table-container table.table-learnPath > tbody > tr > td { 
    background-color: @main-color-light;
  }
  .table-container table.table-learnPathSticky > tbody > tr:hover > td,
  .table-container table.table-learnPath > tbody > tr:hover > td { 
    background-color: darken(@main-color-light,5%); 
  }
  // Show cursor for entire row
  .table-container tbody > tr:hover {
    cursor: pointer;
  }

  // Hide certain columns at low resolutions to improve responsivenewss
  @media (max-width: 490px)  {
    .table-forums>thead>tr>th:nth-child(4),
    .table-forums>thead>tr>th:nth-child(6),
    .table-forums td[data-title="'Views'"],
    .table-forums td[data-title="'Last Post By'"] {
      display: none !important;
    }
  } 
  @media (max-width: 350px) {
    .table-forums>thead>tr>th:nth-child(7),
    .table-forums td[data-title="'Last Reply'"] {
      display: none !important;
    }
  }
  // Topic messages
  .post { 
    padding: 0;
    > div { padding:15px; }
  } 
  .post-info { border-right: 1px solid #ddd; }
  // Topic reply
  .panel-post form { max-width: 100%; }
  // Topic quote
  form#quoteform {
    border-bottom: 1px solid #ddd;
    margin:0;
    padding:15px;
  }
  // Pagination margin
  .pagination { margin-top:15px; }
  // Button style changes
  .btn-alt, .btn-main-light {
    background-color: @main-color;
    color:@main-color-text;
    border-color: @main-color-dark;
    box-shadow: inset 0 -2px 0 @main-color-dark;
  }
  .btn-alt:hover, .btn-main-light:hover { background-color: @main-color-dark; }

  // New topic modal
  .modal-body textarea {
    max-width:468px;
  }
  // Edit topic modal
  .modal-footer .btn-alt {
    background-color: @main-color;
    color:@main-color-text;
    border-color: @main-color-dark;
    box-shadow: inset 0 -2px 0 @main-color-dark;
  }
  .modal-footer .btn-alt:hover { background-color: @main-color-dark; }
}
/* End of admissions forums */

.forums-section {
  li.active {
    color: @main-color-dark;
  }
  .panel-heading {
    color: @main-color-text;
    a {
      color: @main-color-text;
    }
  }
}

.idi-profileWidget,
.pages-manager,
.media-manager-body,
.module .container-fluid {
  a {
    .default-link;
  }
}

.learn-path-content .list-group {
  a {
    text-decoration:none !important;
    h5 {
      padding-bottom: 5px;
    }
  }
}

.module {
  p, li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .panel-success {
    .panel-heading {
      border-color: @main-color;
      padding:30px;
      h4 {
        color: @main-color-text;
        font-family: @title-font;
        text-transform: uppercase;
        font-size: 1.5em;
      }
    }
  }
  .c-support-docs {
    &__heading {
      background: @main-color;
      color: @main-color-text;
      font-size: 16px !important;
    }
    &__body {
      padding:0;
      ul {
        padding:10px 0;
        li {
          padding: 0;
          a {
            p {
              padding: 5px 15px;
              margin: 0;
            }
            i {
              padding-top: 3px;
            }
            &:hover {
              cursor: pointer;
              p {
                background: @main-color;
              }
            }
          }
        }
      }
    }
  }
  .learning_tab__content {
    p {
      font-size: 16px;
      line-height: 1.5em;
      margin-bottom: 16px;
    }
    ul, ol {
      margin-bottom: 16px;
      li {
        font-size: 16px;
      }
    }
    blockquote {
      border-left: 20px solid @main-color;
      background-color: #faf6eb;
    }
    @media (max-width: 490px)  {
      blockquote {
        border-left: 10px solid @main-color;
      }
    }
  }
}

.idi-message {
  &__controls {
    &--edit,
    &--delete {
      color: @alt-color;
    }
  }
}

.idi-dashboard {
  &__programmes {
    .panel-group {
      margin-bottom: 0;
    }
    .panel-body table {
      margin-bottom: 0;
      td {
        border-top: none;
        a {
          .default-link;
        }
      }
    }
  }
}

.navbar, #heading {
  .navbar-link-default {
    button {
      small {
        color: @alt-color-text;
      }
    }
  }
}

.level {
  padding-top: 0;
  &__content {
    margin-top: 30px;
    padding: 0 15px;
    h4:nth-child(1) {
      font-family: @title-font;
      text-transform: uppercase;
    }
  }
  p, li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .transcript {
    a {
      .default-link;
    }
  }
  .module-table {
    padding:0 30px;
    table {
      td {
        a {
          .default-link;
        }
      }
    }
  }
}