.mail-list li.unread{
  background-color: @main-color-light;
  color: @main-color-text;
  a {
    h6, small, span, .fa {
      color: @main-color-text;
    }
  }
  &:hover {
    background-color: @main-color-dark;
  }
}