// Sidebar Styles

aside[role="navigation"] .brand .large {
  padding: 25px 0;
  max-width: 60%;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 65%;
  }
}

aside[role="navigation"] .brand .small {
  padding:10px 0;
  max-width:60%;
  margin: 22px auto 0;
}

aside[role="navigation"] nav.side-bar {   
  ul.nav-menu {
    > li {   
      > a {
        i.fa {
          color: @main-color-text;
        }
        > span {
          color: @main-color-text;
          font-size: 14px;
        }
      }
      
      ul {
        background-color: #fff;
        box-shadow: none;        
        
        > li:not(.title) {
          > a, div.scope-title {
            color: #555;
            
            &.active,
            &:hover {
              color: @main-color-dark;
            }
          }
        }
      }
    }
    
    > li:hover,
    > li.active {
      > a {
        background-color: @main-color-dark;
        border-left: 2px solid @main-color-light;
        
        &:before {
          color: #333333;
        }
      }
    }
  }
}

// Toggle Sidebar
body.contract aside[role="navigation"] nav.side-bar ul.nav-menu {
  // margin-top:45px; // Minimum of 45px to not get cut off by larger navbar
  > li {
    > a:before {
      margin-left: 8px;
      color: #333333;
    }
    
    > a:hover:before {
      color: @main-color-light;
    }
    
    > a + ul > li.title {
      background-color: @main-color-dark;
    }
    
    &:hover > ul {
      border-right: 1px solid @main-color-dark;
      border-bottom: 1px solid @main-color-dark;
    }
  }
}

.icon-cloud-upload--blue {
  color: @main-color;
}