// Main Variables
@main-color:                #ffcc00;
@alt-color:                 #666666;
@main-color-text:           black;
@alt-color-text:            white;

// Secondary Variables
@main-color-light:          #f1e0c0;
@main-color-dark:           #d09b1a;
@icon-outline:              @alt-color;
@icon-outline-hover:        @alt-color-text;
@icon-outline-hover-bg:     @main-color;

// Font Variables
@font-face {
  font-family: OpenSans; 
  src: url(/assets/font/SourceSansPro-Regular.ttf); 
}

@font-face {
  font-family: BauerBodoni;
  src: url(/assets/font/Bauer-Bodoni-Bold-Italic.ttf);
}

@main-font:  OpenSans;
@title-font: BauerBodoni;