.page.error {
  .container {
    margin: 160px auto;
    width: 600px;
    text-align: center;

    h1 {
      font-size: 220px;
      font-weight: 700;
      color: @brand-success;
      margin: 0;
      font-family: @font-family-serif;

    }
    h1 ~ small {
      display: block;
      font-size: 30px;
      color: #fff;
      margin-top: -30px;
      font-family: @font-family-serif;
    }
    button {
      margin: 20px 0;
    }
  }
}