.page.login {
  .container {
    width: 460px;
    margin: 100px auto;

    h3 {
      margin-bottom: 0;
    }
    .btn.btn-success{
      @media (max-width: @screen-xs-max){
        margin-top: 0;
      }
    }


    .panel {
      border: none;

      .panel-body {
        padding: 20px;
      }
      .panel-footer {
        padding: 20px;
        background-color: fade(@brand-info, 85%);
        color: #fff;
        text-align: center;
      }
      .info {
        padding: 15px;
        font-size: 13px;
        background-color: fade(@brand-warning, 85%);

        p {
          margin: 0;
        }
      }
    }
  }
}


