.page {
  background-image:
    url('../img/static/background-pattern.png'),
    url('../img/static/background.jpg');
  background-position: center center, center center;
  position: fixed;
  width: 100%;
  height: 100%;
}

#demo-page-icons {
  .col-xs-4  {
    height: 100px;
  }
}

@media (max-width: @screen-sm-min) {
  main.page, main.page.lock, main.page.login {
    .container {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;

      h1 {
        margin:0;
      }

      .input-bar {
        margin: 20px 0;
        .form-control {
          padding-left: 15px;
        }
      }
    }
  }
  main.page.error {
    .container {
      width: 100%;
      margin:0 auto;

      h1 {
        font-size: 160px;
        margin-bottom: 10px;
      }
      h1 + small {
        font-size: 20px;
        margin-bottom: 40px;
      }
    }
  }
}