.page.register {
  .container {
    width: 638px;
    margin: 20px auto;

    .logo {
      width: 140px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 0;
    }

    p {
      line-height: 1.7;
      font-size: 14px;
    }

    .form-control {
      height: 35px;
    }

    button[type="submit"] {
      height: 32px;
    }

    .panel {
      border: none;
      padding: 0 5px;

      .panel-body {
        padding: 0 20px;

        .container-fluid {
          margin-top: 20px;
          padding: 0;
        }
      }
      .panel-footer {
        border: none;
        padding-top: 0;
        padding-left: 20px;

          .login-button {
            color: @alt-color;
          }
      }
    }
  }
  @media (max-width: 650px) {
    .container {
      width:90%;
      margin:20px 5%;
    }
  }
}