<div id="page-heading">
  <h3 class="page-title">Media Manager</h3>
</div>
<section class="container-fluid media-manager">
  <article class="panel panel-default">
    <section class="panel-body">
      <media-manager class="row" files="files" active-node="activeNode"></media-manager>
    </section>
  </article>
</section>