<div ng-class="{'type-icon' : !item.isImage}" class="thumbnail_image type-icon">
  <div ng-switch="type">
    <div ng-switch-when="book">
      <i class="fa icon-book"></i>
    </div>
    <div ng-switch-when="doc">
      <i class="fa icon-sheet"></i>
    </div>
    <div ng-switch-when="image">
      <img ng-src="{{ item.url }}" src alt="item.title" class="img-responsive"/>
    </div>
  </div>
</div>