<div ng-if="admissionsEnabled">
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          The welcome message you received from your Admissions Advisor contains detailed advice depending on&nbsp;what course and level you are applying for.
        </p>
        <p>
          We&nbsp;would like to&nbsp;see some evidence of&nbsp;your creativity in&nbsp;support of&nbsp;your application. This might include any drawing, sketching, painting 3D&nbsp;models or&nbsp;digital art work, as&nbsp;well as&nbsp;any photographs or&nbsp;design work that you have produced.
        </p>
        <p>
          As&nbsp;well as&nbsp;more &lsquo;finished&rsquo; examples of&nbsp;work, we&nbsp;are keen to&nbsp;see any of&nbsp;your preparatory work or&nbsp;work in&nbsp;progress.
        </p>
        <p>
          You may find it&nbsp;helpful to&nbsp;organise your work in&nbsp;a&nbsp;PDF document, where you can add notes if&nbsp;you wish.
        </p>
        <p>
          We&nbsp;have prepared a&nbsp;guide to&nbsp;what you can include in&nbsp;a&nbsp;portfolio: <a href="http://idesigni.co.uk/what-you-might-include-in-a-portfolio">http://idesigni.co.uk/what-you-might-include-in-a-portfolio</a>
        </p>
        <p>
          If&nbsp;you are unsure about what to&nbsp;upload, or&nbsp;how many examples of&nbsp;work to&nbsp;provide, please post a&nbsp;message to&nbsp;your Admissions Advisor who will be&nbsp;happy guide you.
        </p>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        Link to online portfolio
      </div>
      <div class="panel-body">
        <p>If your work is available to view online, please provide a link here. Your online portfolio should contain creative work which demonstrates your interest in your chosen subject.</p>
        <div ng-if="user.portfolio_link.length" class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Link to online portfolio</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in user.portfolio_link track by $index">
              <td>
                <a ng-href="{{node.link}}" target="_blank">{{node.link}}</a>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" ng-disabled="user.state || profilesPage">Action <span class="caret"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a ng-click="editItemInList($event,'portfolio_link')">Edit</a></li>
                    <li><a ng-click="removeItemFromList($event,'portfolio_link')">Delete</a></li>
                    <li ng-if="checkRights('admissions.summary.edit')"><a ng-click="addToSummary($event,'portfolio_link')">Add to summary</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-hide="profilesPage">
          <hr/>
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Link</label>
              <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8"
                   ng-class="{ 'has-error': portfolio_link.link && !validURL(portfolio_link.link), 'has-success': portfolio_link.link && validURL(portfolio_link.link) }">
                <input type="text" class="form-control" placeholder=""
                       ng-model="portfolio_link.link"
                       ng-disabled="user.state || profilesPage">
              </div>
            </div>
          </div>
          <button class="btn btn-success pull-right"
                  ng-click="addItemToList('portfolio_link')"
                  ng-disabled="user.state || profilesPage">
            <span class="fa fa-check"></span> Add
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid" ng-if="!editProfile.hideUploads">
    <div class="panel panel-default">
      <div class="panel-heading">
        Uploads
      </div>
      <div class="panel-body">
        <p>You can upload examples of&nbsp;your creative work here. Please note that there is&nbsp;a&nbsp;20mb size limit per file.</p>
        <section class="panel-admissions" ng-if="uploader.Creative.uploaderLoaded">
          <ul class="list-unstyled row vertical-margin" ng-if="files.Creative.length > 0">        
            <li ng-repeat="item in files.Creative" ng-if="item.file.ext" class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="thumbnail thumbnail--file">
                <a ng-if="!item.file.isImage" href ng-href="{{ item.file.url }}" title="{{ item.file.title }}" target="_blank">
                  <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                </a>
                <a ng-if="item.file.isImage" href title="{{ item.file.title }}" ng-click="displayImage(item)">
                  <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                </a>
                <div class="caption">
                  <h3 class="file-name" >{{ item.file.name }}</h3>
                  <p>Date Uploaded: {{ item.file.uploaded | date: 'dd/MM/yyyy' }}</p>
                  <button class="btn btn-danger" ng-click="deleteFile($event)" ng-disabled="user.state || profilesPage">Delete</button>
                </div>
              </div>
            </li>
          </ul>
          <h5 ng-if="uploader.Creative.queue.length > 0">Uploading files</h5>
          <ul class="list-unstyled row vertical-margin admission-uploader" ng-if="uploader.Creative.queue.length > 0">
            <li ng-repeat="item in uploader.Creative.queue" ng-class="{ 'text-danger' : item.isError }">
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2"><p class="bolder file-name">{{ item.file.name }}</p></div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <div class="progress profile-file-progress" ng-if="!item.isUploaded">
                    <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                      <span class="sr-only">{{ item.progress }}% Complete</span>
                    </div>
                  </div>
                  <p ng-if="item.isError">{{ item.msg }}</p>
                </div>
              </div>
            </li>
          </ul>
          <label for="file" class="btn-upload uploader" ng-disabled="user.state || profilesPage">
            <i class="icon-upload"></i>
            <span>Click here or drag and drop files to upload</span>
            <input id="file" type="file" nv-file-select uploader="uploader.Creative" filters="FileSize" multiple>
            <span class="max-text">Max file size: 20MB</span>
          </label>
        </section>
      </div>
    </div>
  </section>
  <section class="container-fluid" ng-if="!wizardDisabled">
    <div class="panel panel-default panel--footer">
      <div class="panel-footer clearfix">
        <button class="btn btn-default" ng-click="$prev($event)">Previous</button>
        <div class="pull-right">
          <button class="btn btn-default" ng-click="submit($event,'save');">Save</button>
          <button class="btn btn-default" ng-click="submit($event); $next($event);">Next</button>
        </div>
      </div>
    </div>
  </section>
</div>