<div ng-if="admissionsEnabled">
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body info-with-logo">
        <img src="/assets/img/aberdeen/welcome-employment-nopadding.png">
        <p>The purpose of this section is to capture information about any work-related qualifications, training or
          professional experience that may support your application.</p>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        Work Experience
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div ng-if="user.work_experience.length" class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Organisation Name and Address</th>
                <th>Brief Description of Duties</th>
                <th>Record of Activities/Responsibilities Undertaken</th>
                <th>Role</th>
                <th>Post</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in user.work_experience track by $index">
                <td>{{node.date_from | date:'mediumDate'}}</td>
                <td>{{node.date_to | date:'mediumDate'}}</td>
                <td>
                <span>
                  {{node.name}}
                </span>
                </td>
                <td>
                <span>
                  {{node.duties}}
                </span>
                </td>
                <td>
                  <ol>
                    <li ng-repeat="item in node.activities">
                      {{ item.name }} <span ng-if="item.value == 'other'">({{node.other}})</span>
                    </li>
                  </ol>
                </td>
                <td>
                  <span>{{node.post}}</span>
                </td>
                <td>
                  <span class="label label-default">{{node.time}}</span>
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                            ng-disabled="user.state || profilesPage">Action <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a ng-click="editItemInList($event,'work_experience')">Edit</a></li>
                      <li><a ng-click="removeItemFromList($event,'work_experience')">Delete</a></li>
                      <li ng-if="checkRights('admissions.summary.edit')"><a
                        ng-click="addToSummary($event,'work_experience')">Add to summary</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div ng-hide="profilesPage">
            <hr/>
            <div class="form-group clearfix">
              <div class="col-two">
                <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">From</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <input type="text" class="form-control"
                         placeholder="Date"
                         ng-model="work_experience.date_from"
                         bs-datepicker
                         date-format="dd/MM/yyyy"
                         ng-disabled="user.state || profilesPage">
                </div>
              </div>
              <div class="col-two">
                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">To</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <input type="text" class="form-control"
                         placeholder="Date"
                         data-min-date="{{work_experience.date_from}}"
                         ng-model="work_experience.date_to"
                         bs-datepicker
                         date-format="dd/MM/yyyy"
                         ng-disabled="user.state || profilesPage">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Full or Part-Time</label>
              <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
                <select class="form-control" ng-model="work_experience.time" ng-disabled="user.state || profilesPage">
                  <option value="Full Time">Full Time</option>
                  <option selected="" value="Part Time">Part Time</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Post Held</label>
              <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="" ng-model="work_experience.post"
                       ng-disabled="user.state || profilesPage">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Organisation Name and Address</label>
              <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                <textarea type="text" class="form-control" placeholder="" ng-model="work_experience.name"
                          ng-disabled="user.state || profilesPage"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Brief Description of Duties</label>
              <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                <textarea type="text" class="form-control" placeholder="" ng-model="work_experience.duties"
                          ng-disabled="user.state || profilesPage"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label"></label>
              <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 multiselect">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">Record of Activities and Responsibilities Undertaken</div>
                      <div class="panel-body checkbox-list">
                        <ul class="nav nav-pills nav-stacked">
                          <li ng-repeat="item in workActivities">
                            <label class="btn-check">
                              <input type="checkbox" value="{{item.value}}"
                                     ng-model="item.selected"
                                     ng-change="item.value == 'other' ? $parent.workFieldEnabled = !$parent.workFieldEnabled : $parent.workFieldEnabled = $parent.workFieldEnabled">
                              <span>{{item.name}} {{item.additional}}</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group"
                 ng-if="workFieldEnabled">
              <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Other</label>
              <div class="col-lg-5 col-md-5 col-sm-4 col-xs-8">
            <textarea type="text" class="form-control" placeholder=""
                      ng-model="work_experience.other"
                      ng-disabled="user.state || profilesPage"></textarea>
              </div>
            </div>
            <button class="btn btn-success pull-right"
                    ng-click="addItemToList('work_experience', $event)"
                    ng-disabled="user.state || profilesPage">
              <span class="fa fa-check"></span> Add
            </button>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid"  ng-hide="user.state==1 && files.Employment.length<1" ng-if="!editProfile.hideUploads">
    <div class="panel panel-default">
      <div class="panel-heading">
        Uploads
      </div>
      <div class="panel-body">
        <p ng-hide="user.state">Please upload a copy of your curriculum vitae (CV) or resume, and/or any other supporting documentation.</p>
        <article class="panel-admissions" ng-if="uploader.Employment.uploaderLoaded">
          <ul class="list-unstyled row vertical-margin" ng-if="files.Employment.length > 0">
            <li ng-repeat="item in files.Employment" ng-if="item.file.ext"
                class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="thumbnail thumbnail--file">
                <a ng-if="!item.file.isImage" href ng-href="{{ item.file.url }}" title="{{ item.file.title }}"
                   target="_blank">
                  <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                </a>
                <a ng-if="item.file.isImage" href title="{{ item.file.title }}" ng-click="displayImage(item)">
                  <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                </a>
                <div class="caption">
                  <h3>{{ item.file.name }}</h3>
                  <p>Date Uploaded: {{ item.file.uploaded | date: 'dd/MM/yyyy' }}</p>
                  <button class="btn btn-danger" ng-click="deleteFile($event)" ng-hide="user.state || profilesPage">
                    Delete
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <h5 ng-if="uploader.Employment.queue.length > 0">Uploading files</h5>
          <ul class="list-unstyled row vertical-margin admission-uploader" ng-if="uploader.Employment.queue.length > 0">
            <li ng-repeat="item in uploader.Employment.queue" ng-class="{ 'text-danger' : item.isError }">
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2"><p class="bolder file-name">{{ item.file.name }}</p></div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <div class="progress profile-file-progress" ng-if="!item.isUploaded">
                    <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar"
                         aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100"
                         ng-style="{ 'width': item.progress + '%' }">
                      <span class="sr-only">{{ item.progress }}% Complete</span>
                    </div>
                  </div>
                  <p ng-if="item.isError">{{ item.msg }}</p>
                </div>
              </div>
            </li>
          </ul>
          <label for="file" class="btn-upload uploader" ng-hide="user.state || profilesPage">
            <i class="icon-upload"></i>
            <span>Click here or drag and drop files to upload</span>
            <input id="file" type="file" nv-file-select uploader="uploader.Employment" multiple>
            <span class="max-text">Max file size: 20MB</span>
          </label>
        </article>
      </div>
    </div>
  </section>

  <section class="container-fluid" ng-if="!wizardDisabled">
    <div class="panel panel-default panel--footer">
      <div class="panel-footer clearfix">
        <button class="btn btn-default" ng-click="$prev($event)">Previous</button>
        <div class="pull-right">
          <button class="btn btn-default" ng-click="submit($event,'save');">Save</button>
          <button class="btn btn-default" ng-click="submit($event); $next($event);">Next</button>
        </div>
      </div>
    </div>
  </section>
</div>