<div ng-if="admissionsEnabled">
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body info-with-logo">
        <img src="/assets/img/aberdeen/welcome-academic-nopadding.png">
        <p>
          In this section, you should provide details of your educational history, including details of any academic
          qualifications you have achieved and any pending qualifications.
        </p>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-horizontal">
          <formly-form model="user" fields="userFormFields['admissions-academic-tab']"
                       options="formOptions"></formly-form>
        </div>
      </div>
    </div>
</div>
</section>
<section class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      Add a Qualification
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div ng-if="user.academic_qualifications.length" class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name of Institution</th>
              <th>From</th>
              <th>To</th>
              <th>Qualification Level and Title</th>
              <th>Did you study this course in the UK?</th>
              <th>Have you completed this course?</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in user.academic_qualifications track by $index">
              <td>
                  <span>
                    {{node.name}}
                  </span>
              </td>
              <td>{{node.date_from | date:'mediumDate'}}</td>
              <td>{{node.date_to | date:'mediumDate'}}</td>
              <td>
                  <span>
                    {{node.level}}
                  </span>
              </td>
              <td>
                  <span>
                    {{node.study}}
                  </span>
              </td>
              <td>
                  <span>
                    {{node.complete}}
                  </span>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                          ng-disabled="user.state || profilesPage">Action <span class="caret"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a ng-click="editAcademicInList($event,'academic_qualifications')">Edit</a></li>
                    <li><a ng-click="removeItemFromList($event,'academic_qualifications')">Delete</a></li>
                    <li ng-if="checkRights('admissions.summary.edit')"><a
                      ng-click="addToSummary($event,'academic_qualifications')">Add to summary</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div ng-hide="profilesPage">
          <hr/>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Name of Institution*</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="" ng-required="true"
                     ng-model="academic_qualifications.name" ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="col-two">
              <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">From</label>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Date"
                       data-max-date="{{academic_qualifications.date_to}}"
                       ng-model="academic_qualifications.date_from"
                       date-format="dd/MM/yyyy"
                       bs-datepicker
                       ng-disabled="user.state || profilesPage">
              </div>
            </div>
            <div class="col-two">
              <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">To</label>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Date"
                       data-min-date="{{academic_qualifications.date_from}}"
                       ng-model="academic_qualifications.date_to"
                       date-format="dd/MM/yyyy"
                       bs-datepicker
                       ng-disabled="user.state || profilesPage">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Qualification Level and Title</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="" ng-required="false"
                     ng-model="academic_qualifications.level" ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Did you study this course in the
              UK?</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="" ng-model="academic_qualifications.study"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Have you completed this course?</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="" ng-model="academic_qualifications.complete"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <button class="btn btn-success pull-right"
                  ng-click="addAcademicToList('academic_qualifications')"
                  ng-disabled="user.state || profilesPage">
            <span class="fa fa-check"></span> Add
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-horizontal">
        <formly-form model="user" fields="userFormFields['admissions-academic-english-tab']"
                     options="formOptions"></formly-form>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid" ng-if="user.english_first_lang=='No'">
  <div class="panel panel-default">
    <div class="panel-heading">
      Add an English Language Certificate
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div ng-if="user.english_certificate.length" class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Test Date</th>
              <th>Level</th>
              <th>Location</th>
              <th>University/College/Awarding Body</th>
              <th>Result Achieved</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in user.english_certificate track by $index">
              <td>{{node.date | date:'mediumDate'}}</td>
              <td>
                <span>
                  {{node.level}}
                </span>
              </td>
              <td>
                <span>
                  {{node.studied_at}}
                </span>
              </td>
              <td>
                <span>
                  {{node.awarding}}
                </span>
              </td>
              <td>
                <span>
                  {{node.results}}
                </span>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                          ng-disabled="user.state || profilesPage">Action <span class="caret"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a ng-click="editItemInList($event,'english_certificate')">Edit</a></li>
                    <li><a ng-click="removeItemFromList($event,'english_certificate')">Delete</a></li>
                    <li ng-if="checkRights('admissions.summary.edit')"><a
                      ng-click="addToSummary($event,'english_certificate')">Add to summary</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-hide="profilesPage">
          <hr/>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Date Taken</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control"
                     ng-model="english_certificate.date"
                     date-format="dd/MM/yyyy"
                     bs-datepicker
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Level</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="" ng-model="english_certificate.level"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Where Studied</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="" ng-model="english_certificate.studied_at"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">University/College/Awarding Body</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="" ng-model="english_certificate.awarding"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-4 col-xs-12 control-label">Result Achieved</label>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="" ng-model="english_certificate.results"
                     ng-disabled="user.state || profilesPage">
            </div>
          </div>
          <button class="btn btn-success pull-right"
                  ng-click="addEnglishToList()" ng-disabled="user.state || profilesPage">
            <span class="fa fa-check"></span> Add
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid" ng-hide="user.state==1 && files.Academic.length<1" ng-if="!editProfile.hideUploads">
  <div class="panel panel-default">
    <div class="panel-heading">
      Uploads
    </div>
    <div class="panel-body">
      <p ng-hide="user.state">
        Please upload copies of your certificates or transcripts and an English language certificate if applicable.
      </p>
      <article class="panel-admissions" ng-if="uploader.Academic.uploaderLoaded">
        <ul class="list-unstyled row vertical-margin" ng-if="files.Academic.length > 0">
          <li ng-repeat="item in files.Academic" ng-if="item.file.ext"
              class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail thumbnail--file">
              <a ng-if="!item.file.isImage" href ng-href="{{ item.file.url }}" title="{{ item.file.title }}"
                 target="_blank">
                <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
              </a>
              <a ng-if="item.file.isImage" href title="{{ item.file.title }}" ng-click="displayImage(item)">
                <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
              </a>
              <div class="caption">
                <h3 class="file-name">{{ item.file.name }}</h3>
                <p>Date Uploaded: {{ item.file.uploaded | date: 'dd/MM/yyyy' }}</p>
                <button class="btn btn-danger" ng-click="deleteFile($event)" ng-hide="user.state || profilesPage">
                  Delete
                </button>
              </div>
            </div>
          </li>
        </ul>
        <h5 ng-if="uploader.Academic.queue.length > 0">Uploading files</h5>
        <ul class="list-unstyled row vertical-margin admission-uploader" ng-if="uploader.Academic.queue.length > 0">
          <li ng-repeat="item in uploader.Academic.queue" ng-class="{ 'text-danger' : item.isError }">
            <div class="row">
              <div class="col-xs-6 col-sm-3 col-md-2"><p class="bolder file-name">{{ item.file.name }}</p></div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="progress profile-file-progress" ng-if="!item.isUploaded">
                  <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar"
                       aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100"
                       ng-style="{ 'width': item.progress + '%' }">
                    <span class="sr-only">{{ item.progress }}% Complete</span>
                  </div>
                </div>
                <p ng-if="item.isError">{{ item.msg }}</p>
              </div>
            </div>
          </li>
        </ul>
        <label for="file" class="btn-upload uploader" ng-hide="user.state || profilesPage">
          <i class="icon-upload"></i>
          <span>Click here or drag and drop files to upload</span>
          <input id="file" type="file" nv-file-select uploader="uploader.Academic" multiple>
          <span class="max-text">Max file size: 20MB</span>
        </label>
      </article>
    </div>
  </div>
</section>

<section class="container-fluid" ng-if="!wizardDisabled">
  <div class="panel panel-default panel--footer">
    <div class="panel-footer clearfix">
      <button class="btn btn-default" ng-click="$prev($event)">Previous</button>
      <div class="pull-right">
        <button class="btn btn-default" ng-click="submit($event,'save');">Save</button>
        <button class="btn btn-default" ng-click="submit($event); $next($event);">Next</button>
      </div>
    </div>
  </div>
</section>