<div ng-if="admissionsEnabled">
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body info-with-logo">
        <img src="/assets/img/aberdeen/welcome-personal-nopadding.png">
        <p>
          Please complete this section with your personal details. Any information you provide will automatically pull
          through to your Aberdeen Online profile.
        </p>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        Personal
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <formly-form model="user" fields="userFormFields['admissions-personal-tab']"
                       options="formOptions"></formly-form>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid" ng-hide="user.state && files.Personal.length <1">
    <div class="panel panel-default">
      <div class="panel-heading">
        Uploads
      </div>
      <div class="panel-body">
        <p ng-hide="user.state">Please upload either a copy of your passport or birth certificate and proof of your
          selected Residential Category. </p>

        <div class="panel-admissions" ng-if="uploader.Personal.uploaderLoaded">
          <ul class="list-unstyled row vertical-margin" ng-if="files.Personal.length > 0">
            <li ng-repeat="item in files.Personal" ng-if="item.file.ext"
                class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="thumbnail thumbnail--file">
                <a ng-if="!item.file.isImage" href ng-href="{{ item.file.url }}" title="{{ item.file.title }}"
                   target="_blank">
                  <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                </a>
                <a ng-if="item.file.isImage" href title="{{ item.file.title }}" ng-click="displayImage(item)">
                  <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                </a>
                <div class="caption">
                  <h3 class="file-name">{{ item.file.name }}</h3>
                  <p>Date Uploaded: {{ item.file.uploaded | date: 'dd/MM/yyyy' }}</p>
                  <div class="form-group admission-file-opt" ng-hide="user.state">
                    <button class="btn btn-danger" ng-click="deleteFile($event)" ng-disabled="user.state">Delete
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <h5 ng-if="uploader.Personal.queue.length > 0">Uploading files</h5>
          <ul class="list-unstyled row vertical-margin admission-uploader" ng-if="uploader.Personal.queue.length > 0">
            <li ng-repeat="item in uploader.Personal.queue" ng-class="{ 'text-danger' : item.isError }">
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2"><p class="bolder file-name">{{ item.file.name }}</p></div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <div class="progress profile-file-progress" ng-if="!item.isUploaded">
                    <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar"
                         aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100"
                         ng-style="{ 'width': item.progress + '%' }">
                      <span class="sr-only">{{ item.progress }}% Complete</span>
                    </div>
                  </div>
                  <p ng-if="item.isError">{{ item.msg }}</p>
                </div>
              </div>
            </li>
          </ul>
          <label for="file" class="btn-upload uploader" ng-hide="user.state">
            <i class="icon-upload"></i>
            <span>Click here or drag and drop files to upload</span>
            <input id="file" type="file" nv-file-select uploader="uploader.Personal" multiple>
            <span class="max-text">Max file size: 20MB</span>
          </label>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid" ng-if="!wizardDisabled">
    <div class="panel panel-default panel--footer">
      <div class="panel-footer clearfix">
        <button class="btn btn-default" ng-click="$prev($event)">Previous</button>
        <div class="pull-right">
          <button class="btn btn-default" ng-click="submit($event,'save');">Save</button>
          <button class="btn btn-default" ng-click="submit($event); $next($event);">Next</button>
        </div>
      </div>
    </div>
  </section>
</div>