<div ng-if="admissionsEnabled">
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body info-with-logo">
        <img src="/assets/img/aberdeen/welcome-process-nopadding.png">
        <p>
          In this section, you can view your whole application in its entirety. You cannot amend your application once
          it has been submitted. Therefore it is important that you review it carefully before submission. To edit your
          application or add further details simply click on the section heading (Personal, Academic or Employment). Any
          changes will be saved automatically.
        </p>
        <p>
          Once you are happy with your application simply click 'Submit' at the bottom of the page.You should then
          post a message to your Admissions Advisor to let them know that your application is ready for review.
        </p>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        Personal
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <form name="formAdmissions">
            <formly-form model="user" fields="userSummaryFormFields" options="formSummaryOptions"></formly-form>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        Qualification
      </div>
      <div class="panel-body">
        <div ng-if="user.academic_qualifications.length" class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name of Institution</th>
              <th>From</th>
              <th>To</th>
              <th>Qualification Level and Title</th>
              <th>Did you study this course in the UK?</th>
              <th>Have you complete this course?</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in user.academic_qualifications track by $index">
              <td>
                  <span>
                    {{node.name}}
                  </span>
              </td>
              <td>{{node.date_from | date:'mediumDate'}}</td>
              <td>{{node.date_to | date:'mediumDate'}}</td>
              <td>
                  <span>
                    {{node.level}}
                  </span>
              </td>
              <td>
                  <span>
                    {{node.study}}
                  </span>
              </td>
              <td>
                  <span>
                    {{node.complete}}
                  </span>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                          ng-disabled="user.state || profilesPage">Action <span class="caret"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a ng-click="editItemInList($event,'academic_qualifications')">Edit</a></li>
                    <li><a ng-click="removeItemFromList($event,'academic_qualifications')">Delete</a></li>
                    <li ng-if="checkRights('admissions.summary.edit')"><a
                      ng-click="addToSummary($event,'academic_qualifications')">Add to summary</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        English Language Qualification
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div ng-if="user.english_certificate.length" class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Exam Date</th>
                <th>Level</th>
                <th>Where Studied</th>
                <th>University/ College/Awarding Body</th>
                <th>Results</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in user.english_certificate track by $index">
                <td>{{node.date | date:'mediumDate'}}</td>
                <td>
                <span>
                  {{node.level}}
                </span>
                </td>
                <td>
                <span>
                  {{node.studiedAt}}
                </span>
                </td>
                <td>
                <span>
                  {{node.awarding}}
                </span>
                </td>
                <td>
                <span>
                  {{node.results}}
                </span>
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" ng-disabled="user.state">Action
                      <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="">Edit</a></li>
                      <li><a href="">Delete</a></li>
                      <li><a href="">Preview</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        Work Experience
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div ng-if="user.work_experience.length" class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Organisation Name and Address</th>
                <th>Brief description of duties</th>
                <th>Record of Activities/Responsibilities undertaken</th>
                <th>Role</th>
                <th>Post</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in user.work_experience track by $index">
                <td>{{node.date_from | date:'mediumDate'}}</td>
                <td>{{node.date_to | date:'mediumDate'}}</td>
                <td>
                <span>
                  {{node.name}}
                </span>
                </td>
                <td>
                <span>
                  {{node.duties}}
                </span>
                </td>
                <td>
                  <ol>
                    <li ng-repeat="item in node.activities">
                      {{ item.name }} <span ng-if="item.value == 'other'">({{node.other}})</span>
                    </li>
                  </ol>
                </td>
                <td>
                  <span>{{node.post}}</span>
                </td>
                <td>
                  <span class="label label-default">{{node.time}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        Files
      </div>
      <div class="panel-body">
        <div class="panel panel-default" ng-repeat="(key, file) in files" ng-if="key != 'Creative'">
          <div class="panel-heading">{{ key }}</div>
          <div class="panel-body">
            <div ng-if="file.length == 0">No files yet.</div>
            <div ng-if="file.length > 0" class="row">
              <div ng-repeat="item in file" ng-if="item.file.ext"
                   class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail thumbnail--file">
                  <a ng-if="!item.file.isImage" href ng-href="{{ item.file.url }}" title="{{ item.file.title }}"
                     target="_blank">
                    <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                  </a>
                  <a ng-if="item.file.isImage" href title="{{ item.file.title }}" ng-click="displayImage(item)">
                    <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                  </a>
                  <div class="caption">
                    <h4>{{ item.file.title }}</h4>
                    <p>Date Uploaded: {{ item.file.uploaded | date: 'dd/MM/yyyy' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="panel panel-default panel--footer">
      <div class="panel-footer clearfix">
        <button class="btn btn-default" ng-click="$prev($event)">Previous</button>
        <div class="pull-right">
          <span ng-if="user.state">You have successfully submitted your application. Please contact your Admissions Advisor if you have any questions.</span>
          <span ng-if="formAdmissions.$invalid">All mandatory fields have to be filled.</span>
          <button class="btn btn-primary" ng-click="submit($event, 1)" ng-hide="user.state"
                  ng-disabled="formAdmissions.$invalid">Submit
          </button>
        </div>
      </div>
    </div>
  </section>
</div>