<section class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-12" id="welcomePageContent" ng-bind-html="content.admissionsWelcomePage"></div>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <button class="btn btn-default pull-right" ng-click="$next($event);">Next</button>
    </div>
  </div>
</section>