<div id="page-heading">
  <h3 class="page-title" idi-locale="profile.edit.naming"></h3>
</div>
<section class="container-fluid">
  <profile-widget profile="editProfile.userProfile" date="false" social="false" link="false" ng-if="editProfile.userProfile"></profile-widget>
</section>
<section class="container-fluid public-link">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="app.admin.profile.public({id:editProfile.userProfile.id})">View Public Profile</a>
  </div>
</section>
<section class="container-fluid">
  <div class="panel-group profile-menu-collapse hidden-md hidden-lg hidden-xlg" ui-collapse>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseOne">Profile</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body no-padding">
          <ul class="nav nav-tabs" role="tablist" ui-tabs>
            <li ng-show="checkRights('profiles.personal')" class="active"><a href="#tab1" role="tab" data-toggle="tab">Personal</a></li>
            <li ng-show="checkRights('profiles.history')"><a href="#tab2" role="tab" data-toggle="tab">Academic History</a></li>
            <li ng-show="checkRights('profiles.experience')"><a href="#tab3" role="tab" data-toggle="tab">Employment & Experience</a></li>
            <!-- <li ng-show="checkRights('profiles.creative')"><a href="#tab4" role="tab" data-toggle="tab">Creative work</a></li> -->
            <!--ADMI-89 <li ng-show="checkRights('profiles.summary')" ><a href="#tab5" role="tab" data-toggle="tab">Summary Sheet</a></li>-->
            <li ng-show="checkRights('profiles.decision')" ><a href="#tab6" role="tab" data-toggle="tab">Decision Sheet</a></li>
            <li ng-show="checkRights('profiles.uploaded')" ><a href="#tab7" role="tab" data-toggle="tab">Uploaded Files</a></li>
           <!--ADMI-87 <li ng-show="checkRights('profiles.uhform')" ><a href="#tab8" role="tab" data-toggle="tab">UH form</a></li>-->
            <li ng-show="checkRights('profiles.notes_history')" ><a href="#tab9" role="tab" data-toggle="tab">Notes and History</a></li>
            <li ng-show="checkRights('profiles.managers')" ><a href="#tab10" role="tab" data-toggle="tab">Managers</a></li>

            <li ng-show="!ownProfile && checkRights('profiles.tabProgramme.see')" ><a href="#tab11" role="tab" data-toggle="tab">Programmes</a></li>
            <li ng-show="!ownProfile && checkRights('profiles.messages')" ><a href="#tab12" role="tab" data-toggle="tab">Messages</a></li>
            <li ng-show="!ownProfile && checkRights('profiles.tabNotes.see')" ><a href="#tab13" role="tab" data-toggle="tab">Notes</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs profile-tabs hidden-xs hidden-sm" role="tablist" ui-tabs>
    <li ng-show="ownProfile && checkRights('profiles.personal') || !ownProfile && checkRights('profiles.other.personal')" ng-class="{'active': currentTab == 'personal'}"><a href="#tab1" role="tab" data-toggle="tab">Personal</a></li>
    <li ng-show="ownProfile && checkRights('profiles.history') || !ownProfile && checkRights('profiles.other.history')"><a href="#tab2" role="tab" data-toggle="tab">Academic History</a></li>
    <li ng-show="ownProfile && checkRights('profiles.experience') || !ownProfile && checkRights('profiles.other.experience')"><a href="#tab3" role="tab" data-toggle="tab">Employment & Experience</a></li>
    <!-- <li ng-show="ownProfile && checkRights('profiles.creative') || !ownProfile && checkRights('profiles.other.creative')"><a href="#tab4" role="tab" data-toggle="tab">Creative work</a></li> -->
    <!--ADMI-89 <li ng-show="ownProfile && checkRights('profiles.summary') || !ownProfile && checkRights('profiles.other.summary')"><a href="#tab5" role="tab" data-toggle="tab">Summary Sheet</a></li>-->
    <li ng-show="ownProfile && checkRights('profiles.decision') || !ownProfile && checkRights('profiles.other.decision')" ng-class="{'active': currentTab == 'decision'}"><a href="#tab6" role="tab" data-toggle="tab">Decision Sheet</a></li>
    <li ng-show="ownProfile && checkRights('profiles.uploaded') || !ownProfile && checkRights('profiles.other.uploaded')"><a href="#tab7" role="tab" data-toggle="tab">Uploaded Files</a></li>
    <!--ADMI-87 <li ng-show="ownProfile && checkRights('profiles.uhform') || !ownProfile && checkRights('profiles.other.uhform')"><a ref="#tab8" role="tab" data-toggle="tab">UH form</a></li>-->
    <li ng-show="ownProfile && checkRights('profiles.notes_history') || !ownProfile && checkRights('profiles.other.notes_history')"><a href="#tab9" role="tab" data-toggle="tab">Notes and History</a></li>
    <li ng-show="ownProfile && checkRights('profiles.managers') || !ownProfile && checkRights('profiles.other.managers')"><a href="#tab10" role="tab" data-toggle="tab">Managers</a></li>

    <li ng-show="!ownProfile && checkRights('profiles.tabProgramme.see')" ng-class="{'active': currentTab == 'programmes'}"><a href="#tab11" role="tab" data-toggle="tab">Programmes</a></li>
    <li ng-show="!ownProfile && checkRights('profiles.messages')"><a href="#tab12" role="tab" data-toggle="tab">Messages</a></li>
    <li ng-show="!ownProfile && checkRights('profiles.tabNotes.see')"><a href="#tab13" role="tab" data-toggle="tab">Notes</a></li>

  </ul>
  <div class="panel panel-default profile-tab-content">
    <div class="panel-body tab-content" ng-controller="AdmissionsStudentCtrl">
      <div id="tab1" class="tab-pane" ng-class="{'active': currentTab == 'personal'}">
        <div ng-show="ownProfile && checkRights('profiles.personal') || !ownProfile && checkRights('profiles.other.personal')" ui-view="profile"></div>
      </div>
      <div id="tab2" class="tab-pane">
        <div ng-show="ownProfile && checkRights('profiles.history') || !ownProfile && checkRights('profiles.other.history')" ui-view="history"></div>
      </div>
      <div id="tab3" class="tab-pane">
        <div ng-show="ownProfile && checkRights('profiles.experience') || !ownProfile && checkRights('profiles.other.experience')" ui-view="experience"></div>
      </div>
      <!-- <div id="tab4" class="tab-pane">
        <div ng-show="ownProfile && checkRights('profiles.creative') || !ownProfile && checkRights('profiles.other.creative')" ui-view="creative"></div>
      </div> -->
      <!--ADMI-89 <div id="tab5" class="tab-pane">
        <div ng-show="ownProfile && checkRights('profiles.summary') || !ownProfile && checkRights('profiles.other.summary')" ui-view="summary"></div>
      </div> -->
      <div id="tab6" class="tab-pane" ng-class="{'active': currentTab == 'decision'}">
        <div ng-show="ownProfile && checkRights('profiles.decision') || !ownProfile && checkRights('profiles.other.decision')" ui-view="decision"></div>
      </div>
      <div id="tab7" class="tab-pane uploaded-tabcontent">
        <div ng-show="ownProfile && checkRights('profiles.uploaded') || !ownProfile && checkRights('profiles.other.uploaded')" ui-view="uploaded"></div>
      </div>
      <!--ADMI-87 <div id="tab8" class="tab-pane">
        <div ng-show="ownProfile && checkRights('profiles.uhform') || !ownProfile && checkRights('profiles.other.uhform')" ui-view="uhform"></div>
      </div>-->
      <div id="tab9" class="tab-pane">
        <div ng-show="ownProfile && checkRights('profiles.notes_history') || !ownProfile && checkRights('profiles.other.notes_history')" ui-view="notes_history"></div>
      </div>
      <div id="tab10" class="tab-pane">
        <div ng-show="ownProfile && checkRights('profiles.managers') || !ownProfile && checkRights('profiles.other.managers')" ui-view="managers"></div>
      </div>
      <div id="tab11" class="tab-pane student-record-section" ng-class="{'active': currentTab == 'programmes'}">

        <div ng-show="!ownProfile && checkRights('profiles.tabProgramme.see')" ui-view="study_path"></div>
      </div>
      <div id="tab12" class="tab-pane student-record-section">
        <div ng-show="!ownProfile && checkRights('profiles.messages')" ui-view="messages"></div>
      </div>
      <div id="tab13" class="tab-pane student-record-section">

        <div ng-show="!ownProfile && checkRights('profiles.tabNotes.see')" ui-view="notes"></div>

      </div>
    </div>
  </div>
</section>
<div></div>