<section class="container-fluid">
  <!--<div class="panel panel-default">-->
  <form name="assignManagersForm" class="panel panel-default form-horizontal" ng-submit="saveStudentManagers(assignManagersForm)">
    <div class="panel-heading">Assigned Managers for Student</div>
    <div class="panel-body">      
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Course Coordinator</label>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <select class="form-control"
                  ng-model="managers['Course Coordinator']">
            <option value="" selected>---Please select---</option>
            <option ng-repeat="user in usersByGroup['Course Coordinator']" value="{{ user.id }}">{{ user.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Student Support</label>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <select class="form-control"
                  ng-model="managers['Student Support']">
            <option value="" selected>---Please select---</option>
            <option ng-repeat="user in usersByGroup['Student Support']" value="{{ user.id }}">{{ user.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Technical Support</label>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <select class="form-control"
                  ng-model="managers['Technical Support']">
            <option value="" selected>---Please select---</option>
            <option ng-repeat="user in usersByGroup['Technical Support']" value="{{ user.id }}">{{ user.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Academic Administrator</label>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <select class="form-control"
                  ng-model="managers['Academic Administrator']">
            <option value="" selected>---Please select---</option>
            <option ng-repeat="user in usersByGroup['Academic Administrator']" value="{{ user.id }}">{{ user.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Admissions Advisor</label>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <select class="form-control"
                  ng-model="managers['Admissions Advisor']">
            <option value="" selected>---Please select---</option>
            <option ng-repeat="user in usersByGroup['Admissions Advisor']" value="{{ user.id }}">{{ user.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Finance Advisor</label>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <select class="form-control"
                  ng-model="managers['Finance Advisor']">
            <option value="" selected>---Please select---</option>
            <option ng-repeat="user in usersByGroup['Finance Advisor']" value="{{ user.id }}">{{ user.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <button type="submit" class="btn btn-primary pull-right">Save</button>
    </div>
  </form>
  <!--</div>-->
</section>