<div class="form-horizontal" ng-if="currentProfile">
  <div class="choose-decision clearfix">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown" ng-if="profiles.length !== 0">
        {{ currentProfileVersion || 'Choose Profile version'}}
        <span class="caret"></span>
      </button>
      <ul role="menu" class="dropdown-menu dropdown-400">
        <li ng-repeat="profile in profiles"
            ng-class="(profile.id == currentProfile.id) ? 'active' : ''"
            ng-click="changeProfile($event)"><a href="">{{profile.created | date:"MM/dd/yyyy 'at' h:mma"}}</a></li>
        <li ng-if="profiles.length !== pagination.total_items">
          <a href="" ng-click="moreVersions($event)">More</a>
        </li>
      </ul>
    </div>
  </div>
  <div ng-if="profiles.length !== 0">
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Title</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="currentProfile.data.title">
          <option value="" selected>---Please select---</option>
          <option value="mr" >Mr</option>
          <option value="mrs" >Mrs</option>
          <option value="ms" >Ms</option>
          <option value="miss" >Miss</option>
          <option value="dr" >Dr</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">First Name</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="currentProfile.data.first_name ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="First name" value="" ng-model="currentProfile.data.first_name">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Last Name</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="currentProfile.data.last_name ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Last name" value="" ng-model="currentProfile.data.last_name">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Date Of Birth</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control" placeholder="Select Date of Birth"
                   ng-model="currentProfile.data.date_of_birth"
                   date-format="dd/MM/yyyy"
                   bs-datepicker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Age On Application</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <span class="form-control" ng-bind="(currentProfile.data.date_of_birth | ageFilter)" disabled></span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Gender</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="currentProfile.data.gender">
          <option value="" selected>---Please select---</option>
          <option value="unspecified" >Unspecified</option>
          <option value="male" >Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Address</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="currentProfile.data.address ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Address" value="" ng-model="currentProfile.data.address">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">City/Town</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="currentProfile.data.city ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="City/Town" value="" ng-model="currentProfile.data.city">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Postcode</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="currentProfile.data.postcode ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Postcode" value="" ng-model="currentProfile.data.postcode">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Landline Telephone (including country code)</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="currentProfile.data.landline ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Landline Telephone" value="" ng-model="currentProfile.data.landline">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Mobile Telephone (including country code)</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="currentProfile.data.mobile ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Mobile Telephone" value="" ng-model="currentProfile.data.mobile">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Country Of Birth</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="currentProfile.data.country"
                ng-options="key as value for (key , value) in countries">
          <option value="" selected>---Please select---</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Country of Permanent Residence</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="currentProfile.data.country_residence"
                ng-options="key as value for (key , value) in countries"
                ng-disabled="user.state">
          <option value="" selected>---Please select---</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="currentProfile.data.country_residence == 'GB'">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">County</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <input type="text" class="form-control" placeholder="County/Borough" value=""
               ng-model="currentProfile.data.county"
               ng-disabled="user.state">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Is English Your First Language (Y/N)</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="currentProfile.data.english_first_lang">
          <option value="" selected>---Please select---</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">If You Are A Non-UK Resident and Living in the UK, Please Provide Entry Date</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <input type="text" class="form-control" placeholder="Enter date"
                   ng-model="currentProfile.data.entry_date"
                   date-format="dd/MM/yyyy"
                   bs-datepicker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Do You Have A Medical Condition Or Disability That May Impact Your Studies</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="currentProfile.data.disability">
          <option value="" selected>---Please select---</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="currentProfile.data.disability == 'true'">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Details</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <textarea type="text" class="form-control" placeholder="" ng-model="currentProfile.data.disability_details"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Who Will Be Paying Your Fees(Self/Employer/other) if employer or other please give details</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="currentProfile.data.pay_your_fees">
          <option value="" selected>---Please select---</option>
          <option value="self" >Self</option>
          <option value="employer" >Employer</option>
          <option value="other" >Other</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="currentProfile.data.pay_your_fees == 'employer' || currentProfile.data.pay_your_fees == 'other'">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Details</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <textarea type="text" class="form-control" placeholder="" ng-model="currentProfile.data.pay_your_fees_details"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Personal Statement</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <textarea type="text" class="form-control" placeholder="" ng-model="currentProfile.data.personal_statement"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">About me</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <textarea type="text" class="form-control" placeholder="" ng-model="currentProfile.data.about"></textarea>
      </div>
    </div>

    <section class="panel-footer">
      <div class="form-group">
        <button type="submit" class="btn btn-info btn-flat pull-right ng-click-active" ng-click="restoreProfile()">Restore profile</button>
      </div>
    </section>
  </div>
</div>