<div ng-if="editProfile.userProfile">
  <div class="form-horizontal profile-personal">
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Title</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="editProfile.userProfile.title">
          <option value="" selected>---Please select---</option>
          <option value="Miss" >Miss</option>
          <option value="Ms" >Ms</option>
          <option value="Mrs" >Mrs</option>
          <option value="Mr" >Mr</option>
          <option value="Dr" >Dr</option>
          <option value="Prof" >Prof</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">First Name</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="editProfile.userProfile.first_name ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="First name" value="" ng-model="editProfile.userProfile.first_name">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Last Name</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="editProfile.userProfile.last_name ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Last name" value="" ng-model="editProfile.userProfile.last_name">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Date Of Birth</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control" placeholder="Select Date of Birth"
                   ng-model="editProfile.userProfile.date_of_birth"
                   date-format="dd/MM/yyyy"
                   bs-datepicker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Age On Application</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <span class="form-control" ng-bind="(editProfile.userProfile.date_of_birth | ageFilter)" disabled></span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Gender</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="editProfile.userProfile.gender">
          <option value="" selected>---Please select---</option>
          <option value="Male" >Male</option>
          <option value="Female">Female</option>
          <option value="Unspecified" >Unspecified</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Landline Telephone (including country code)</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="editProfile.userProfile.landline ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Landline Telephone" value="" ng-model="editProfile.userProfile.landline">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Mobile Telephone (including country code)</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="editProfile.userProfile.mobile ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Mobile Telephone" value="" ng-model="editProfile.userProfile.mobile">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Address</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="editProfile.userProfile.address ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Address" value="" ng-model="editProfile.userProfile.address">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">City/Town</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="editProfile.userProfile.city ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="City/Town" value="" ng-model="editProfile.userProfile.city">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Postcode</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
           ng-class="editProfile.userProfile.postcode ? 'has-success' : ''">
        <input type="text" class="form-control" placeholder="Postcode" value="" ng-model="editProfile.userProfile.postcode">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Country Of Birth</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="editProfile.userProfile.country"
                ng-options="key as value for (key , value) in editProfile.countries">
          <option value="" selected>---Please select---</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="editProfile.userProfile.enrolment_date">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Enrollment Date</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="form-control" ng-bind="editProfile.userProfile.enrolment_date | date: 'dd/MM/yyyy'" disabled></span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Country of Permanent Residence</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="editProfile.userProfile.country_residence"
                ng-options="key as value for (key , value) in countries"
                ng-disabled="user.state">
          <option value="" selected>---Please select---</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="editProfile.userProfile.country_residence == 'GB'">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">County</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <input type="text" class="form-control" placeholder="County/Borough" value=""
               ng-model="editProfile.userProfile.county"
               ng-disabled="user.state">
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Is English Your First Language (Y/N)</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="editProfile.userProfile.english_first_lang">
          <option value="" selected>---Please select---</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">If You Are A Non-UK Resident and Living in the UK, Please Provide Entry Date</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <input type="text" class="form-control" placeholder="Enter date"
                   ng-model="editProfile.userProfile.entry_date"
                   date-format="dd/MM/yyyy"
                   bs-datepicker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Do You Have A Medical Condition Or Disability That May Impact Your Studies</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="editProfile.userProfile.disability">
          <option value="" selected>---Please select---</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="editProfile.userProfile.disability == 'true'">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Details</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <textarea type="text" class="form-control" placeholder="" ng-model="editProfile.userProfile.disability_details"></textarea>
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Who Will Be Paying Your Fees(Self/Employer/other) if employer or other please give details</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="editProfile.userProfile.pay_your_fees">
          <option value="" selected>---Please select---</option>
          <option value="self" >Self</option>
          <option value="employer" >Employer</option>
          <option value="other" >Other</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-if="editProfile.userProfile.pay_your_fees == 'employer' || editProfile.userProfile.pay_your_fees == 'other'">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Details</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <textarea type="text" class="form-control" placeholder="" ng-model="editProfile.userProfile.pay_your_fees_details"></textarea>
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Personal Statement</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <textarea type="text" class="form-control" placeholder="" ng-model="editProfile.userProfile.personal_statement"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">About me</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <textarea type="text" class="form-control" placeholder="" ng-model="editProfile.userProfile.about"></textarea>
      </div>
    </div>

    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Preferred Programme</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <select class="form-control"
                ng-model="editProfile.userProfile.programme"
                ng-options="o for o in programmeList track by o">
          <option value="" selected>---Please select---</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-if="false">
      <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">APL Applicant</label>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <label class="btn-round slide-default">
          <input type="checkbox" value="editProfile.userProfile.apl"
                 ng-model="editProfile.userProfile.apl"
                 ng-true-value="'1'"
                 ng-false-value="'0'">
          <span></span>
        </label>
      </div>
    </div>

    <section class="panel-body public-fields">
      <h4 idi-locale="profile.edit.public"></h4>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Public Bio</label>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
          <textarea type="text" class="form-control" placeholder="" ng-model="editProfile.userProfile.public_about"></textarea>
        </div>
      </div>
      <form name="editProfile.socialLinks">
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Facebook URL</label>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
          <input name="fbURL" type="text" class="form-control" placeholder="Enter your Facebook URL" value="" ng-model="editProfile.userProfile.social_facebook" ng-pattern="vm.fbRegex">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Twitter URL</label>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
          <input name="twURL" type="text" class="form-control" placeholder="Enter your Twitter URL" value="" ng-model="editProfile.userProfile.social_twitter" ng-pattern="vm.twRegex">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">LinkedIn URL</label>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
          <input name="liURL" type="text" class="form-control" placeholder="Enter your LinkedIn URL" value="" ng-model="editProfile.userProfile.social_linkedin" ng-pattern="vm.liRegex">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-6 col-xs-12 control-label">Instagram URL</label>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
          <input name="igURL" type="text" class="form-control" placeholder="Enter your Instagram URL" value="" ng-model="editProfile.userProfile.social_instagram" ng-pattern="vm.igRegex">
        </div>
      </div>
      </form>
      <div class="imageUploaders" ng-if="profileUploaderLoaded.profileimage || profileUploaderLoaded.profilecover">
        <h5 ng-if="profileUploader.profileimage.queue.length > 0">Profile Image</h5>
        <ul class="list-unstyled row vertical-margin admission-uploader" ng-if="profileUploader.profileimage.queue.length > 0">
          <li ng-repeat="item in profileUploader.profileimage.queue" ng-class="{ 'text-danger' : item.isError }">
            <div class="row">
              <div class="col-xs-6 col-sm-3 col-md-2"><p class="bolder file-name">{{ item.file.name }}</p></div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="progress profile-file-progress" ng-if="!item.isUploaded">
                  <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                    <span class="sr-only">{{ item.progress }}% Complete</span>
                  </div>
                </div>
                <p ng-if="item.isError">{{ item.msg }}</p>
              </div>
            </div>
          </li>
        </ul>
        <h5 ng-if="profileUploader.profilecover.queue.length > 0">Profile Cover</h5>
        <ul class="list-unstyled row vertical-margin admission-uploader" ng-if="profileUploader.profilecover.queue.length > 0">
          <li ng-repeat="item in profileUploader.profilecover.queue" ng-class="{ 'text-danger' : item.isError }">
            <div class="row">
              <div class="col-xs-6 col-sm-3 col-md-2"><p class="bolder file-name">{{ item.file.name }}</p></div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="progress profile-file-progress" ng-if="!item.isUploaded">
                  <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                    <span class="sr-only">{{ item.progress }}% Complete</span>
                  </div>
                </div>
                <p ng-if="item.isError">{{ item.msg }}</p>
              </div>
            </div>
          </li>
        </ul>
        <label for="profileimage" class="btn btn-success btn-upload icon-standalone">
          <i class="fa fa-upload"></i>
          <span idi-locale="profile.edit.uploadImage"></span>
          <input type="file" id="profileimage" nv-file-select uploader="profileUploader.profileimage">
        </label>
        <label for="profilecover" class="btn btn-success btn-upload icon-standalone">
          <i class="fa fa-upload"></i>
          <span idi-locale="profile.edit.uploadCover"></span>
          <input type="file" id="profilecover" nv-file-select uploader="profileUploader.profilecover">
        </label>
      </div>
      <div>
        <h4 idi-locale="profile.edit.work.naming"></h4>
        <ul class="list-unstyled row vertical-margin" ng-if="publicWork.length > 0">
          <li ng-repeat="item in publicWork" ng-if="item.ext" class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="thumbnail thumbnail--file">
                <a href ng-href="{{ item.url }}" target="_blank">
                  <ui-file-thumbnail item="item"></ui-file-thumbnail>
                </a>
                <div class="caption">
                  <h3 class="file-name" >{{ item.name }}</h3>
                  <p>Date Uploaded: {{ item.created | date: 'dd/MM/yyyy' }}</p>
                  <div class="form-group">
                    <button class="btn btn-danger" ng-click="editProfile.deletePublicFile({{item.id}})" ng-disabled="user.state">Delete</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <p class="muted" ng-if="publicWork.length==0" idi-locale="profile.edit.work.empty"></p>
        <label for="publicwork" class="btn-upload uploader">
          <i class="icon-upload"></i>
          <span>Click here or drag and drop files to upload</span>
          <input id="publicwork" type="file" nv-file-select uploader="profileUploader.publicwork" multiple>
          <span class="max-text">Max file size: 20MB</span>
        </label>
      </div>
    </section>
  </div>

  <section class="container-fluid" ng-if="!editProfile.hideUploads">
    <div class="panel panel-default">
      <div class="panel-heading">
        Uploads
      </div>
      <div class="panel-body">
        <p>Please upload either a&nbsp;copy of&nbsp;your Passport or&nbsp;Birth Certificate.</p>

        <p>
          If&nbsp;you are a&nbsp;non-British national living in&nbsp;the&nbsp;UK it&nbsp;is&nbsp;a&nbsp;University of&nbsp;Hertfordshire requirement that you provide a&nbsp;copy of&nbsp;the name page of&nbsp;your passport AND a&nbsp;copy of&nbsp;your current UK&nbsp;Residence Permit.
        </p>

        <p>
          These documents must be&nbsp;checked by&nbsp;the University of&nbsp;Hertfordshire before you are accepted onto the programme. If&nbsp;you are unable to&nbsp;provide this evidence please let your Admissions Advisor know.
        </p>

        <div class="panel-admissions" ng-if="uploader.Personal.uploaderLoaded">
          <ul class="list-unstyled row vertical-margin" ng-if="files.Personal.length > 0">
            <li ng-repeat="item in files.Personal" ng-if="item.file.ext" class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="thumbnail thumbnail--file">
                <a href ng-href="{{ item.file.url }}" target="_blank">
                  <ui-file-thumbnail item="item.file"></ui-file-thumbnail>
                </a>
                <div class="caption">
                  <h3 class="file-name" >{{ item.file.name }}</h3>
                  <p>Date Uploaded: {{ item.file.uploaded | date: 'dd/MM/yyyy' }}</p>
                  <div class="form-group">
                    <button class="btn btn-danger" ng-click="deleteFile($event)" ng-disabled="user.state">Delete</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <h5 ng-if="uploader.Personal.queue.length > 0">Uploading files</h5>
          <ul class="list-unstyled row vertical-margin admission-uploader" ng-if="uploader.Personal.queue.length > 0">
            <li ng-repeat="item in uploader.Personal.queue" ng-class="{ 'text-danger' : item.isError }">
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2"><p class="bolder file-name">{{ item.file.name }}</p></div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <div class="progress profile-file-progress" ng-if="!item.isUploaded">
                    <div class="progress-bar progress-bar-striped active progress-bar-primary" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }">
                      <span class="sr-only">{{ item.progress }}% Complete</span>
                    </div>
                  </div>
                  <p ng-if="item.isError">{{ item.msg }}</p>
                </div>
              </div>
            </li>
          </ul>
          <label for="filePersonal" class="btn btn-success btn-upload icon-standalone" ng-disabled="user.state">
            <i class="fa fa-upload"></i>
            <span>Upload File</span>
            <input id="filePersonal" type="file" nv-file-select uploader="uploader.Personal">
          </label>
        </div>
      </div>
    </div>
  </section>

  <section class="panel-footer">
    <div class="row">
      <button type="button" class="btn btn-flat btn-default pull-left" ng-click="editProfile.cancelChanges($event); $hide()">Cancel</button>
      <button type="submit" class="btn btn-info btn-flat pull-right" ng-click="editProfile.updateUserProfile($event)">Save</button>
    </div>
  </section>
</div>