<div id="page-heading">
  <h3 class="page-title" idi-locale="profile.public.naming"></h3>
</div>
<section class="container-fluid idi-public__header">
  <profile-widget profile="userProfile" date="false" social="true" link="false" ng-if="userProfile"></profile-widget>
</section>
<section class="container-fluid idi-public__edit" ng-if="ownProfile">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="app.admin.profile.edit"><i class="fa fa-pencil"></i> Edit Profile</a>
  </div>
</section>
<section class="container-fluid idi-public__edit" ng-if="!ownProfile && checkPermission('profiles.profileAny.edit')">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="app.admin.profile.edit({id:userProfile.id})"><i class="fa fa-pencil"></i> Edit {{userProfile.first_name}}'s Profile</a>
  </div>
</section>
<section class="container-fluid idi-public__main">
  <div class="panel panel-default col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel-body col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
      <h4 idi-locale="profile.public.about"></h4>
      <div class="idi-public__about">{{userProfile.public_about}}</div>
      <p class="muted" ng-if="!userProfile.public_about && !ownProfile">{{userProfile.first_name}} has not shared anything.</p>
      <p class="muted" ng-if="!userProfile.public_about && ownProfile">You have not completed your public bio. <a ui-sref="app.admin.profile.edit">Edit your profile</a></p>
      <h4 idi-locale="profile.public.work.naming"></h4>
      <ul class="idi-public__work" ng-if="publicWork.length > 0">
        <li ng-repeat="item in publicWork" ng-if="item.ext" class="col-xlg-3 col-lg-3 col-md-3 col-sm-3 col-xs-4">
          <a href ng-href="{{ item.url }}" target="_blank">
            <div class="thumbnail thumbnail--file" style="background-image:url('{{ item.url }}'"></div>
          </a>
          <div class="caption">
            <h5 class="file-name" >{{ item.name }}</h3>
          </div>
        </li>
      </ul>
      <p class="muted" ng-if="publicWork.length==0 && !ownProfile">{{userProfile.first_name}} <span idi-locale="profile.public.work.empty"></span></p>
      <p class="muted" ng-if="publicWork.length==0 && ownProfile"><span idi-locale="profile.public.work.emptySelf"></span> <a ui-sref="app.admin.profile.edit">Edit your profile</a></p>
    </div>
  </div>
</section>