<div class="table-container" ui-tree="treeOptions" data-drag-enabled="!dragDisabled && hasPermissions('forums.forumAny.edit')" ng-if="topics.length" >
  <table ng-table="table" class="table table-hover table-forums" ng-class="tableClasses" ui-tree-nodes ng-model="$data">
    <tr ng-repeat="item in $data" ui-tree-node ng-click="rowClick('{{:: $state.href(topicState, {topicId: item.id})}}')">
      <td data-title="" style="width: 25px">
        <span class="icon-justify-full" ng-if="!dragDisabled && hasPermissions('forums.forumAny.edit')" ui-tree-handle></span>
      </td>
      <td data-title="name" class="col-md-6">
        <a ng-href="{{ :: $state.href(topicState, {topicId: item.id}) }}">{{:: item.subject }}</a>
      </td>
      <td data-title="'Replies'">{{:: item.posts_count - 1 }}</td>
      <td data-title="'Views'">{{:: item.hits }}</td>
      <td data-title="'Last Reply'">
        {{:: item.last_replied_date | date: 'dd/MM/yyyy hh:mm a' }}
      </td>
      <td data-title="'Last Post By'">
        {{:: item.last_replied_user }}
      </td>
      <td data-title="'Pages'">
        <!-- Amount of pages <= 5 -->
        <div ng-if=":: item.pages <= 5" class="btn-group">
          <a class="btn btn-default" ng-href="{{ :: $state.href(topicState, {topicId: item.id, pageNo: $index + 1}) }}" ng-repeat="i in getNumber(item.pages) track by $index">{{:: $index + 1 }}</a>
        </div >

        <!-- Amount of pages > 5 -->
        <div ng-if=":: item.pages > 5" class="btn-group">
          <a ng-repeat="i in [1,2,3]" ng-href="{{ :: $state.href(topicState, {topicId: item.id, pageNo: i}) }}" class="btn btn-default">{{:: $index + 1 }}</a>
          <a class="btn btn-default" class="btn btn-default">...</a>
          <a class="btn btn-default" ng-href="{{ :: $state.href(topicState, {topicId: item.id, pageNo: $index + 1}) }}" class="btn btn-default">{{:: item.pages }}</a>
        </div>
      </td>
    </tr>
  </table>
</div>